body {
    background: #feb6c2;
}
a {
    color: #448f99;
}

.header {
    color: #fff;
    background: #ff8ea5;
}
.smallheader {
    color: #fff;
    background: #ff8ea5;
}
.light {
    color: #fff;
}
.control {
    background-color: #fcc2d0;
}
.button {
    color: #fff;
    background-color: #f4617f;
    border-bottom: 1px solid #f4617f;
    border-right: 1px solid #f4617f;
    border-top: 1px solid #ff89a1;
    border-left: 1px solid #ff89a1;
}
.text {
    background-color: #ffe5ec;
}

/* Menu styles. */
#menu {
    color: #fff;
    background: #ff91a7;
}
#menu a.current {
    background: #f4617f;
    border-bottom: 1px solid #aac;
    border-right: 1px solid #aac;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    padding: 2px;
}

/* Sidebar styles. */
#sidebarPanel {
    border-right: 1px solid #feb6c2;
    border-bottom: 1px solid #feb6c2;
    background-color: #ff8ea5;
}
#expandButton {
    margin-right: 1px;
}

/* Tab styles. */
.tabset li.activeTab a, .tabset li.activeTab a:hover {
    border-bottom-color: #ff8ea5;
    background-color: #ff8ea5;
}
