/* Insert CSS definitions here. */
#recentPastes {
    float: right;
    width: 150px;
    margin: 10px;
    height: 100%;
    border: 1px solid #c00;
    padding: 2px;
    font-size: 0.8em;
}

.recentPaste {
    margin-top: 3px;
}

#showpaste {
    float: right;
    min-width: 700px;
}

.pasteTitle {
    font-size: 1.3em;
}

.pasteOwner {
    font-style: italic;
    font-weight: bold;
}

.pasteDate {
    font-style: italic;
    font-weight: bold;
}

.pasteContents {
    padding: 10px;
    border: 1px solid #c00;
    background-color: #ddd;
    list-style-position: inside;
    font-size: 1.3em;
}

.pasteForm {
    float: right;
    border: 1px solid #ccc;
}
