/* Insert CSS definitions here. */
#recentPastes {
    float: left;
    width: 20%;
    height: 100%;
    border: 1px solid #c00;
    padding: 2px;
    overflow: hidden;
    margin: 50px 15px 10px 15px;
}

.recentPaste {
    margin-top: 3px;
}

#showpaste {
    margin: 10px 35px 10px 35px;
    float: right;
    width: 70%;
}

.pasteTitle {
    font-size: 1.3em;
}

.pasteOwner {
    font-style: italic;
    font-weight: bold;
}

.pasteDate {
    font-style: italic;
    font-weight: bold;
}

.pasteContents {
    padding: 10px;
    border: 1px solid #c00;
    background-color: #ddd;
    list-style-position: inside;
}