<?php
$conf['imapclient'] = array(
    // Add array entry for every IMAP client to test.
    array(
        'enabled' => false,

        // Configuration for the remote IMAP server test.
        'client_config' => array(
            'username' => '',
            'password' => '',
            'hostspec' => '',
            'port' => '',
            'secure' => true, // true, false, 'ssl', or 'tls'
            'debug' => null, // e.g. 'php://output',
            // Test for XOAUTH2
            //'xoauth2_token' => ''
        ),
    ),
);

$conf['pop3client'] = array(
    // Add array entry for every POP3 client to test.
    array(
        'enabled' => false,

        // Configuration for the remote POP3 server test.
        'client_config' => array(
            'username' => '',
            'password' => '',
            'hostspec' => '',
            'port' => '',
            'secure' => true, // true, false, 'ssl', or 'tls'
            'debug' => null // e.g. 'php://output'
        ),
    ),
);

// Configuration for the Mongo cache driver test.
// Format: mongodb://[username:password@]host
$conf['mongo'] = null;
