#contactstable {
    margin-bottom: 8px;
}
#contactstable #search {
    width: 35%;
}
#contactstable table {
    padding: 0 5px 5px 5px;
    width: 100%;
}
#contactstable td {
    width: 45%;
}
#search_results,
#selected_addresses {
    width: 100%;
}
#selected_addresses option em {
    font-weight: bold;
}
.contactsButtons {
    text-align: center;
    width: 10% !important;
}
.contactsButtons input {
    width: 60px;
}
#btn_add_cc,
#btn_add_bcc {
    margin-top: 10px;
}
