#contactstable #search {
    width: 35%;
}
#search_results,
#selected_addresses {
    width: 100%;
}
#selected_addresses option em {
    font-weight: bold;
}
.contactsButtons {
    text-align: center;
}
.contactsButtons input {
    width: 60px;
}
#btn_add_cc,
#btn_add_bcc {
    margin-top: 10px;
}
