#contactstable #search {
    width: 35%;
}
#contactstable #search_results,
#contactstable #selected_addresses {
    width: 100%;
}
.contactsButtons {
    text-align: center;
}
.contactsButtons input {
    width: 60px;
}
