/* iTip styles. */
table.imp-itip {
    margin: 10px 0;
}
.imp-itip tr.imp-itipcollision {
    background-color: #f03232;
    color: #fff;
}
.imp-itip tr.imp-itipnearcollision {
    background-color: #ffdf4d;
}

/* ZIP styles. */
table.zipcontents {
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    margin-bottom: 10px;
}
td.zipdownload a {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
