/* iTip styles. */
.itipconflicts {
    border-spacing: 0;
}
.itipconflicts tr.itipcollision {
    background-color: #f03232;
    color: #fff;
}
.itipconflicts tr.itipnearcollision {
    background-color: #ffdf4d;
}

table.itipAttendees {
    padding-bottom: 10px;
}
table.itipAttendees td {
    padding-right: 10px;
}
table.itipSummary {
    padding: 10px 0;
}
table.itipSummary td {
    padding-right: 8px;
}
