/* Mailbox */
#mailbox .ui-btn-innner {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}
#mailbox .ui-grid-a .ui-li-desc {
    margin: 0;
}

/* Message */
#message .ui-body-c {
    border-top-width: 0;
}
.imp-header-label {
    font-weight: bold;
    vertical-align: top;
}
#imp-message-more, #imp-message-less {
    float: right;
    margin: 0;
}

/* Style for HTML data iframe. */
.htmlMsgData {
    width: 100%;
}

.mimePartInfo, .mimeStatusMessage {
    display: none;
}
