#mailbox .ui-btn-innner {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}
#mailbox .ui-grid-a .ui-li-desc {
    margin: 0;
}

#message .ui-body-c {
    border-top-width: 0;
}

/* Style for HTML data iframe. */
.htmlMsgData {
    width: 100%;
}

.mimePartInfo {
    display: none;
}
