/**
 * S.Niksefat & C.Mortezania in Amirkabir MetaNET Ltd.
 */

/* Message list table styles. */
.messageList th {
    text-align: right;
}

/* Navbar action styling. */
.msgactions li {
    float: right;
    border-right: 0;
    border-left: 1px solid #888;
}
.msgactions li.lastnavbar {
    border-left: 0;
}
.msgactions a.hasmenu {
    padding-right: 0;
    padding-left: 11px;
    background-position: center left;
}
.msgactions li ul {
    left: auto;
    right: -1px;
}

#msgheaders {
    clear: right;
}

/* Pad the addressbook icon in header compose links. */
.msgheader img {
    padding: 1px 2px 1px 1px;
}
