/* Mailbox page styling. */
.mboxheader {
    font-size: 110%;
    text-align: left;
}

.sortup {
    background-image: url("graphics/arrow_down.png");
}
.sortdown {
    background-image: url("graphics/arrow_up.png");
}

/* Attachment tree styling. */
div.partsTreeDiv span span:last-child {
    padding-left: 3px;
    vertical-align: bottom;
}

/* Message body styling. */
.messageBody div.mimePartData {
    line-height: 1.3em;
    margin-bottom: 8px;
}

/* Search page styling. */
#search_form div.item {
    padding: 1px 0 1px 0;
}
#search_form em.join {
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
}
#search_form em.joinOr {
    display: inline-block;
    padding: 5px;
}

.searchAdd, .searchElement {
    display: -moz-inline-stack;
    display: inline-block;
    padding: 3px;
}

#no_search_criteria, #no_search_mboxes {
    font-weight: bold;
    padding: 3px;
}

.searchElement {
    background-color: lightblue;
    border: 1px solid gray;
    margin: 2px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.searchElement em {
    font-style: normal;
}
.searchElement span.notMatch {
    padding-left: 3px;
    padding-right: 3px;
}
.searchElement span.searchFlag {
    padding-left: 3px;
    padding-right: 5px;
}
.searchElement span.subfolders {
    padding-left: 10px;
}
.searchElement input.checkbox {
    margin-right: 3px;
    vertical-align: text-top;
}
.searchElement .searchuiDelete {
    padding-left: 6px;
    vertical-align: text-top;
}

.searchElement span.beginDate, .searchElement span.endDate {
    border: 1px grey dotted;
    margin: 0 6px;
    padding: 1px 2px;
}
.searchElement span.beginDate > span, .searchElement span.endDate > span {
    padding-right: 4px;
}
.searchElement .calendarImg, .searchElement .closeImg {
    margin-right: 0;
}
.calendarImg {
    background-image: url("graphics/calendar.png");
}

.searchuiButtons {
    padding-top: 5px;
}

/* Folder images. */
.folderImg {
    background-image: url("graphics/folders/folder.png");
}
.folderopenImg {
    background-image: url("graphics/folders/open.png");
}
.draftsImg, .composetemplatesImg {
    background-image: url("graphics/folders/drafts.png");
}
.inboxImg {
    background-image: url("graphics/folders/inbox.png");
}
.sentImg {
    background-image: url("graphics/folders/sent.png");
}
.spamImg {
    background-image: url("graphics/folders/spam.png");
}
.trashImg {
    background-image: url("graphics/folders/trash.png");
}

.mboxunsub {
    background: #bbb;
    font-style: italic;
}

/* Style for HTML data iframe. */
.htmlMsgData {
    margin: 2px 0;
    width: 100%;
}

/* Compose view */
#to, #cc, #bcc, #subject {
    width: 500px;
}
.spellcheck {
    white-space: pre;
    white-space: -moz-pre-wrap;
    white-space: -hp-pre-wrap;
    white-space: -o-pre-wrap;
    white-space: -pre-wrap;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word;
}

#compose span.notices {
    margin: 0;
}
#replyallnotice, #replylistnotice {
    background-color: #fcc;
}
.replyAllNoticeUnderline {
    text-decoration: underline;
}

/* Message flags definitions.
 * For background color, see config/prefs.php [msgflags preference]. */
.msgflags {
    margin-right: 1px;
}

.mboxheader .msgflags {
    vertical-align: sub;
}

.msgflags.flagPersonal {
    background-image: url("graphics/mail_personal.png");
}
.msgflags.flagHighpriority {
    background-image: url("graphics/mail_priority_high.png");
}
.msgflags.flagLowpriority {
    background-image: url("graphics/mail_priority_low.png");
}
.msgflags.flagSignedmsg {
    background-image: url("graphics/signed.png");
}
.msgflags.flagEncryptmsg {
    background-image: url("graphics/encrypted.png");
}
.msgflags.flagAttachmsg {
    background-image: url("graphics/attachment.png");
}
.msgflags.flagList {
    background-image: url("graphics/group.png");
}
.msgflags.flagJunk, span.iconImg.flagJunk {
    background-image: url("graphics/spam.png");
}
.msgflags.flagNotJunk, span.iconImg.flagNotJunk {
    background-image: url("graphics/innocent.png");
}
span.iconImg.flagSeen {
    background-image: url("graphics/mail_seen.png");
}
.msgflags.flagUnseen, span.iconImg.flagUnseen {
    background-image: url("graphics/mail_unseen.png");
}
.msgflags.flagAnswered, span.iconImg.flagAnswered {
    background-image: url("graphics/mail_answered.png");
}
.msgflags.flagDraft, span.iconImg.flagDraft {
    background-image: url("graphics/mail_draft.png");
}
.msgflags.flagForwarded, span.iconImg.flagForwarded {
    background-image: url("graphics/mail_forwarded.png");
}
.msgflags.flagFlagged, span.iconImg.flagFlagged {
    background-image: url("graphics/mail_flagged.png");
}
.msgflags.flagDeleted, span.iconImg.flagDeleted {
    background-image: url("graphics/mail_deleted.png");
}

/* Prefs management styles. */
table.flagmanagement thead td {
    font-weight: bold;
    text-decoration: underline;
}
table.flagmanagement div.flagUser {
    border: 1px solid gray;
    margin-right: 2px;
}
table.flagmanagement tbody td.flagicon {
    text-align: center;
}

table.searchesmanagement {
    border-bottom: 1px solid gray;
    border-collapse: collapse;
    margin-bottom: 1em;
}
table.searchesmanagement td, table.searchesmanagement th {
    border: 1px solid gray;
    border-bottom-width: 0;
}
table.searchesmanagement th {
    text-align: left;
}
table.searchesmanagement td.searchdescription {
    background-color: #ffa;
    width: 500px;
    border-top-width: 0;
}
table.searchesmanagement .vfolderenabled {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

/* Prefs styles. */
.prefsPgpContainer, .prefsSmimeContainer {
    border: 1px solid black;
    margin: 5px 0;
    padding: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.prefsPgpHeader, .prefsSmimeHeader {
    margin-bottom: 5px;
}
.prefsPgpWarning, .prefsSmimeWarning {
    color: red;
    padding: 5px 10px;
}

.prefsAclTable {
    padding-bottom: 8px;
    width: 100%;
}
.prefsAclHeader {
    border-bottom: 1px dashed #999;
    cursor: help;
}
.prefsAclNegative {
    text-decoration: line-through;
}
.prefsAclNegativeLabel {
    border: 1px dotted red;
    color: red;
    padding: 1px;
}
.prefsViews {
    font-weight: bold;
    font-size: 110%;
    padding: 10px 0;
}

/* Quota styles. */
#quota {
    border-collapse: collapse;
    width: 100%;
}
#quota td {
    padding: 3px;
    vertical-align: middle;
    text-align: center;
}
.quotawarn {
    color: #000;
    background: yellow;
}
.quotaalert {
    color: #fff;
    background: #f00;
}

/* Contacts styles. */
#contactstable #search {
    width: 150px;
}
#contactstable #search_results, #contactstable #selected_addresses {
    width: 200px;
}
.contactsButtons {
    text-align: center;
}
.contactsButtons input {
    width: 60px;
}

/* Large addresslist display. */
.largeaddrlist, .largeaddrlistlimit {
    cursor: pointer;
    background: #aaa;
    margin-right: 5px;
}
.largeaddrlist:hover, .largeaddrlistlimit:hover {
    text-decoration: underline;
}

/* Key import popup. */
.importKeyTable {
    border-collapse: collapse;
    width: 100%;
}
.importKeyHowto {
    padding: 8px;
}
.importKeyOr {
    color: red !important;
    font-weight: bold;
}
.importKeyText, .importKeyUpload {
    font-weight: bold;
}

/* Inline display (Horde_Mime_Viewer) styles. */
.mimeStatusMessageTable {
    margin-bottom: 3px;
}
.mimeStatusMessageTable {
    background: #ffc;
    border: 1px solid #fff760;
    color: #000;
    display: -moz-inline-stack;
    display: inline-block;
    margin-bottom: 3px;
    padding: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.mimeStatusIcon {
    width: 22px;
}
div.mimeStatusMessage, div.mimePartInfo {
    margin-bottom: 10px;
}
.mimePartInfo div {
    background: #eceff0;
    border: 1px solid #d0d0d0;
    margin: 0;
    padding: 5px;
    /* For FF2 */
    display: table-cell;
    display: inline-block;
}
.mimePartInfoAtc div {
    border: 1px dashed;
    background-image: url("graphics/attachment.png");
    background-position: 2px 50%;
    background-repeat: no-repeat;
    padding-left: 25px;
}
span.mimePartInfoSize {
    color: #666;
}

.mimeStatusMessageTable td {
    padding: 0;
}
.mimeStatusMessageTable td table td {
    padding-right: 2px;
    white-space: nowrap;
}

.mimePartWrap, .mimePartWrapValid, .mimePartWrapInvalid {
    border: 1px solid #d0d0d0;
    margin: 2px 0;
    padding: 10px;
}
.mimePartWrapValid {
    border-color: #cfc;
}
.mimePartWrapInvalid {
    border-color: #ffd0af;
}

.mimeHeadersPrint {
    border-color: black;
    /* Must be pixel size to properly work with Mozilla on print page. */
    font-size: 12px;
}

/* Other images. */
.downloadAtc, .downloadZipAtc, .saveImgAtc {
    margin-left: 1px;
}
.downloadAtc, .saveAsImg {
    background-image: url("graphics/download.png");
}
.downloadZipAtc {
    background-image: url("graphics/mime/compressed.png");
}
.printAtc {
    background-image: url("graphics/print.png");
}
.saveImgAtc {
    background-image: url("graphics/gallery.png");
}
.deleteImg, .searchuiDelete {
    background-image: url("graphics/delete.png");
}
.closeImg {
    background-image: url("graphics/close.png");
}
.reloadImg {
    background-image: url("graphics/reload.png");
}
.editImg {
    background-image: url("graphics/edit.png");
}
.searchImg, .horde-buttonbar li.searchImg {
    background-image: url("graphics/search.png"), url('graphics/button-split.png');
}
.readonlyImg, .horde-buttonbar li.readonlyImg {
    background-image: url("graphics/locked.png");
}
.horde-buttonbar li.readonlyImg {
    margin-right: -5px;
}
.addrbookaddImg {
    background-image: url("graphics/add_contact.png");
}
.spellcheckImg {
    background-image: url("graphics/spellcheck.png");
}
.emptytrashImg, .horde-buttonbar li.emptytrashImg {
    background-image: url("graphics/empty_trash.png"), url('graphics/button-split.png');
}

.filtersIcon, .horde-buttonbar li.filtersIcon {
    background-image: url("graphics/filters.png"), url('graphics/button-split.png');
}

/* iTip styles. */
.itipconflicts {
    border-spacing: 0;
}
.itipconflicts tr.itipcollision {
    background-color: #f00;
    color: #fff;
}

.itipconflicts tr.itipnearcollision {
    background-color: #ee0;
}
