/* Mailbox page styling. */
.mboxheader {
    font-size: 110%;
    text-align: left;
}
.mboxheader .pageCount {
    padding-right: 10px;
}

table.mboxactions {
    border-collapse: collapse;
    width: 100%;
}

#checkheader {
    width: 8%;
}
#checkheader input {
    float: left;
}

#mboxdate {
    width: 14%;
}

#mboxto, #mboxfrom {
    width: 20%;
}

#mboxthread, #mboxsubject {
    width: 52%;
}

#mboxsize {
    width: 6%;
}

.actionsSelectSection {
    font-weight: bold;
}

.sortup {
    background-image: url("graphics/arrow_down.png");
}
.sortdown {
    background-image: url("graphics/arrow_up.png");
}

table.messageList .sortup, table.messageList .sortdown {
    padding-left: 0;
}

/* Message list table styles. */
.searchmbox a.smallheader {
    display: block;
}
.messageList {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
.messageList tr {
    height: 20px;
}
.messageList th {
    border-top: 1px solid #999;
    border-left: 1px solid #ddd;
    cursor: pointer;
    overflow: hidden;
    padding: 0 0 1px 2px;
    text-align: left;
    white-space: nowrap;
}
.messageList th .toggleSort {
    font-size: 90%;
}
.messageList td {
    padding-top: 0;
    padding-bottom: 0;
    text-indent: 1px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid #ddd;
    vertical-align: middle;
}
.messageList td label input {
    vertical-align: middle;
}
.messageList td span.flagUser {
    font-size: 80%;
    margin-right: 3px;
}

#messages h1.header {
    font-size: 110%;
    vertical-align: bottom;
}
#messages h1.header span.flagUser {
    font-size: 80%;
    margin-left: 3px;
}

/* Newmail alerts. */
#newmail {
    padding: 1em;
    background: #ffc;
    border: 2px solid #ccc;
}
#newmail ul {
    list-style: none;
    margin-bottom: 1em;
}

/* Navbar action styling. */
table.navbaractions {
    border-collapse: collapse;
    width: 100%;
}
ul.msgactions, ul.msgactions ul {
    list-style: none;
}
.msgactions li {
    float: left;
    padding: 1px 3px;
    border-right: 1px solid #888;
    position: relative;
}
.msgactions li.lastnavbar {
    border-right: 0;
}
.msgactions a.hasmenu {
    padding-right: 15px;
    margin-right: -3px;
    background: url("graphics/popdown.png") no-repeat center right;
}
.msgactions li a {
    font-size: 90%;
    white-space: nowrap;
}
.folders .msgactions li a {
    font-size: 100%;
}
.msgactions li ul {
    background: #f4f4f4;
    border: 1px solid #d4d4d4;
    display: none;
    padding: 1px;
    position: absolute;
    z-index: 99;
}
.bottomborder .msgactions li ul {
    top: 1.25em;
}
.topborder .msgactions li ul {
    bottom: 1.25em;
}
.msgactions li ul a:hover, .msgactions li ul a:active {
    background: gray;
    color: #fff;
}
.msgactions li:hover ul, .msgactions li.hover ul {
    display: block;
}
.msgactions li ul li {
    float: none;
    padding: 0;
    border: none;
    display: inline;
}
.msgactions li ul li a {
    display: block;
    padding: 2px;
}
.mboxcontrol {
    color: #000;
    background: #ccc;
}
.bottomborder {
    border-bottom: 1px solid #999;
    padding-bottom: 0;
    padding-top: 0;
}
.topborder {
    border-top: 1px solid #999;
}

table.msgActionTable, #fmanager table {
    width: 100%;
    border-collapse: collapse;
}
div.msgActions, #fmanager div.folderActions {
    padding-left: 15px;
}

/* Message headers styling. */
#msgheaders table {
    border-collapse: collapse;
}
#msgheaders td {
    vertical-align: top;
}

/* Attachment tree styling. */
div.partsTreeDiv span span:last-child {
    padding-left: 3px;
    vertical-align: bottom;
}

/* Message body styling. */
.messageBody {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #fff;
    padding: 8px;
}
.messageBody div.mimePartData {
    margin-bottom: 8px;
}

/* Search page styling. */
#search_form div.item {
    padding: 1px 0 1px 0;
}
#search_form em.join {
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
}
#search_form em.joinOr {
    display: inline-block;
    padding: 5px;
}

.searchAdd, .searchElement {
    display: -moz-inline-stack;
    display: inline-block;
    padding: 3px;
}

#no_search_criteria, #no_search_mboxes {
    font-weight: bold;
    padding: 3px;
}

.searchElement {
    background-color: lightblue;
    border: 1px solid gray;
    margin: 2px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.searchElement em {
    font-style: normal;
}
.searchElement span.notMatch {
    padding-left: 3px;
    padding-right: 3px;
}
.searchElement span.searchFlag {
    padding-left: 3px;
    padding-right: 5px;
}
.searchElement span.subfolders {
    padding-left: 10px;
}
.searchElement input.checkbox {
    margin-right: 3px;
    vertical-align: text-top;
}
.searchElement .searchuiDelete {
    padding-left: 6px;
    vertical-align: text-top;
}

.searchElement span.beginDate, .searchElement span.endDate {
    border: 1px grey dotted;
    margin: 0 6px;
    padding: 1px 2px;
}
.searchElement span.beginDate > span, .searchElement span.endDate > span {
    padding-right: 4px;
}
.searchElement .calendarImg, .searchElement .closeImg {
    margin-right: 0;
}
.calendarImg {
    background-image: url("graphics/calendar.png");
}

.searchuiButtons {
    padding-top: 5px;
}

/* Folder view. */
#checkAll0, #checkAll1, #fmanager input.checkbox {
    vertical-align: middle;
}

#fmanager div.folderChoose {
    padding-left: 5px;
}

span.folderImg {
    background-image: url("graphics/folders/folder.png");
}
span.folderopenImg {
    background-image: url("graphics/folders/open.png");
}
span.draftsImg, span.composetemplatesImg {
    background-image: url("graphics/folders/drafts.png");
}
span.inboxImg {
    background-image: url("graphics/folders/inbox.png");
}
span.sentImg {
    background-image: url("graphics/folders/sent.png");
}
span.spamImg {
    background-image: url("graphics/folders/spam.png");
}
span.trashImg {
    background-image: url("graphics/folders/trash.png");
}

.mboxunsub {
    background: #bbb;
    font-style: italic;
}

/* Style for div that fixes KHTML browsers. */
.ohide {
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

/* Style for HTML data iframe. */
.htmlMsgData {
    margin: 2px 0;
    width: 100%;
}

/* Compose view */
.composebody {
    padding: 2px;
}
#text_identity, #to, #cc, #bcc, #subject {
    width: 500px;
}
.spellcheck {
    white-space: pre;
    white-space: -moz-pre-wrap;
    white-space: -hp-pre-wrap;
    white-space: -o-pre-wrap;
    white-space: -pre-wrap;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word;
}
#compose td.light {
    vertical-align: top;
}

#compose span.notices {
    margin: 0;
}
#replyallnotice, #replylistnotice {
    background-color: #fcc;
}
.replyAllNoticeUnderline {
    text-decoration: underline;
}

.folders {
    font-size: 100%;
}
.seen {
    background: #fff;
}

.addressTr {
    width: 580px;
}
.addressTr span {
    vertical-align: top;
}

.attachList {
    width: 100%;
    border-collapse: collapse;
}

/* Message flags definitions.
 * For background color, see config/prefs.php [msgflags preference]. */
.msgflags {
    padding-right: 1px;
    vertical-align: middle;
}
.mboxheader .msgflags {
    vertical-align: sub;
}

.msgflags.flagPersonal {
    background-image: url("graphics/mail_personal.png");
}
.msgflags.flagHighpriority {
    background-image: url("graphics/mail_priority_high.png");
}
tr.flagLowpriority {
    font-weight: normal !important;
}
.msgflags.flagLowpriority {
    background-image: url("graphics/mail_priority_low.png");
}
.msgflags.flagSignedmsg {
    background-image: url("graphics/signed.png");
}
.msgflags.flagEncryptmsg {
    background-image: url("graphics/encrypted.png");
}
.msgflags.flagAttachmsg {
    background-image: url("graphics/attachment.png");
}
.msgflags.flagList {
    background-image: url("graphics/group.png");
}
.msgflags.flagJunk, span.iconImg.flagJunk {
    background-image: url("graphics/spam.png");
}
.msgflags.flagNotJunk, span.iconImg.flagNotJunk {
    background-image: url("graphics/ham.png");
}
tr.flagUnseen {
    font-weight: bold;
}
span.iconImg.flagSeen {
    background-image: url("graphics/mail_seen.png");
}
.msgflags.flagUnseen, span.iconImg.flagUnseen {
    background-image: url("graphics/mail_unseen.png");
}
.msgflags.flagAnswered, span.iconImg.flagAnswered {
    background-image: url("graphics/mail_answered.png");
}
.msgflags.flagDraft, span.iconImg.flagDraft {
    background-image: url("graphics/mail_draft.png");
}
.msgflags.flagForwarded, span.iconImg.flagForwarded {
    background-image: url("graphics/mail_forwarded.png");
}
.msgflags.flagFlagged, span.iconImg.flagFlagged {
    background-image: url("graphics/mail_flagged.png");
}
tr.flagDeleted * {
    text-decoration: line-through;
}
.msgflags.flagDeleted, span.iconImg.flagDeleted {
    background-image: url("graphics/mail_deleted.png");
}

/* Prefs management styles. */
table.flagmanagement thead td {
    font-weight: bold;
    text-decoration: underline;
}
table.flagmanagement div.flagUser {
    border: 1px solid gray;
    margin-right: 2px;
}
table.flagmanagement tbody td.flagicon {
    text-align: center;
}

table.searchesmanagement {
    border-bottom: 1px solid gray;
    border-collapse: collapse;
    margin-bottom: 1em;
}
table.searchesmanagement td, table.searchesmanagement th {
    border: 1px solid gray;
    border-bottom-width: 0;
}
table.searchesmanagement th {
    text-align: left;
}
table.searchesmanagement td.searchdescription {
    background-color: #ffa;
    width: 500px;
    border-top-width: 0;
}
table.searchesmanagement .vfolderenabled {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

/* Prefs styles. */
.prefsPgpContainer, .prefsSmimeContainer {
    border: 1px solid black;
    margin: 5px 0;
    padding: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.prefsPgpHeader, .prefsSmimeHeader {
    margin-bottom: 5px;
}
.prefsPgpWarning, .prefsSmimeWarning {
    color: red;
    padding: 5px 10px;
}

.prefsAclTable {
    padding-bottom: 8px;
    width: 100%;
}
.prefsAclHeader {
    border-bottom: 1px dashed #999;
    cursor: help;
}
.prefsAclNegative {
    text-decoration: line-through;
}
.prefsAclNegativeLabel {
    border: 1px dotted red;
    color: red;
    padding: 1px;
}
.prefsViews {
    font-weight: bold;
    font-size: 110%;
    padding: 10px 0;
}

/* Quota styles. */
.quotawarn {
    color: #000;
    background: yellow;
}
.quotaalert {
    color: #fff;
    background: #f00;
}

/* Pad the addressbook icon in header compose links. */
td.msgheader {
    width: 100%;
}
.msgheader img {
    padding: 0 1px 0 2px;
    vertical-align: bottom;
}

/* Contacts styles. */
#contactstable #search {
    width: 150px;
}
#contactstable #search_results, #contactstable #selected_addresses {
    width: 200px;
}
.contactsButtons {
    text-align: center;
}
.contactsButtons input {
    width: 60px;
}

/* Popdown styles. */
span.spellcheckPopdownImg {
    background: url("graphics/popdown.png") no-repeat center center;
    cursor: pointer;
    vertical-align: top;
}

/* Large addresslist display. */
.largeaddrlist, .largeaddrlistlimit {
    cursor: pointer;
    background: #aaa;
    margin-right: 5px;
}
.largeaddrlist:hover, .largeaddrlistlimit:hover {
    text-decoration: underline;
}

/* Thread page */
.threadSummary {
    margin: 5px 3px;
}
.threadSummary div {
    height: 16px;
}
.threadBox {
    margin: 3px;
}
.threadBox div.rowEven {
    padding: 1px 2px;
}
.threadBox span.threadlink {
    float: right;
}
.threadBox .messageBody {
    border-bottom: 0;
}

/* Expand/Collapse graphic. */
span.arrowCollapsed {
    background-image: url("graphics/arrow_collapsed.png");
    cursor: pointer;
}
span.arrowExpanded {
    background-image: url("graphics/arrow_expanded.png");
    cursor: pointer;
}

/* Loading graphic */
td.addressTr span.loadingImg {
    padding: 0 0 0 16px;
}

/* Key import popup. */
.importKeyTable {
    border-collapse: collapse;
    width: 100%;
}
.importKeyHowto {
    padding: 8px;
}
.importKeyOr {
    color: red !important;
    font-weight: bold;
}
.importKeyText, .importKeyUpload {
    font-weight: bold;
}

/* Inline display (Horde_Mime_Viewer) styles. */
.mimeStatusMessageTable {
    margin-bottom: 3px;
    font-size: 90%;
}
.mimeStatusMessageTable {
    background: #ffc;
    border: 1px solid #fff760;
    color: #000;
    display: -moz-inline-stack;
    display: inline-block;
    margin-bottom: 3px;
    padding: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.mimeStatusIcon {
    width: 22px;
}
div.mimeStatusMessage, div.mimePartInfo {
    margin-bottom: 5px;
}
.mimePartInfo div {
    background: #efefef;
    border: 1px solid #ccc;
    font-size: 90%;
    margin: 0;
    padding: 5px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    /* For FF2 */
    display: table-cell;
    display: inline-block;
}
.mimePartInfo div img {
    vertical-align: bottom;
}
.mimePartInfoAtc div {
    border: 1px dashed;
    background-image: url("graphics/attachment.png");
    background-position: 2px 50%;
    background-repeat: no-repeat;
    padding-left: 25px;
}
span.mimePartInfoSize {
    color: #666;
}

.mimeStatusMessageTable td {
    padding: 0;
}
.mimeStatusMessageTable td table td {
    padding-right: 2px;
    white-space: nowrap;
}

.mimePartWrap, .mimePartWrapValid, .mimePartWrapInvalid {
    border: 2px solid #666;
    margin: 2px 0;
    padding: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.mimePartWrapValid {
    border-color: #cfc;
}
.mimePartWrapInvalid {
    border-color: #ffd0af;
}

.mimeHeadersPrint {
    border-color: black;
    /* Must be pixel size to properly work with Mozilla on print page. */
    font-size: 12px;
}

/* Other images. */
.downloadAtc, .downloadZipAtc, .saveImgAtc {
    margin-left: 1px;
}
.downloadAtc, .saveAsImg {
    background-image: url("graphics/download.png");
}
.downloadZipAtc {
    background-image: url("graphics/mime/compressed.png");
}
.printAtc {
    background-image: url("graphics/print.png");
}
.saveImgAtc {
    background-image: url("graphics/gallery.png");
}
.deleteImg, .searchuiDelete {
    background-image: url("graphics/delete.png");
}
.closeImg {
    background-image: url("graphics/close.png");
}
.reloadImg {
    background-image: url("graphics/reload.png");
}
.editImg {
    background-image: url("graphics/edit.png");
}
.searchImg {
    background-image: url("graphics/search.png");
}
.readonlyImg {
    background-image: url("graphics/locked.png");
}
.addrbookaddImg {
    background-image: url("graphics/addressbook_add.png");
}
.spellcheckImg {
    background-image: url("graphics/spellcheck.png");
}
.emptytrashImg {
    background-image: url("graphics/empty_trash.png");
}

.filtersIcon {
    background-image: url("graphics/filters.png");
}

/* iTip styles. */
.itipconflicts {
    border-spacing: 0;
}
.itipconflicts tr.itipcollision {
    background-color: #f00;
    color: #fff;
}

.itipconflicts tr.itipnearcollision {
    background-color: #ee0;
}

/* Quota styles. */
#quota {
    border-collapse: collapse;
    width: 100%;
}
#quota td {
    padding: 3px;
    vertical-align: middle;
    text-align: center;
}
