.variableLengthHeader {
    background-color: #becaca;
    background-image: none;
}

/* Mailbox page styling. */
#mailboxLabel {
    margin-left: 20px;
}

/* Folder images. */
.folderImg {
    background-image: url("graphics/folders/folder.png");
}
.folderopenImg {
    background-image: url("graphics/folders/open.png");
}
.composetemplatesImg,
.draftsImg {
    background-image: url("graphics/folders/drafts.png");
}
.inboxImg {
    background-image: url("graphics/folders/inbox.png");
}
.sentImg {
    background-image: url("graphics/folders/sent.png");
}
.spamImg {
    background-image: url("graphics/folders/spam.png");
}
.trashImg {
    background-image: url("graphics/folders/trash.png");
}
.remoteImg {
    background-image: url("graphics/shared.png");
}
.mboxunsub {
    background: #bbb;
    font-style: italic;
}

/* Quota styles. */
.quotawarn {
    color: yellow;
    font-weight:bold;
}
.quotaalert {
    color: #f00;
    font-weight:bold;
}

/* Mailing list info page */
table.mailinglistinfo {
    border: 1px solid #d0d0d0;
    border-bottom: 0;
    margin: 8px;
}

.mimeHeadersPrint {
    border-color: black;
    /* Must be pixel size to properly work with Mozilla on print page. */
    font-size: 12px;
}

/* Other images. */
.deleteImg {
    background-image: url("graphics/delete.png");
}
.closeImg {
    background-image: url("graphics/close.png");
}
