#search_form div.item {
    padding: 5px;
}
#search_form em.join,
#search_form em.joinOr {
    display: inline-block;
    font-weight: bold;
    padding: 4px;
}
#search_form select {
    padding: 2px;
}
#search_form #show_unsub {
    padding-left: 5px;
}
#recent_searches_div {
    padding: 10px;
}
.searchAdd {
    display: inline-block;
    padding: 3px;
}
.searchElement {
    border: 1px solid lightgray;
    display: inline-block;
    margin: 4px;
    padding: 5px;
}
.searchElement em {
    font-style: normal;
    font-weight: bold;
    padding-right: 4px;
}
.searchElement span.searchFlag {
    padding-left: 3px;
}
.searchElement span.notMatch {
    vertical-align: middle;
}
.searchElement span.notMatch,
.searchElement span.subfolders {
    margin-left: 10px;
}
.searchElement input {
    margin-right: 3px;
}
.searchElement input.checkbox {
    padding: 0;
    vertical-align: middle;
}
#search_label,
#search_type {
    margin-left: 5px;
}
.searchElement span.beginDate,
.searchElement span.endDate {
    padding: 1px 2px;
}
.searchElement span.beginDate > span,
.searchElement span.endDate > span {
    padding-right: 4px;
}
.searchElement span.beginDate {
    margin-right: 6px;
}
.searchElement span.endDate {
    margin-left: 6px;
}
.searchElement .calendarImg {
    background-image: url("graphics/calendar.png");
    margin-right: 0;
}
.searchElement .closeImg {
    margin-right: 0;
}
.searchuiDelete {
    background-image: url("graphics/delete.png");
    margin-left: 15px;
}
