.mboxcontrol form {
    background: #ccc;
}

.text {
    color: #000;
    background: #fff;
}

#sidebar a:hover {
    color: black;
}

#dimpmain_portal {
    background-color: #c9daed;
}

#ctx_folderopts_reload span.contextImg {
    background-image: url("../graphics/reload.png");
}
