body, input {
    font-family: Verdana, Geneva, "DejaVu Sans", Arial, sans-serif;
}
body {
    background: #fff;
}
a, a.fixed {
    color: #339;
}
a.widget {
    color: #000;
}
.header {
    color: #f90;
    border-bottom: 1px solid #f90;
}
.headerbox {
    border-color: #f90;
}
.headerbox .header {
    margin-left: -1px;
    margin-right: -1px;
    border-left: none;
    border-right: none;
}
a.header:hover {
    color: #fc0;
}
a.header {
    border-bottom: none;
    background: transparent;
}
.light {
    color: #333;
}
.smallheader {
    color: #000;
    background: transparent;
    font-family: Verdana,sans-serif;
    font-size: 90%;
    font-weight: normal;
}
a.smallheader, .smallheader a {
    color: #f90;
}
a.smallheader:hover, .smallheader a:hover {
    color: #fc0;
}
.control {
    background: #d8d8c1;
}
.item {
    background: #eeeee6;
}

/* Form styles. */
input {
    background: #f7f7ee;
    border: 1px solid #666;
}
textarea {
    color: #333;
    background: #f7f7ee;
    border: 1px solid #666;
}
input:focus, textarea:focus {
    background: #fff;
    border: 1px solid #f90;
}
select,option {
    color: #333;
    background: #f7f7ee;
}
.button {
    color: #333;
    background: #f9f9f8;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #c4c4b8;
    border-top: 1px solid #c4c4b8;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.button:hover {
    color: #f90;
}

/* Alternating styles. item0, item1 are deprecated. */
.rowEven, .item0 {
    background: #eee;
}
.rowOdd, .item1 {
    background: #fff;
}
.selected {
    background: #c6d3ff;
}

/* Menu styles. */
#menu {
    color: #fff;
    background: #e6e6dc;
    border-bottom: 2px solid #80807A;
}
#menu h1 {
    color: #000;
}
#menu a {
    color: #000;
    border: none;
}
#menu a:hover {
    color: #000;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    border-left: 1px solid #765;
    border-top: 1px solid #765;
    padding: 2px;
}
#menu a.current {
    color: #fff;
    background: #c0c0b8;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    border-left: 1px solid #765;
    border-top: 1px solid #765;
    padding: 2px;
}

/* Sidebar styles. */
#sidebarPanel {
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    background: #f6f6f6;
}
#sidebarPanel span.toggle, #sidebarPanel a {
    padding-left: 1px;
    padding-bottom: 2px;
}
#sidebarPanel span.toggle {
    border: 1px none transparent;
}
#sidebarPanel a {
    border: 1px solid #f6f6f6;
}
#sidebarPanel a:hover {
    color: #000;
    background: #e9e9e9;
    border: 1px solid #000;
    text-decoration: none;
}
#expandButton {
    margin-right: 1px;
}

/* Tab styles. */
.tabset {
    background: #fff url("graphics/tab_bottom.gif") repeat-x bottom;
    font-size: 90%;
}
.tabset li {
    margin: 0;
    background: url("graphics/tab_right.gif") no-repeat right top;
}
.tabset li a, .tabset li a:hover {
    background: url("graphics/tab_left.gif") no-repeat left top;
    margin: 0;
    padding: 3px 15px;
    color: #765;
    border: none;
    border-bottom: 1px solid #765;
}
.tabset li a:hover {
    color: #333;
    background: url("graphics/tab_left.gif") no-repeat left top;
}
.tabset li.activeTab {
    background: url("graphics/currentTab_right.gif") no-repeat right top;
}
.tabset li.activeTab a {
    color: #333;
    background: url("graphics/currentTab_left.gif") no-repeat left top;
    border-bottom: 1px solid #fff;
}
.tabset li.activeTab a:hover {
    color: #999;
    background: url("graphics/currentTab_left.gif") no-repeat left top;
    border-bottom: 1px solid #fff;
}
