div#capital {
    float: left;
    font-size: 350%;
    font-weight: bold;
    color: black;
    width: 1.2em;
    text-align: center;
    background: #eeeeee;
    padding: 5;
    border-width: 0 0.1em 0.1em 0;
    margin: 0 0.1em 0.1em 0;
    text-transform: uppercase; 
}

div#news_picture {
    float: right;
    border: 1px;
    font-style: italic;
    background-color : rgb(238, 238, 238);
    margin-bottom : 2px;
    margin-left : 3px;
    margin-right : 0px;
    margin-top : 0px;
    text-align : justify;
    vertical-align : top;
    max-width: 300px;
    margin-left-ltr-source: physical;
    margin-left-rtl-source: physical;
    margin-right-ltr-source: physical;
    margin-right-rtl-source: physical;
}

#news_picture img {
    border: 1px solid black;
}

.imggallery {
    margin: 5px;
    text-align: center;
    border: 1px solid black;
    width: 24%;
    display: inline;
}

.imggallery img, .imggallery a {
    margin: 15px;
    display: inline;
}

.blogs {
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    background: #eee;
}

.sposored {
    font-size: 80%;
    font-style: italic;
    clear: both;
}

/* HTMLTAG. */
a.earliest:link, a.earliest:visited, a.earliest:hover, a.earliest:active {
    color: #ccc;
    font-size: 140%;
}

a.earlier:link, a.earlier:visited, a.earlier:hover, a.earlier:active {
    color: #99c;
    font-size: 120%;
}

a.later:link, a.later:visited, a.later:hover, a.later:active {
    color: #99f;
}

a.latest:link, a.latest:visited, a.latest:hover, a.latest:active {
    color: #00f;
    font-size: 80%;
}