/* Background images. */
.msglist div.statusUnseen {
    background-image: url("graphics/mail_unseen.png");
}
.msglist div.statusFlagged {
    background-image: url("graphics/mail_flagged.png");
}
.msglist div.statusDeleted {
    background-image: url("graphics/mail_deleted.png");
}
.msglist div.statusAnswered {
    background-image: url("graphics/mail_answered.png");
}
.msglist div.statusForwarded {
    background-image: url("graphics/mail_forwarded.png");
}
.msglist div.statusDraft {
    background-image: url("graphics/mail_draft.png");
}
.msglist div.lowPriority {
    background-image: url("graphics/mail_priority_low.png");
}
.msglist div.highPriority {
    background-image: url("graphics/mail_priority_high.png");
}

#sidebarPanel .base {
    background-image: url("graphics/folder.png");
}
#sidebarPanel .col {
    background-image: url("graphics/folder_minus.png");
}
#sidebarPanel .exp {
    background-image: url("graphics/folder_plus.png");
}
#sidebarPanel .create {
    background-image: url("graphics/folder_create.png");
}
#sidebarPanel .drafts {
    background-image: url("graphics/folder_drafts.png");
}
#sidebarPanel .inbox {
    background-image: url("graphics/folder_inbox.png");
}
#sidebarPanel .sent {
    background-image: url("graphics/folder_sent.png");
}
#sidebarPanel .spam {
    background-image: url("graphics/folder_spam.png");
}
#sidebarPanel .trash {
    background-image: url("graphics/folder_trash.png");
}
#attach_list div {
    background-image: url("graphics/attachment.png");
}
#alerts div.horde-error {
    background-image: url("graphics/error.png");
}
#alerts div.horde-message {
    background-image: url("graphics/message.png");
}
#alerts div.horde-success {
    background-image: url("graphics/success.png");
}
#alerts div.horde-warning, #alerts div.dimp-sticky, #alerts div.dimp-sticky {
    background-image: url("graphics/warning.png");
}
#alerts div.imp-reply {
    background-image: url("graphics/mail_answered.png");
}
#alerts div.imp-forward, #alerts div.imp-redirect {
    background-image: url("graphics/mail_forwarded.png");
}

.header {
    border-left: 1px solid #999;
    border-right: 1px solid #999;
}

.tabset li#quota {
    background: none;
}

.dimpActions, .msgfullread .msgHeaders, .msgwrite {
    border-top: none;
}

span.mailseenImg {
    background-image: url("graphics/mail_seen.png");
}
span.mailunseenImg {
    background-image: url("graphics/mail_unseen.png");
}
span.deleteImg {
    background-image: url("graphics/delete.png");
}
span.createfolderImg {
    background-image: url("graphics/folders/folder_create.png");
}
span.editfolderImg {
    background-image: url("graphics/folders/folder_edit.png");
}
span.forwardImg {
    background-image: url("graphics/forward.png");
}
span.mailflaggedImg {
    background-image: url("graphics/mail_flagged.png");
}
span.clearflagImg {
    background-image: url("graphics/mail_clearflag.png");
}
span.previewImg {
    background-image: url("graphics/preview.png");
}
span.tickImg {
    background-image: url("graphics/tick.png");
}
span.newwinImg {
    background-image: url("graphics/newwin.png");
}
span.quotaImg {
    background-image: url("graphics/quotauncover.gif");
}
span.keyupImg {
    background-image: url("graphics/key_up.png");
}
span.keydownImg {
    background-image: url("graphics/key_down.png");
}
span.arrowcollapsedImg {
    background-image: url("graphics/arrow_collapsed.png");
}
span.arrowexpandedImg {
    background-image: url("graphics/arrow_expanded.png");
}
span.attachmentImg {
    background-image: url("graphics/attachment.png");
}
span.msgsourceImg {
    background-image: url("graphics/message_source.png");
}
span.folderdeleteImg {
    background-image: url("graphics/folders/folder_delete.png");
}
span.replyImg {
    background-image: url("graphics/reply.png");
}
span.replyallImg {
    background-image: url("graphics/replyall.png");
}
span.spamImg {
    background-image: url("graphics/spam.png");
}
span.hamImg {
    background-image: url("graphics/ham.png");
}
span.blacklistImg {
    background-image: url("graphics/blacklist.png");
}
span.whitelistImg {
    background-image: url("graphics/whitelist.png");
}
span.popdownImg {
    background-image: url("graphics/popdown.png");
}
