div.composebody {
    border: 1px solid #999;
}

.sortup {
    background-image: url("graphics/arrow_down.png");
}
.sortdown {
    background-image: url("graphics/arrow_up.png");
}

#quota {
    border-top: 1px solid #999;
}
#quota .control {
    border-bottom-width: 0;
}
.headerbox #quota {
    border-top-width: 0;
}
.headerbox #quota .control {
    border-bottom-width: 1px;
}

#newmail {
    border-width: 1px;
}

.smallheader.searchfolder {
    border-bottom-width: 0;
}

span.spellcheckPopdownImg {
    background-image: url("graphics/popdown.png");
}

.msgflags.flagPersonal {
    background-image: url("graphics/mail_personal.png");
}
.msgflags.flagHighpriority {
    background-image: url("graphics/mail_priority_high.png");
}
.msgflags.flagLowpriority {
    background-image: url("graphics/mail_priority_low.png");
}
.msgflags.flagSignedmsg {
    background-image: url("graphics/signed.png");
}
.msgflags.flagEncryptmsg {
    background-image: url("graphics/encrypted.png");
}
.msgflags.flagAttachmsg {
    background-image: url("graphics/attachment.png");
}
.msgflags.flagList {
    background-image: url("graphics/group.png");
}
.msgflags.flagJunk, span.iconImg.flagJunk {
    background-image: url("graphics/spam.png");
}
.msgflags.flagNotJunk, span.iconImg.flagNotJunk {
    background-image: url("graphics/ham.png");
}
span.iconImg.flagSeen {
    background-image: url("graphics/mail_seen.png");
}
.msgflags.flagUnseen, span.iconImg.flagUnseen {
    background-image: url("graphics/mail_unseen.png");
}
.msgflags.flagAnswered, span.iconImg.flagAnswered {
    background-image: url("graphics/mail_answered.png");
}
.msgflags.flagDraft, span.iconImg.flagDraft {
    background-image: url("graphics/mail_draft.png");
}
.msgflags.flagForwarded, span.iconImg.flagForwarded {
    background-image: url("graphics/mail_forwarded.png");
}
.msgflags.flagFlagged, span.iconImg.flagFlagged {
    background-image: url("graphics/mail_flagged.png");
}
.msgflags.flagDeleted, span.iconImg.flagDeleted {
    background-image: url("graphics/mail_deleted.png");
}

span.folderImg {
    background-image: url("graphics/folders/folder.png");
}
span.folderopenImg {
    background-image: url("graphics/folders/open.png");
}
span.draftsImg, span.composetemplatesImg {
    background-image: url("graphics/folders/drafts.png");
}
span.inboxImg {
    background-image: url("graphics/folders/inbox.png");
}
span.sentImg {
    background-image: url("graphics/folders/sent.png");
}
span.spamImg {
    background-image: url("graphics/folders/spam.png");
}
span.trashImg {
    background-image: url("graphics/folders/trash.png");
}

.closeImg {
    background-image: url("graphics/close.png");
}
.calendarImg {
    background-image: url("graphics/calendar.png");
}
.deleteImg, .searchuiDelete {
    background-image: url("graphics/delete.png");
}
.reloadImg {
    background-image: url("graphics/reload.png");
}
.searchImg {
    background-image: url("graphics/search.png");
}
.readonlyImg {
    background-image: url("graphics/locked.png");
}
.addrbookaddImg {
    background-image: url("graphics/addressbook_add.png");
}
.spellcheckImg {
    background-image: url("graphics/spellcheck.png");
}
.emptytrashImg {
    background-image: url("graphics/empty_trash.png");
    width: 13px;
}

.filtersIcon {
    background-image: url("graphics/filters.png");
}

.downloadAtc, .saveAsImg {
    background-image: url("graphics/download.png");
}
.downloadZipAtc {
    background-image: url("graphics/mime/compressed.png");
}
.printAtc {
    background-image: url("graphics/print.png");
}
