/**
 * $Horde: imp/themes/silver/screen.css,v 1.4 2008/05/18 21:47:48 jan Exp $
 */

.bottomborder, .bottombordercollapse {
    border-bottom: 0;
}

div.composebody {
    border: 1px solid #999;
}

#quota {
    border-top: 1px solid #999;
}
#quota .control {
    border-bottom: none;
}

#newmail {
    border-width: 1px;
}
