div.composebody {
    border: 1px solid #999;
}

#quota {
    border-top: 1px solid #999;
}
#quota .control {
    border-bottom-width: 0;
}
.headerbox #quota {
    border-top-width: 0;
}
#quota .control {
    border-bottom-width: 1px;
}

#newmail {
    border-width: 1px;
}

span.spellcheckPopdownImg {
    background-image: url("graphics/popdown.png");
}

div.msgflags.flagPersonal {
    background-image: url("graphics/mail_personal.png");
}
div.msgflags.flagHighpriority {
    background-image: url("graphics/mail_priority_high.png");
}
div.msgflags.flagLowpriority {
    background-image: url("graphics/mail_priority_low.png");
}
div.msgflags.flagSignedmsg {
    background-image: url("graphics/signed.png");
}
div.msgflags.flagEncryptmsg {
    background-image: url("graphics/encrypted.png");
}
div.msgflags.flagAttachmsg {
    background-image: url("graphics/attachment.png");
}
span.iconImg.flagSeen {
    background-image: url("graphics/mail_seen.png");
}
div.msgflags.flagUnseen, span.iconImg.flagUnseen {
    background-image: url("graphics/mail_unseen.png");
}
div.msgflags.flagAnswered, span.iconImg.flagAnswered {
    background-image: url("graphics/mail_answered.png");
}
div.msgflags.flagDraft, span.iconImg.flagDraft {
    background-image: url("graphics/mail_draft.png");
}
div.msgflags.flagForwarded, span.iconImg.flagForwarded {
    background-image: url("graphics/mail_forwarded.png");
}
div.msgflags.flagFlagged, span.iconImg.flagFlagged {
    background-image: url("graphics/mail_flagged.png");
}
div.msgflags.flagDeleted, span.iconImg.flagDeleted {
    background-image: url("graphics/mail_deleted.png");
}

span.folderImg {
    background-image: url("graphics/folders/folder.png");
}
span.folderopenImg {
    background-image: url("graphics/folders/open.png");
}
span.draftsImg {
    background-image: url("graphics/folders/drafts.png");
}
span.inboxImg {
    background-image: url("graphics/folders/inbox.png");
}
span.sentImg {
    background-image: url("graphics/folders/sent.png");
}
span.spamImg {
    background-image: url("graphics/folders/spam.png");
}
span.trashImg {
    background-image: url("graphics/folders/trash.png");
}

.closeImg, .searchuiDelete {
    background-image: url("graphics/close.png");
}
.searchuiCalendar {
    background-image: url("graphics/calendar.png");
}
.deleteImg {
    background-image: url("graphics/delete.png");
}
.reloadImg {
    background-image: url("graphics/reload.png");
}

.printAtc {
    background-image: url("graphics/print.png");
}
