<?php
/**
 * See horde/config/prefs.php for documentation on the structure of this file.
 */

$prefGroups['display'] = array(
    'column' => _("General Preferences"),
    'label' => _("Display Preferences"),
    'desc' => _("Change your sorting and display preferences."),
    'members' => array('initial_page', 'class_columns', 'sortby_class', 'sortdir_class', 'student_columns', 'sortby_student', 'sortdir_student', 'entry_details_wrap'),
);

$prefGroups['contactlists'] = array(
    'column' => _("General Preferences"),
    'label' => _("Contact Lists"),
    'desc' => _("Change your settings for automatically create contact lists."),
    'members' => $GLOBALS['conf']['addresses']['contact_list'] == 'user' ? array('contact_list', 'contact_list_name') : array(),
);

$prefGroups['marks'] = array(
    'column' => _("General Preferences"),
    'label' => _("Marks"),
    'desc' => _("Define a format for marks"),
    'members' => array('marks_roundby')
);

// default view
$_prefs['initial_page'] = array(
    'value' => 'list',
    'locked' => false,
    'shared' => false,
    'type' => 'enum',
    'enum' => array('list' => _("List Classes"),
                    'add' => _("New Entry"),
                    'search' => _("Search")),
    'desc' => _("Select the view to display after login:")
);

// Load constants from lib/Skoli.php
require_once dirname(__FILE__) . '/../lib/Skoli.php';

// columns in the class list view
$_prefs['class_columns'] = array(
    'value' => 'a:6:{i:0;s:13:"semesterstart";i:1;s:11:"semesterend";i:2;s:5:"grade";i:3;s:8:"semester";i:4;s:8:"location";i:5;s:8:"category";}',
    'locked' => false,
    'shared' => false,
    'type' => 'multienum',
    'enum' => array(SKOLI_SORT_SEMESTERSTART => _("Semester Start"),
                    SKOLI_SORT_SEMESTEREND => _("Semester End"),
                    SKOLI_SORT_GRADE => _("Grade"),
                    SKOLI_SORT_SEMESTER => _("Semester"),
                    SKOLI_SORT_LOCATION => _("Location"),
                    SKOLI_SORT_CATEGORY => _("Category")),
    'desc' => _("Select the columns that should be shown in the class list view:")
);

// user preferred sorting column for classes
$_prefs['sortby_class'] = array(
    'value' => SKOLI_SORT_SEMESTERSTART,
    'locked' => false,
    'shared' => false,
    'type' => 'enum',
    'enum' => array(SKOLI_SORT_SEMESTERSTART => _("Semester Start"),
                    SKOLI_SORT_SEMESTEREND => _("Semester End"),
                    SKOLI_SORT_NAME => _("Name"),
                    SKOLI_SORT_GRADE => _("Grade"),
                    SKOLI_SORT_SEMESTER => _("Semester"),
                    SKOLI_SORT_LOCATION => _("Location"),
                    SKOLI_SORT_CATEGORY => _("Category")),
    'desc' => _("Sort classes by:"),
);

// user preferred sorting direction for classes
$_prefs['sortdir_class'] = array(
    'value' => SKOLI_SORT_ASCEND,
    'locked' => false,
    'shared' => false,
    'type' => 'enum',
    'enum' => array(SKOLI_SORT_ASCEND => _("Ascending"),
                    SKOLI_SORT_DESCEND => _("Descending")),
    'desc' => _("Sort direction for classes:"),
);

// columns in the student list view
$_prefs['student_columns'] = array(
    'value' => 'a:3:{i:0;s:9:"lastentry";i:1;s:8:"summarks";i:2;s:11:"sumabsences";}',
    'locked' => false,
    'shared' => false,
    'type' => 'multienum',
    'enum' => array(SKOLI_SORT_LASTENTRY => _("Last Entry"),
                    SKOLI_SORT_SUMMARKS => _("Mark average"),
                    SKOLI_SORT_SUMABSENCES => _("Absences")),
    'desc' => _("Select the columns that should be shown in the student list view:")
);

// user preferred sorting column for students
$_prefs['sortby_student'] = array(
    'value' => SKOLI_SORT_NAME,
    'locked' => false,
    'shared' => false,
    'type' => 'enum',
    'enum' => array(SKOLI_SORT_NAME => _("Name"),
                    SKOLI_SORT_LASTENTRY => _("Last Entry"),
                    SKOLI_SORT_SUMMARKS => _("Mark average"),
                    SKOLI_SORT_SUMABSENCES => _("Absences")),
    'desc' => _("Sort students by:"),
);

// user preferred sorting direction for students
$_prefs['sortdir_student'] = array(
    'value' => SKOLI_SORT_ASCEND,
    'locked' => false,
    'shared' => false,
    'type' => 'enum',
    'enum' => array(SKOLI_SORT_ASCEND => _("Ascending"),
                    SKOLI_SORT_DESCEND => _("Descending")),
    'desc' => _("Sort direction for students:"),
);

// preference for wrapping the details for an entry.
$_prefs['entry_details_wrap'] = array(
    'value' => 100,
    'locked' => false,
    'shared' => false,
    'type' => 'number',
    'desc' => _("How many characters of the entry details in search view should we allow to see?")
);

// preference for contact lists.
$_prefs['contact_list'] = array(
    'value' => 'ask',
    'locked' => false,
    'shared' => false,
    'type' => 'enum',
    'enum' => array('ask' => _("Ask every time"),
                    'none' => _("Don't create contact lists"),
                    'auto' => _("Automatically create a new contact list")),
    'desc' => _("When a new class is created should we also create a new contact list?")
);

// template for new contact lists.
$_prefs['contact_list_name'] = array(
    'value' => "%c - %g - %s",
    'locked' => false,
    'shared' => false,
    'type' => 'text',
    'desc' => _("Enter a default name for new contact lists.<br />NOTE: You can use %c, %g or %s as substitution for the class, grade respectively semester name.")
);

// preference for rounding marks.
$_prefs['marks_roundby'] = array(
    'value' => 2,
    'locked' => false,
    'shared' => false,
    'type' => 'number',
    'desc' => _("How many decimal digits should we round marks to?")
);

// custom settings for marks
$_prefs['marks_format_custom'] = array(
    'value' => "6, 5.5, 5, 4.5, 4, 3.5, 3, 2.5, 2, 1.5, 1",
    'locked' => false,
    'shared' => false,
    'type' => 'text',
    'desc' => _("Enter some custom marks and separate them by comma (best mark first).<br />NOTE: You also need to choose \"Custom settings\" above.")
);

/**
 * Hidden preferences
 */

// show the class list options panel?
// a value of 0 = no, 1 = yes
$_prefs['show_panel'] = array(
    'value' => 1,
    'locked' => false,
    'shared' => false,
    'type' => 'checkbox',
    'desc' => _("Show class list options panel?")
);

// show students in the class list view?
$_prefs['show_students'] = array(
    'value' => 1,
    'locked' => false,
    'shared' => false,
    'type' => 'checkbox',
    'desc' => _("Show students in the class list?"),
);

// store the class lists to diplay
$_prefs['display_classes'] = array(
    'value' => 'a:0:{}',
    'locked' => false,
    'shared' => false,
    'type' => 'implicit'
);

// store the last object format when adding a new entry
$_prefs['default_objects_format'] = array(
    'value' => 'mark',
    'locked' => false,
    'shared' => false,
    'type' => 'implicit'
);
