<?php
/**
 * This file is where you specify default informations needed to create a
 * new class. It contains one EXAMPLE. Please remove or comment out that
 * example if YOU DON'T NEED IT. There are a number of properties that you
 * can set for each school, including:
 *
 * title:      The name of the school template.
 *
 * grade:      List of grades for this school.
 *
 * semester:   List of semesters. Specify each semester with:
 *
 *   name:  The semester name.
 *
 *   start: Semester startdate. Currently supported formats are:
 *            timestamp  --  Timestamp
 *            ISO week   --  ISO week date format: e.g. 'W33-2' is Tuesday
 *                           of week 33.
 *            strtotime  --  A string who can be parsed by 'strtotime'. See
 *                           http://www.php.net/strtotime for more informations.
 *
 *   end:   Semester enddate (same format as 'start').
 *
 * location:   List of locations, e.g. schoolhouses.
 *
 * marks:      The format to use for marks. Currently supported formats are:
 *               numbers  --  In numbers: e.g. 4.4
 *               percent  --  In percent: e.g. 74%
 *               custom   --  List with custom marks separated by comma (best mark first):
 *                            e.g. 6, 5.5, 5, 4.5, 4, 3.5, 3, 2.5, 2, 1.5, 1
 *
 * subjects:   List of subjects.
 *
 *   objectives: Each subject may have a list of objectives.
 *
 * objectives: List of objectives without a specific subject.
 */

/**
 * If a property is not defined then the user will be able to enter the
 * missing informations as free text. E.g. the following school template
 * will accept any user input:
 */
$cfgSchools['custom'] = array(
    'title' => _("Custom school")
);

/**
 * The following school may be used for primary schools in Bern, Switzerland.
 */
$cfgSchools['prim_be'] = array(
    'title' => _("Sample school"),
    'grade' => array(
        _("1. class"),
        _("2. class"),
        _("3. class"),
        _("4. class"),
        _("5. class"),
        _("6. class")
    ),
    'semester' => array(
        array(
            'name' => _("1. term"),
            'start' => 'W33-1',
            'end' => 'W05-5'
        ),
        array(
            'name' => _("2. term"),
            'start' => 'W07-1',
            'end' => 'W27-5'
        )
    ),
    'location' => array(
        _("Schoolhouse 1"),
        _("Schoolhouse 2")
    ),
    'marks' => '6, 5.5, 5, 4.5, 4, 3.5, 3, 2.5, 2, 1.5, 1',
    'subjects' => array(
        _("German") => array(
            _("Hearing and Talking"),
            _("Reading"),
            _("Writing"),
        ),
        _("Mathematics") => array(
            _("Imagination"),
            _("Skills"),
            _("Appliance"),
            _("Problem solving behavior"),
        ),
        _("Nature-Human-Environment"),
        _("Music"),
        _("Sport"),
        _("Construct"),
        _("French") => array(
            _("Hearing"),
            _("Talking"),
            _("Reading"),
            _("Writing"),
        ),
        _("English") => array(
            _("Hearing"),
            _("Talking"),
            _("Reading"),
            _("Writing"),
        ),
    ),
    'objectives' => array(
        _("Motivation to learn and dedication"),
        _("Concentration, attention, perseverance"),
        _("Exercise processing"),
        _("Teamwork and autonomy"),
    ),
);
