#kronolithBody {
    overflow-x: hidden;
}
#kronolithViewMonth {
    width: 100%;
    height: expression(kronolithBody.offsetHeight+'px');
}
#kronolithViewMonthContainer {
    top: 45px;
    width: 100%;
    height: expression(kronolithViewMonth.offsetHeight-66+'px');
}
#kronolithLoadingmonth {
    top: 23px;
}
table.kronolithView td.kronolithFirstCol {
    width: 22px;
}
#kronolithViewMonthHead .kronolithFirstCol {
    width: 20px;
}
.kronolithFirstCol span {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
#kronolithViewWeek .kronolithViewHead,
#kronolithViewDay .kronolithViewHead {
    margin: 0;
}
.kronolithEventsWeek {
    height: expression(kronolithEventsWeek.offsetHeight+'px');
}
.kronolithViewBody {
    top: 133px;
}
