/**
 * $Horde: kronolith/themes/screen.css,v 1.67 2008/09/09 22:43:48 jan Exp $
 */

#menu {
    /* Menu bottom margin, added for BC. */
    margin-bottom: 8px;
}

/* Image alignment, added for BC. */
img {
    vertical-align: middle;
}

/* Added for BC. */
.hidden {
    display: none;
}

/* Alternating styles. item0, item1 are deprecated. */
.rowEven {
    background: #eee;
}
.rowOdd {
    background: #ddd;
}

/* Sort arrow styles, added for BC. */
.sortup {
    background: #bbcbff url("graphics/za.png") center left no-repeat;
    padding-left: 10px;
}
.sortdown {
    background: #bbcbff url("graphics/az.png") center left no-repeat;
    padding-left: 10px;
}

/* Calendar Popup, added for BC. */
table.calendarPopup {
    border: 1px solid #ccc;
    background: #fff;
    width: auto;
}
.calendarPopup thead {
    font-weight: bold;
}
.calendarPopup th {
    border-bottom: 1px solid #ccc;
}
.calendarPopup tbody {
    text-align: right;
}
.calendarPopup a {
    color: #000;
    display: block;
    padding: 2px;
}
.calendarPopup tbody a:hover {
    background: #ffc;
}
.calendarPopup .week {
    font-style: italic;
}
.calendarPopup .current {
    font-weight: bold;
    background: #eef;
}
.calendarPopup .today {
    font-weight: bold;
}

/* Autocomplete styles. */
.autocomplete {
    background: #f4f4f4;
    border: 1px solid #d4d4d4;
    position: absolute;
    padding: 2px 2px 2px 2px;
}
.autocomplete ul {
    margin: 1px;
    padding: 1px;
    list-style-type: none;
}
.autocomplete ul li {
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
    text-decoration: underline;
    font-size: 90%;
    color: #000;
}
.autocomplete ul .selected {
    background: gray;
    color: #fff;
}

/* Calendar styles. */
.hour {
    font-size: 90%;
    font-weight: bold;
}
.halfhour {
    font-size: 60%;
    font-weight: bold;
    vertical-align: super;
}
.event {
}
.event-tentative {
    font-style: italic;
}
.event-cancelled {
    text-decoration: line-through;
}
.event-time, .event-location {
    font-size: 85%;
}
table.monthgrid {
    width: 100%;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
}
table.monthgrid th, table.monthgrid td {
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
}
.monthgrid .today {
    border: 2px solid #446;
    background: #fff;
}
.othermonth {
    background: #e7eeec;
}
.weekend {
    background: #ffc;
}
.description {
    padding: .5em;
}

#footer {
    margin-top: 8px;
}

/* Event form. */
#eventform textarea {
    padding: 2px;
    width: 98%;
}
#eventform .toggle {
    cursor: pointer;
}
#eventform .extra {
    color: #666;
}
#eventform .warning, #deleteform .warning {
    background: #ffc;
    border: 1px solid #fff760;
    padding: 8px;
}

/* Block-specific styles. */
.block-monthgrid {
    background: #fff;
}
.block-monthgrid .today {
    border: 1px solid #446;
}

/* background-color will always be overridden for the
 * *-eventbox classes */
.block-eventbox, table.nopadding td.block-eventbox {
    padding: 0 4px;
}
.month-eventbox {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 2px;
    margin: 1px;
}
.week-eventbox {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 3px;
    font-size: 90%;
}
.day-eventbox {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 3px;
}
.legend-eventbox {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 1px 5px 1px 5px;
}

.selected-control {
    background: #bbcbff;
    border-bottom: 1px solid #999;
}

.day {
    display: block;
    float: left;
    width: 14px;
    height: 14px;
    padding: 1px;
    background: #ddd;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    font-size: 80%;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
.day:hover {
    text-decoration: none;
    background: #e9e9e9;
}
.week {
    float: left;
    font-size: 90%;
    padding-left: 2px;
}
a.newEvent {
    display: block;
    float: left;
    height: 12px;
    width: 12px;
    padding: 4px 0 0;
    font-size: 50%;
    text-align: center;
    background: #ddd;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
}
a.newEvent:hover {
    background: #e9e9e9;
}
a.newEvent img {
    vertical-align: top;
}

.year-event {
    background: #fff760;
}

/* Free/busy */
.legend {
    font-size: 90%;
    padding-right: 10px;
}
.busy {
    position: relative;
    background: #f00;
}
.unknown {
    background: #d4d0c8 url("graphics/unknown-background.png") repeat top left;
}
.free {
    position: relative;
    background: #28b22b;
    color: #fff;
}
div.fbgrid {
    background-color: #fff;
    overflow: auto;
    padding: 0 1ex 0 1ex;
}
.fbgrid table {
    width: 100%;
    border-collapse: collapse;
}
.fbgrid table td, .fbgrid table th {
    border: 1px solid #000;
}
.fbgrid table .label {
    border: none;
    padding-right: 1ex;
}

#pageLoading {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    font-size: 10em;
    background: #fff;
    color: #666;
    filter: alpha(opacity=0);
    -moz-opacity: 0.0;
    opacity: 0.0;
}

body.rightPanel #page {
    margin-right: 13.5em;
}
body #pageControlsInner {
    display: none;
}
body #sbarShow, body #sbarHide {
    padding-left: 18px;
    white-space: nowrap;
    font-weight: bold;
}
body #sbarShow {
    display: block;
    background: transparent url("graphics/plus.png") center left no-repeat;
}
body #sbarHide {
    display: none;
    background: transparent url("graphics/minus.png") center left no-repeat;
}
body.rightPanel #pageControlsInner {
    display: block;
}
body.rightPanel #sbarShow {
    display: none;
}
body.rightPanel #sbarHide {
    display: block;
}
body.rightPanel ul {
    list-style-type: none;
}

#pageControls {
    position: absolute;
    top: 52px;
    right: 0;
    background: #eee;
    border: 1px solid #ccc;
    padding: 4px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
}
#pageControls #calendarSearch {
    background-image: url("graphics/search.png");
    background-repeat: no-repeat;
    background-position: 2px center;
    border: 1px solid #ccc;
    padding: 2px 0 2px 20px;
}
#pageControls h3 {
    font-size: 100%;
    margin-top: 1em;
}
#pageControls h4 {
    font-size: 90%;
    margin-top: .5em;
}

.QuickFinderNoMatch {
    display: none;
}

#externalcalendars .category {
    margin-top: 2px;
    margin-left: 1em;
    font-size: 95%;
    font-weight: normal;
    font-style: italic;
}

/* Tables. */
table#calendar-list {
    width: 99%;
    margin: 0 0 8px 5px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
table#calendar-list th {
    padding: 3px;
    background: #e9e9e9;
    border-right: 1px solid #ccc;
    text-align: left;
}
table#calendar-list td {
    padding: 3px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
table#calendar-list th.sortup {
    background: #bbcbff url("graphics/za.png") center left no-repeat;
    padding-left: 10px;
}
table#calendar-list th.sortdown {
    background: #bbcbff url("graphics/az.png") center left no-repeat;
    padding-left: 10px;
}

#calendar-list-buttons {
    padding: 1em;
}
#calendar-list-buttons form {
    display: inline;
}
.calendar-info {
    cursor: pointer;
}
.calendar-info-url {
    background-color: #fff;
    color: #000;
    overflow: auto;
    padding: 2px;
    font-size: 90%;
}
.calendar-list-icon {
    width: 1%;
}

/* Redbox styles. */
#RB_overlay {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100%;
    background-color: #000;
    opacity: .6;
    filter: alpha(opacity=60);
}
#RB_loading {
    z-index: 101;
    width: 66;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    padding-bottom: 66px;
    text-align: center;
    background: url("graphics/redbox_spinner.gif") no-repeat bottom center;
}
#RB_window {
    z-index: 102;
    background-color: #fff;
    display: block;
    text-align: left;
    overflow: hidden;
    margin: 20px auto 0 auto;
    position: absolute;
}

#RB_confirm {
    width: 20em;
    padding: 1em;
    border: 1px solid #ccc;
    background: #ffc;
}
#RB_confirm input {
    margin: .2em;
}

#RB_info {
    width: 30em;
    padding: 1em;
    border: 1px solid #ccc;
    background: #ccf;
}
#RB_info input {
    margin: .2em;
}
