body {
    background: #1f2e1b;
}
a {
    color: #336;
}
a.widget {
    color: #0a2912;
}
a.widget:hover {
    background: #996;
}
.header {
    color: #fff;
    background: #363;
}
.header a:hover {
    color: #996;
}
.header a {
    color: #996;
}
a.header:hover {
    color: #996;
}
.smallheader {
    color: #fff;
    background: #363;
}
.light {
    color: #fff;
}
.control {
    background: #cca;
}
a.control {
    color: #0f0;
}
.item {
    background: #cca;
}
.button {
    font-weight: bold;
}
.selected {
    background: #996;
}

/* Menu styles. */
#menu {
    color: #fff;
    background: #1f2e1b url("graphics/menu.png");
}
#menu a {
    color: #fff;
}
#menu a.current {
    background: #363;
}

/* Sidebar styles. */
#sidebarPanel {
    background: #363;
}
#sidebarPanel span, #sidebarPanel a {
    color: #fff;
}
#sidebarPanel a:hover {
    color: #fff;
}

/* Preferences overview. */
.prefsOverview h2 {
    color: #fff;
}

/* Tab styles. */
.tabset li.activeTab a, .tabset li.activeTab a:hover {
    border-bottom-color: #363;
    background-color: #363;
}
