<?php
/**
 * $Id$
 *
 * See horde/config/prefs.php for documentation on the structure of this file.
 */

$prefGroups['Preview'] = array(
    'column' => _("Preview"),
    'label' => _("How to preview news"),
    'desc' => _("Set news previerw paramaters"),
    'members' => array('per_page', 'sort_by', 'sort_dir')
);

$_prefs['per_page'] = array(
    'value' => 20,
    'locked' => false,
    'shared' => true,
    'type' => 'number',
    'desc' => _("How many news to show per page")
);

$_prefs['sort_by'] = array(
    'value' => 'n.publish',
    'locked' => false,
    'shared' => true,
    'type' => 'enum',
    'enum' => array('n.publish' => _("Publish date"),
                    'n.id' => _("Id"),
                    'nl.title' => _("Title")),
    'desc' => _("Sort news by")
);

$_prefs['sort_dir'] = array(
    'value' => 'DESC',
    'locked' => false,
    'shared' => true,
    'type' => 'enum',
    'enum' => array('DESC' => _("Descesending"),
                    'ASC' => _("Ascesending")),
    'desc' => _("Sort news by")
);

// the layout of the news portal.
$_prefs['news_layout'] = array(
    'value' => 'a:0:{}',
    'locked' => false,
    'shared' => false,
    'type' => 'implicit'
);

