<tag:menu />
<tag:notify />

<div class="header">
 <tag:header />
 <a id="quicksearchL" href="#" title="<gettext>Search</gettext>" onclick="$('quicksearchL').hide(); $('quicksearch').show(); $('quicksearchT').focus(); return false;"><tag:search_img /></a>
 <div id="quicksearch" style="display:none">
  <input type="text" name="quicksearchT" id="quicksearchT" for="feeds-body" empty="feeds-empty" />
  <small>
   <a title="<gettext>Close Search</gettext>" href="#" onclick="$('quicksearch').hide(); $('quicksearchT').value = ''; QuickFinder.filter($('quicksearchT')); $('quicksearchL').show(); return false;">X</a>
  </small>
 </div>
</div>

<if:channels>
<table id="feeds" width="100%" class="sortable" cellspacing="0">
<thead>
 <tr>
  <th width="1%">&nbsp;</th>
  <loop:listheaders>
  <th<tag:listheaders.attrs />>
   <tag:listheaders.label />
  </th>
  </loop:listheaders>
 </tr>
</thead>

<tbody id="feeds-body">
 <loop:channels>
 <tr>
  <td class="nowrap">
   <tag:channels.edit_link />
   <tag:channels.refresh_link />
   <tag:channels.addstory_link />
   <tag:channels.lists_link />
   <tag:channels.delete_link />
  </td>
  <td>
   <a href="<tag:channels.stories_url />"><tag:channels.channel_name /></a>
  </td>
  <td><tag:channels.channel_type /></td>
  <td class="linedRow"><tag:channels.channel_updated /></td>
 </tr>
 </loop:channels>
</tbody>
</table>
<div id="feeds-empty">
 <gettext>No feeds match</gettext>
</div>
<else:channels>
<div class="text">
 <em><gettext>No channels are available.</gettext></em>
</div>
</else:channels>
</if:channels>
