/**
 * $Horde: horde/themes/ie6_or_less.css,v 1.6 2009/04/14 03:47:30 slusarz Exp $
 *
 * CSS corrections for IE 6 and below.
 */

#sidebar-frame {
    overflow-x: hidden;
}

.treeRow {
    overflow: visible;
    height: 20px;
}

#menu {
    overflow: visible;
    height: 50px;
}

.clear {
    clear: none;
}
