/**
 * $Horde: horde/themes/opera.css,v 1.3 2005/10/03 16:22:52 jan Exp $
 *
 * CSS corrections for Opera.
 */

.treeRow {
    overflow: visible;
    height: 20px;
}

#menu {
    overflow: visible;
    height: 50px;
}
