/**
 * $Horde: horde/themes/webkit.css,v 1.2 2009/02/10 03:57:15 slusarz Exp $
 *
 * CSS corrections for Webkit.
 */

.treeRow {
    overflow: visible;
    height: 20px;
}

.treeRow img {
    vertical-align: middle;
}

#menu {
    overflow: visible;
    height: 50px;
}
