body, input {
    font-family: Verdana,Geneva,"DejaVu Sans",Arial,sans-serif;
}

body {
    background: #fff;
}
a {
    color: #339;
}
a.fixed {
    color: #339;
}
a.widget {
    color: #000;
}
input {
    background: #fff;
    border: 1px solid #666;
}
textarea {
    color: #333;
    background: #fff;
    border: 1px solid #666;
}
select,option {
    color: #000033;
    background: #fcfcfc;
}

/* Sidebar styles. */
#sidebarPanel {
    border-right: 1px solid #006;
    border-bottom: 1px solid #006;
    background: #f3f7f8;
}
#sidebarPanel a {
    border: 1px solid #f3f7f8;
    padding-left: 1px;
    padding-bottom: 2px;
}
#sidebarPanel a:hover {
    background: #ccc;
    border: 1px solid #000;
    text-decoration: none;
}
#expandButton {
    margin-right: 1px;
}

/* Menu styles. */
#menu {
    background: #cccce5;
    border-bottom: 2px solid #006;
    color: #000;
}
#menu a {
    color: #000;
    font-family: Verdana,sans-serif;
    font-weight: normal;
}
#menu a:hover {
    color: #fff;
    border: none;
    padding: 3px;
}
#menu a.current {
    background: #f3f7f8;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    padding: 2px;
}
#menu a.current:hover {
    color: #000;
    padding: 2px;
}

.header {
    color: #333;
    background: #cccce5;
    border-bottom: 1px solid #339;
}
a.header:hover {
    color: #03c;
    text-decoration: none;
}
a.header {
    border-bottom: none;
    background-image: none;
    background: transparent;
}
.light {
    color: #333;
}
.smallheader {
    background-image: none;
    background: transparent;
    color: #333;
    font-family: Verdana,sans-serif;
    font-size: 90%;
}
.smallheader a {
    color: #339;
}
a.smallheader:hover {
    color: #03c;
}
.control {
    background: #ddd;
}
.item {
    background: #e9e9e9;
}
/* Alternating styles. item0, item1 are deprecated. */
.rowEven, .item0 {
    background: #eee;
}
.rowOdd, .item1 {
    background: #fff;
}
.button {
    color: #000;
    background: #ccc;
    border-bottom: 1px solid #333;
    border-right: 1px solid #000;
    border-left: 1px solid #c4c4b8;
    border-top: 1px solid #c4c4b8;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.button:hover {
    background: #cdf;
}
.selected {
    background: #c6d3ff;
}

/* Tab styles. */
.tabset {
    background: #fff url("graphics/tab_bottom.gif") repeat-x bottom;
    font-size: 90%;
}
.tabset li {
    margin: 0;
    background: url("graphics/tab_right.gif") no-repeat right top;
}
.tabset li a, .tabset li a:hover {
    background: url("graphics/tab_left.gif") no-repeat left top;
    margin: 0;
    padding: 3px 15px;
    color: #765;
    border: none;
    border-bottom: 1px solid #765;
}
.tabset li a:hover {
    color: #333;
    background: url("graphics/tab_left.gif") no-repeat left top;
}
.tabset li.activeTab {
    background: url("graphics/active_tab_right.gif") no-repeat right top;
}
.tabset li.activeTab a {
    color: #333;
    background: url("graphics/active_tab_left.gif") no-repeat left top;
    border-bottom: 1px solid #cccce5;
}
.tabset li.activeTab a:hover {
    background: url("graphics/active_tab_left.gif") no-repeat left top;
    border-bottom: 1px solid #cccce5;
}
