<?php
/**
 * Kronolith Hooks configuration file.
 *
 * THE HOOKS PROVIDED IN THIS FILE ARE EXAMPLES ONLY.  DO NOT ENABLE THEM
 * BLINDLY IF YOU DO NOT KNOW WHAT YOU ARE DOING.  YOU HAVE TO CUSTOMIZE THEM
 * TO MATCH YOUR SPECIFIC NEEDS AND SYSTEM ENVIRONMENT.
 *
 * For more information please see the horde/config/hooks.php.dist file.
 *
 * $Id$
 */

class Kronolith_Hooks
{
    /**
     * Adds user-defined AJAX action handlers.
     *
     * @param string $action         The AJAX action.
     * @param Horde_Variables $vars  The URL parameters.
     *
     * @return mixed  The data to send to the browser (will be JSON encoded).
     * @throws Horde_Exception
     */
//     public function ajaxaction($action, $vars)
//     {
//        switch ($action) {
//        case 'Foo':
//            return 'bar';
//        }
//
//        throw new Horde_Exception('Unknown action');
//     }
}
