@import url("ie6_maps.css");

html, body {
    overflow: hidden;
}
input {
    border: expression((this.type=="radio" || this.type=="checkbox") ? 'none !important' : 'inherit');
}

#kronolithLogo h1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='themes/sapo/graphics/logo_pt.png', sizingMethod='crop');
}
#kronolithLogo a {
    position: relative;
}
.kronolithDateChoice div {
    display: inline;
}

#kronolithNotifications.kronolithNotifications {
    background-color: #ccc;
}

#kronolithMenuCalendars {
    height: expression(document.body.clientHeight-343-5+'px');
}
#kronolithMenu h3 {
    height: 16px;
    overflow: visible;
    border-color: #ccc;
}

#kronolithBody {
    top: 73px;
    width: expression(document.body.clientWidth-200+'px');
    height: expression(document.body.clientHeight-84+'px');
}

#kronolithViewMonthContainer {
    top: 47px;
    height: expression(document.body.clientHeight-151+'px');
}

#kronolithLoadingmonth {
    top: 23px;
}

#kronolithViewWeek .kronolithViewBody,
#kronolithViewDay .kronolithViewBody {
    top: 105px;
    width: 100%;
    height: expression(document.body.clientHeight-189+'px');
}
.kronolithViewBody {
    top: 110px;
}

#kronolithViewWeek .kronolithViewHead {
    margin: 0;
}

.kronolithMinical thead th.kronolithMinicalEmpty {
    border: none !important;
}

#kronolithViewTasks .kronolithNavigation {
    bottom: 2px;
}
#kronolithViewTasks .kronolithNavigation,
#kronolithViewTasks .kronolithNavigation li {
    display: inline;
    padding-top: 2px !important;
}
#kronolithViewTasks .kronolithNavigation li {
    padding-top: 1px !important;
}
#kronolithViewTasks .kronolithNavigation li a {
    float: left;
    padding: 1px 8px 0;
}

#kronolithQuickinsert {
    width: 370px;
}
#kronolithQuickinsertForm .button,
#kronolithEventDialog .button {
    padding: 2px 4px;
}
