#kronolithEventTabMap {margin-bottom:0px; padding-bottom:0px !important;}
.mapa {position:absolute;width:680px;height:270px;top:222px;left:336px;background:#f2f4fb}
.slider {background:url(graphics/widget_slider.png) no-repeat;}
.pesquisa{ background-attachment: fixed; }

