/* @import url("ie8_maps.css"); */

input, textarea, select, .hordeACBox {
    vertical-align: middle !important;
}
#kronolithQuickinsertForm .button,
#kronolithEventDialog .button,
.kronolithFormActions .button {
    padding: 2px 0;
}

#kronolithMenuCalendars {
	top: 235px;
}

#kronolithViewMonth {
    height: expression(kronolithBody.offsetHeight+'px') !important;
}
#kronolithViewMonthContainer {
    top: 48px;
    height: expression(kronolithViewMonth.offsetHeight-48+'px') !important;
}
#kronolithViewMonthContainer table.kronolithViewMonth {
    height: expression(kronolithViewMonth.offsetHeight-48-124+'px') !important;
}

.kronolithViewBody {
    top: 130px;
}

table.kronolithView td.kronolithFirstCol {
    width: 30px;
}
#kronolithViewMonthHead .kronolithFirstCol {
    width: 28px;
}
.kronolithFirstCol span {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}

#kronolithEventsWeek {
	left: 37px;
}

#kronolithLoadingday, #kronolithLoadingmonth, #kronolithLoadingagenda {
    top: 26px;
}
#kronolithLoading {
    width: 24px;
}

#kronolithViewYear .kronolithMinical {
    margin: 10px 5px;
}

#kronolithCalendarPermsAdvanced th {
    text-align: left;
}

.kronolithViewHead,
.kronolithViewBody {
    padding-right: 13px;
}

#kronolithBody caption, #kronolithViewTasks caption.tabset {
    height: 22px;
}

#kronolithMinical {
    padding-top: 2px;
}
#kronolithMinicalPrev,
#kronolithMinicalNext {
    top: 1px;
    right: 1px;
}
#kronolithMinicalPrev {
    right: 22px;
}
#kronolithBody caption .kronolithNavigation {
    top: 1px;
    right: 1px;
}
#kronolithSearchTerm {
    color: #222;
}
#Growler, #Growler:hover {
	filter:alpha(opacity=100) !important;
}

/* ini grads
 * grey
 */
#kronolithNav a,
span#kronolithNewEvent,
#kronolithMenu a.kronolithAdd,
#kronolithMenu div.kronolithCalendars .kronolithCalEdit,
.kronolithPrint,
.kronolithGotoToday,
.kronolithPrev,
.kronolithNext,
#kronolithMinicalPrev,
#kronolithMinicalNext,
#kronolithViewTasks .kronolithAddTask,
#kronolithViewTasks caption.tabset li a,
#kronolithViewAgenda caption.tabset li a,
.hordeCalendarPopup thead a,
.kronolithDialog .tabset li,
.option,
.button,
.kronolithTopTags span,
.hordeACListItem {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#dbdbdb');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#dbdbdb')";
}
/*
 * light grey inverse, search
 */
#kronolithSearchTerm {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#fefefe');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#fefefe')";
}
/*
 * dark grey, quickevent
 */
span#kronolithQuickEvent {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dedede', endColorstr='#9d9c9a');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#dedede', endColorstr='#9d9c9a')";
}
/*
 * dark grey inverse
 */
#kronolithNav a.on,
.kronolithDialog .tabset .activeTab,
#kronolithViewTasks caption.tabset li.activeTab a,
#kronolithViewAgenda caption.tabset li.activeTab a {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9d9c9a', endColorstr='#dedede');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#9d9c9a', endColorstr='#dedede')";
}
/*
 * green
 */
#kronolithBody caption,
#kronolithViewTasks caption.tabset,
#services_prefs .header {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f2a7', endColorstr='#d3d968');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f2a7', endColorstr='#d3d968')";
}
/* end grads */
