@import url("ie8_maps.css");

#kronolithViewMonthContainer {
    top: 53px;
}

.kronolithViewBody {
    top: 130px;
}

table.kronolithView td.kronolithFirstCol,
#kronolithViewMonthHead .kronolithFirstCol {
    width: 30px;
}
.kronolithFirstCol span {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}

input, textarea, select, .hordeACBox {
    vertical-align: middle !important;
}

#kronolithLoadingday, #kronolithLoadingmonth, #kronolithLoadingagenda {
    top: 31px;
}

#kronolithCalendarPermsAdvanced th {
    text-align: left;
}

#kronolithBody caption,
#kronolithViewTasks caption.tabset {
    height: 22px;
}

#kronolithMinicalPrev,
#kronolithMinicalNext {
    top: 1px;
    right: 1px;
}
#kronolithMinicalPrev {
    right: 23px;
}
#kronolithBody caption .kronolithNavigation {
    top: 1px;
    right: 1px;
}

#kronolithSearchTerm {
    color: #222;
}
#Growler,
#Growler:hover,
#Growler div.GrowlerNotice {
	filter:alpha(opacity=100) !important;
}

#GrowlerLog ul li {
	padding: 0 20px 10px;
}
#GrowlerLog li {
    position: relative;
	margin-bottom: 10px;
	background-color: transparent;
}

/* ini grads
 * grey
 */
#kronolithNav a,
span#kronolithNewEvent,
#kronolithMenu a.kronolithAdd,
#kronolithMenu div.kronolithCalendars .kronolithCalEdit,
.kronolithPrint,
.kronolithGotoToday,
.kronolithPrev,
.kronolithNext,
#kronolithMinicalPrev,
#kronolithMinicalNext,
#kronolithViewTasks .kronolithAddTask,
#kronolithViewTasks caption.tabset li a,
#kronolithViewAgenda caption.tabset li a,
.hordeCalendarPopup thead a,
.kronolithDialog .tabset li,
.option,
.button,
.kronolithTopTags span,
.hordeACListItem {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#dbdbdb');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#dbdbdb')";
}
/*
 * light grey inverse, search
 */
#kronolithSearchTerm {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#fefefe');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#fefefe')";
}
/*
 * dark grey, quickevent
 */
span#kronolithQuickEvent {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dedede', endColorstr='#9d9c9a');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#dedede', endColorstr='#9d9c9a')";
}
/*
 * dark grey inverse
 */
#kronolithNav a.on,
.kronolithDialog .tabset .activeTab,
#kronolithViewTasks caption.tabset li.activeTab a,
#kronolithViewAgenda caption.tabset li.activeTab a {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9d9c9a', endColorstr='#dedede');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#9d9c9a', endColorstr='#dedede')";
}
/*
 * green
 */
#kronolithBody caption,
#kronolithViewTasks caption.tabset,
#services_prefs .header {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f2a7', endColorstr='#d3d968');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f2a7', endColorstr='#d3d968')";
}
/* end grads */
