#kronolithEventTabMap {margin-bottom:-5px; padding-bottom:0px !important;}

#kronolithEventForm {margin-bottom:0px; padding-bottom:0px;}

#kronolithEventMap {width:700; height:270px; background:#f2f4fb !important;}

#kronolithEventMap .sliderDoorTop {background:url(graphics/widget_btns2.png) no-repeat; border:none; font-size:11px; position:absolute; overflow:hidden; font-weight:bold}

#kronolithEventMap .mapa { background:#fff; width:700px; height:270px;  border:1px solid blue;}

#kronolithEventMap .slider {display:none; position:absolute; top:0px; left:0px; width:202px; height:270px; padding-right:34px; background:url(graphics/widget_slider.png) no-repeat; overflow:hidden; z-index:1006}

#kronolithEventMap .sliderDoor { position:absolute; width: 20px; height : 25px; top:110px; left:200px; cursor:pointer; }
#kronolithEventMap .sliderDoor span {display:block; text-indent:-9999px;}

#kronolithEventMap .sliderDoorTop {width:15px; height:16px; background-position:-500px -16px; text-indent:-9999px; top:5px; right:40px;}
#kronolithEventMap .sliderDoorTop:hover {background-position:-515px -16px; cursor:pointer}

#kronolithEventResults {
    width:100%; 
    height:auto !important;
    height:270px
}

.content_smapi, .smapi_popup_content {font-family:Arial, Helvetica, sans-serif; font-size:12px;line-height:1.5}
.smapi_popup_wrapper {
	/*  height:110px !important */
	min-height:110px;
  	height:auto !important;
  	height:110px;
    padding-bottom: 35px !important;
}

.smapi_popup_content h3 {font-size:13px; padding:0px; margin:0px}
.smapi_popup_content input, .smapi_popup_content textarea {border:1px solid #999999}
.search_pop_header_smapi p {
	font-size:13px; 
	padding:0px; 
	margin:0px;
	font-weight:bold;
	line-height:1.0em;
	}

.utils_msg_smapi {display:none;}	
.search_photo {visibility:hidden; display:none;}	

.WhereAmI {
    width: 240px;
}

.WhereAmI .pop_input{
    /*width: 178px;*/
}

#markerformcontrols a{float: left; cursor: pointer;}
#markerformcontrols .submit_btn {margin-top: 5px;}

.WhereAmI .marker_data{
    clear: both;
}

.WhereAmI .marker_data textarea{
    overflow: auto;
}

.WhereAmI .marker_data input {
    background:transparent url(http://imgs.sapo.pt/fotos_gis/site/mapasLayout.png) no-repeat scroll right -103px;
    border:0 none;
    display: block;
    height:16px;
    padding:4px 2px 2px;
    width: 223px;
}

.WhereAmI .marker_data h3 {
    display: block;
    font-size: 12px;
}

.WhereAmI .marker_data .input_start {
    background:transparent url(http://imgs.sapo.pt/fotos_gis/site/mapasLayout.png) no-repeat scroll left -103px;
    border:0 none;
    display:block;
    float:left;
    height:20px;
    padding:2px;
}

.WhereAmI textarea {
    width: 220px;
    padding: 5px;
    font-family: arial, sans-serif;
    font-size: 12px;
}

.pop-up_smapi h5 {margin-bottom: 10px; font-size: 14px; font-weight: bold;}

.pop-up_smapi .description{
    overflow: auto;
}
.smaps_api_search_paging {margin-top:0px; font-family:Arial, Helvetica, sans-serif; font-size:12px; background:#ffffff}
.smaps_api_search_paging_pages { padding-bottom:5px}
.smaps_api_search_paging_resultsInfo { margin-bottom:3px}
.iti_submit { margin-left:115px; width:67px; height:24px; background:url(graphics/widget_btns2.png) no-repeat -414px -27px; border:none !important; font-size:11px;overflow:hidden; cursor:pointer}
.linkCancel {color: #1D94E7}


.category_results{
	height:222px;	/* give margin to map scale */
	overflow:auto;
    padding: 0px ! important;
}
.category_results .newsubmitbtn{
  font-size:12px;
}

.search_title_header { padding-left:10px}
.search_results_smapi {background:#FFF}

.search_pop_content_smapi {font-size: 10px;}


.search_title_header { 
	font-size:9pt;
	width : 170px;
	line-height:1.2; 
	padding-bottom:2px;
	/*  height:25px !important */
	min-height:25px;
  	height:auto !important;
  	height:25px;
}
.metadata { font-size:9.5pt; line-height:1.2}
.search_pop_content_smapi { width: 270px;}
.k___ronolithDialog { margin-bottom:1px;}
.kronolithEventGeo { margin:0px; padding:0px;}
.action_container { text-align: right; margin-right:5px; margin:0px; margin-top:1px;padding:0px; line-height:1.1em}
.b_adicionar {background:url(graphics/widget_btns2.png) no-repeat; border:none; font-size:11px; overflow:hidden; font-weight:bold; width:140px; height:23px; background-position:-223px 0px; top:4px; left:500px;}
.b_adicionar:hover {cursor:hand; }

.kronolithTabsOption {line-height: 1em}

.iframe_title {
    padding: 2px 4px;
    background: #efefef url(graphics/cal_grads.png) 0 0 repeat-x;
    border: 1px #c0c0c0 solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #666;
    font-weight: bold;
    font-size: .95em;
    text-transform: uppercase;
    text-shadow: #fff 1px 1px 2px;
}

.mapict_NavigationZoom {
        margin: 1px auto auto !important;
        font-weight:bold !important;
 }

.mapict_zoom_point_wraper {
    padding: 4px 0 !important;
}

.mapict_NavigationZoom_zoomout, .mapict_NavigationZoom_zoomin {
    font-weight:bold;
    line-height: 1.7em;
}


.category_results .results_list .pagination {
     padding:2px ! important;
 }


.category_results .selected_cat h2, .category_results .zone_header h2 {
    height:14px ! important;
}

.category_results .newsubmitbtn {
    font-size:11px ! important;
    padding: 5px !important;

}

.vermais {
    margin: 0px ! important;
    padding: 0px ! important;
}



/* ini fmt 2010-06-15 */
.action_container {
	position: absolute;
	z-index: 9999;
	top: 5px;
	right: 8px;
}
.b_adicionar {
	width: 18px;
	overflow: hidden;
	background-image: url('graphics/kronolithSprites.png');
	background-position: -300px -138px;
	text-indent: -9999px;
	cursor: pointer;
}
#kronolithEventTabMap {
	margin-bottom: 10px;
}
/* end fmt 2010-06-15 */
