/**
 * Kronolith core PT-CSS.
 *
 * $Horde: calendar/kronolith/themes/sapo/screen.css, v2.00 2010/05/19 00:00:00 fmt@civilis.net Exp $
 */

/*
 * CSS reset v1.0 Eric Meyer 20080212
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	cursor: default;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end css reset */

/*
 * maps CSS
 */
@import url('screen_maps.css');

body {
   background: #f6f5ed;
   font: normal .7em 'Trebuchet MS', arial, helvetica, sans-serif;
   cursor: default;
}
body, x:-moz-any-link, x:default { /* firefox has bigger font */
   font-size: .725em;
}

.kronolithLoading {
    position: absolute;
    z-index: 100;
    top: 30px;
    left: 2px;
    cursor: default;
}
#kronolithLoadingday,
#kronolithLoadingmonth,
#kronolithLoadingagenda {
    top: 31px;
}
#kronolithLoadingtasks {
    top: 55px;
}
#kronolithLoadingtasks,
#kronolithLoadingagenda {
    display: block;
    position: absolute;
    padding: 0 !important;
}
#kronolithLoading {
    width: 24px;
    background-color: #fff;
    background-image: url('graphics/loading.gif');
    border-color: #ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
#kronolithLoading, x:-moz-any-link, x:default {
    width: 26px;
}
#RB_loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
    padding: 4px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    background-image: url('graphics/loading.gif');
    background-position: center center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.kronolithSeparator {
    padding: 0;
    color: #ccc;
}

a, a:visited,
#kronolithEventStartPicker,
#kronolithEventEndPicker { color: #036; cursor: pointer; }
a:visited, a:hover { color: #369; }

/* Redbox styles. */
#RB_overlay {
    opacity: .4 !important;
    -moz-opacity: .4 !important;
    filter: alpha(opacity=40) !important;
}
#RB_window {
    top: 25px !important;
    background-color: transparent;
    -moz-box-shadow: 0 0 30px #444;
    -webkit-box-shadow: 0 0 30px #444;
    box-shadow: 0 0 30px #444;
}

#kronolithHeader {
	position: relative;
	top: 5px;
}

/* Logo */
#kronolithLogo { display: block; position: absolute; top: 0; left: 10px; }
#kronolithLogo, #kronolithLogo h1, #kronolithLogo h1 a { width: 192px; height: 30px; }
#kronolithLogo h1 a {
    display: block;
    overflow: hidden;
    background: transparent url('graphics/kronolithSprites.png') -24px -14px no-repeat;
    border: none;
    text-indent: -9999px;
    text-decoration: none;
}
#kronolithLogo h1 a:hover,
#kronolithLogo h1 a:active {
    opacity: .5;
}
/*
#kronolithLogo h1 a:active {
    background-position: 1px 1px;
}
*/

/* Navigation bar */
#kronolithBar {
    top: 7px;
    left: 213px;
}
#kronolithBar .kronolithDateChoice {
    margin-right: 4px;
    background-color: #fff;
    border: 1px #dadada solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: .95em;
    font-weight: normal;
}
#kronolithBar .kronolithDateChoice div {
    height: 20px;
    line-height: 20px;
    padding: 0 6px;
    text-transform: uppercase;
    color: #606060;
}

#kronolithNav,
#kronolithNav ul {
    margin-left: 0;
    height: 20px;
    line-height: 20px;
}
#kronolithNav a {
    padding: 0 4px;
	background-position: 0 0;
    border: 1px #ccc solid;
    font-size: .9em;
}
#kronolithNav a:first-child,
#kronolithNav a:last-child,
#kronolithNav a:first-child:last-child {
	-moz-border-radius: inherit;
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
#kronolithNav li:first-child a,
#kronolithNavDay {
    -moz-border-radius: 4px 0 0 4px !important;
    -webkit-border-radius: 4px 0 0 4px !important;
    -webkit-border-top-left-radius: 4px !important;
    -webkit-border-bottom-left-radius: 4px !important;
    border-radius: 4px 0 0 4px !important;
}
#kronolithNav li:last-child a {
    -moz-border-radius: 0 4px 4px 0 !important;
    -webkit-border-radius: 0 4px 4px 0 !important;
    -webkit-border-top-right-radius: 4px !important;
    -webkit-border-bottom-right-radius: 4px !important;
    border-radius: 0 4px 4px 0 !important;
}
#kronolithNav li:first-child:last-child a,
#kronolithNavAgenda {
    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    border-radius: 4px !important;
}

#kronolithNav a:hover,
#kronolithNav a.on {
    border-color: #aaa;
}
#kronolithNav a.on {
    color: #000;
}
#kronolithNav a span {
	float: left;
	margin: 2px 0;
    padding-left: 18px;
	height: 16px;
	line-height: 16px;
    background-image: url('graphics/kronolithSprites.png');
    background-repeat: no-repeat;
}
#kronolithNavDay span {
    background-position: -104px -110px;
}
#kronolithNavWeek span {
    background-position: -104px -126px;
}
#kronolithNavMonth span {
    background-position: -168px -94px;
}
#kronolithNavYear span {
    background-position: -168px -110px;
}
#kronolithNavTasks span,
#kronolithNavAgenda span {
    background-position: -168px -126px;
}

/* User data and options */
#kronolithServices {
    top: 7px;
    margin: 0;
    height: 22px;
    line-height: 22px;
    font-size: 1em;
    letter-spacing: .05em;
}

/* ini SAPO kronolithApplications */
#kronolithApplications {
    margin: 0 4px 0 0;
    height: 22px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
#kronolithApplications li {
    float: left;
    margin: 0 1px 0 0;
    height: 22px;
    line-height: 22px;
}
#kronolithApplications li.kronolithApplicationSelected {
    background-color: transparent;
}
#kronolithApplications li.kronolithApplicationSelected a,
#kronolithApplications li.kronolithApplicationSelected a:hover {
    background-color: #666;
    border-color: #666;
}
#kronolithApplications a {
    width: 18px;
    height: 20px;
    line-height: 20px;
    background-color: #ece9d8;
    background-repeat: no-repeat;
    border-color: #ccc;
    text-indent: -9999px;
    text-align: center;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
#kronolithApplications a img {
    display: none;
}
#kronolithMenu-portal {
    background-image: url('graphics/kronolithSprites.png');
    background-position: -163px -172px;
    -moz-border-radius: 4px 0 0 4px !important;
    -webkit-border-radius: 4px 0 0 4px !important;
    border-radius: 4px 0 0 4px !important;
}
#kronolithApplications a#kronolithApplication-webmail {
    width: 50px;
    background-image: url('graphics/kronolithSprites.png');
    background-position: -139px -148px;
}
#kronolithApplication-turba {
    background-image: url('graphics/kronolithSprites.png');
    background-position: -132px -171px;
    -moz-border-radius: 0 4px 4px 0 !important;
    -webkit-border-radius: 0 4px 4px 0 !important;
    border-radius: 0 4px 4px 0 !important;
}
#kronolithApplications .kronolithSeparator {
    display: inline;
}
/* end SAPO kronolithApplications */

#kronolithNotifications,
#kronolithNotifications.kronolithClose {
    position: relative;
    margin: 0 5px 0 0;
    padding: 0 4px;
    width: 18px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    background: #ddd url('graphics/kronolithSprites.png') -243px -109px no-repeat !important;
    border-width: 1px;
    border-style: solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: .95em;
    text-decoration: none;
    color: #222;
    text-align: left;
    text-indent: -9999px;
}
#kronolithNotifications {
    background-color: #f4f4f4 !important;
    border-color: #e2e2e2 !important;
}
#kronolithNotifications.kronolithNotifications {
    opacity: .5;
}
#kronolithNotifications.kronolithClose {
    opacity: inherit;
}

#kronolithLogout {
    padding: 2px;
    color: #c00;
    font-weight: bold;
    text-transform: uppercase;
}
#kronolithLogout:hover {
    background-color: #c00;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
}

#kronolithMain {
    padding: 0;
}
#kronolithMenu {
    top: 70px;
    width: 170px;
}
#kronolithBody {
    top: 70px;
    left: 190px;
}

/* Left menu column */
#kronolithMenu h3 {
    height: auto;
    min-height: 20px;
    font-size: 1em;
    color: #666;
    border-bottom-color: #808080;
    cursor: default;
}
#kronolithMenu h3 span {
    position: relative;
    display: block;
    bottom: 0;
    width: 135px;
    line-height: 20px;
    overflow: hidden;
    white-space: normal;
}
#kronolithMenu h3.search span {
    width: 60px;
}

#kronolithMenu div.kronolithCalendars div {
    margin: 0 1px 2px 0;
    padding: 0 3px 0 20px;
    height: auto;
    min-height: 16px;
    line-height: 16px;
    overflow-x: hidden;
	background-image: url('graphics/kronolithSprites.png');
    background-position: -70px -270px;
    border: 1px transparent solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: .9em;
    color: #202020;
    letter-spacing: .1em;
}
#kronolithMenu div.kronolithCalendars div img {
	margin-left: 3px;
	vertical-align: -2px;
}
#kronolithMenu div.kronolithCalendars div.kronolithCalOn {
	background-image: url('graphics/kronolithSprites.png');
	background-position: -54px -286px;
}
#kronolithMenu div.kronolithCalendars div.kronolithCalOver {
    border-color: #666;
    text-decoration: none;
}
#kronolithMenu div.kronolithCalendars .kronolithCalEdit {
    margin: 0 1px;
    width: 19px;
    border-color: #ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #666;
    font-weight: bold;
}
#kronolithMenu div.kronolithCalendars .kronolithCalEdit:hover {
    border-color: #aaa;
    color: #222;
}
#kronolithMenu div.kronolithCalendars .configtags {
	float: right;
	height: 16px;
	white-space: nowrap;
}
#kronolithMenu div.kronolithCalendars .configtags img {
	float: left;
	margin: 1px;
	width: 14px;
	height: 14px;
}

#kronolithMenu .kronolithDialogInfo {
    margin-bottom: 5px;
    line-height: 16px;
    font-size: .9em;
}
#kronolithMenu .kronolithDialogInfo a {
    color: #369;
    font-weight: bold;
}
#kronolithMenu .kronolithDialogInfo a:hover {
    color: #036;
    text-decoration: none;
}

#kronolithMenu form {
    margin-top: 5px;
}
#kronolithSearchTerm,
#kronolithSearchButton {
	vertical-align: middle;
}
#kronolithSearchTerm,
#kronolithSearchTerm:focus {
    padding: 0;
    width: 135px;
    height: 25px;
    line-height: 25px;
	border-color: #ccc;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
#kronolithSearchTerm:focus,
#kronolithSearchTerm:active {
    color: #222;
}
#kronolithSearchButton {
    margin-left: -2px;
    padding: 0;
    width: 30px;
    height: 27px;
	overflow: hidden;
	background: transparent url('graphics/kronolithSprites.png') -264px -46px no-repeat;
    border: none;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
	cursor: pointer;
	text-indent: -9999px;
}

#kronolithMenuCalendars {
    top: 225px;
}
#kronolithAddholiday {
    display: none;
}

/* removed add event link as it will be block click */
.kronolithAddEvent {
    display: none;
}
#kronolithAddEvents {
    line-height: 25px;
    margin-bottom: auto;
}
#kronolithAddEvents span {
    height: 22px;
    line-height: 22px;
    padding: 0 8px;
    border: 1px #aaa solid;
    letter-spacing: .05em;
    font-size: 1.1em;
    text-shadow: 1px 1px 2px #fff;
    color: #222;
}
#kronolithAddEvents span.accessKey {
    padding: 0;
    background: none;
    border: none;
    font-size: 1em;
}
span#kronolithNewEvent {
    margin-right: 1px;
    padding: 0 8px !important;
    width: 115px;
    border-width: 1px #aaa solid !important;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-radius: 4px 0 0 4px;
}
span#kronolithQuickEvent {
    width: 15px;
    line-height: 20px;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-radius: 0 4px 4px 0;
    font-size: 1.4em;
    text-align: center;
    text-indent: 0;
}
#kronolithNewEvent:hover,
#kronolithQuickEvent:hover {
    border-color: #888;
    color: #222;
}

#kronolithSearch {
    border: 1px #c0c0c0 solid;
    padding-left: 4px;
}

/* Edit dialog. */
div.kronolithTags {
    max-height: 75px;
    overflow: auto;
    font-size: 7pt;
    line-height: 20px;
}
div.kronolithTags span {
    padding: 2px 4px;
    background-color: #fff;
    border: 1px #c0c0c0 solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 7pt;
    color: #202020;
}
div.kronolithTags span:hover {
    color: #202020;
}

/* Quick edit. */
#kronolithQuickinsert {
    top: 100px;
    left: 150px;
    padding-top: 6px;
    width: 425px;
    line-height: 16pt;
    background: transparent url('graphics/kronolithSprites.png') -338px -19px no-repeat;
    font-size: .9em;
    letter-spacing: 0.1em;
    color: #222;
}
#kronolithQuickinsert form {
    margin: 0;
    padding: 10px;
    line-height: 2em;
    background-color: #f8faf8;
    border: 5px #666 solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0px 0px 15px #888;
    -webkit-box-shadow: 0px 0px 15px #888;
    box-shadow: 0 0 15px #888;
}
#kronolithQuickinsert label {
    color: #666;
}
#kronolithQuickinsert select {
    width: 125px;
}

/* ini dialog */
.kronolithDialog {
    padding: 10px 0; /* was 0, changed because of form */
    width: 650px;
    background-color: #f8faf8;
    border-color: #ccc;
    border-width: 5px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    color: #666;
}
.kronolithDialog h4 {
    display: none;
    margin-bottom: 10px;
    padding: 3px 10px 7px;
    background-color: #aaa;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-radius: 4px 4px 0 0;
    font-size: 1.2em;
    color: #222;
}
.kronolithDialog form {
    margin: 0 auto;
    padding: 0; /*10px 15px; was 0 15px when using h4 */
    width: 620px;
}
.kronolithDialog div {
    margin-bottom: 10px;
}
.kronolithDialog label img {
	vertical-align: text-bottom;
}
.KeyNavList {
	bottom: 0;
	margin: 3px 0 0 5px;
	border: 3px #aaa solid;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.KeyNavList ul li {
	padding: 4px 20px 4px 4px;
}
.KeyNavList ul li:hover,
.KeyNavList ul li.selected,
.KeyNavList ul li.selected:hover {
	background-color: #666;
}

.kronolithDialog a {
    text-decoration: none;
}
.kronolithDialog a.kronolithEventGeo {
    font-weight: bold;
}
.kronolithDialog table {
    border-collapse: collapse;
}
.kronolithDialog td {
    vertical-align: middle;
}
#kronolithCalendarinternalColor {
    text-align: center;
}
.kronolithDialog br.clear {
    display: none;
}

/* ini still testing */
.kronolithDialog .tabset {
    margin: 15px 0 5px;
    height: 25px;
}
.kronolithDialog .tabset .kronolithSeparator {
    float: left;
    margin-right: 5px;
}
.kronolithDialog .tabset ul {
   float: left;
   margin-right: 5px;
   height: 25px;
}
.kronolithDialog .tabset li {
   margin: 0 1px 0 0;
   height: 20px;
   line-height: 20px;
   border: 1px #dadada solid;
}
.kronolithDialog .tabset li:first-child {
   -moz-border-radius: 4px 0 0 4px;
   -webkit-border-radius: 4px 0 0 4px;
   -webkit-border-top-left-radius: 4px;
   -webkit-border-bottom-left-radius: 4px;
   border-radius: 4px 0 0 4px;
}
.kronolithDialog .tabset li:last-child {
   -moz-border-radius: 0 4px 4px 0;
   -webkit-border-radius: 0 4px 4px 0;
   -webkit-border-top-right-radius: 4px;
   -webkit-border-bottom-right-radius: 4px;
   border-radius: 0 4px 4px 0;
}
.kronolithDialog .tabset li:first-child:last-child {
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
}
.kronolithDialog .tabset .activeTab {}
.kronolithDialog .tabset li a {
   padding: 0 14px;
   background: none;
   border: none;
   color: #606060;
   font-size: .85em;
   text-transform: uppercase;
}
.kronolithDialog .tabset li.activeTab a {
   background: none;
   color: #202020;
}
.kronolithFormActions {
    position: relative;
}

.kronolithTabsOption {
    clear: both;
    line-height: 2em;
}
#kronolithEventDescription {
    overflow-x: hidden;
}
.kronolithDialogInfo,
.kronolithDialogWarning,
.kronolithDialogHelp {
    padding-top: 1px;
    padding-bottom: 1px;
    line-height: 1.4em;
    background-image: url('graphics/kronolithSprites.png');
    background-position: -200px -158px;
    color: #666;
}
.kronolithDialogInfo.infoNoIcon {
    padding-left: 0;
    background-image: none;
}
.kronolithDialogWarning {
    padding-top: 1px;
    padding-bottom: 1px;
    background-image: url('graphics/kronolithSprites.png');
    background-position: -136px -206px;
}
.kronolithDialogWarning strong {
    color: #a00;
}
.kronolithDialogHelp {
    float: right;
    line-height: 23px;
    background-image: none;
}
.kronolithFormActions .kronolithDialogHelp {
    float: none;
    position: absolute;
    top: 50%;
    right: 0;
	margin-top: -8px;
}
.kronolithDialogHelp a {
    display: block;
    overflow: hidden;
    width: 16px;
	height: 16px;
    background: transparent url('graphics/kronolithSprites.png') -248px -94px no-repeat;
    text-align: left;
    text-indent: -9999px;
}

#kronolithEventDates br, #kronolithEventBasics br {
    display: none;
}

#kronolithEventTabAttendees table {
	border-collapse: collapse;
}
#kronolithEventTabAttendees th,
#kronolithEventTabAttendees td {
    padding: inherit;
    width: 16px;
    height: 16px;
    line-height: 16px;
    border: 2px transparent solid;
    font-size: .9em;
}
.kronolithCPAdvanced th,
.kronolithCPAdvanced td {
    height: 17px;
    line-height: 17px;
    font-size: .95em;
}

#kronolithEventTabAttendees th,
.kronolithCPAdvanced th {
    padding: 0;
    background-color: #d4d4d4;
}
#kronolithEventTabAttendees th:first-child,
.kronolithCPAdvanced th:first-child {
    background-color: #666;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-radius: 4px 0 0 4px;
    color: #fff;
}
#kronolithEventTabAttendees th:last-child,
.kronolithCPAdvanced th:last-child {
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-radius: 0 4px 4px 0;
}
#kronolithEventTabAttendees th:first-child:last-child,
.kronolithCPAdvanced th:first-child:last-child {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
#kronolithEventTabAttendees th.night {
    background-color: #bbb;
}
.kronolithCPAdvanced th,
.kronolithCPAdvanced td {
    padding-left: 4px;
}
#kronolithEventAttendeesList td {
	padding-right: 0;
    border-color: solid;
}
#kronolithEventTabAttendees td.kronolithAttendeeAccepted,
#kronolithEventTabAttendees td.kronolithAttendeeDeclined,
#kronolithEventTabAttendees td.kronolithAttendeeTentative,
#kronolithEventTabAttendees td.kronolithAttendeeNone {
    background-image: url('graphics/kronolithSprites.png');
}
#kronolithEventTabAttendees td.kronolithAttendeeAccepted {
    background-position: -232px -126px;
}
#kronolithEventTabAttendees td.kronolithAttendeeDeclined {
    background-position: -120px -222px;
}
#kronolithEventTabAttendees td.kronolithAttendeeTentative {
    background-position: -104px -238px;
}
#kronolithEventTabAttendees td.kronolithAttendeeNone {
    background-position: -88px -254px;
}

.kronolithCPAdvanced td {
    padding-top: 4px;
    padding-bottom: 4px;
    width: auto;
    white-space: nowrap;
}
#kronolithFBLoading {
    top: 95px;
}
table .kronolithFBFree,
table .kronolithFBBusy {
    position: static !important !important;
}
table .kronolithFBUnknown {
	background-color: transparent;
    background-image: url('graphics/kronolithSprites.png');
	background-position: -248px -78px;
}

.hordeACListMember {
    height: 20px;
    line-height: 20px;
    padding: 0 0 0 5px;
}
.hordeACListItem {
    position: relative;
    float: left;
    margin: 3px 0 0 3px;
    padding-right: 20px;
    border-color: #ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.hordeAcTrigger {
	margin: 3px 0 0 3px;
	height: 18px;
	line-height: 18px;
}
#kronolithAttendeesACTriggerContainer {
    margin: 3px 0 0 3px;
}
.hordeACListItem:hover {
    border-color: #aaa;
}
.hordeACListItem .hordeACItemRemove {
    position: absolute;
	top: 50%;
    right: 1px;
    margin: -8px 0 0 0;
    padding: 8px;
    width: 0;
    height: 0;
    vertical-align: inherit;
    overflow: hidden;
    background: transparent url('graphics/kronolithSprites.png') -280px -78px no-repeat;
}
#kronolithEventTopTags div {
    margin-bottom: 0;
}
.kronolithTopTags span {
    float: left;
    margin: 0 0 2px 2px;
    padding: 0 8px;
    height: 20px;
    line-height: 20px;
    border-color: #ccc;
}
.kronolithTopTags span:hover {
    border-color: #aaa;
}

#kronolithEventTabMap {
    width: 100%;
    overflow: hidden;
}
#kronolithEventMap {
    width: 650px;
}

#kronolithCalendarinternalExport,
#kronolithCalendartasklistsExport,
#kronolithEventExport {
    padding: 1px 0 2px 20px;
    background: transparent url('graphics/kronolithSprites.png') -168px -174px no-repeat;
    font-weight: bold;
}

a.cancel {
    color: #808080 !important;
}

/* end still testing */

/* end dialog */

/* ini forms */
form {
    font-size: 1em;
    line-height: 1.6em;
}
label { white-space: nowrap; }
fieldset { border-color: #c0c0c0; }
.legend, legend {
    border-bottom-width: 1px !important;
    font-weight: bold;
    text-transform: uppercase;
}
input,
textarea,
select,
.hordeACBox {
    padding: 2px 0;
    vertical-align: 0;
    letter-spacing: 0;
    background-color: #fff;
    border: 1px #e0e0e0 solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
input:hover,
textarea:hover,
select:hover,
input:focus,
textarea:focus,
select:focus {
    -moz-box-shadow: 0 0 4px #ddd;
    -webkit-box-shadow: 0 0 4px #ddd;
    box-shadow: 0 0 4px #ddd;
}
input[disabled],
textarea[disabled],
select[disabled],
input[disabled]:hover,
textarea[disabled]:hover,
select[disabled]:hover {
    background-color: #f4f4f4;
    color: #222;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.kronolithFormActions input[disabled],
.kronolithFormActions input[disabled]:hover {
    border: 1px #c0c0c0 solid;
}
.hordeACTrigger:hover,
.hordeACTrigger:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.hordeACTrigger:focus,
.hordeACTrigger:active {
    border: none;
}
textarea {
    letter-spacing: .1pt;
}
input[type='radio'] {
    vertical-align: middle;
	background-color: transparent;
    border: none;
}
input[type='checkbox'] {
    vertical-align: 0;
	background-color: transparent;
    border: none;
}
select {
    padding-right: 2px;
    cursor: pointer;
}
option {
    display: block !important;
}

.button {
    padding: 2px 4px;
    border: 1px #c0c0c0 solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #444;
    font-weight: bold;
    font-size: .95em;
    text-transform: none;
    text-shadow: 0 1px 0 #fff;
    cursor: pointer;
}
.button:hover,
.button:active { border-color: #808080; }
.button.ok { color: #458a3e; }
.button.ko { color: #a00; }
.button.cancel { color: #606060; }
.button.disabled { color: #a0a0a0; }
.button.disabled:hover { background: inherit; }
.button.help { background: #406ad6; border: 1px navy solid; color: #fff; cursor: help; }

#kronolithQuickinsertForm .button,
#kronolithEventDialog .button,
.kronolithFormActions .button {
    padding: 2px 20px;
}

a.kronolithFormCancel {
    color: #666;
}
#kronolithQuickinsertForm .kronolithDialogInfo {
    margin: 5px 0;
    line-height: 16px;
}

/* ini caption and nav */
#kronolithBody caption,
#kronolithViewTasks caption.tabset,
#services_prefs .header {
    float: none;
    margin: 0 2px 5px;
    width: auto;
    height: 22px;
    line-height: 22px;
    border: 1px #d5df7b solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #660;
    cursor: default;
}
#kronolithBody caption, #kronolithViewTasks caption.tabset, x:-moz-any-link, x:default {
    height: 24px;
}
#kronolithBody caption span,
#services_prefs .header span {
    padding: 0 5px;
}

/*
 * nav between
 */
#kronolithBody caption .kronolithNavigation {
    top: 1px;
    right: 1px;
    padding: 0;
}
#kronolithBody caption .kronolithNavigation, x:-moz-any-link, x:default {
    top: 2px;
    right: 4px;
}
#kronolithBody caption .kronolithNavigation ul {
    margin-top: 3px;
}
#kronolithViewTasks .tabset li,
#kronolithViewAgenda .tabset li {
    margin-right: 0;
    margin-left: 1px;
}
#kronolithBody caption .kronolithNavigation span {
    padding: 0;
}

.kronolithPrint,
.kronolithGotoToday,
#kronolithMenu a.kronolithAdd,
.kronolithPrev, #kronolithMinicalPrev,
.kronolithNext, #kronolithMinicalNext,
.option,
#kronolithViewTasks caption.tabset li a,
#kronolithViewAgenda caption.tabset li a,
.hordeCalendarPopup thead a {
    position: absolute;
    top: 0;
    margin-left: 3px;
    padding: 3px 6px;
    width: auto;
    height: 12px;
    line-height: 12px;
    border: 1px #ccc solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 1em;
    color: #666;
    text-indent: 0;
    text-decoration: none !important;
    text-transform: none;
    text-align: center;
    cursor: pointer;
    text-shadow: none;
}
#kronolithMinicalPrev,
#kronolithMinicalNext,
#kronolithMenu a.kronolithAdd {
    height: 10px;
    line-height: 10px;
}
#kronolithMenu a.kronolithAdd {
    top: auto !important;
    right: 1px;
    bottom: 2px;
    font-weight: bold;
}
#kronolithMenu a.kronolithAdd:hover {
    color: #222;
}
.kronolithPrint:hover,
.kronolithGotoToday:hover,
#kronolithBody caption .kronolithToday:hover,
.kronolithAdd:hover,
#kronolithMinicalPrev:hover,
#kronolithMinicalNext:hover,
.kronolithPrev:hover,
.kronolithNext:hover,
#kronolithViewTasks caption.tabset li a:hover,
#kronolithViewAgenda caption.tabset li a:hover,
.hordeCalendarPopup thead a:hover {
    border-color: #aaa !important;
    color: #222;
}

#kronolithViewTasks caption.tabset li a,
#kronolithViewAgenda caption.tabset li a {
    position: static;
    margin-left: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
#kronolithViewTasks caption.tabset li a#kronolithTasksAll,
#kronolithViewAgenda caption.tabset li a#kronolithSearchAll {
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-radius: 4px 0 0 4px;
}
#kronolithViewTasks caption.tabset li a#kronolithTasksFuture,
#kronolithViewAgenda caption.tabset li a#kronolithSearchFuture {
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-radius: 0 4px 4px 0;
}
#kronolithViewTasks caption.tabset li.activeTab a,
#kronolithViewAgenda caption.tabset li.activeTab a {
    border-color: #aaa;
}
#kronolithViewTasks .kronolithAddTask {
    line-height: 12px;
    border: 1px #aaa solid;
    font-weight: bold;
    color: #666;
    text-shadow: 1px 1px 2px #fff;
}
#kronolithViewTasks .kronolithAddTask:hover {
    border-color: #666;
    color: #222;
}
.kronolithAddTask .kronolithAddTaskIcon {
    width: 12px;
    height: 12px;
    overflow: hidden;
    background-image: url('graphics/kronolithSprites.png');
	background-position: -200px -144px;
}

.kronolithGotoToday {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.kronolithPrev,
#kronolithMinicalPrev {
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-radius: 4px 0 0 4px;
}
.kronolithNext,
#kronolithMinicalNext {
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-radius: 0 4px 4px 0;
}
#kronolithMinicalPrev,
#kronolithMinicalNext {
    top: 1px;
    right: 1px;
}
#kronolithMinicalPrev, #kronolithMinicalNext, x:-moz-any-link, x:default {
    top: 5px;
    right: 5px;
}
#kronolithMinicalPrev {
    right: 23px;
}
#kronolithMinicalPrev, x:-moz-any-link, x:default {
    right: 27px;
}

.kronolithPrint,
.kronolithGotoToday,
.kronolithPrev,
.kronolithNext {
    position: static;
    margin-left: 1px;
}
.kronolithPrint {
    margin-left: 5px;
}
.kronolithPrint span {
    opacity: .5;
    width: 12px;
    height: 12px;
    background-image: url('graphics/kronolithSprites.png');
	background-position: -298px -48px;
	background-repeat: no-repeat;
}
.kronolithPrint:hover span {
    opacity: 1;
}
/* end caption and nav */

/* ini Mini calendar */
.kronolithMinical {
    padding: 4px;
    background-color: #f4f4f4;
    border: 1px solid #e2e2e2;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.kronolithMinical table {
    width: 100%;
	border-collapse: separate;
    border-spacing: 1px;
}
.kronolithMinical caption {
    margin: 0 !important;
    background-color: #fff !important;
    background-image: none !important;
    border: none !important;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #666 !important;
}
.kronolithMinical caption span {
    padding: 0 5px;
    font-size: .9em;
}
.kronolithMinical th,
.kronolithMinical td.kronolithMinicalWeek  {
    width: 18px;
    height: 14px;
    line-height: 14px;
    background: none;
    border-width: 0 !important;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #666;
    cursor: default;
}
.kronolithMinical th {
    font-weight: bold;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-radius: 4px 4px 0 0;
}
.kronolithMinical td.kronolithMinicalWeek {
    cursor: pointer;
}
.kronolithMinical th.kronolithMinicalEmpty {
    background-color: transparent;
}
.kronolithMinical tbody td,
.kronolithMinical .kronolithMinicalEmpty,
.hordeCalendarPopup tbody td {
    height: 16px;
    line-height: 16px;
    background-color: #fff;
    border-width: 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.kronolithMinical .kronolithMinicalEmpty,
.kronolithMinical .kronolithMinicalEmpty.kronolithSelected {
    background-color: #f0f0f0;	
}
.hordeCalendarPopup tbody td.hordeCalendarEmpty {
    background-color: #e9e9e9;
}
.hordeCalendarPopup tbody td.hordeCalendarEmpty {
	background-color: transparent;
}
.kronolithMinical .kronolithSelected,
.hordeCalendarPopup .hordeCalendarCurrent,
.hordeCalendarPopup tbody td:hover {
	background-color: #fafad0;
}
.hordeCalendarPopup tbody td.hordeCalendarEmpty:hover {
	background-color: inherit;
}
.kronolithMinical .kronolithToday,
.hordeCalendarPopup td.hordeCalendarToday,
.hordeCalendarPopup td.hordeCalendarToday a {
   background-color: #cc0 !important;
   color: #000;
}
.kronolithMinical .kronolithMinicalEmpty.kronolithToday {
	background-color: #f0f0f0 !important;
	color: #ccc;
}
.kronolithMinical .kronolithIsBusy,
.kronolithMinical .kronolithToday.kronolithIsBusy {
   background-color: #660 !important;
   color: #fff;
}

#kronolithMinical {
    clear: left;
    top: 10px;
    background-color: #e0eb86;
    border-color: #d5df7b;
}
#kronolithMinical caption {
    color: #660 !important;
}
#kronolithMinical th,
#kronolithMinical td.kronolithMinicalWeek {
    color: #660;
}
/*
#kronolithMinical .kronolithMinicalEmpty {
    background-color: #e0eb86;
}
*/
#kronolithViewYear .kronolithMinical {
    margin: 10px;
    width: 170px;
}
#kronolithYear3,
#kronolithYear6,
#kronolithYear9 {
    clear: left;
}
/* end Mini calendar */

/* ini calendarPopup */
#hordeCalendar {
	z-index: 99999;
}
table.hordeCalendarPopup {
    padding: 20px 4px 4px;
    width: auto;
    background-color: #e9e9e9; /* was #e0eb86 */
    border-color: #ccc; /* #d5df7b */
    border-width: 2px;
    border-spacing: 1px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
table.hordeCalendarPopup thead a {
/*    float: right; */
    position: relative;
    margin-left: 0;
    
    background: none;
    border: none;
    font-size: 1.8em;
}
table.hordeCalendarPopup thead td,
table.hordeCalendarPopup thead th {
    border-bottom: none;
    color: #660;
}
table.hordeCalendarPopup thead th {
/*    padding-top: 5px; */
	padding: 2px 0;
	background-color: #999;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	text-transform: uppercase;
}
table.hordeCalendarPopup thead td {
    padding: 0;
    background-color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-transform: uppercase;
}
/*
table.hordeCalendarPopup thead td:first-child {
    background-color: transparent;
}
*/
table.hordeCalendarPopup .hordeCalendarClose {
    position: absolute;
    z-index: 105;
    top: 4px;
    right: 8px;
    padding: 0;
    width: 16px;
    height: 16px;
    overflow: hidden;
    background: transparent url('graphics/kronolithSprites.png') -1174px -122px no-repeat;
    border: none;
    text-indent: -9999px;
}
table.hordeCalendarPopup tbody td {
    empty-cells: show;
    width: 20px;
    font-size: .9em;
    text-align: center;
}
table.hordeCalendarPopup tbody a {
    padding: 0;
    color: #888;
}
table.hordeCalendarPopup tbody a:hover {
    background: inherit;
    text-decoration: none;
}
table.hordeCalendarPopup td.today a,
.hordeCalendarPopup .hordeCalendarCurrent a {
    color: inherit;
}
/* end calendarPopup */


/* More main view */
table.kronolithView {
    margin-left: 0;
	border-collapse: separate;
}
table.kronolithView td {
    background-color: #fff;
    border-color: #e2e2e2;
}
table.kronolithView .kronolithNight td {
    background-color: #f4f4f4;
}
table.kronolithView #kronolithAgendaNoItems td,
table.kronolithView #kronolithTasksNoItems td {
    background-color: transparent;
    border-width: 0;
    font-style: italic;
}
table.kronolithView td.kronolithFirstCol {
    width: 30px;
    vertical-align: middle !important;
    background-color: #d9d9d9;
    border-color: #ccc;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-radius: 4px 0 0 4px;
    font-size: .9em;
    color: #666;
}
table.kronolithView td.kronolithFirstCol span {
    -moz-transform: none;
    -webkit-transform: none;
    white-space: normal;
}
.kronolithViewHead {
    margin-right: 17px;
}
.kronolithViewHead, x:-moz-any-link, x:default {
    margin-right: 15px;
}
.kronolithViewHead thead td,
#kronolithViewMonthHead td {
    background-color: #d9d9d9;
    border-color: #ccc;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-radius: 4px 4px 0 0;
    color: #222;
}
#kronolithViewMonthHead td {
    cursor: default;
}

.kronolithViewHead thead td span {
    white-space: nowrap;
}
.kronolithViewHead thead td.kronolithFirstCol,
#kronolithViewMonthHead .kronolithFirstCol {
    background-color: transparent;
    border-color: transparent;
}

.kronolithViewBody {
    top: 135px;
}
.kronolithViewBody, x:-moz-any-link, x:default {
    top: 135px;
}
.kronolithCorner {
    margin: 0 1px 1px 0;
}
.kronolithDay {
    background-color: #f7f7f7;
    border-style: solid;
    border-color: #e2e2e2;
    border-width: 0 1px 1px 0;
    -moz-border-radius: 0 0 4px 0;
    -webkit-border-radius: 0 0 4px 0;
    border-radius: 0 0 4px 0;
    color: #666;
}
table.kronolithView td.kronolithOtherMonth,
.kronolithOtherMonth .kronolithDay {
    background-color: #f4f4f4;
}
.kronolithMore {
    color: #369;
}
.kronolithMore:hover {
    color: #036;
}

#kronolithEventsDay {
    left: 37px;
    right: 3px;
}
#kronolithEventsWeek {
    left: 35px;
    right: 1px;
}

/* ini fmt: solves handles overlap problem */
div.kronolithEvent img {
	margin-left: 3px;
	vertical-align: -2px;
}
div.kronolithEvent .kronolithEventInfo {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    line-height: 14px;
}
div.kronolithEvent .kronolithDragger.kronolithDraggerTop,
.kronolithDraggerTop.drag {
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-radius: 4px 4px 0 0;
}
div.kronolithEvent .kronolithDragger.kronolithDraggerBottom,
.kronolithDraggerBottom.drag {
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-radius: 0 0 4px 4px;
}
/* end fmt: solves handles overlap problem */

/* ini labels */
.label {
 	line-height: 13px;
	color: #606060;
 	text-shadow: #fff 1px 1px 2px;
 	cursor: default;
}
thead .label {
	padding-top: 5px;
 	padding-right: 16px;
	background: #e3e3e3 url('../images/label.png') right 0 no-repeat;
	border: none;
	border-left: 1px #dedede solid;
}
tbody td.label {
	padding-top: 5px;
	padding-right: 5px;
	text-align: right;
}
.label.left {
	text-align: left;
}
.label a {
	font-size: 7pt;
}
td label {
	font-weight: normal;
	text-transform: none;
}
.label label {
	font-weight: bold;
	text-transform: uppercase;
}
.label label a {
	font-size: 8.5pt;
}
/* end labels */

/* ini fmt */

/* sidemenu and minical */
#kronolithSearch {
   width: 140px;
}

/* views */
#kronolithViewMonthContainer {
   top: 53px;
}
/*
#kronolithViewMonthContainer, x:-moz-any-link, x:default {
   top: 53px;
}
*/

.kronolithToday {
    background-color: #f8fcd9 !important;
    border-color: #d5df7b !important;
}
.kronolithToday .kronolithDay {
    background-color: #e7ecc5;
    border-color: #d5df7b;
}

.kronolithAllDay td {
    height: 70px;
    background-color: #fffffa;
}

/* ini notifications */
#Growler {
    position: absolute !important;
    z-index: 50000 !important;
    top: 75px;
    right: inherit !important;
    left: 50%;
    bottom: auto !important;
    max-height: inherit !important;
    margin-left: -250px;
    padding: 0 !important;
    width: 500px;
    cursor: default;
}
#GrowlerLog {
    position: inherit;
    left: inherit;
    bottom: inherit !important;
    width: inherit;
    max-height: inherit;
}
#GrowlerLog > div {
    position: fixed;
    z-index: 50000;
    top: 45px;
    bottom: 25px;
    left: 50%;
    margin-left: -270px;
    padding: 10px;
    width: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f8faf8;
    border: 10px #666 solid;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 0 0 30px #666;
    -webkit-box-shadow: 0 0 30px #666;
    box-shadow: 0 0 30px #666;
}
.GrowlerNoticeExit {
	width: 16px;
	height: 16px;
	background: transparent url('graphics/kronolithSprites.png') -280px -78px no-repeat;
	overflow: hidden;
	text-indent: -9999px;
	cursor: pointer;
}
#GrowlerLog .GrowlerNoticeExit {
	background-position: -120px -206px;
}
#GrowlerLog .GrowlerNoticeExit:hover {
	background-position: -280px -78px;
}
#GrowlerLog ul {
    position: relative;
}
#GrowlerLog li,
#GrowlerLog ul li,
#GrowlerLog ul li:last-child {
    position: relative;
	margin: 0 0 10px 0;
	padding: 0 20px 10px;
	line-height: 16px;
    background-color: transparent !important;
    border-width: 0 0 1px 0 !important;
    border-color: #ccc !important;
    border-style: dotted;
    font-size: 1.05em;
    color: #222 !important;
    cursor: default;
}
#GrowlerLog ul li:last-child {
    border-bottom-width: 0 !important;
}
#GrowlerLog ul div {
    display: block;
}
#GrowlerLog li.GrowlerInfo,
#GrowlerLog li.GrowlerNoAlerts {
	padding-left: 0;
	background-color: transparent;
}
#GrowlerLog span.GrowlerAlertDate {
    display: block;
    padding: 0;
    color: #888;
}
#GrowlerLog .GrowlerNoticeExit {
	position: absolute;
	top: 0;
	right: 0;
}

#Growler div.GrowlerNotice {
    opacity: 1 !important;
    margin-top: 0;
    padding-left: 10px;
    width: auto;
	background-image: none;
    border-width: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 0 0 30px #666;
    -webkit-box-shadow: 0 0 30px #666;
    box-shadow: 0 0 30px #666;
    font-size: 1.05em;
}
#Growler div.GrowlerNotice .GrowlerNoticeBody {
	line-height: 16px;
	padding: 0 20px;
	background-repeat: no-repeat;
}
#GrowlerLog li a,
#Growler div.GrowlerNotice a {
    color: #fff;
    text-decoration: underline;
}
#GrowlerLog li a {
	color: #036;
}
#Growler div.horde-error .GrowlerNoticeBody,
#GrowlerLog li.horde-error {
   background-image: url('graphics/kronolithSprites.png');
   background-position: -264px -94px;
}
#Growler div.horde-message {
   border-color: #036;
}
#Growler div.horde-message .GrowlerNoticeBody,
#GrowlerLog li.horde-message {
   background-image: url('graphics/kronolithSprites.png');
   background-position: -216px -142px;
}
#Growler div.horde-success .GrowlerNoticeBody,
#GrowlerLog li.horde-success {
   background-image: url('graphics/kronolithSprites.png');
   background-position: -232px -126px;
}
#Growler div.horde-warning {
   background-color: #ffc;
   border-color: #f2b600;
}
#Growler div.horde-warning .GrowlerNoticeBody,
#GrowlerLog li.horde-warning {
   background-image: url('graphics/kronolithSprites.png');
   background-position: -248px -110px;
}
#Growler div.horde-warning a,
#GrowlerLog li.horde-warning a {
   color: #222;
}
#Growler div.horde-alarm {
    background-color: #f2d479;
    border-color: #666;
}
#Growler div.horde-alarm .GrowlerNoticeBody {
    background-image: url('graphics/kronolithSprites.png');
    background-position: -296px -62px;
    color: #222;
}
#Growler div.horde-alarm a {
    color: #222;
}
#GrowlerLog li.NoAlerts {
    padding-left: 10px;
}
/* end notifications */

/* ini print */
@media print {
    body,
    body.kronolithAjax {
        background: #fff;
	overflow: visible;
    }
    #kronolithHeader {
        position: static;
	display: block;
	padding-bottom: 10px;
    }
    #kronolithLogo {
        position: static;
    }
    #bsu_container.bsu_pt,
    #bsu_root,
    #kronolithLoading,
    #kronolithServices,
    .kronolithNavigation,
    .kronolithAddTask,
    sapoAds {
        display: none !important;
    }
    #kronolithViewMonthContainer {
        top: 93px;
    }
    .kronolithViewHead {
        margin-right: 0;
    }
    .kronolithViewBody {
        position: static;
        top: 155px;
	bottom: auto;
	overflow-y: visible;
    }
    #kronolithYear4, #kronolithYear8 {
        clear: none;
    }
    #kronolithYear3, #kronolithYear6, #kronolithYear9 {
        clear: left;
    }
    #kronolithViewTasks caption.tabset,
    #kronolithViewAgenda caption.tabset {
        display: block;
    }
}
/* end print */


/* ini prefs */
/* there are 1 or 2 settings scattered around, but always starting with services_prefs */
#services_prefs #menu {
    display: none;
}
#services_prefs .header {
    padding: 0;
    font-size: 1em;
}
#services_prefs .header .smallheader {
    display: none; /* hides prefs for apps other than kronolith */
}
#services_prefs .header .button,
#services_prefs .header .smallheader .button {
    font-size: .85em;
}
#services_prefs .button {
    padding: 2px 10px;
}
#services_prefs .prefsOverview div {
    float: none;
    width: auto !important;
    cursor: default;
}
#services_prefs .prefsOverview div div {
    padding-left: 0;
}
#services_prefs .prefsOverview h2 {
    margin-bottom: 10px;
    padding: 0 5px;
    height: 22px;
    line-height: 22px;
    background-color: #fff;
    border: 1px #dadada solid;
    -moz-border-radius: 4px;
    -webkit-border-radius 4px;
    border-radius: 4px;
    font-size: 1em;
}
#services_prefs .prefsOverview dl {
    margin-left: 10px;
    font-size: 1.05em;
}
#services_prefs .prefsOverview dt {
    float: left;
}
#services_prefs .prefsOverview dt a {
    padding: 0 5px 0 16px;
    height: 2em;
    line-height: 16px;
    background: transparent url('graphics/kronolithSprites.png') -328px -30px no-repeat;
    border: none;
    font-weight: normal;
}
#services_prefs .prefsOverview dd {
    padding: 0;
    height: 2em;
    line-height: 16px;
    background: none;
    border: none;
    color: #888;
    font-style: italic;
}
#services_prefs #prefs .header {
    margin-bottom: 0;
    padding-left: 6px;
    padding-right: 6px;
    background-position: 0 0;
    border-color: #ccc;
    color: #666;
}
#services_prefs div.prefsContainer {
    line-height: 2em;
    background-color: transparent;
}
#services_prefs #prefs div.prefsContainer .header {
    margin-bottom: 10px;
}
#services_prefs div.prefsContainer div {
    margin-bottom: 5px;
}
#services_prefs #notifyParams {
    margin-top: 5px;
}
#services_prefs .headerbox {
    background: none;
    border: none;
}
#services_prefs .control {
/* almost the same as kronolithDialogInfo */
    margin: 10px 0;
    padding-left: 20px;
    line-height: 1.4em;
    background: transparent url('graphics/kronolithSprites.png') -200px -158px no-repeat;
    border: none;
    color: #666;
}
#services_prefs div.prefsContainer p {
    padding-top: inherit;
}
#services_prefs .text {
    padding: 2px 8px;
    border: 1px #ccc solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
/* end prefs */


/* ini ads */
#kronolithBody {
    right: 180px;
}
#sapoAds {
    position: absolute;
    top: 70px;
    right: 10px;
    bottom: 10px;
    width: 160px;
    overflow: hidden;
}
.sapoAdsBack {
	position: absolute;
	z-index: 0;
	top: 0;
	bottom: 0;
	width: 158px;
	background-color: #dad5c0;
	border: 1px #ccc7b4 solid;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
.sapoAdsLogo {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -32px;
	margin-left: -40px;
	width: 80px;
	height: 64px;
    background: transparent url('graphics/kronolithSprites.png') -24px -78px no-repeat;
}
#sapoAds iframe {
	position: absolute;
	z-index: 2;
}

/* end ads */


/* ini grads
 * grey
 */
#kronolithNav a,
span#kronolithNewEvent,
#kronolithMenu a.kronolithAdd,
#kronolithMenu div.kronolithCalendars .kronolithCalEdit,
.kronolithPrint,
.kronolithGotoToday,
.kronolithPrev,
.kronolithNext,
#kronolithMinicalPrev,
#kronolithMinicalNext,
#kronolithViewTasks .kronolithAddTask,
#kronolithViewTasks caption.tabset li a,
#kronolithViewAgenda caption.tabset li a,
.hordeCalendarPopup thead a,
.kronolithDialog .tabset li,
.option,
.button,
.kronolithTopTags span,
.hordeACListItem {
	background-color: #f0f0f0;
	background-image: none;
	background-image: -moz-linear-gradient(top, #fefefe, #dbdbdb);
	background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#fefefe),to(#dbdbdb));
	border: 1px #ccc solid;
}
/*
 * light grey inverse, search
 */
#kronolithSearchTerm {
	background-color: #fff;
	background-image: none;
	background-image: -moz-linear-gradient(top, #f3f3f3, #fefefe);
	background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#f3f3f3),to(#fefefe));
}
/*
 * dark grey, quickevent
 */
span#kronolithQuickEvent {
	background-color: #9d9c9a;
	background-image: none;
	background-image: -moz-linear-gradient(top, #dedede, #9d9c9a);
	background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#dedede),to(#9d9c9a));
	border: 1px #888 solid;
}
/*
 * grey inverse, selected
 */
#kronolithNav a.on,
.kronolithDialog .tabset .activeTab,
#kronolithViewTasks caption.tabset li.activeTab a,
#kronolithViewAgenda caption.tabset li.activeTab a {
	background-color: #fafafa;
	background-image: none;
	background-image: -moz-linear-gradient(top, #9d9c9a, #dedede);
	background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#9d9c9a),to(#dedede));
	border: 1px #ccc solid;
}
/*
 * green
 */
#kronolithBody caption,
#kronolithViewTasks caption.tabset,
#services_prefs .header {
	background-color: #f0f2a7;
	background-image: none;
	background-image: -moz-linear-gradient(top, #f0f2a7, #d3d968);
	background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#f0f2a7),to(#d3d968));
	border: 1px #d3d968 solid;
}
/* end grads */
