#ctx_folder_sub span.iconImg, #ctx_folder_unsub span.iconImg, #ctx_folderopts_sub span.iconImg, #ctx_folderopts_unsub span.iconImg {
    background-image: url("../graphics/folders/explore.png");
}
#sidebar span.col, #ctx_folderopts_collapse span.iconImg, #ctx_container_collapse span.iconImg, #ctx_folder_collapse span.iconImg {
    background-image: url("../graphics/folders/minus.png");
}
#sidebar span.exp, #ctx_folderopts_expand span.iconImg, #ctx_container_expand span.iconImg, #ctx_folder_expand span.iconImg {
    background-image: url("../graphics/folders/plus.png");
}

#attach_list div, span.attachmentImg {
    background-image: url("../graphics/attachment.png");
}

.header {
    border-left: 1px solid #999;
    border-right: 1px solid #999;
}

.tabset li#quota {
    background: none;
}

.dimpActions, .msgfullread .msgHeaders, .msgwrite {
    border-top: none;
}

span.infoIcon {
    background-image: url("../graphics/info_icon.png");
}
span.filtersIcon {
    background-image: url("../graphics/filters.png");
}
span.hordeIcon {
    background-image: url("../graphics/horde.png");
}
span.prefsIcon {
    background-image: url("../graphics/prefs.png");
}
span.logoutIcon {
    background-image: url("../graphics/logout.png");
}

span.dimpactionReply {
    background-image: url("../graphics/reply.png");
}
span.dimpactionForward {
    background-image: url("../graphics/forward.png");
}
span.dimpactionSpam {
    background-image: url("../graphics/spam.png");
}
span.dimpactionHam {
    background-image: url("../graphics/ham.png");
}
span.dimpactionCompose {
    background-image: url("../graphics/compose.png");
}
span.dimpactionCheckmail {
    background-image: url("../graphics/checkmail.png");
}
span.dimpactionRefresh {
    background-image: url("../graphics/reload.png");
}
span.dimpactionDelete {
    background-image: url("../graphics/delete.png");
}
span.dimpactionOther {
    background-image: url("../graphics/plus.png");
}
span.dimpactionSpellcheck {
    background-image: url("../graphics/spellcheck.png");
}
span.dimpactionDrafts {
    background-image: url("../graphics/drafts.png");
}
span.dimpactionEditsearch {
    background-image: url("../graphics/edit.png");
}

/* Context menu images */
#ctx_message_reply span.iconImg {
    background-image: url("../graphics/reply.png");
}
#ctx_reply_reply span.iconImg, #ctx_reply_reply_all span.iconImg, #ctx_reply_reply_list span.iconImg {
    background-image: url("../graphics/replyall.png");
}
#ctx_message_forward span.iconImg, #ctx_forward_attach span.iconImg, #ctx_forward_body span.iconImg, #ctx_forward_both span.iconImg, #ctx_forward_redirect span.iconImg {
    background-image: url("../graphics/forward.png");
}
#ctx_folder_empty span.iconImg, #ctx_message_deleted span.iconImg, #oa_purge_deleted span.iconImg {
    background-image: url("../graphics/delete.png");
}
#ctx_message_undeleted span.iconImg, #oa_undeleted span.iconImg {
    background-image: url("../graphics/undelete.png");
}
#ctx_folder_seen span.iconImg {
    background-image: url("../graphics/mail_seen.png");
}
#ctx_folder_unseen span.iconImg, #ctx_folder_poll span.iconImg, #ctx_folder_nopoll span.iconImg {
    background-image: url("../graphics/mail_unseen.png");
}
#ctx_message_setflag span.iconImg, #oa_setflag span.iconImg, #ctx_folder_setflag span.iconImg {
    background-image: url("../graphics/mail_flagged.png");
}
#ctx_message_unsetflag span.iconImg, #oa_unsetflag span.iconImg {
    background-image: url("../graphics/mail_clearflag.png");
}
#ctx_message_resume span.iconImg, #msg_resume_draft span.iconImg {
    background-image: url("../graphics/mail_draft.png");
}
#oa_preview_hide span.iconImg, #oa_preview_show span.iconImg {
    background-image: url("../graphics/preview.png");
}
#oa_layout_horiz span.iconImg {
    background-image: url("../graphics/application_tile_vertical.png");
}
#oa_layout_vert span.iconImg {
    background-image: url("../graphics/application_tile_horizontal.png");
}
#oa_selectall span.iconImg {
    background-image: url("../graphics/tick.png");
}
#ctx_folder_create span.iconImg, #ctx_container_create span.iconImg, #ctx_folderopts_new span.iconImg {
    background-image: url("../graphics/folders/create.png");
}
#ctx_folder_rename span.iconImg, #ctx_container_rename span.iconImg, #ctx_vcontainer_edit span.iconImg, #ctx_vfolder_edit span.iconImg {
    background-image: url("../graphics/folders/edit.png");
}
#ctx_folder_delete span.iconImg, #ctx_vfolder_delete span.iconImg {
    background-image: url("../graphics/folders/delete.png");
}
#ctx_message_spam span.iconImg {
    background-image: url("../graphics/spam.png");
}
#ctx_message_ham span.iconImg {
    background-image: url("../graphics/ham.png");
}
#ctx_message_blacklist span.iconImg, #oa_blacklist span.iconImg {
    background-image: url("../graphics/blacklist.png");
}
#ctx_message_whitelist span.iconImg, #oa_whitelist span.iconImg {
    background-image: url("../graphics/whitelist.png");
}
#ctx_message_source span.iconImg, #msg_view_source span.iconImg {
    background-image: url("../graphics/message_source.png");
}
#ctx_contacts_new span.iconImg {
    background-image: url("../graphics/compose.png");
}
#ctx_contacts_add span.iconImg {
    background-image: url("../graphics/add_contact.png");
}
#ctx_folderopts_reload span.iconImg {
    background-image: url("../graphics/reload.png");
}

/* Other images */
#msg_newwin span.iconImg, #msg_newwin_options span.iconImg {
    background-image: url("../graphics/newwin.png");
}

#qsearch_icon {
    background-image: url("../graphics/search.png");
}

#th_expand span.iconImg, #partlist_col, #msgloglist_col {
    background-image: url("../graphics/arrow_collapsed.png");
}
#th_collapse span.iconImg, #partlist_exp, #msgloglist_exp {
    background-image: url("../graphics/arrow_expanded.png");
}

span.popdownImg, span.spellcheckPopdownImg {
    background-image: url("../graphics/popdown.png");
}
span.readonlyImg {
    background-image: url("../graphics/locked.png");
}

#Growler div.imp-reply {
    background-image: url("../graphics/mail_answered.png");
}
#Growler div.imp-reply_all, span.imp-reply_all {
        background-image: url("../graphics/replyall.png");
}
#Growler div.imp-forward, #Growler div.imp-redirect {
    background-image: url("../graphics/mail_forwarded.png");
}
