.DS_Store
.buildpath
.cache
.project
.settings
*~
.#*
*.bak
*.orig
*.rej

# Ignore testing files
run-tests.log
framework/*/tests/*.diff
framework/*/tests/*.exp
framework/*/tests/*.log
framework/*/tests/*.out
framework/*/tests/*.php
framework/*/test/*/*/*.diff
framework/*/test/*/*/*.exp
framework/*/test/*/*/*.log
framework/*/test/*/*/*.out
framework/*/test/*/*/*/*.diff
framework/*/test/*/*/*/*.exp
framework/*/test/*/*/*/*.log
framework/*/test/*/*/*/*.out
!framework/File_CSV/tests/common.php
!framework/Image/tests/swf.php
!framework/Image/tests/gd.php
!framework/Image/tests/im.php
!framework/Image/tests/runtest.php
!framework/Image/tests/svg.php
!framework/SyncML/tests/testpacket.php
!framework/SyncML/tests/testsync.php
!framework/XML_WBXML/tests/decode.php
framework/Alarm/test/Horde/Alarm/conf.php
framework/Db/test/Horde/Db/Adapter/conf.php
framework/Kolab_Storage/test/Horde/Kolab/Storage/conf.php
framework/Ldap/test/Horde/Ldap/conf.php

# Dynamically generated content that may live in the repo directories
/lib/
/libs/
/horde/libs/
/horde/static/*.*
/horde/static/gc_*

# Ignore locally defined config
*/config/*.old
*/config/*.php
*/config/*.txt
framework/bin/*.conf
!horde/config/nls.php
horde/config/registry.d/*.php

# Application specific excludes
ApertureToAnselExportPlugin/build/
ApertureToAnselExportPlugin/ApertureToAnselExportPlugin.xcodeproj/*.pbxuser
!ApertureToAnselExportPlugin/ApertureToAnselExportPlugin.xcodeproj/default.pbxuser
ApertureToAnselExportPlugin/ApertureToAnselExportPlugin.xcodeproj/*.perspectivev3
ApertureToAnselExportPlugin/*.pbxproject
ApertureToAnselExportPlugin/Installer/*.pkg

framework/Rdo/examples/Horde/Rdo/conf.php

iPhoto2Ansel/build/
iPhoto2Ansel/iPhoto2Ansel.xcodeproj/*.pbxuser
!iPhoto2Ansel/iPhoto2Ansel.xcodeproj/default.pbxuser
iPhoto2Ansel/iPhoto2Ansel.xcodeproj/*.perspectivev3
iPhoto2Ansel/*.pbxproject
iPhoto2Ansel/Installer/*.pkg
