# Add tracking hash to config files
*/config/conf.xml  ident
*/config/*.dist    ident

# Ignore CRLF
framework/Icalendar/examples/Horde/Icalendar/*.ics            -crlf
framework/Icalendar/examples/Horde/Icalendar/*.vcs            -crlf
framework/Icalendar/tests/fixtures/vTimezone/*                -crlf
framework/Ldap/test/Horde/Ldap/fixtures/unsorted_w50_WIN.ldif -crlf
turba/lib/tests/importCRLF.ldif                               -crlf
