.DS_Store
.cache
.project
.settings
.buildpath
run-tests.log
/framework/*/tests/*.diff
/framework/*/tests/*.exp
/framework/*/tests/*.log
/framework/*/tests/*.out
/framework/*/tests/*.php
*~
.#*
*.orig
*.rej

# Ignore locally defined config
*/config/*.php
*/config/*.txt

# Application specific excludes
ApertureToAnselExportPlugin/build/
ApertureToAnselExportPlugin/ApertureToAnselExportPlugin.xcodeproj/*.pbxuser
!ApertureToAnselExportPlugin/ApertureToAnselExportPlugin.xcodeproj/default.pbxuser
ApertureToAnselExportPlugin/ApertureToAnselExportPlugin.xcodeproj/*.perspectivev3
ApertureToAnselExportPlugin/*.pbxproject
ApertureToAnselExportPlugin/Installer/*.pkg

framework/Rdo/examples/Horde/Rdo/conf.php

iPhoto2Ansel/build/
iPhoto2Ansel/iPhoto2Ansel.xcodeproj/*.pbxuser
!iPhoto2Ansel/iPhoto2Ansel.xcodeproj/default.pbxuser
iPhoto2Ansel/iPhoto2Ansel.xcodeproj/*.perspectivev3
iPhoto2Ansel/*.pbxproject
iPhoto2Ansel/Installer/*.pkg

