# Add tracking hash to config files
*/config/conf.xml  ident
*/config/*.dist    ident

# Ignore CRLF
framework/Icalendar/doc/Horde/Icalendar/examples/*.ics            -crlf
framework/Icalendar/doc/Horde/Icalendar/examples/*.vcs            -crlf
framework/Icalendar/test/Horde/Icalendar/fixtures/*.ics           -crlf
framework/Icalendar/test/Horde/Icalendar/fixtures/*.vcf           -crlf
framework/Icalendar/test/Horde/Icalendar/fixtures/vTimezone/*.ics -crlf
framework/Ldap/test/Horde/Ldap/fixtures/unsorted_w50_WIN.ldif     -crlf
framework/Mail/test/Horde/Mail/fixtures/*                         -crlf
kronolith/test/Kronolith/fixtures/*.ics                           -crlf
turba/test/Turba/ToDo/importCRLF.ldif                             -crlf
