.DS_Store
libs
.cache
.project
.settings
.buildpath
run-tests.log
*~
.#*
*.orig
*.rej

# Ignore locally defined HORDE_BASE config
*/config/*.local.php
*/lib/base.local.php

# Don't store compressed JS files in git
*/js/*.js

# Application specific patterns
chora/config/*.php
framework/Rdo/examples/Horde/Rdo/conf.php
gollem/config/*.php
iPhoto2Ansel/build/
iPhoto2Ansel/iPhoto2Ansel.xcodeproj/*.pbxuser
!iPhoto2Ansel/iPhoto2Ansel.xcodeproj/default.pbxuser
iPhoto2Ansel/iPhoto2Ansel.xcodeproj/*.perspectivev3
iPhoto2Ansel/*.pbxproject
imp/config/*.php
imp/config/*.txt
ingo/config/*.php
jeta/config/*.php
kronolith/config/*.php
turba/config/*.php
