<?php
/**
 * Turba hooks configuration file.
 *
 * THE HOOKS PROVIDED IN THIS FILE ARE EXAMPLES ONLY.  DO NOT ENABLE THEM
 * BLINDLY IF YOU DO NOT KNOW WHAT YOU ARE DOING.  YOU HAVE TO CUSTOMIZE THEM
 * TO MATCH YOUR SPECIFIC NEEDS AND SYSTEM ENVIRONMENT.
 *
 * For more information please see the horde/config/hooks.php.dist file.
 *
 * $Id$
 */

class Turba_Hooks
{
    /**
     * Sets the user's personal address book as the default address book.
     *
     * While this is not necessary for most features, some might rely on a
     * default to be set.
     *
     * @param string $username  The username.
     *
     * @return string  The share id of the default address book.
     */
//     public function default_dir($username = null)
//     {
//         if (!$username || empty($_SESSION['turba']['has_share'])) {
//             return;
//         }
//
//         require TURBA_BASE . '/config/sources.php';
//         $shares = Turba::listShares(true);
//
//         foreach ($shares as $uid => $share) {
//             $params = @unserialize($share->get('params'));
//             if (empty($params['source'])) {
//                 continue;
//             }
//
//             try {
//                 $driver = Turba_Driver::factory($params['source'], $cfgSources[$params['source']]);
//                 if ($driver->checkDefaultShare($share, $cfgSources[$params['source']])) {
//                     return $uid;
//                 }
//             } catch (Turba_Exception $e) {}
//         }
//     }
// }

    /**
     * Called when we store a value.
     *
     * @param string $attribute      Attribute name.
     * @param string $new            New value.
     * @param string $old            Old value.
     * @param Turba_Object $contact  Contact object.
     *
     * @return string  The encoded value.
     */
//     public function encode_attribute($attribute, $new, $old, $contact)
//     {
//         switch ($attribute) {
//         case 'password':
//             /* Passwords should be MD5 encoded, but not displayed. */
//             return (is_null($new) || ($new == '') || ($new == '[Not Displayed']))
//                 ? $old
//                 : hash('md5', $new);
//         }
//
//         return $new;
//     }

    /**
     * Called when we display a value.
     *
     * @param string $attribute      Attribute name.
     * @param string $new            New value.
     * @param string $old            Old value.
     * @param Turba_Object $contact  Contact object.
     *
     * @return string  The decoded value.
     * @throws Turba_Exception  Thrown if there is nothing to decode.
     */
//     public function decode_attribute($attribute, $value, $contact)
//     {
//         switch ($attribute) {
//         case 'password':
//             /* Passwords should be MD5 encoded, but not displayed. */
//             return (strstr($_SERVER['PHP_SELF'], 'editobject'))
//                 ? null
//                 : '[Not Displayed]';
//         }
//
//         throw new Turba_Exception('No decode handler.');
//     }

}
