<?php
/**
 * Decide which output drivers you want to activate for Turba.
 * Settings in this file override settings in horde/config/mime_drivers.php.
 *
 * $Id$
 */
$mime_drivers_map['turba']['registered'] = array();

/**
 * If you want to specifically override any MIME type to be handled by
 * a specific driver, then enter it here. Normally, this is safe to
 * leave, but it's useful when multiple drivers handle the same MIME
 * type, and you want to specify exactly which one should handle it.
 */
$mime_drivers_map['turba']['overrides'] = array();

/**
 * Driver specific settings. See horde/config/mime_drivers.php for
 * the format.
 */
