<if:smimeactive>
 <div>
  <input type="checkbox" id="use_smime" name="use_smime" checked="checked" />
  <label for="use_smime"><gettext>Enable S/MIME functionality?</gettext></label>
  <tag:use_smime_help />
 </div>
 <div>
  <p>
   <em class="redText"><gettext>NOTE:</gettext></em> <gettext>S/MIME support requires popup windows to be used.  If your browser is currently set to disable popup windows, you must change this setting or else the S/MIME features will not work correctly.</gettext>
  </p>
 </div>
<if:verify_notlocked>
 <div>
  <input type="checkbox" id="smime_verify" name="smime_verify"<if:smime_verify> checked="checked"</if:smime_verify> />
  <label for="smime_verify"><gettext>Should S/MIME signed messages automatically be verified when viewed?</gettext></label>
  <tag:smime_verify-help />
 </div>
</if:verify_notlocked>

 <p>
  <input type="submit" name="save" class="button" onclick="document.prefs.actionID.value='save_options'; return true;" value="<gettext>Save Options</gettext>" />
  <input id="prefs_return" type="button" name="back" class="button" onclick="document.location.href='<tag:prefsurl />'" value="<gettext>Return to Options</gettext>" />
 </p>
</div>

<br class="spacer" />

<div class="header">
 <ul><li><tag:manage_pubkey-help /></li></ul>
 <gettext>S/MIME Public Keyring</gettext>
</div>

<div class="prefsContainer item">
 <div>
<if:empty_pubkey_list>
  <em><gettext>No Keys in Keyring</gettext></em>
<else:empty_pubkey_list>
  <table>
<loop:pubkey_list>
   <tr>
    <td><tag:pubkey_list.name /> (<tag:pubkey_list.email />)</td>
    <td>&nbsp;&nbsp;[<tag:pubkey_list.view /><gettext>View</gettext></a>]&nbsp;[<tag:pubkey_list.info /><gettext>Details</gettext></a>]&nbsp;[<tag:pubkey_list.delete /><gettext>Delete</gettext></a>]</td>
   </tr>
</loop:pubkey_list>
  </table>
</else:empty_pubkey_list></if:empty_pubkey_list>
 </div>

 <div>
<if:no_file_upload>
  <em class="redText"><gettext>Key import is not available. File upload is not enabled on this server.</gettext></em>
<else:no_file_upload>
<if:no_source>
  <em><gettext>Key import is not available. You have no address book defined to add your contacts.</gettext></em>
<else:no_source>
  <p>
   <input type="submit" name="save" class="button" onclick="<tag:public_import_url />return false;" value="<gettext>Import Public Key</gettext>" />
   <tag:import_pubkey-help />
  </p>
</else:no_source></if:no_source></else:no_file_upload></if:no_file_upload>
 </div>
</div>

<br class="spacer" />

<div class="header">
 <ul><li><tag:personalkey-help /></li></ul>
 <gettext>Your S/MIME Public/Private Certificate</gettext>
</div>

<div class="prefsContainer item">
<if:secure_check>
<if:has_key>
 <div>
  <table>
   <tr>
    <td><gettext>Your Public Key:</gettext></td>
    <td>&nbsp;&nbsp;[<tag:viewpublic /><gettext>View</gettext></a>]&nbsp;[<tag:infopublic /><gettext>Details</gettext></a>]</td>
   </tr>
   <tr>
    <td><gettext>Your Private Key:</gettext></td>
    <td>&nbsp;&nbsp;[<tag:passphrase /></a>]&nbsp;[<tag:viewprivate /><gettext>View</gettext></a>]</td>
   </tr>
  </table>
 </div>

 <p>
  <input type="submit" name="delete" class="button" onclick="if (confirm('<tag:deletekeypair />')) { document.prefs.actionID.value='delete_key'; return true; } else { return false; }" value="<gettext>Delete Current Keys</gettext>" />
  <tag:personalkey-delete-help />
 </p>
<else:has_key>
<if:no_file_upload>
 <div>
  <em class="redText"><gettext>Certificate import is not available. File upload is not enabled on this server.</gettext></em>
 </div>
<else:no_file_upload>
 <div>
  <em class="redText"><gettext>No certificate available.</gettext></em>
 </div>
 <p>
  <input type="submit" name="save" class="button" onclick="<tag:personal_import_url />return false;" value="<gettext>Import Keypair</gettext>" />
  <tag:import-cert-help />
 </p>
</else:no_file_upload></if:no_file_upload>
</else:has_key></if:has_key>
<else:secure_check>
 <div>
  <em><gettext>S/MIME Personal Keypair support requires a secure web connection.</gettext></em>
 </div>
</else:secure_check></if:secure_check>
<else:smimeactive>
<if:use_smime_locked>
 <div>
  <em><gettext>S/MIME support is disabled on this system.</gettext></em>
 </div>
<else:use_smime_locked>
 <div>
  <input type="checkbox" id="use_smime" name="use_smime" />
  <tag:use_smime_label />
  <tag:use_smime_help />
 </div>
</else:use_smime_locked></if:use_smime_locked>

 <p>
  <input type="submit" name="save" class="button" onclick="document.prefs.actionID.value='save_options'; return true;" value="<gettext>Save Options</gettext>" />
  <input id="prefs_return" type="button" name="back" class="button" onclick="document.location.href='<tag:prefsurl />'" value="<gettext>Return to Options</gettext>" />
 </p>
</else:smimeactive></if:smimeactive>
</div>
</form>
