/* Mailbox */
#mailbox .ui-btn-innner {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}
#mailbox .ui-grid-a .ui-li-desc {
    margin: 0;
}
.imp-mailbox-more a {
    text-align: center;
}
.imp-mailbox-date {
    float: right;
}
.imp-mailbox-secondrow {
    font-size: 80%;
    font-weight: normal;
    padding: 0 2.5em 0.688em 0.938em;
}
.imp-mailbox-from {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.imp-mailbox-deleted a {
    text-decoration: line-through !important;
}
.imp-mailbox-seen a {
    font-weight: normal;
}

.divSwipe a {
    font-weight: bold;
    margin-top: 0.938em;
}
.divSwipe span.ui-btn-inner {
    padding-right: 1.25em;
}

/* Message */
#imp-message-headers {
    margin-top: 0;
}
#imp-message-headers div.ui-collapsible-content {
    overflow: hidden;
}
.imp-header-label {
    font-weight: bold;
    padding-right: 0.313em;
    vertical-align: top;
}
.imp-header-label-value {
    width: 100%;
}
.imp-message-atc {
    margin-bottom: 0;
}
#imp-message-date {
    font-size: 90%;
    font-weight: normal;
    padding-left: 0.5em;
}
.imp-message-spacer {
    margin: 0.75em;
}

/* Compose */
.imp-compose-atc {
    margin-bottom: 0;
}
#imp-compose-message {
    height: auto;
}

@media all and (min-width:450px) {
    .imp-compose-addr-div {
        display: inline-block;
        width: 78%;
    }
    .imp-compose-addr-div div.ui-input-text {
        width: 100%;
    }
}

#imp-compose-upload-container {
    position: relative;
}
#imp-compose-upload-container input {
    height: 1%;
    left: 50%
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 1%;
}

/* Style for HTML data iframe. */
.htmlMsgData {
    width: 100%;
}

/* MIME part display. */
.mimePartData .fixed {
    font-size: 90%;
}

/* Mime Viewer styles. */
.mimeHeaders {
    border: 0.063em solid #ccc;
    background: #f9f9f9;
    display: inline-block;
    margin: 0.313em 0 0.188em 0;
    padding: 0.313em;
}
.mimePartWrap, .mimePartWrapValid, .mimePartWrapInvalid {
    border: 0.063em solid #d0d0d0;
    margin: 0.125em 0;
    padding: 0.625em;
}

/* Notification styles. */
#horde-notification {
    bottom: 3.125em;
}
