<?php
/**
 * MIME Viewer configuration for Chora.
 *
 * Settings in this file override settings in horde/config/mime_drivers.php.
 * All drivers configured in that file, but not configured here, will also
 * be used to display MIME content.
 *
 * $Id$
 */

/* By default, Chora uses the default Horde-wide settings contained in
 * horde/config/mime_drivers.php. */
