<input type="hidden" name="acl_folder" value="<tag:folder />" />

<if:hasacl>
<div>
 <h3><tag:current /></h3>
</div>

<table class="prefsAclTable">
 <tr>
  <th class="item" width="<tag:width />">
   <h4>
    <strong><gettext>User</gettext></strong>
   </h4>
  </th>
<loop:rights>
  <th class="item" width="<tag:width />">
   <h4>
    <span class="prefsAclHeader" title="<tag:rights.desc />"><tag:rights.title /></span>
   </h4>
  </th>
</loop:rights>
 </tr>
<loop:curr_acl>
 <tr>
  <td class="item">
<if:curr_acl.negative>
   <span class="prefsAclNegative"><tag:curr_acl.negative /></span>
   <span class="prefsAclNegativeLabel"><gettext>Negative Right</gettext></span>
<else:curr_acl.negative>
   <tag:curr_acl.index />
</else:curr_acl.negative></if:curr_acl.negative>
  </td>
<loop:curr_acl.rule>
  <td class="item" align="center">
   <input type="checkbox" class="checkbox" name="acl[<tag:curr_acl.index />][]" value="<tag:curr_acl.rule.val />"<if:curr_acl.rule.on> checked="checked"</if:curr_acl.rule.on><if:curr_acl.rule.disable> disabled="disabled"</if:curr_acl.rule.disable> />
  </td>
</loop:curr_acl.rule>
 </tr>
</loop:curr_acl>

<if:canedit>
 <tr>
  <td class="item">
   <label for="new_user" class="hidden">New User</label>
<if:noadmin>
   <input id="new_user" type="text" name="new_user" />
<else:noadmin>
   <select id="new_user" name="new_user">
<loop:new_user>
    <option><tag:new_user /></option>
</loop:new_user>
   </select>
</else:noadmin></if:noadmin>
  </td>
<loop:rights>
  <td class="item" align="center">
   <input type="checkbox" name="new_acl[]" class="checkbox" value="<tag:rights.val />" />
 </td>
</loop:rights>
 </tr>
</if:canedit>
</table>
</if:hasacl>

<div>
 <span class="iconImg folderImg"></span>
 <select id="aclfolder" name="folder">
  <tag:options />
 </select>
 <input type="submit" name="change_acl_folder" class="button" value="<gettext>Change Folder</gettext>" />
</div>
