<input type="hidden" name="flag_action" id="flag_action" />
<input type="hidden" name="flag_data" id="flag_data" />
<table class="flagmanagement">
 <thead>
  <tr>
   <td><gettext>Label</gettext></td>
   <td><gettext>Icon</gettext></td>
   <td class="colorheader"><gettext>Color</gettext></td>
  </tr>
 </thead>
 <tbody>
<loop:flags>
  <tr>
   <td>
<if:flags.imapp>
<if:flags.locked>
    <tag:flags.label />
<else:flags.locked>
    <input name="<tag:flags.label_name />" value="<tag:flags.label />" />
</else:flags.locked></if:flags.locked>
<else:flags.imapp>
    <tag:flags.label />
</else:flags.imapp></if:flags.imapp>
   </td>
   <td class="flagicon">
<if:flags.imapp><else:flags.imapp>
    <tag:flags.icon />
</else:flags.imapp></if:flags.imapp>
   </td>
   <td>
<if:flags.locked><else:flags.locked>
    <input type="hidden" id="<tag:flags.colorid />" name="<tag:flags.colorid />" value="<tag:flags.color />" />
    <div class="msgflags flagUser" style="<tag:flags.colorstyle />"></div>
    <a class="flagcolorpicker" href="#"><tag:picker_img /></a>
<if:flags.flag_del>
    <a class="flagdelete" href="#"><span class="deleteImg"></span></a>
</if:flags.flag_del>
</else:flags.locked></if:flags.locked>
   </td>
  </tr>
</loop:flags>
 </tbody>
</table>

<if:userflags_notlocked>
<div>
 <input id="new_button" type="button" class="button" value="<gettext>New Flag</gettext>" />
</div>
</if:userflags_notlocked>
