<input type="hidden" name="searches_action" id="searches_action" />
<input type="hidden" name="searches_data" id="searches_data" />

<if:vfolders>
<table class="searchesmanagement">
 <thead>
  <tr>
   <td><gettext>Virtual Folder</gettext></td>
   <td><gettext>Enabled?</gettext></td>
   <td><gettext>Actions</gettext></td>
  </tr>
 </thead>
 <tbody>
<loop:vfolders>
  <tr>
   <td>
<if:vfolders.enabled>
<if:vfolders.m_url>
    <tag:vfolders.m_url /><tag:vfolders.label /></a>
<else:vfolders.m_url>
    <span class="vfolderenabled"><tag:vfolders.label /></span>
</else:vfolders.m_url></if:vfolders.m_url>
<else:vfolders.enabled>
    <tag:vfolders.label />
</else:vfolders.enabled></if:vfolders.enabled>
   </td>
   <td class="enabled">
    <input class="checkbox" type="checkbox" name="enable_<tag:vfolders.key />"<if:vfolders.enabled> checked="checked"</if:vfolders.enabled><if:vfolders.enabled_locked> disabled="disabled"</if:vfolders.enabled_locked> />
   </td>
   <td>
<if:vfolders.edit>
    <a class="vfolderedit" href="<tag:vfolders.edit />"><span class="iconImg editImg"></span></a>
    <a class="vfolderdelete" href="#"><span class="iconImg deleteImg"></span></a>
<else:vfolders.edit>
     <gettext>No Actions Available</gettext>
</else:vfolders.edit></if:vfolders.edit>
   </td>
  </tr>
  <tr>
   <td colspan="3" class="fixed searchdescription">
    <tag:vfolders.description />
   </td>
</loop:vfolders>
 </tbody>
</table>
</if:vfolders>

<if:filters>
<table class="searchesmanagement">
 <thead>
  <tr>
   <td><gettext>Filter</gettext></td>
   <td><gettext>Enabled?</gettext></td>
   <td><gettext>Actions</gettext></td>
  </tr>
 </thead>
 <tbody>
<loop:filters>
  <tr>
   <td>
    <tag:filters.label />
   </td>
   <td class="enabled">
    <input class="checkbox" type="checkbox" name="enable_<tag:filters.key />"<if:filters.enabled> checked="checked"</if:filters.enabled><if:filters.enabled_locked> disabled="disabled"</if:filters.enabled_locked> />
   </td>
   <td>
<if:filters.edit>
    <a class="filteredit" href="<tag:filters.edit />"><span class="iconImg editImg"></span></a>
    <a class="filterdelete" href="#"><span class="iconImg deleteImg"></span></a>
<else:filters.edit>
     <gettext>No Actions Available</gettext>
</else:filters.edit></if:filters.edit>
   </td>
  </tr>
  <tr>
   <td colspan="3" class="fixed searchdescription">
    <tag:filters.description />
   </td>
</loop:filters>
 </tbody>
</table>
</if:filters>

<if:nosearches>
<div>
 <em><gettext>No Saved Searches Defined.</gettext></em>
</div>
</if:nosearches>
