form.horde-form {
    font-size: 100%;
    font-weight: normal;
}

form.horde-form input[type="text"], form.horde-form input[type="password"],
form.horde-form select, form.horde-form textarea {
    width: 130px;
    margin: .2em 0 .1em .1em;
}

form.horde-form input[type="text"], form.horde-form input[type="password"], form.horde-form textarea {
    padding: .1em;
}

.clear {
    clear: both;
}

.horde-form fieldset {
    padding: .5em;
    margin: 0;
    border: 1px solid #ccc;
}

.horde-form fieldset.form-buttons {
    color: #000;
    background: #ccc;
    border: 1px solid #aaa;
}

fieldset legend {
    color: #000;
    background: #ccc;
    padding: .5em;
    margin-bottom: -1em;
    border: 1px solid #999;
    border-bottom: none;
    font-weight: bold;
}

fieldset.form-section {
    padding: .5em;
    margin: .5em 0;
}

.form-button, .form-button-upload {
    font-size: 90%;
}

.form-colorpicker {
    float: left;
}
.form-colorpicker img {
    border: 0;
    padding: 0;
    margin: 2px;
    height: 16px;
    width: 16px;
}
.form-colorpicker input {
    width: 100px;
    clear: none;
}
.form-colorpicker-palette {
    display: none;
    margin: 2px;
}

.form-description {
    padding: 8px;
}

.form-error, .form-error-example {
    color: #f00;
}

p.form-error {
    background-color: #f00;
    color: #fff;
    padding: 3px;
    border: 1px solid #000;
    margin: auto 70px;
}

div.form-error {
    background-color: #ffffe1;
    background-image: url("graphics/required.png");
    background-repeat: no-repeat;
    background-position: top left;
    color: #000;
}

.form-hint {
    display: block;
    margin: 0 0 5px 142px;
    padding: 1px 3px;
    font-size: 88%;
}

.form-header {
    vertical-align: bottom;
    font-weight: bold;
}

.form-image-preview-blank {
    width: 50px;
    height: 40px;
    vertical-align: top;
}

.form-inline {
    display: inline;
}

.form-input {
    vertical-align: top;
    clear: both;
    padding: 4px;
    margin: 2px 0;
}

.form-input label {
    vertical-align: top;
    text-align: right;
    float: left;
    clear: left;
    display: block;
    width: 10em;
    padding: 0.3em;
}

.form-input label.form-inline {
    float: none;
    width: auto;
    display: inline;
}

.form-input ul, .form-input ol {
    list-style-type: none;
    display: block;
    float: left;
}

.form-input ul, .form-input ol, .form-input li {
    margin-top: 0;
    margin-left: 0;
    padding-top: 0;
    padding-left: 0;
}
.form-input ul {
    margin-bottom: .5em;
}

.form-input-address {
}

.form-input-assign {
}

.form-input-assign select, .form-input-assign div {
    display: inline;
    clear: none;
}

.form-input-checkbox {
    border: 0;
    height: 14px;
    width: 14px;
    background: transparent;
}

.form-input-text, .form-input-intlist, .form-input-octal, .form-input-int,
.form-input-number, .form-input-phone, .form-input-file {
    width: 100px;
}

.form-input-resize {
    width: 25px;
}

.form-input-stringlist {
    width: 150px;
}

.form-input-time {
    width: 30px;
}

.form-note {
    clear: left;
    width: 130px;
    height: auto;
    padding: .3em;
    margin: 0 0 0 10.7em;
    border: 1px solid #666;
    background-color: #ffc;
}
.form-note p {
    margin: 0;
    padding: 0;
    font-style: italic;
    font-size: 70%;
}

.form-required {
    background: url("graphics/required.png") .5em .5em no-repeat;
}

.form-required label {
    font-weight: bold;
}

.form-sectionhidden {
    position: absolute;
    left: 0;
    top: -500px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    display: block;
}

.form-sectionshown {
    display: block;
}

.form-spacer {
    padding: .9em;
}

.rowEven {
    background-color: #eef;
}
.rowOdd {
    background-color: #fff;
}

/* Form styles. */
.htmlarea .statusBar .statusBarTree a {
    font: inherit;
}
.htmlarea table {
    width: auto;
}
input, select {
}
input {
    padding: 1px;
}
option {
    padding: 0 5px 0 3px;
}

.button {
    font-size: 90%;
}
a.button {
    padding: 2px;
    font-weight: normal;
    text-decoration: none;
}
