<form method="post" id="messages" name="messages" action="<tag:mailbox_url />">
 <tag:sessiontag />
 <input type="hidden" name="mailbox" value="<tag:mailbox />" />
 <input type="hidden" name="mailbox_token" value="<tag:mailbox_token />" />
 <input type="hidden" name="page" value="<tag:page />" />
 <input type="hidden" id="actionID" name="actionID" value="" />
 <input type="hidden" id="targetMbox" name="targetMbox" value="" />
 <input type="hidden" id="newMbox" name="newMbox" value="0" />
 <input type="hidden" id="flag" name="flag" value="" />
 <input type="hidden" id="filter" name="filter" value="" />
