<form action="mailbox.php" method="get" name="menuform" id="menuform">
<tag:forminput />
<div id="menu">
<if:use_folders>
 <div class="rightFloat">
  <label for="mailbox">
   <select name="mailbox"<if:ak> accesskey="<tag:ak />"</if:ak>><tag:flist /></select>
  </label>
 </div>
 <div class="rightFloat">
  <ul>
   <li class="rightFloat" id="openfoldericon"><tag:flink /></li>
  </ul>
 </div>
</if:use_folders>
 <div class="leftFloat">
  <tag:menu_string />
 </div>
 <br class="clear" />
</div>
</form>
