<?php
/**
 * This file defines the templates used to generate Cover Page.
 */

$_covers['default'] = array(
    'name' => _("Default Cover Page"),
    'template' => '<table>
<tr>
  <th>From</th>
  <th>To</th>
  <th>Date</th>
</tr>

<loop:faxes>
<tr>
  <td><tag:faxes.from_name /></td>
  <td><tag:faxes.to_name /></td>
  <td><tag:faxes.date_created /></td>
</tr>
</loop:faxes>

</table>'
);
