<?php
/**
 * See horde/config/prefs.php for documentation on the structure of this file.
 *
 * $Id$
 */

$prefGroups['display'] = array(
    'column' => _("Other Preferences"),
    'label' => _("Display Preferences"),
    'desc' => _("Change display preferences such as how search results are sorted."),
    'members' => array('hylax_default_view')
);

// default view
$_prefs['hylax_default_view'] = array(
    'value' => 'summary',
    'locked' => false,
    'type' => 'enum',
    'enum' => array('summmary' => _("Summary"),
                    'folder' => _("Folders"),
                    'compose' => _("Compose")),
    'desc' => _("Select the view to display after login:")
);
