body {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    background: #fff;
}
a {
    color: #339;
}
.headerbox {
    border-color: #66a;
}
.selected {
    background: #C6D3FF;
}
.header {
    color: #fff;
    background: #66a;
    border-bottom: 1px solid #000;
}
.header a {
    color: #fff;
}
.header a:hover, a.header:hover {
    color: yellow;
    text-decoration: none;
}
a.header {
    border-bottom: 0;
    background: transparent;
}
a.fixed {
    color: #339;
}
.light {
    color: #333;
}
.smallheader {
    color: #fff;
    background: #66a;
    font-family: Verdana,Helvetica,sans-serif;
}
a.smallheader:hover {
    color: #cce;
    text-decoration: none;
}
.control {
    background: #ddd;
}
.widget {
    color: #224;
}

/* Form styles. */
input, select, textarea {
    color: #000;
    background: #f3f3f9;
    border: 1px solid #669;
}
input:focus, textarea:focus {
    background: #fff;
    border: 1px solid #99f;
}
.button, .button:focus {
    color: #fff;
    background: #66a;
    border: 1px solid #C4C4B8;
    border-bottom-color: #333;
    border-right-color: #000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.button:hover, .button:focus, a.button:hover, a.button:focus {
    background: #339;
}

/* Alternating styles. item0, item1 are deprecated. */
.rowEven, .item0 {
    background-color: #eef;
}
.rowOdd, .item1 {
    background-color: #fff;
}

/* Various popup and status layers. */
.tooltip, div.nicetitle {
    color: #fff;
    background: #66a;
    border: 2px double #fff;
}

/* Menu styles. */
#menu {
    color: #fff;
    background: #66a;
    border-bottom: 2px solid #000;
}
#menu a {
    color: #fff;
}
#menu a.current {
    background: #339;
    border-bottom: 1px solid #aac;
    border-right: 1px solid #aac;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    padding: 2px;
}
#menuBottom {
    background: #eef;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
}

/* Sidebar styles. */
body.sidebar {
    background: #fff;
}
#sidebarPanel {
    border-right: 1px solid #006;
    border-bottom: 1px solid #006;
    background: #e9e9ff;
}
#sidebarPanel span.toggle, #sidebarPanel a {
    padding: 4px;
}
#sidebarPanel a, #sidebarPanel span {
    color: #006;
}
#sidebarPanel a:hover {
    color: #fff;
    background: #66a;
}
#sidebarPanel a:hover span {
    color: #fff;
}
#expandButton {
    margin-right: 1px;
}

/* Tab styles. */
.tabset {
    background: none;
    border-bottom: 1px solid #66a;
}
.tabset li a {
    border: 1px solid #66a;
    border-bottom-color: #e9e9e9;
}
.tabset li.activeTab a {
    background: #66a;
    color: #fff;
    border-bottom: 1px solid #66a;
}
.tabset li.activeTab a:hover {
    background: #66a;
    color: #fff;
}
