a#hermesNotifications, #hermesNotifications:hover {
    background-image: url("graphics/alerts/message.png");
}
#hermesApplications a {
    background-image: none;
}
#hermesNavTime, #hermesNavTime:hover, #hermesNavTime.on {
    background-image: url("graphics/hermes.png");
}
#hermesNavCostObjects, #hermesNavCostObjects:hover, #hermesNavCostObjects.on {
    background-image: url("graphics/hermes.png");
}
#hermesNavClients, #hermesNavClients:hover, #hermesNavClients.on {
    background-image: url("graphics/clients.png");
}
#hermesNavTypes, #hermesNavTypes:hover, #hermesNavTypes.on {
    background-image: url("graphics/hermes.png");
}
#hermesNavSearch, #hermesNavSearch:hover, #hermesNavSearch.on {
    background-image: url("graphics/search.png"), url("graphics/menu.png");
}