/*****************
 * AJAX INTERFACE
 *****************/

/* Themed images. */
a#hermesNotifications {
    background: url("graphics/alerts/message.png"), url("graphics/menu.png");
}
a#hermesNotifications:hover {
    background: url("graphics/alerts/message.png"), url("graphics/menu-active.png");
}
#hermesNotifications.horde-error {
    background: url("graphics/alerts/error.png"), url("graphics/menu.png")
}
#hermesNotifications.horde-error:hover {
    background: url("graphics/alerts/error.png"), url("graphics/menu-active.png")
}
#hermesNotifications.horde-success {
    background: url("graphics/alerts/success.png"), url("graphics/menu.png")
}
#hermesNotifications.horde-success:hover {
    background: url("graphics/alerts/success.png"), url("graphics/menu-active.png")
}
#hermesNotifications.horde-warning {
    background: url("graphics/alerts/warning.png"), url("graphics/menu.png")
}
#hermesNotifications.horde-warning:hover {
    background: url("graphics/alerts/warning.png"), url("graphics/menu-active.png")
}
#hermesNotifications.hermesClose {
    background: url("graphics/close.png"), url("graphics/menu.png")
}
#hermesNotifications.hermesClose:hover {
    background: url("graphics/close.png"), url("graphics/menu-active.png")
}
#hermesMinicalNext, .hermesNext {
    background: url("graphics/right.png");
}
#hermesMinicalPrev, .hermesPrev {
    background: url("graphics/left.png");
}
#hermesHeader a {
    background-repeat: no-repeat, repeat-x;
    background-position: 3px center, left top;
}
#hermesHeader a:hover {
    background-repeat: no-repeat, repeat-x;
    background-position: 3px center, left top;
}
#hermesApplications a {
    background: url("graphics/menu.png") repeat-x left top;
/*    background-repeat: repeat-x;
    background-position: left top;*/
}
#hermesApplications a:hover {
    background: url("graphics/menu-active.png") repeat-x;
}
#hermesNavTime {
    background-image: url("graphics/hermes.png"), url("graphics/menu.png");
}
#hermesNavTime:hover, #hermesNavTime.on {
    background-image: url("graphics/hermes.png"), url("graphics/menu-active.png");
}
#hermesNavCostObjects {
    background-image: url("graphics/hermes.png"), url("graphics/menu.png");
}
#hermesNavCostObjects:hover, #hermesNavCostObjects.on {
    background-image: url("graphics/hermes.png"), url("graphics/menu-active.png");
}
#hermesNavClients {
    background-image: url("graphics/clients.png"), url("graphics/menu.png");
}
#hermesNavClients:hover, #hermesNavClients.on  {
    background-image: url("graphics/clients.png"), url("graphics/menu-active.png");
}
#hermesNavTypes {
    background-image: url("graphics/hermes.png"), url("graphics/menu.png");
}
#hermesNavTypes:hover, #hermesNavTypes.on {
    background-image: url("graphics/hermes.png"), url("graphics/menu-active.png");
}
#hermesNavSearch {
    background-image: url("graphics/search.png"), url("graphics/menu.png");
}
#hermesNavSearch:hover, #hermesNavSearch.on {
    background-image: url("graphics/search.png"), url("graphics/menu-active.png");
}
#hermesMenu a.hermesAdd {
  background: url("graphics/plus.png") no-repeat scroll right center transparent;
}
#hermesOptions {
    background-image: url("graphics/prefs.png"), url("graphics/menu.png");
}
#hermesOptions:hover {
    background-image: url("graphics/prefs.png"), url("graphics/menu-active.png");
}
#hermesLogout {
    background-image: url("graphics/logout.png"), url("graphics/menu.png");
}
#hermesLogout:hover {
    background-image: url("graphics/logout.png"), url("graphics/menu-active.png");
}
#hermesServices a.helplink {
    background-image: url("graphics/help.png"), url("graphics/menu.png");
}
#hermesServices a.helplink:hover {
    background-image: url("graphics/help.png"), url("graphics/menu-active.png");
}
/* Misc */
.hermesMinical td, .hermesMinical .hermesMinicalEmpty,
.hermesFirstCol {
    background-color: #efefef;
}
#hermesTimeFormCollapse {
    padding-right: 15px;
}
.hermesTimeFormShown {
   background: url("graphics/minus.png") no-repeat scroll left  transparent;
}
.hermesTimeFormHidden {
    background: url("graphics/plus.png") no-repeat scroll left transparent;
}