body, input, select, textarea {
    font-family: Tahoma, Verdana, Arial, sans-serif;
}
body {
    color: #111;
    font-size: 80%;
    padding: 8px;
}
a {
    color: #66a;
    text-decoration: none;
}
a:visited {
    color: #66a;
    text-decoration: none;
}
a:hover {
    color: #448;
    text-decoration: underline;
}

#menu {
    background: #063 url(graphics/horde-halfgear.png) no-repeat 80% top;
    color: #cfc;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}
#menu a {
    color: #cfc;
    font-size: 100%;
    font-weight: bold;
}
#menu .rightFloat {
    padding-right: 8px;
}
#menuBottom {
    margin-top: -16px;
    padding: 6px;
    padding-top: 12px;
    font-size: 100%;
    font-weight: bold;
    background-color: #063;
    color: #cfc;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
}
#menuBottom a {
    color: #cfc;
}
#menuBottom a:hover {
    text-decoration: underline;
}
#pageControls {
    right: 8px !important;
    background: #063 !important;
    border: none !important;
    padding: 6px !important;
    font-weight: bold;
    color: #cfc;
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}
#pageControls a {
    color: #cfc;
}

#sidebarPanel {
    background-color: #cfc;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}
#sidebarPanel a, #sidebarPanel span {
    color: #111;
    font-size: 100%;
}
#sidebarPanel strong {
    color: #063;
}

.tabset {
    background: none;
    border-bottom: 1px solid #063;
}
.tabset ul {
    padding-left: 0;
}
.tabset li a {
    background-color: #cfc;
    border-color: #cfc;
    color: #063;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
}
.tabset li.activeTab a {
    background-color: #063;
    border-color: #063;
    color: #fff;
}

.prefsOverview div div {
    padding-left: 0;
}
.prefsOverview dt a {
    color: #fff;
    background: #063;
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
}
.prefsOverview dd {
    color: #111;
    background: #cfc;
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
}

.item {
    background-color: #cfc;
}
.item th {
    color: #063;
}
.item th.sortup, .item th.sortdown {
    color: #111;
}
.striped, .rowEven, .item0 {
    background-color: #e9e9e9;
}
.rowOdd, .item1 {
    background-color: #f4f4f4;
}
.selected, .selected-control, .sortdown, .sortup {
    background-color: #e9e9e9 !important;
}
.treeRow.selected {
    background-color: #cfc !important;
}

.widget {
    font-size: 100%;
}

.control, .control a {
    background-color: #063;
    color: #fff;
    font-weight: bold;
}

.headerbox {
    border: none;
}

.notices {
    margin-left: 0;
    margin-right: 0;
}
.notices li, .notice {
    border: none;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}
