body {
    background: url(graphics/background.jpg) repeat;
    font-family: Helvetica Neue, Arial, Helvetica, Tahoma;
    font-size: 12px;
}
.body {
    background: #fff;
    border: 1px solid #d0d0d0;
    margin: 0 20px;
}

body,
th,
#sidebarPanel a, #sidebarPanel span,
.tabset li a,
.control,
.notices li, .notice {
    color: #797979;
}

hr {
    color: #d0d0d0;
}

a {
    color: #556aa1;
}

#menu {
    min-height: 0;
    margin: 20px;
    margin-bottom: 25px;
    padding-left: 15px;
    background-color: #fff;
    -moz-box-shadow: 2px 5px 2px #888;
    -webkit-box-shadow: 2px 5px 2px #888;
    box-shadow: 2px 5px 2px #888;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
#menu ul {
    padding: 0;
}
#menu li {
    height: 29px;
    border-right: 1px dashed #999;
    padding-top: 7px;
    padding-right: 4px;
}
#menu li:last-child {
    border-right-width: 0;
}
#menu a {
    font-size: 13px;
    color: #999;
    font-weight: bold;
    letter-spacing: -1px;
    text-transform: lowercase;
}
#menu a br {
    display: none;
}
#menu a img {
    margin-right: 5px;
}
#menu input, #menu select {
    margin-top: 10px;
}

#menuBottom {
    margin-top: -22px;
    margin-right: -1px;
    background: #fff;
    border: 1px solid #d0d0d0;
    border-bottom-width: 0;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#expandedSidebar {
    margin-right: 20px;
}
#sidebarPanel {
    background-color: #fff;
    border: 1px solid #d0d0d0;
    border-left-width: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
#sidebarPanel a, #sidebarPanel span {
    font-size: 12px;
}

.header {
    background: url(graphics/ribbon.png) no-repeat 0 0;
    position: relative;
    margin-top: 9px;
    margin-left: -9px;
    padding-top: 7px;
    padding-left: 24px;
    color: #fff;
    letter-spacing: -1px;
    font-size: 1.5em;
    font-weight: bold;
    height: 47px;
    line-height: 38px;
}
.header a {
    color: #fff;
}
.header img {
    vertical-align: middle;
}
.header .smallheader {
    letter-spacing: 0;
}

.headerbox {
    border: 1px solid #d0d0d0;
}
.headerbox .header {
    margin-top: 0;
}

#portal {
    border-spacing: 19px;
}
/*
.headerbox, table.nopadding td.headerbox {
    padding-left: 20px;
    border-color: #d0d0d0;
}
    margin-left: -29px;
}
*/

.tabset {
    background: url(graphics/background.jpg) repeat;
    border-bottom: 1px solid #d0d0d0;
    margin: -1px -1px 0 -1px;
}
.tabset li {
    margin-bottom: -1px;
}
.tabset li a {
    padding: 5px 10px;
    border-color: #d0d0d0;
    border-bottom-width: 0;
    background-color: #fff;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.tabset li.activeTab a {
    background-color: #1c1d21;
    color: #d4d4d4;
    border-bottom-width: 0;
}

.control {
    border-color: #d0d0d0;
}
