html {
    background-color: #eee;
}
body {
    font-size: 80%;
    background: #FFF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAMACAYAAADyg514AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAq1JREFUeNrtm02WgzAMgyMe979nT6FZzJv%2BTQsWEIgTddXFV6rIJnEMAckS%2FUxF%2BBg2bNiwYcOGDRs2bNiwYcOGDWeH59vthq4HWErxAD1AGaYCY7QIDpJ1jA1z%2BpgESYPCty9cujLevmCL5ilZiu7UzKBmllKAIPz6q6gb2Gjd85%2BsOoGtQcmaG0iWonMpBcGp7veqqOXGlCwocc1UNKOmdY2s3Y1oriejFZjLy8grjIQDbGfeaCSfkTD5D44glUoGQRjtuZFyRrIbS%2FBSJfbPDYw%2BbwRhKjA%2Bwd%2FD8sENZKhkzozgUdtSL%2FS1ZDwiFIAx1vw8hTohq05gg4y%2FPwj5jOTF9v5E%2BjTPTMF4VJ5Fz3JjpZPzCuPS2yradJofVfr6T55k4FjNDTUWWliAWMrkxsJIGzFbl866p%2FlyHcbwPh%2BxT8n4ALRuywLfXHv%2F4ayUa3NhQVT1HEdLmUtheMGaBOc813VRfWV0o7LmSCl%2Fh5FwgN1H0AO05ouuTOXKWC48vsvALs1U3ED9cFOBkSc39j%2BpOUiz3yiz5mETqd7dLc2ijmAmGVRkoKIbVGA4gmNrFmEqMBIOsBeYCqz0cqnIQDc%2B11y7x4bPO2zYyArr3DA8BEwFxmjW8Q4HiqrH2dLLT9pOVGDskkEFxqFBCS3zVEpi9FQSU4HR51xHBUbqcBsOwlRg2DrDhg1fClOBYesMG84KV3hxYuTGwnmdQPefM8NUYNg6w53CVGDEbiyhX%2BegGDbcF0wFRt9uUIHhRDoIPvGJmOG6MBUYtu6aF9ui%2B27s3ncb3gjnqsypwHC4DRt2SWz4MriPBxln746p7I59fKNFmIvz2xuMxfnNPncKU4HRhxtUYFymmQoM57Nh9woa6xXI8MhP%2F7%2BVK6HjovCdchhMBcapmnedAP0BoQxne8NMxPcAAAAASUVORK5CYII%3D) repeat-x bottom left !important;
    background: -webkit-gradient(linear,left top,left bottom,from(#FFF),to(#DDD));
    margin-bottom: 0px !important;
    padding: 0px !important;
    height: 100%;
}
body, input, select, textarea, .inProgress {
    font-family: "Helvetica Neue",Helvetica,Verdana,Geneva,"DejaVu Sans",Arial,sans-serif;
    color: #000;
}

.solidbox {
    border: 1px solid #999;
}
.greybox {
    border: 1px solid #999;
}
.headerbox {
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
}
a, a.fixed {
    color: blue;
}
a.widget {
    color: blue;
}
.header, .smallheader {
}
.header {
    padding: .4em;
}
.header a:hover {
    color: #699;
}
.header .smallheader {
    background: none;
    border: none;
}
.light {
    color: #666;
}
.smallheader {
    color: #333;
}
.smallheader a {
    color: #333;
    background: none;
    border: none;
}
.control {
    background: #eee;
}
.item {
    background: #eee;
}

table.horde-table, table.horde-table td, table.horde-table th {
    border-color: #999;
}
.sortup {
    background: #ccc url("graphics/za.png") center left no-repeat;
}
.sortdown {
    background: #ccc url("graphics/az.png") center left no-repeat;
}
.linedRow, tr.linedRow td, table.linedRow td, ul.linedRow li {
    color: #333;
}
.linedRowSelectedCol, td.linedRowSelectedCol, table.linedRow td.linedRowSelectedCol {
    color: #333;
}
.control {
    color: #333;
}
.item {
    color: #333;
}
.text {
    color: #333;
    background: #fff;
}

span.hordeIcon {
    background-image: url("graphics/horde.png");
}

/* Form styles. */
.form td {
    padding-top: .4em;
    padding-bottom: .4em;
}
input, select, textarea {
    color: #000;
    background: #f3f3f3;
    border: 1px solid #999;
}
input:focus, textarea:focus {
    background: #fff;
}
.button {
    color: #333;
    border: 1px solid #999;
    padding: 1px 2px;
    font-weight: bold;
    cursor: pointer;
}
.button:hover {
    color: blue;
}
a.button {
    padding: 2px 4px;
    font-weight: bold;
}

/* Alternating styles. item0, item1 are deprecated. */
.rowEven, .item0, .rowOdd, .item1 {
    background-color: #fff;
}

.selected {
    background: #ccc;
}

/* Uploader */
.hordeUploaderAdd {
    background:  url("graphics/plus.png") no-repeat, url("graphics/menu.png") repeat-x 0 -1px !important;
    padding-left: 16px !important;
}
.hordeUploaderStart {
    background: url("graphics/uploader/up.png") no-repeat, url("graphics/menu.png") repeat-x 0 -1px !important;
    padding-left: 16px !important;
}
/* Various popup and status layers. */
.notice {
    color: #333;
    background: #ffc;
    border: 1px solid #aaa;
}
.tooltip, div.nicetitle {
    color: #333;
    background: #eaeaea url("graphics/menu-active.png") repeat-x;
    border: 1px solid #999;
}

/* Menu styles. */
#menu {
    background: inherit;
}
#menu h1 {
    color: #333;
}
#menu a {
    color: #333;
}
#menu a.current {
    font-weight: bold;
}

/* Sidebar styles. */
#sidebarPanel {
    margin-right: .5em;
    border: none;
}
#sidebarPanel span, #sidebarPanel a {
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Verdana,sans-serif;
}
#sidebarPanel a:hover {
    color: #333;
}
#expandedSidebar #expandButton {
    background-image: url("graphics/hide_panel.png");
}
#hiddenSidebar {
    background-image: url("graphics/show_panel.png");
}

/* Tab styles. */
.tabset {
    background: inherit;
}
.tabset li {
    margin-bottom: -1px;
}
.tabset li a {
    color: blue;
    font-weight: normal;
    border: 0;
    border-bottom: none;
    padding: 4px 0.8em 3px 0.8em;
    background: inherit;
}
.tabset li.activeTab {
    background: inherit;
}
.tabset li.activeTab a {
    color: #000;
    font-weight: bold;
    background: inherit;
    border: none;;
}

/* Preferences overview. */
.prefsOverview dl {
    background: #fff;
}
.prefsOverview dd {
    color: #333;
    background: #fff;
}
.prefsContainer {
    background: #fff;
}
.prefsContainer > div {
    margin: .5em .3em;
}

/* Help styles. */
.help {
    color: #333;
}
.help #sidebarPanel {
    border-top: 1px solid #999;
}

/* Source markup styles. */
table.lineNumbered {
    border: 1px solid #333;
}

/* MIME styles. */
.download {
    background-image: url("graphics/download.png");
}

/* Growler notification styles. */
#Growler div.horde-error, #GrowlerLog li.horde-error {
    background-image: url("graphics/alerts/error.png");
}
#Growler div.horde-message, #GrowlerLog li.horde-message {
    background-image: url("graphics/alerts/message.png");
}
#Growler div.horde-success, #GrowlerLog li.horde-success {
    background-image: url("graphics/alerts/success.png");
}
#Growler div.horde-warning, #GrowlerLog li.horde-warning {
    background-image: url("graphics/alerts/warning.png");
}

/* Context Menus */
.contextSubmenu {
    background-image: url("graphics/popright.png");
}
