body {
    background: #b0d0f1;
}
a {
    color: #339;
}
.header {
    color: #fff;
    background: #6ba5de;
}
.light {
    color: #fff;
}
.smallheader {
    color: #fff;
    background: #6ba5de;
}
.button {
    background-image: url(graphics/menu.png);
}

/* Menu styles. */
#menu {
    color: #fff;
    background-color: #6ba5de;
    background-image: url(graphics/menu.png);
}
#menu a.current {
    background: #b0d0f1;
}

/* Sidebar styles. */
#sidebarPanel {
    background-color: #b0d0f1;
}
#sidebarPanel a:hover {
    color: yellow;
}

/* Tab styles. */
.tabset li.activeTab a, .tabset li.activeTab a:hover {
    border-bottom-color: #6ba5de;
    background-color: #6ba5de;
}
