/* Menu bottom margin, added for BC. */
#menu {
    margin-bottom: 8px;
}

/* Added for BC. */
.hidden {
    display: none;
}
.radio {
    border: 0;
    height: 14px;
    width: 14px;
    background: transparent;
}

/* Image alignment, added for BC. */
img {
    vertical-align: middle;
}

/* Table CSS, added for BC. */
th {
    color: #333;
    font-size: 90%;
    border-bottom: 1px solid #999;
}

/* Sort arrow styles, added for BC. */
.sortup {
    background: #bbcbff url("graphics/za.png") center left no-repeat;
    padding-left: 10px;
}
.sortdown {
    background: #bbcbff url("graphics/az.png") center left no-repeat;
    padding-left: 10px;
}

#classes {
    width: 100%;
}

.QuickFinderNoMatch {
    display: none;
}
#classes_empty {
    padding: 4px;
    font-style: italic;
}

#quicksearch {
    display: inline;
}
#quicksearch input {
    background-image: url("graphics/search.png");
    background-repeat: no-repeat;
    background-position: 2px center;
    padding: 1px 0 1px 20px;
}
#quicksearch a {
    display: inline-block;
    padding: 2px 4px;
}

/* Added for class list panel */
body.rightPanel #page {
    margin-right: 10em;
}
body #pageControlsInner {
    display: none;
}
body #sbarShow, body #sbarHide {
    padding-left: 18px;
    white-space: nowrap;
}
body #sbarShow {
    display: block;
    background: transparent url("graphics/plus.png") center left no-repeat;
}
body #sbarHide {
    display: none;
    background: transparent url("graphics/minus.png") center left no-repeat;
}
body.rightPanel #pageControlsInner {
    display: block;
}
body.rightPanel #sbarShow {
    display: none;
}
body.rightPanel #sbarHide {
    display: block;
}
body.rightPanel ul {
    list-style-type: none;
}

#pageControls {
    position: absolute;
    top: -8px;
    right: 0;
    background: #eee;
    border: 1px solid #ccc;
    padding: 4px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
}
#pageControls #classSearch {
    background-image: url("graphics/search.png");
    background-repeat: no-repeat;
    background-position: 2px center;
    border: 1px solid #ccc;
    padding: 2px 0 2px 20px;
}
#pageControls h3 {
    font-size: 100%;
    margin-top: 1em;
}
#pageControls h4 {
    font-size: 90%;
    margin-top: .5em;
}

/* Tables. */
table#class-list {
    width: 99%;
    margin: 0 0 8px 5px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
table#class-list th {
    padding: 3px;
    background: #e9e9e9;
    border-right: 1px solid #ccc;
    text-align: left;
}
table#class-list td {
    padding: 3px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
table#class-list th.sortup {
    background: #bbcbff url("graphics/za.png") center left no-repeat;
    padding-left: 10px;
}
table#class-list th.sortdown {
    background: #bbcbff url("graphics/az.png") center left no-repeat;
    padding-left: 10px;
}

#class-list-buttons {
    padding: 1em;
}
#class-list-buttons form {
    display: inline;
}
.class-list-icon {
    width: 1%;
}

.class-info {
    cursor: pointer;
}
