<form method="post" name="clipboard" id="clipboard" enctype="multipart/form-data" action="<tag:manager_url />">
<tag:forminput />
<input type="hidden" name="actionID" id="actionID" value="" />
<input type="hidden" name="dir" value="<tag:dir />" />

<h1 class="header">
 <strong><gettext>Clipboard</gettext></strong>
</h1>

<div class="control leftAlign">
 <gettext>Below is the current contents of your clipboard.</gettext>
</div>

<div class="control leftAlign">
 <gettext>To paste items from the clipboard to the current directory, check the box next to the filename and click on &quot;Paste&quot;.</gettext>
 <br />
 <gettext>To clear items from the clipboard, check the box next to the filename and click on &quot;Clear&quot;.</gettext>
</div>

<div class="control leftAlign">
 <gettext>Current directory:</gettext> <span class="fixed"><tag:currdir /></span>
</div>

<table class="clipboard striped nowrap" width="100%" cellspacing="0">
<thead>
 <tr>
  <td>
   <label><input id="selectall" type="checkbox" class="checkbox" /> <span class="selectall"><gettext>Select All</gettext></span></label>
  </td>
   </tr>
</thead>
<tbody>
<loop:entry>
 <tr>
  <td>
   <label><input type="checkbox" class="checkbox" name="items[]" value="<tag:entry.id />" />
   <if:entry.cut><tag:cutgraphic /></if:entry.cut><if:entry.copy><tag:copygraphic /></if:entry.copy>
   <tag:entry.name /></label>
  </td>
 </tr>
</loop:entry>
</tbody>
<tfoot>
 <tr>
  <td>
   <input class="button" id="pastebutton" type="button" value="<tag:pastebutton />" />
   <input class="button" id="clearbutton" type="button" value="<tag:clearbutton />" />
   <input class="button" id="cancelbutton" type="button" value="<tag:cancelbutton />" />
  </td>
 </tr>
</tfoot>
</table>

</form>
