#to,
#cc,
#bcc,
#subject {
    width: 546px;
}
#composeContainer .header,
#qreply .header {
    background-color: #eceff0;
    border-bottom: 1px solid #d0d0d0;
    padding: 10px;
}
.spellcheck {
    white-space: pre;
    white-space: -moz-pre-wrap;
    white-space: -hp-pre-wrap;
    white-space: -o-pre-wrap;
    white-space: -pre-wrap;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word;
}
.spellcheckChecking,
.spellcheckIncorrect {
    color: red;
}
.spellcheckCorrected {
    color: #090;
}
.spellcheckIncorrect,
.spellcheckCorrected {
    text-decoration: underline;
    cursor: pointer;
}
.composeAddrbook,
#togglebcc,
#togglecc {
    color: #36525d;
    cursor: pointer;
}
#togglebcc,
#togglecc {
    padding-right: 5px;
}
.composeAddrbook:hover,
#togglebcc:hover,
#togglecc:hover {
    text-decoration: underline;
}
#encrypt_label,
#priority_label {
    margin-left: 2px;
}
.msgwrite {
    background-color: #eceff0;
    border-bottom: 1px solid #d0d0d0;
    cursor: default;
    padding: 10px 8px;
}
.msgwrite .optionsContainer {
    max-width: 175px;
    padding: 8px 8px 0 0;
}
.msgwrite .optionsContainer label {
    cursor: pointer;
}
.msgwrite .optionsContainer input {
    margin-right: 2px;
    min-height: 0px;
}
.msgwrite .optionsContainer .horde-popdown {
    height: 18px;
    margin-top: -6px;
}
.msgwrite #other_options .horde-popdown {
    height: 16px;
}
#compose_notices {
    list-style: none;
    padding-top: 6px;
}
#compose_notices li {
    display: inline-block;
    font-weight: bold;
    padding: 3px;
}
#compose_notices li span.closeImg {
    float: right;
    margin: -1px 0 0;
    padding-left: 3px;
}
#fwdattachnotice,
#fwdbodynotice,
#identitychecknotice {
    cursor: pointer;
}
#replyallnotice,
#replylistnotice {
    background-color: #fcc;
}
.replyAllNoticeUnderline {
    text-decoration: underline;
}
.msgwrite tr {
    vertical-align: top;
}
.msgwrite td.label {
    white-space: nowrap;
    text-align: right;
    padding: 6px 4px 0 0;
    font-weight: bold;
}
.msgwrite span.loadingImg {
    float: right;
    margin-top: auto;
    padding: 2px;
    position: relative;
    right: 8px;
    filter: alpha(opacity=75);
    -moz-opacity: .75;
    opacity: .75;
}
#compose_upload_add {
    color: #36525d;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-top: 4px;
}
#compose_upload_add:hover {
    text-decoration: underline;
}
#upload {
    position: absolute;
    top: -5000px;
}
#atcdrop {
    border: 1px dashed #999;
    display: table-cell;
    color: #999;
    font-size: 110%;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
.atcdrop_over {
    border-color: #111 !important;
    color: #111 !important;
}
#composeMessageParent {
    padding: 5px;
}
#composeMessage {
    background-color: #fff;
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
#signatureParent {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #eceff0;
    border-top: 1px solid #d0d0d0;
    cursor: default;
    padding: 6px;
}
#signatureBorder {
    background-color: #fff;
    border: 1px solid #d0d0d0;
    height: 4.4em;
    margin-top: 4px;
    padding: 0.2em 5px;
}
#signatureBorder .cke_skin_kama,
#signatureBorder .cke_skin_kama .cke_wrapper {
    border: 0;
    padding: 0;
}
#signatureParent .label {
    white-space: nowrap;
    font-weight: bold;
    line-height: 12px;
}
#signature {
    height: 100%;
    width: 100%;
    border: 0;
    background-color: #fff;
}
#signatureToggle {
    cursor: pointer;
    float: left;
    height: 14px;
    width: 12px;
}
#signatureToggle {
    background-image: url("../graphics/arrow_collapsed.png");
}
#signatureToggle.signatureExpanded {
    background-image: url("../graphics/arrow_expanded.png");
}
#rteloading {
    background-color: rgba(0,0,0,.35);
    position: absolute;
    z-index: 100;
}
#rteloading span {
    background-color: #ccc;
    left: 15px;
    padding: 4px;
    position: absolute;
    top: 15px;
}
#encrypt_label,
#priority_label,
#sent_mail_label {
    cursor: default;
    font-weight: bold;
}
#save_sent_mail_load {
    padding-left: 0;
}
#atcdiv {
    border-top: 1px solid #d0d0d0;
    margin-top: 4px;
    padding-top: 6px;
}
#atcdiv .horde-popdown {
    display: inline-block;
    float: none;
    height: 16px;
    margin-top: -3px;
    padding-left: 4px;
    width: 16px;
}
#attach_list {
    list-style: none;
    max-height: 125px;
    overflow-x: hidden;
    overflow-y: auto;
}
#attach_list canvas {
    margin-bottom: -4px;
    padding-right: 4px;
}
#attach_list li {
    padding: 5px 0 1px;
}
#attach_list span.attachName,
#attach_list span.attachNameNoview {
    padding-right: 3px;
}
#attach_list span.attachName {
    color: #36525d;
    cursor: pointer;
    text-decoration: underline;
}
#attach_list span.attachName:hover {
    color: red;
}
#attach_list span.attach_upload_text {
    display: inline-block;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
}
#attach_list span.attach_upload_text span {
    padding-left: 5px;
}
#attach_list span.attach_upload_text_progress {
    max-width: 290px;
    margin-right: 8px;
}
#attach_list span.attach_upload_progress {
    background-color: #1a1a1a;
    border-radius: 5px;
    bottom: 4px;
    display: inline-block;
    height: 6px;
    padding: 2px;
    position: relative;
    width: 200px;
}
#attach_list span.attach_upload_progress span {
    background-color: #34c2e3;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    display: inline-block;
    height: 100%;
    transition: width 0.2s ease-in-out 0s;
}
#upload_add {
    margin-top: -2px;
}
#upload_limit {
    color: darkred;
}
span.attachmentImg {
    background-image: url("../graphics/attachment.png");
    float: left;
    margin-right: 8px;
}
.headercloseimg {
    float: right !important;
    cursor: pointer;
    margin-top: 6px;
}
.actionSend {
    background-image: url("../graphics/forward.png");
}
.actionDrafts,
.actionTemplates {
    background-image: url("../graphics/drafts.png");
}
.actionSpellcheck {
    background-image: url("../graphics/spellcheck.png");
}
.actionDelete,
#ctx_atcfile_delete span.iconImg {
    background-image: url("../graphics/delete.png");
}

/* Autocomplete styles. */
.impACBox {
    background-color: #ebeff0;
    display: inline-block;
    max-height: 150px;
    min-height: 20px;
    overflow-y: auto;
    padding: 3px 3px 1px;
    width: 556px;
}
.impACBoxFocus {
    background-color: #fff;
}
.impACGroupExpand {
    background: lightgrey;
    color: blue;
    margin-left: 5px;
}
.impACItemRemove {
    padding-left: 3px;
}
.impACList li.hordeACListItem {
    font-size: 100%;
    margin-bottom: 1px;
}
.impACListItemBad {
    background-color: #ff6347;
    border: 1px solid darkred;
}
.impACLoadingText,
.impACNoResultsText {
    font-style: italic;
}
