/* Splitbar styles. */
#msgSplitPane {
    border-bottom: 1px solid #d0d0d0;
    overflow: hidden;
}
.horde-splitbar-horiz {
    height: 7px;
    background-position: center -1px;
}

/* Message List */
#msglistHeaderHoriz .msgSize {
    padding-right: 12px;
}
#msglistHeaderHoriz {
    border-bottom: 0;
}
#msglistHeaderVert {
    white-space: nowrap;
}
#msglistHeaderContainer .horde-popdown {
    display: inline-block;
    float: none;
    margin-bottom: -8px;
    margin-top: -4px;
}
#msglistHeaderContainer .sortup,
#msglistHeaderContainer .sortdown {
    margin-top: 3px;
    padding-top: 0;
}
.horde-table-header .horde-split-left {
    width: 2px;
    height: 22px;
    margin: 0 5px 0 -6px;
    top: 0;
}

/* Columns */
div.msgStatus {
    /* Ignore white-space in element. */
    font-size: 0;
    margin-top: 1px;
    padding-left: 8px;
    width: 70px;
}
div.msgFrom {
    left: 85px;
    width: 150px;
}
div.msgFrom a {
    color: inherit;
}
div.msgSubject {
    left: 240px;
    right: 225px;
}
div.msgDate {
    text-align: right;
    right: 88px;
    width: 130px;
}
div.msgSize {
    text-align: right;
    right: 18px;
    width: 50px;
}
div.msgSort {
    float: right;
    padding-top: 2px;
}

/* Message ViewPort */
span.vpEmpty {
    display: block;
    padding: 15px 80px 10px 35px;
    background: transparent url("../graphics/ico_message_off.png") no-repeat scroll 10px 15px;
    color: #a0a0a0;
    line-height: 18px;
}

/* Rows */
div.vpRow {
    border-bottom: 1px solid #d0d0d0;
    cursor: pointer;
    height: 21px;
    overflow: hidden;
}
div.vpRow div {
    overflow: hidden;
    padding-top: 4px;
    position: absolute;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
}
div.vpRow div.iconImg {
    position: relative;
    margin-top: -3px;
    width: 16px;
}
div.vpRow div.horde-popdown {
    position: relative;
    width: 16px;
    margin-top: -4px;
}
div.vpRowSelected {
    background-color: #36525d !important;
    color: #fff;
}
div.vpRowHoriz div.sep {
    padding-left: 5px;
}

/* Rows: flags. */
div.flagLowpriority {
    font-weight: normal !important;
}
div.flagUnseen {
    font-weight: bold;
}
div.flagDeleted * {
    text-decoration: line-through;
}

/* Message flags definitions.
 * For background color, see config/prefs.php [msgflags preference]. */
.msgflags {
    margin-right: 1px;
}
.msgflags.iconImg {
    width: 16px;
}
.msgflags.flagPersonal {
    background-image: url("../graphics/flags/personal.png");
}
.msgflags.flagHighpriority {
    background-image: url("../graphics/flags/priority_high.png");
}
.msgflags.flagLowpriority {
    background-image: url("../graphics/flags/priority_low.png");
}
.msgflags.flagSignedmsg {
    background-image: url("../graphics/flags/signed.png");
}
.msgflags.flagEncryptmsg {
    background-image: url("../graphics/flags/encrypted.png");
}
.msgflags.flagAttachmsg {
    background-image: url("../graphics/flags/attachment.png");
}
.msgflags.flagList {
    background-image: url("../graphics/flags/group.png");
}
.msgflags.flagJunk,
span.iconImg.flagJunk {
    background-image: url("../graphics/flags/spam.png");
}
.msgflags.flagNotJunk,
span.iconImg.flagNotJunk {
    background-image: url("../graphics/flags/innocent.png");
}
.msgflags.flagUnseen,
span.iconImg.flagUnseen,
#ctx_mbox_flag_unseen span.iconImg,
#ctx_mbox_nopoll span.iconImg,
#ctx_mbox_poll span.iconImg {
    background-image: url("../graphics/flags/unseen.png");
}
.msgflags.flagAnswered,
span.iconImg.flagAnswered {
    background-image: url("../graphics/flags/answered.png");
}
.msgflags.flagDraft,
span.iconImg.flagDraft {
    background-image: url("../graphics/flags/draft.png");
}
.msgflags.flagForwarded,
span.iconImg.flagForwarded {
    background-image: url("../graphics/flags/forwarded.png");
}
.msgflags.flagFlagged,
span.iconImg.flagFlagged,
#ctx_mbox_setflag span.iconImg,
#ctx_message_setflag span.iconImg,
#ctx_oa_setflag span.iconImg {
    background-image: url("../graphics/flags/flagged.png");
}
.msgflags.flagDeleted,
span.iconImg.flagDeleted {
    background-image: url("../graphics/flags/deleted.png");
}
div.vpRowSelected .msgflags.flagPersonal {
    background-image: url("../graphics/flags/personal-inv.png");
}
div.vpRowSelected .msgflags.flagHighpriority {
    background-image: url("../graphics/flags/priority_high-inv.png");
}
div.vpRowSelected .msgflags.flagLowpriority {
    background-image: url("../graphics/flags/priority_low-inv.png");
}
div.vpRowSelected .msgflags.flagSignedmsg {
    background-image: url("../graphics/flags/signed-inv.png");
}
div.vpRowSelected .msgflags.flagEncryptmsg {
    background-image: url("../graphics/flags/encrypted-inv.png");
}
div.vpRowSelected .msgflags.flagAttachmsg {
    background-image: url("../graphics/flags/attachment-inv.png");
}
div.vpRowSelected .msgflags.flagList {
    background-image: url("../graphics/flags/group-inv.png");
}
div.vpRowSelected .msgflags.flagJunk {
    background-image: url("../graphics/flags/spam-inv.png");
}
div.vpRowSelected .msgflags.flagNotJunk {
    background-image: url("../graphics/flags/innocent-inv.png");
}
div.vpRowSelected .msgflags.flagUnseen {
    background-image: url("../graphics/flags/unseen-inv.png");
}
div.vpRowSelected .msgflags.flagAnswered {
    background-image: url("../graphics/flags/answered-inv.png");
}
div.vpRowSelected .msgflags.flagDraft {
    background-image: url("../graphics/flags/draft-inv.png");
}
div.vpRowSelected .msgflags.flagForwarded {
    background-image: url("../graphics/flags/forwarded-inv.png");
}
div.vpRowSelected .msgflags.flagFlagged {
    background-image: url("../graphics/flags/flagged-inv.png");
}
div.vpRowSelected .msgflags.flagDeleted {
    background-image: url("../graphics/flags/deleted-inv.png");
}

/* Checkbox images */
.msCheck {
    background-image: url("../graphics/checkbox_off.png");
}
.msCheck:hover {
    background-image: url("../graphics/checkbox_over.png") !important;
}
.msCheckOn,
div.vpRowSelected .msCheck {
    background-image: url("../graphics/checkbox_on.png");
}
div.msgStatus .msCheck {
    margin-right: 1px;
}
.msCheckAll {
    cursor: pointer;
}

/* Rows (vertical mode) */
div.vpRowVert {
    height: auto;
    padding-top: 4px;
}
div.vpRowVert div {
    height: 20px;
    padding-top: 0;
    position: relative;
}
div.vpRowVert div.msgStatus {
    float: left;
    height: 24px;
    margin-right: 2px;
    padding-top: 16px;
    width: 15%;
}
div.vpRowVert div.msgFrom {
    left: auto;
    width: auto;
}
div.vpRowVert div.msgDate {
    float: right;
    right: auto;
    padding-right: 5px;
    width: auto;
}
div.vpRowVert div.msgSubject {
    left: auto;
    right: auto;
    color: gray;
    padding-right: 5px;
}
div.vpRow div.msgSubject span.flagUser {
    font-size: 90%;
    font-weight: normal;
    margin-right: 3px;
    padding: 1px;
    position: relative;
    top: -2px;
}

/* ViewPort scroller */
.vpScroll {
    background: url("../graphics/scroller_back.png") repeat-y;
}
.vpScrollCursor {
    background: url("../graphics/scroller.png") repeat-y;
    border-left: 1px solid silver;
    width: 13px;
}
.vpScrollDown,
.vpScrollUp {
    border-left: 1px solid silver;
    height: 16px;
    width: 13px;
}
.vpScrollUp {
    background-image: url("../graphics/sbcursor_top.png");
}
.vpScrollDown {
    background-image: url("../graphics/sbcursor_bottom.png");
    border-bottom: 1px solid #d0d0d0;
}
#slider_count {
    background-color: #ECEFF0;
    font-weight: bold;
    padding: 2px;
    position: absolute;
    opacity: 0.85;
}

/* IFRAMEs */
#dimpmain_iframe iframe {
    border: 0;
    width: 100%;
}

/* Sidebar */
#foldersLoading {
    padding: 10px;
}
#horde-sidebar .horde-info {
    display: none;
}
#ctx_mbox_sub span.iconImg,
#ctx_mbox_unsub span.iconImg,
#ctx_folderopts_sub span.iconImg,
#ctx_folderopts_unsub span.iconImg,
.folderoptsImg {
    background-image: url("../graphics/folders/folder.png");
}
.horde-subnavi-icon.col,
#ctx_folderopts_collapse span.iconImg,
#ctx_container_collapse span.iconImg,
#ctx_mbox_collapse span.iconImg {
    background-image: url("../graphics/folders/minus.png");
}
.horde-subnavi-icon.exp,
#ctx_folderopts_expand span.iconImg,
#ctx_container_expand span.iconImg,
#ctx_mbox_expand span.iconImg {
    background-image: url("../graphics/folders/plus.png");
}
#imp-normalmboxes {
    overflow-x: hidden;
    overflow-y: auto;
}
#imp-normalmboxes div.imp-sidebar-unsubmbox {
    font-style: italic;
}
.imp-sidebar-container:hover {
    background: none;
}
.imp-sidebar-container a:hover {
    cursor: default;
    text-decoration: none;
}
.imp-sidebar-container a,
.imp-sidebar-mbox-loading {
    color: #555 !important;
}
.horde-subnavi-icon.col,
.horde-subnavi-icon.exp {
    cursor: pointer;
}
#dropbase a {
    display: inline !important;
    padding-right: 1px;
}
#dropbase:hover {
    font-weight: normal !important;
}
#foldersSidebar .horde-popdown {
    display: inline-block;
    float: none;
    height: 16px;
    margin-top: -3px;
    width: 16px;
}

/* Actions */
#button_compose {
    display: none;
}

/* Preview pane styles. */
#previewPane {
    overflow: auto;
}
#previewInfo {
    background: transparent url("../graphics/ico_message_off.png") no-repeat scroll 10px 15px;
    color: #a0a0a0;
    line-height: 18px;
    padding: 15px 80px 10px 40px;
}

/* Preview small header */
#msgHeadersColl {
    line-height: 20px;
}
#msgHeadersColl ul {
    list-style: none;
    overflow: hidden;
    white-space: nowrap;
}
#msgHeadersColl li {
    float: left;
}
#msgHeadersColl .date {
    margin-left: 5px;
}
#msgHeadersColl .from .horde-button {
    line-height: 16px !important;
    margin: 0;
}

/* Drag and drop styles. */
.drag,
.dragdrop,
.mboxdrag,
.msgdrag {
    background: #eee;
    border: 1px solid #ccc;
    font-size: 12px;
    overflow: hidden;
    z-index: 999;
}
.dragdrop {
    color: red;
}
.dragdrop,
.mboxdrag,
.msgdrag {
    padding: 2px;
}
.imp-sidebar-mbox.mboxdrag {
    height: auto !important;
}

/* Search-related styles */
.qsearchMatch {
    font-weight: bold;
    text-decoration: underline;
}

#searchbar {
    background-color: #ffa;
    padding: 8px 10px;
}
#search_close,
#search_edit,
#search_refresh,
#viewport_error_refresh {
    cursor: pointer;
    float: right;
    margin-top: -1px;
}
#searchbar #search_label {
    font-weight: bold;
}
#searchbar #search_time_elapsed {
    float: right;
    padding-right: 12px;
}

/* Viewport error */
#viewport_error {
    background-color: #f03232;
    padding: 8px 10px;
}
#viewport_error div {
    font-weight: bold;
}

/* Redbox styles. */
#RB_window {
    max-width: 50%;
}
#RB_window input[type="text"], #RB_window select {
    display: block;
    margin: 2px 0;
}
.RB_Form {
    width: 20em;
    padding: 6px;
    border: 1px solid #ccc;
}
.RB_Form input {
    margin: .2em;
}
#mbox_import {
    overflow: hidden;
}

/* Sidebar/subinfo images. */
span.infoIcon,
#ctx_mbox_size span.iconImg {
    background-image: url("../graphics/info_icon.png");
}
span.prefsIcon {
    background-image: url("../graphics/prefs.png");
}
span.logoutIcon {
    background-image: url("../graphics/logout.png");
}
span.readonlyImg {
    background-image: url("../graphics/locked-inv.png");
    margin: -1px 0 0 3px;
}

/* Action images. */
.dimpactionRefresh,
#ctx_folderopts_reload span.iconImg {
    background-image: url("../graphics/reload.png");
}
.imp-loading {
    background-image: url("../graphics/reload.gif");
}
.dimpactionOther,
.dimpactionSort {
    background-image: url("../graphics/plus.png");
}
.dimpactionEditsearch,
#ctx_mbox_acl span.iconImg {
    background-image: url("../graphics/edit.png");
}

/* Other images */
#msg_newwin_options span.iconImg {
    background-image: url("../graphics/newwin.png");
}
#preview_other span.iconImg {
    background-image: url("../graphics/plus.png");
    cursor: pointer;
    margin: 0 0 0 4px;
}
#th_expand,
#partlist_col,
#msgloglist_col {
    background-image: url("../graphics/arrow_collapsed.png");
    cursor: pointer;
    margin: 3px 0 -3px;
}
#th_collapse,
#partlist_exp,
#msgloglist_exp {
    background-image: url("../graphics/arrow_expanded.png");
    cursor: pointer;
    margin: 3px 0 -3px;
}
#th_collapse {
    margin: 4px 0 -2px;
}

/* Context menus */
#ctx_mbox_empty span.iconImg,
#ctx_message_delete span.iconImg,
#ctx_oa_purge_deleted span.iconImg {
    background-image: url("../graphics/delete.png");
}
#ctx_message_undelete span.iconImg,
#ctx_oa_undelete span.iconImg {
    background-image: url("../graphics/undelete.png");
}
span.iconImg.flagSeen,
#ctx_message_view span.iconImg,
#ctx_mbox_flag_seen span.iconImg {
    background-image: url("../graphics/seen.png");
}
#ctx_message_unsetflag span.iconImg,
#ctx_oa_unsetflag span.iconImg {
    background-image: url("../graphics/clearflag.png");
}
#ctx_message_resume span.iconImg,
#ctx_message_template span.iconImg,
#ctx_message_template_edit span.iconImg,
#ctx_template_new span.iconImg,
#ctx_template_edit span.iconImg,
#msg_resume_draft span.iconImg,
#msg_template span.iconImg {
    background-image: url("../graphics/drafts.png");
}
#ctx_oa_preview_hide span.iconImg,
#ctx_oa_preview_show span.iconImg {
    background-image: url("../graphics/preview.png");
}
#ctx_oa_layout_horiz span.iconImg {
    background-image: url("../graphics/application_tile_vertical.png");
}
#ctx_oa_layout_vert span.iconImg {
    background-image: url("../graphics/application_tile_horizontal.png");
}
#ctx_container_create span.iconImg,
#ctx_folderopts_new span.iconImg,
#ctx_mbox_create span.iconImg,
#ctx_remoteauth_create span.iconImg {
    background-image: url("../graphics/folders/create.png");
}
#ctx_container_rename span.iconImg,
#ctx_mbox_rename span.iconImg,
#ctx_vcontainer_edit span.iconImg,
#ctx_vfolder_edit span.iconImg {
    background-image: url("../graphics/folders/edit.png");
}
#ctx_container_search span.iconImg,
#ctx_container_searchsub span.iconImg,
#ctx_mbox_search span.iconImg,
#ctx_mbox_searchsub span.iconImg {
    background-image: url("../graphics/search.png");
}
#ctx_container_delete span.iconImg,
#ctx_mbox_delete span.iconImg,
#ctx_vfolder_delete span.iconImg {
    background-image: url("../graphics/folders/trash.png");
}
#ctx_mbox_export span.iconImg,
#ctx_mbox_import span.iconImg,
#ctx_preview_save span.iconImg {
    background-image: url("../graphics/download.png");
}
#ctx_message_spam span.iconImg {
    background-image: url("../graphics/spam.png");
}
#ctx_message_innocent span.iconImg {
    background-image: url("../graphics/innocent.png");
}
#ctx_message_blacklist span.iconImg,
#ctx_oa_blacklist span.iconImg {
    background-image: url("../graphics/blacklist.png");
}
#ctx_message_whitelist span.iconImg,
#ctx_oa_whitelist span.iconImg {
    background-image: url("../graphics/whitelist.png");
}
#ctx_preview_thread span.iconImg {
    background-image: url("../graphics/thread.png");
}
#ctx_flag span.iconImg.flagUser,
#ctx_flag_search span.iconImg.flagUser {
    border: 1px black solid;
    height: 17px;
    width: 17px;
}
#ctx_sortopts span.iconImg.sortup,
#ctx_sortopts span.iconImg.sortdown {
    background-color: inherit;
    background-position: center;
    padding: 0;
}
