/* Headers styles. */
.msgHeaders {
    padding: 10px 6px 10px 4px;
    background-color: #eceff0;
    border-bottom: 1px solid #d0d0d0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}
.msgHeaders a {
    color: #000;
}
#msgHeadersTable tr {
    vertical-align: top;
}
#msgHeadersTable td {
    padding-bottom: 0;
}
#msgHeadersTable td.label {
    font-weight: bold;
    padding-right: 4px;
    text-align: right;
    white-space: nowrap;
}
.msgHeaders .subject {
    font-weight: bold;
}
#msgHeaderAtc td.label {
    display: table-cell;
}
.atcLabel {
    font-weight: bold;
    line-height: 20px;
    padding-right: 5px;
}
#partlist {
    padding-top: 2px;
}
#partlist .horde-tree-image {
    padding-right: 1px;
}
#partlist_toggle span.attachmentImg {
    margin-right: 0;
}
#msgloglist {
    border-top: 1px solid #d0d0d0;
    list-style-type: none;
    margin-top: 2px;
    margin-left: 5px;
    padding: 2px;
}
#msgloglist li {
    padding: 2px;
}
#partlist_toggle {
    cursor: pointer;
}

/* Message body formatting. */
.messageBody {
    padding: 10px;
}

/* Context Menus */
.context div.contactAddr,
.context div.mboxName {
    font-style: italic;
    padding: 0 2px;
    text-align: center;
}
#ctx_reply_reply span.iconImg,
#ctx_message_reply span.iconImg,
.dimpactionReply {
    background-image: url("../graphics/reply.png");
}
#ctx_reply_reply_all span.iconImg,
#ctx_reply_reply_list span.iconImg {
    background-image: url("../graphics/replyall.png");
}
#ctx_forward_attach span.iconImg,
#ctx_preview_allparts span.iconImg,
#msg_all_parts span.iconImg,
.mimePartInfoAtc div {
    background-image: url("../graphics/attachment.png");
}
#ctx_message_forward span.iconImg,
#ctx_forward_body span.iconImg,
#ctx_forward_both span.iconImg,
#ctx_forward_redirect span.iconImg,
.dimpactionForward {
    background-image: url("../graphics/forward.png");
}
#ctx_message_source span.iconImg,
#ctx_preview_viewsource span.iconImg,
#msg_view_source span.iconImg {
    background-image: url("../graphics/message_source.png");
}
#ctx_preview_listinfo span.iconImg,
#msg_listinfo span.iconImg {
    background-image: url("../graphics/group.png");
}
.dimpactionCompose,
#ctx_contacts_new span.iconImg,
#ctx_forward_editasnew span.iconImg,
#ctx_message_editasnew span.iconImg {
    background-image: url("../graphics/compose.png");
}
.dimpactionFilter,
#ctx_contacts_addfilter span.iconImg,
#ctx_message_addfilter span.iconImg,
#ctx_filteropts_applyfilters span.iconImg {
    background-image: url("../graphics/filters.png");
}

/* Email Addresses. */
.msgHeaders .horde-button {
    padding: 1px 3px;
    margin: -1px 1px 2px 0;
}
.msgHeaders a.addrgroup-name {
    font-weight: bold;
}
.msgHeaders div.addrgroup-div {
    background-color: #aaa;
    display: inline-block;
    margin: 1px;
    padding: 3px 2px 1px;
}

/* Action images. */
.dimpactionSpam {
    background-image: url("../graphics/spam.png");
}
.dimpactionInnocent {
    background-image: url("../graphics/innocent.png");
}
.dimpactionDelete {
    background-image: url("../graphics/delete.png");
}
.dimpactionResume {
    background-image: url("../graphics/drafts.png");
}

/* Thread images */
div.msgSubject span.horde-tree-image {
    margin-top: -3px;
    margin-right: 1px;
}

/* IMP_Contents styles */
div.partsTreeDiv {
    min-height: 0;
}
.messageBody div.mimePartData {
    line-height: 1.3em;
    margin-bottom: 8px;
}
.htmlMsgData {
    margin: 2px 0;
    width: 100%;
}
.mimeStatusMessageTable {
    background: #ffc;
    border: 1px solid #fff760;
    color: #000;
    display: inline-block;
    margin-bottom: 3px;
    padding: 4px;
}
.mimeStatusIcon {
    width: 22px;
}
div.mimeStatusMessage, div.mimePartInfo {
    margin-bottom: 7px;
}
.mimePartInfo div {
    background-color: #ebeff0;
    border: 1px solid #d0d0d0;
    margin: 0;
    padding: 5px;
    /* For FF2 */
    display: table-cell;
    display: inline-block;
}
.mimePartInfo div > img {
    vertical-align: top;
}
.mimePartInfoAtc div {
    border: 1px dashed;
    background-position: 2px 50%;
    background-repeat: no-repeat;
    padding-left: 35px;
}
span.mimePartInfoSize {
    color: #666;
}
.mimeStatusMessageTable td {
    padding: 0;
}
.mimeStatusMessageTable td table td {
    padding-right: 2px;
    white-space: nowrap;
}
.mimePartWrap,
.mimePartWrapValid,
.mimePartWrapInvalid {
    border: 1px solid #d0d0d0;
    margin: 2px 0;
    padding: 10px;
}
.mimePartWrapValid {
    border-color: #cfc;
}
.mimePartWrapInvalid {
    border-color: #ffd0af;
}
.downloadAtc {
    background-image: url("../graphics/download.png");
    margin-left: 1px;
}
.saveImgAtc {
    background-image: url("../graphics/gallery.png");
    margin-left: 1px;
}
.printAtc {
    background-image: url("../graphics/print.png");
}

/* Large addresslist display. */
.largeaddrlist,
.largeaddrlistlimit {
    color: #36525d;
    cursor: pointer;
    font-weight: bold;
    margin-right: 5px;
    padding: 1px;
}
.largeaddrlist:hover,
.largeaddrlistlimit:hover {
    text-decoration: underline;
}
