/* Make sure we never scroll vertically. */
html {
    overflow-y: hidden;
}
#htmlAllowScroll {
    overflow-y: scroll;
}

/* Global */
input {
    vertical-align: middle;
}
.nojserror {
    color: red;
}
.horde-buttonbar {
    padding-right: 12px;
}

/* Message options. */
.optionsContainer {
    float: right;
}
.optionsContainer div {
    padding-bottom: 2px;
}
.optionsContainer span {
    cursor: pointer;
}
.optionsContainer .iconImg {
    margin-right: 0;
}
.optionsContainer a,
.optionsContainer a:visited {
    text-decoration: none;
    color: #000;
}
.optionsContainer a:hover {
    text-decoration: underline;
}
.optionsContainer .horde-popdown {
    display: inline-block;
    float: none;
    height: 16px;
    margin-top: -3px;
    padding-left: 4px;
    width: 16px;
}

/* Images */
span.iconImg {
    margin-right: 4px;
}

/* Context menus */
#ctx_contacts_add span.iconImg {
    background-image: url("../graphics/add_contact.png");
}
#ctx_contacts_copy span.iconImg {
    background-image: url("../graphics/clipboard.png");
}
#ctx_contacts img.contactimg, #ctx_contacts div.flagimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#ctx_contacts div.flagimg img {
    padding-right: 3px;
}

/* Maillog. */
.imp-reply {
    background-image: url("../graphics/answered.png");
}
.imp-reply_all, .imp-reply_list {
    background-image: url("../graphics/replyall.png");
}
.imp-forward, .imp-redirect {
    background-image: url("../graphics/forwarded.png");
}
.imp-maillog-sent {
    color: #36525d !important;
}
