<input type="hidden" name="columns" value="<tag:columns />" />

<div>
 <select name="source" onchange="if (document.prefs.source.selectedIndex != 0) selectSource();">
  <option value=""><gettext>Please select a backend:</gettext></option>
<loop:be>
  <option value="<tag:be.val />"><tag:be.label /></option>
</loop:be>
 </select>
</div>

<gettext>Choose the columns to display in the file manager.</gettext>

<br />

<table>
 <tr>
  <td>
   <select name="unselected_columns" multiple="multiple" size="5" width="20" onchange="deselectHeaders();">
    <option value=""><gettext>Available Columns:</gettext></option>
   </select>
  </td>
  <td>
   <a href="#" onclick="addColumn(); return false;"><tag:add /></a>
   <br />
   <a href="#" onclick="removeColumn(); return false;"><tag:remove /></a>
  </td>
  <td>
   <select name="selected_columns" multiple="multiple" size="5" width="20" onchange="deselectHeaders();">
    <option value=""><gettext>Selected Columns:</gettext></option>
   </select>
  </td>
  <td>
   <a href="#" onclick="moveColumnUp(); return false;"><tag:left /></a>
   <br />
   <a href="#" onclick="moveColumnDown(); return false;"><tag:right /></a>
  </td>
 </tr>
</table>
