<?php
$conf = array(
    'server' => array(
        'hostspec' => 'localhost',
        'port'     => 389,
        'basedn'   => 'ou=hordetest,dc=example,dc=com',
        'binddn'  => 'cn=admin,dc=example,dc=com',
        'bindpw'  => 'secret',
        'cache' => new Horde_Cache(new Horde_Cache_Storage_Mock()),
        'cache_root_dse' => true,
    ),
    'capability' => array(
        'anonymous' => true,
        'tls'       => true
    ),
);
