#ctx_mbox_sub span.iconImg, #ctx_mbox_unsub span.iconImg, #ctx_folderopts_sub span.iconImg, #ctx_folderopts_unsub span.iconImg {
    background-image: url("../graphics/folders/explore.png");
}
#sidebar span.col, #ctx_folderopts_collapse span.iconImg, #ctx_container_collapse span.iconImg, #ctx_mbox_collapse span.iconImg {
    background-image: url("../graphics/folders/minus.png");
}
#sidebar span.exp, #ctx_folderopts_expand span.iconImg, #ctx_container_expand span.iconImg, #ctx_mbox_expand span.iconImg {
    background-image: url("../graphics/folders/plus.png");
}
span.folderoptsImg {
    background-image: url("../graphics/folders/options.png");
}

#attach_list div, span.attachmentImg {
    background-image: url("../graphics/attachment.png");
}

.header {
    border-left: 1px solid #999;
    border-right: 1px solid #999;
}

.tabset li#quota {
    background: none;
}

.dimpActions, .msgfullread .msgHeaders, .msgwrite {
    border-top: none;
}

span.infoIcon {
    background-image: url("../graphics/info_icon.png");
}
span.prefsIcon {
    background-image: url("../graphics/prefs.png");
}
span.logoutIcon {
    background-image: url("../graphics/logout.png");
}

span.dimpactionReply {
    background-image: url("../graphics/reply.png");
}
span.dimpactionForward {
    background-image: url("../graphics/forward.png");
}
span.dimpactionSpam {
    background-image: url("../graphics/spam.png");
    width: 16px;
}
span.dimpactionHam {
    background-image: url("../graphics/innocent.png");
}
span.dimpactionCompose {
    background-image: url("../graphics/compose.png");
}
span.dimpactionCheckmail {
    background-image: url("../graphics/checkmail.png");
}
span.dimpactionRefresh {
    background-image: url("../graphics/reload.png");
}
span.dimpactionDelete {
    background-image: url("../graphics/delete.png");
}
span.dimpactionOther, span.dimpactionSort {
    background-image: url("../graphics/plus.png");
}
span.dimpactionDrafts, span.dimpactionTemplates {
    background-image: url("../graphics/drafts.png");
}
span.dimpactionEditsearch {
    background-image: url("../graphics/edit.png");
}
span.dimpactionResume {
    background-image: url("../graphics/mail_draft.png");
}
span.dimpactionFilter {
    background-image: url("../graphics/filters.png");
}

/* Context menu images */
#ctx_message_reply span.iconImg {
    background-image: url("../graphics/reply.png");
}
#ctx_reply_reply span.iconImg, #ctx_reply_reply_all span.iconImg, #ctx_reply_reply_list span.iconImg {
    background-image: url("../graphics/replyall.png");
}
#ctx_message_forward span.iconImg, #ctx_forward_attach span.iconImg, #ctx_forward_body span.iconImg, #ctx_forward_both span.iconImg, #ctx_forward_redirect span.iconImg {
    background-image: url("../graphics/forward.png");
}
#ctx_mbox_empty span.iconImg, #ctx_message_delete span.iconImg, #ctx_oa_purge_deleted span.iconImg {
    background-image: url("../graphics/delete.png");
}
#ctx_message_undelete span.iconImg, #ctx_oa_undelete span.iconImg {
    background-image: url("../graphics/undelete.png");
}
#ctx_mbox_seen span.iconImg, #ctx_message_view span.iconImg {
    background-image: url("../graphics/mail_seen.png");
}
#ctx_mbox_unseen span.iconImg, #ctx_mbox_poll span.iconImg, #ctx_mbox_nopoll span.iconImg {
    background-image: url("../graphics/mail_unseen.png");
}
#ctx_message_setflag span.iconImg, #ctx_oa_setflag span.iconImg, #ctx_mbox_setflag span.iconImg {
    background-image: url("../graphics/mail_flagged.png");
}
#ctx_message_unsetflag span.iconImg, #ctx_oa_unsetflag span.iconImg {
    background-image: url("../graphics/mail_clearflag.png");
}
#ctx_message_resume span.iconImg, #ctx_message_template span.iconImg, #ctx_message_template_edit span.iconImg, #ctx_template_new span.iconImg, #ctx_template_edit span.iconImg, #msg_resume_draft span.iconImg, #msg_template span.iconImg {
    background-image: url("../graphics/mail_draft.png");
}
#ctx_oa_preview_hide span.iconImg, #ctx_oa_preview_show span.iconImg {
    background-image: url("../graphics/preview.png");
}
#ctx_oa_layout_horiz span.iconImg {
    background-image: url("../graphics/application_tile_vertical.png");
}
#ctx_oa_layout_vert span.iconImg {
    background-image: url("../graphics/application_tile_horizontal.png");
}
#ctx_oa_help span.iconImg {
    background-image: url("../graphics/help.png");
}
#ctx_mbox_create span.iconImg, #ctx_container_create span.iconImg, #ctx_folderopts_new span.iconImg {
    background-image: url("../graphics/folders/create.png");
}
#ctx_mbox_rename span.iconImg, #ctx_container_rename span.iconImg, #ctx_vcontainer_edit span.iconImg, #ctx_vfolder_edit span.iconImg {
    background-image: url("../graphics/folders/edit.png");
}
#ctx_mbox_acl span.iconImg {
    background-image: url("../graphics/edit.png");
}
#ctx_mbox_search span.iconImg, #ctx_mbox_searchsub span.iconImg, #ctx_container_search span.iconImg, #ctx_container_searchsub span.iconImg {
    background-image: url("../graphics/search.png");
}
#ctx_container_delete span.iconImg, #ctx_mbox_delete span.iconImg, #ctx_vfolder_delete span.iconImg {
    background-image: url("../graphics/folders/delete.png");
}
#ctx_mbox_export span.iconImg, #ctx_mbox_import span.iconImg, #ctx_preview_save span.iconImg {
    background-image: url("../graphics/download.png");
}
#ctx_message_spam span.iconImg {
    background-image: url("../graphics/spam.png");
}
#ctx_message_innocent span.iconImg {
    background-image: url("../graphics/innocent.png");
}
#ctx_message_blacklist span.iconImg, #ctx_oa_blacklist span.iconImg {
    background-image: url("../graphics/blacklist.png");
}
#ctx_message_whitelist span.iconImg, #ctx_oa_whitelist span.iconImg {
    background-image: url("../graphics/whitelist.png");
}
#ctx_message_source span.iconImg, #msg_view_source span.iconImg, #ctx_preview_viewsource span.iconImg {
    background-image: url("../graphics/message_source.png");
}
#ctx_message_editasnew span.iconImg, #ctx_contacts_new span.iconImg, #ctx_forward_editasnew span.iconImg {
    background-image: url("../graphics/compose.png");
}
#ctx_contacts_add span.iconImg {
    background-image: url("../graphics/add_contact.png");
}
#ctx_folderopts_reload span.iconImg {
    background-image: url("../graphics/reload.png");
}
#ctx_preview_allparts span.iconImg, #msg_all_parts span.iconImg {
    background-image: url("../graphics/email_attach.png");
}

/* Other images */
#msg_newwin span.iconImg, #msg_newwin_options span.iconImg {
    background-image: url("../graphics/newwin.png");
}

#th_expand span.iconImg, #partlist_col, #msgloglist_col {
    background-image: url("../graphics/arrow_collapsed.png");
}
#th_collapse span.iconImg, #partlist_exp, #msgloglist_exp {
    background-image: url("../graphics/arrow_expanded.png");
}

span.popdownImg, span.spellcheckPopdownImg {
    background-image: url("../graphics/popdown.png");
}

.imp-reply {
    background-image: url("../graphics/mail_answered.png");
}
.imp-reply_all, .imp-reply_list {
        background-image: url("../graphics/replyall.png");
}
.imp-forward, .imp-redirect {
    background-image: url("../graphics/mail_forwarded.png");
}
