body {
    background: #104e4c;
}
a {
    color: #136865;
}
a:hover {
    color: #fb9108;
}
.header {
    color: #fff;
    background: #136865;
}
.header a {
    color: #fff;
}
.smallheader {
    background: #136865;
}
.light {
    color: #fff;
}
.control {
    background: #ffd368;
}
.item {
    background: #f4d793;
}
.button {
    color: #000;
    background-color: #fba208;
    border-bottom: 1px solid #f7e0aa;
    border-right: 1px solid #f7e0aa;
    border-top: 1px solid #ffd368;
    border-left: 1px solid #ffd368;
}
.selected {
    background-color: #f5c144;
}

/* Menu styles. */
#menu {
    color: #fff;
    background: #136865;
}
#menu a {
    color: #fff;
}
#menu a.current {
    background: #288;
}

/* Sidebar styles. */
#sidebarPanel {
    background: #288;
}
#sidebarPanel a {
    color: #fff;
    border: 1px solid #288;
    padding-left: 1px;
    padding-bottom: 2px;
}
#sidebarPanel a:hover {
    color: #000;
    background-color: #ccc;
    border: 1px solid #000;
    text-decoration: none;
}

/* Preferences overview. */
.prefsOverview h2 {
    color: #fff;
}

/* Tab styles. */
.tabset li a {
    color: #000;
    background-color: #ffd368;
    border-bottom-color: #000;
}
.tabset li a:hover {
    background-color: #ffd368;
}
.tabset li.activeTab a {
    border-bottom: 1px solid #136865;
    background-color: #136865;
    color: #fff;
}
