/**
 * $Horde: whups/themes/hordeweb/screen.css,v 1.4 2008/04/03 14:47:16 jan Exp $
 */

#searchnav {
    background: #cfc;
    color: #063;
    border: none;
    padding: 2px 5px;
    margin-left: 0;
    margin-right: 0;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}
#searchnav p {
    background: none;
}

div#comments {
    margin: 0;
}

.c_l, .c_r, .c_m, .c_b {
    background: #cfc;
    color: #063;
    border: 1px solid #cfc;
}
.c_l {
    padding-left: 5px;
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
}
.c_r {
    padding-right: 5px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
}

table.tickets th {
    background: #cfc;
    color: #063;
}
