<if:heading>
<option value=""><tag:heading /></option>
</if:heading>
<if:customhtml>
<tag:customhtml />
</if:customhtml>
<if:new_mbox>
<if:optgroup>
<else:optgroup>
<option value="" disabled="disabled">- - - - - - - -</option>
</else:optgroup>
</if:optgroup>
<option class="flistCreate" value=""><gettext>Create New Mailbox</gettext></option>
<if:optgroup>
<else:optgroup>
<option value="" disabled="disabled">- - - - - - - -</option>
</else:optgroup>
</if:optgroup>
</if:new_mbox>
<if:optgroup>
<optgroup label="<gettext>Mailboxes</gettext>">
</if:optgroup>
<tag:tree />
<if:optgroup>
</optgroup>
</if:optgroup>
<if:vfolder>
<if:optgroup>
<optgroup label="<gettext>Virtual Folders</gettext>">
<else:optgroup>
<option value="" disabled="disabled">- - - - - - - -</option>
</else:optgroup>
</if:optgroup>
<loop:vfolder>
<option value="<tag:vfolder.v />"<if:vfolder.sel> selected="selected"</if:vfolder.sel>><tag:vfolder.l /></option>
</loop:vfolder>
<if:optgroup>
</optgroup>
</if:optgroup>
</if:vfolder>
<if:tasklist>
<if:optgroup>
<optgroup label="<gettext>Task Lists</gettext>">
<else:optgroup>
<option value="" disabled="disabled"></option>
<option value="" disabled="disabled">- - <gettext>Task Lists</gettext> - -</option>
</else:optgroup>
</if:optgroup>
<loop:tasklist>
<option value="<tag:tasklist.v />"><tag:tasklist.l /></option>
</loop:tasklist>
<if:optgroup>
</optgroup>
</if:optgroup>
</if:tasklist>
<if:notepad>
<if:optgroup>
<optgroup label="<gettext>Notepads</gettext>">
<else:optgroup>
<option value="" disabled="disabled"></option>
<option value="" disabled="disabled">- - <gettext>Notepads</gettext> - -</option>
</else:optgroup>
</if:optgroup>
<loop:notepad>
<option value="<tag:notepad.v />"><tag:notepad.l /></option>
</loop:notepad>
<if:optgroup>
</optgroup>
</if:optgroup>
</if:notepad>
