
/* Redbox styles. */
#RB_overlay {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100%;
    background-color: #000;
    opacity: .6;
    filter: alpha(opacity=60);
}
#RB_loading {
    z-index: 101;
    width: 66;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    padding-bottom: 66px;
    text-align: center;
    background: url("graphics/redbox_spinner.gif") no-repeat bottom center;
}
#RB_window {
    z-index: 102;
    background-color: #fff;
    display: block;
    text-align: left;
    overflow: hidden;
    margin: 20px auto 0 auto;
    position: absolute;
}

#RB_confirm {
    width: 20em;
    padding: 1em;
    border: 1px solid #ccc;
    background: #ffc;
}
#RB_confirm input {
    margin: .2em;
}

#RB_info {
    width: 30em;
    padding: 1em;
    border: 1px solid #ccc;
    background: #ccf;
}
#RB_info input {
    margin: .2em;
}

/* Portal editing */

#page {
  margin: 10px auto;
}

#page1 {  
  float: left;
  width: 45%;
}

#page2 {
  float: right;
  width: 45%;
}

#widget_col_0 { 
  float: left;
  width: 30%;
  background: #E6E6E6;
}

#widget_col_1 {
  width: 50%;
  float: left;
  background: #CCC;
}   

#widget_col_2 { 
  float: left;
  width: 20%;
  background: #B3B3B3;
}   

#widget_col_3 { 
  float: left;
  width: 40%;
  background: #B3B3B3;
}   

#widget_col_4 { 
  float: left;
  width: 60%;
  background: #E6E6E6;
}

#control_buttons {
  position: absolute;
  right: 0px;
  top: 10px;
  width: 90px;
}

#reload_button {
  position: relative;
  float: left;
  width: 16px;
  height: 16px;
  background: url(graphics/reload.png);
  behavior: url(png.htc);
  margin-right: 5px;
}

#minimize_button {
  position: relative;
  float: left;
  width: 16px;
  height: 16px;
  background: url(graphics/minus.png);
  behavior: url(png.htc);
  margin-right: 5px;
}

#maximize_button {
  position: relative;
  float: left;
  width: 16px;
  height: 16px;
  background: url(graphics/plus.png);
  behavior: url(png.htc);
  margin-right: 5px;
}

#edit_button {
  position: relative;
  float: left;
  width: 16px;
  height: 16px;
  background: url(graphics/edit.png);
  behavior: url(png.htc);
  margin-right: 5px;
}

#delete_button {
  position: relative;
  float: left;
  width: 16px;
  height: 16px;
  background: url(graphics/delete.png);
  behavior: url(png.htc);
  margin-right: 5px;
}

/* Sliding doors technique */
.widget_nw {
    background: transparent url(graphics/top_left.gif) no-repeat;
    height: 30px;
}

.widget_w {
  border-left: 1px solid #B9B9B9;
  margin-left: 5px;
}

.widget_sw {
    background: transparent url(graphics/bottom_left.gif) no-repeat;
    height: 15px;
}

.widget_title {
    background:  url(graphics/top_right.gif) repeat-x right top;
    color: #123456;
    font: bold 14px/25px Tahoma, Arial, sans-serif;
    height: 26px;
    margin: 0 0 0 15px;
    padding: 5px 0 0 0 ;
    text-align: center;
    margin-left: 15px;
}

.widget_content {
  background-color: #FDFDFD;
  color: #71777A;
  font: normal 12px/1em Tahoma, Arial, sans-serif;
  overflow: hidden;
  padding: 5px;
  border-right: 1px solid #B9B9B9;
  margin-right: 5px;
}

.widget_statusbar {
    background: transparent url(graphics/bottom_right.gif) repeat-x right top;
    font-size: 8px;
    height: 15px;
    margin-left: 11px;
}

.widget_draggable {
  cursor: move;
}

/* Ghost */
.widget_ghost {
  background: #FFF;
  opacity: 0.5;
  filter: alpha(opacity=50);
  position: relative;
  border: 3px dashed #F00;
  margin: 0px;
  padding: 0;
}
