<?php
/**
 * See horde/config/prefs.php for documentation on the structure of this file.
 */

$prefGroups['share'] = array(
    'column' => _("General Preferences"),
    'label' => _("Active Configuration"),
    'desc' => _("Choose your active Ledger and Posting Type."),
    'members' => array(
        'active_ledger', 'active_postingtype', 'closedperiodselect'
    )
);

$prefGroups['display'] = array(
    'column' => _("General Preferences"),
    'label' => _("Interface Preferences"),
    'desc' => _("Change the display and input preferences."),
    'members' => array(
        'max_postings', 'startpage', 'sortby', 'altsortby', 'sortdir',
        'wildcard_format', 'amount_format', 'expenses_sign', 'delete_opt',
        'report_graphsize'
    )
);

// active ledger
// Set locked to true if you don't want users to have multiple ledgers.
$_prefs['active_ledger'] = array(
    'value' => $GLOBALS['registry']->getAuth() ? $GLOBALS['registry']->getAuth() : 0
    'type' => 'enum',
    'shared' => true
);

// store the ledgers to diplay
$_prefs['display_ledgers'] = array(
    'value' => 'a:0:{}'
);

// active posting type
$_prefs['active_postingtype'] = array(
    'value' => FIMA_POSTINGTYPE_ACTUAL,
    'type' => 'enum',
    'enum' => array(
        FIMA_POSTINGTYPE_ACTUAL => _("Actual"),
        FIMA_POSTINGTYPE_FORECAST => _("Forecast"),
        FIMA_POSTINGTYPE_BUDGET => _("Budget")
    ),
    'desc' => _("Your active posting type:")
);

// closed period selection widget
$_prefs['closedperiodselect'] = array(
    'type' => 'special'
);

// closed period
$_prefs['closed_period'] = array(
    'value' => 0
);

// postings per page
$_prefs['max_postings'] = array(
    'value' => 20,
    'type' => 'number',
    'desc' => _("Postings per page in the list view.")
);

// start page
$_prefs['startpage'] = array(
    'value' => -1,
    'type' => 'enum',
    'enum' => array(
        1 => _("First Page"),
        -1 => _("Last Page")
    ),
    'desc' => _("When displaying the postings, which page do you want to start on?")
);

// user preferred sorting column
$_prefs['sortby'] = array(
    'value' => FIMA_SORT_DATE,
    'type' => 'enum',
    'enum' => array(
        FIMA_SORT_DATE => _("Date"),
        FIMA_SORT_ASSET => _("Asset Account"),
        FIMA_SORT_ACCOUNT => _("Posting Account"),
        FIMA_SORT_AMOUNT => _("Amount"),
        FIMA_SORT_DESC => _("Description")
    ),
    'desc' => _("Sort postings by:")
);

// alternate sort column
$_prefs['altsortby'] = array(
    'value' => FIMA_SORT_ACCOUNT,
    'type' => 'enum',
    'enum' => array(
        FIMA_SORT_DATE => _("Date"),
        FIMA_SORT_ASSET => _("Asset Account"),
        FIMA_SORT_ACCOUNT => _("Posting Account"),
        FIMA_SORT_AMOUNT => _("Amount"),
        FIMA_SORT_DESC => _("Description")
    ),
    'desc' => _("Then:")
);

// user preferred sorting direction
$_prefs['sortdir'] = array(
    'value' => FIMA_SORT_ASCEND,
    'type' => 'enum',
    'enum' => array(
        FIMA_SORT_ASCEND => _("Ascending"),
        FIMA_SORT_DESCEND => _("Descending")
    ),
    'desc' => _("Sort direction:")
);

// format for wildcards
$_prefs['wildcard_format'] = array(
    'value' => 'dos',
    'type' => 'enum',
    'enum' => array(
        'dos' => _("DOS (* and ?)"),
        'sql' => _("SQL (% and _)"),
        'none' => _("none")
    ),
    'desc' => _("Select the format for wildcards for text search:")
);

// format for amounts
$_prefs['amount_format'] = array(
    'value' => '.,',
    'type' => 'enum',
    'enum' => array(
        '.,' => _("-12.345.678,90"),
        ',.' => _("-12,345,678.90"),
        ' ,' => _("-12 345 678,90"),
        '\'.' => _("-12'345'678.90")
    ),
    'desc' => _("Select the format for amounts:")
);

// sign for expenses
$_prefs['expenses_sign'] = array(
    'value' => 0,
    'type' => 'checkbox',
    'desc' => _("Enter expenses with negative sign?")
);

// preference for delete confirmation dialog.
$_prefs['delete_opt'] = array(
    'value' => 1,
    'type' => 'checkbox',
    'desc' => _("Do you want to confirm deleting postings?")
);

// report graph size
$_prefs['report_graphsize'] = array(
    'value' => '800x600',
    'type' => 'enum',
    'enum' => array(
        '400x300'  => _("400 x 300 Pixel"),
        '800x600'  => _("800 x 600 Pixel"),
        '1024x768' => _("1024 x 768 Pixel"),
        '1600x1200' => _("1600 x 1200 Pixel")
    ),
    'desc' => _("Select the canvas size for chart reports:")
);
