<?php
/**
 * This file will defines the set of existing reports.
 * Reports are located in fima/lib/Report/.
 */

$_reports = array('GeneralOverview' => _("General Overview"),
                  'PeriodOverview'  => _("Period Overview"),
                  'AccountOverview' => _("Account Overview"),
                  'AssetOverview'	=> _("Asset Overview"),
                  'Analysis'        => _("Analysis"),
                  'Trend'           => _("Trend"),
                  );
