 <tag:status />
 <div id="dimpLoading"><gettext>Loading...</gettext></div>
 <div id="pageContainer" style="display:none">
  <div id="msgData">
   <div class="dimpActions dimpActionsMsg">
    <div class="iconImg headercloseimg closeImg" id="windowclose" title="X"></div>
    <div>
     <tag:reply_button />
    </div>
    <div>
     <tag:forward_button />
    </div>
<if:spam_button>
    <div>
     <tag:spam_button />
    </div>
</if:spam_button>
<if:ham_button>
    <div>
     <tag:ham_button />
    </div>
</if:ham_button>
<if:delete_button>
    <div>
     <tag:delete_button />
    </div>
</if:delete_button>
   </div>

   <div class="msgfullread">
    <div class="msgHeaders">
     <div id="msgHeaders">
      <div class="dimpOptions">
<if:view_source>
       <div>
        <span id="msg_view_source">
         <span class="iconImg"></span>
         <a><gettext>View Source</gettext></a>
        </span>
       </div>
</if:view_source>
       <div>
        <span>
         <span class="iconImg saveAsImg"></span>
         <a href="<tag:save_as />"><gettext>Save</gettext></a>
        </span>
       </div>
<if:view_all_parts>
       <div>
        <span id="msg_all_parts">
         <span class="iconImg"></span>
         <a><gettext>View All Parts</gettext></a>
        </span>
       </div>
</if:view_all_parts>
      </div>
      <div id="msgHeadersContent">
       <table>
        <thead>
         <tr>
          <td class="label"><gettext>Subject</gettext>:</td>
          <td class="subject"><tag:subject /></td>
         </tr>
<loop:hdrs>
         <tr<if:hdrs.id> id="<tag:hdrs.id />"</if:hdrs.id>>
          <td class="label"><tag:hdrs.label />:</td>
          <td><tag:hdrs.val /></td>
         </tr>
</loop:hdrs>
         <tr id="msgAtc"<if:atc_label><else:atc_label> style="display:none"</else:atc_label></if:atc_label>>
          <td class="label" id="partlist_toggle">
           <span class="iconImg attachmentImg attachmentImage"></span>
           <span id="partlist_col" class="iconImg"></span>
           <span id="partlist_exp" class="iconImg" style="display:none"></span>
          </td>
          <td>
           <span class="atcLabel"><tag:atc_label /></span>
           <tag:atc_download />
           <div id="partlist" style="display:none">
            <table>
             <tag:atc_list />
            </table>
           </div>
          </td>
         </tr>
         <tr id="msgLogInfo" style="display:none">
          <td class="label" id="msgloglist_toggle">
           <span class="iconImg" id="msgloglist_col"></span>
           <span class="iconImg" id="msgloglist_exp" style="display:none"></span>
          </td>
          <td>
           <div>
            <span class="msgLogLabel"><gettext>Message Log</gettext></span>
           </div>
           <div id="msgloglist" style="display:none">
            <ul></ul>
           </div>
          </td>
         </tr>
        </thead>
       </table>
      </div>
     </div>
    </div>
    <div class="messageBody">
     <tag:msgtext />
    </div>
   </div>
  </div>

<if:html>
  <div id="qreply" style="display:none">
   <div class="header">
    <div class="headercloseimg" id="compose_close">
     <span class="iconImg closeImg" title="X"></span>
    </div>
    <div>
     <gettext>Message:</gettext>
     <tag:subject />
    </div>
   </div>
   <tag:html />
  </div>
 </div>
</if:html>

 <tag:common />
