#box, .box {
	margin: 0 0 2em 0;
	padding: 0;
}

.feedcontent {
margin: 1.12em 0;
/*overflow: auto;
max-height: 500px;*/
}

#pageNav {
    padding: 0;
    margin: 1em;
}

.box h3 {
  background-color: #e1e2da;
  margin: 0 0 2px 0;
  padding: 2px;
}
.box h3 a {
  font-weight: bold;
}

.blogLinkPad {
  display: block;
  text-decoration: none;
  background: url("../img/feed-icon-10x10.png") no-repeat center left;
  padding: 2px 0 2px 12px;
  text-indent: 0;
}

img {
  max-width: 400px;
  border: none;
}
