<?php
$conf['vfs']['sql']['mysql']['adapter'] = 'mysql';
$conf['vfs']['sql']['mysql']['host'] = 'localhost';
$conf['vfs']['sql']['mysql']['username'] = '';
$conf['vfs']['sql']['mysql']['password'] = '';
$conf['vfs']['sql']['mysql']['dbname'] = 'test';
$conf['vfs']['sql']['mysql']['charset'] = 'utf-8';
$conf['vfs']['sql']['mysqli']['adapter'] = 'mysqli';
$conf['vfs']['sql']['mysqli']['host'] = 'localhost';
$conf['vfs']['sql']['mysqli']['username'] = '';
$conf['vfs']['sql']['mysqli']['password'] = '';
$conf['vfs']['sql']['mysqli']['dbname'] = 'test';
$conf['vfs']['sql']['mysqli']['charset'] = 'utf-8';
$conf['vfs']['sql']['pdo_mysql']['adapter'] = 'pdo_mysql';
$conf['vfs']['sql']['pdo_mysql']['host'] = 'localhost';
$conf['vfs']['sql']['pdo_mysql']['username'] = '';
$conf['vfs']['sql']['pdo_mysql']['password'] = '';
$conf['vfs']['sql']['pdo_mysql']['dbname'] = 'test';
$conf['vfs']['sql']['pdo_mysql']['charset'] = 'utf-8';
$conf['vfs']['sql']['pdo_pgsql']['adapter'] = 'pdo_pgsql';
$conf['vfs']['sql']['pdo_pgsql']['username'] = '';
$conf['vfs']['sql']['pdo_pgsql']['password'] = '';
$conf['vfs']['sql']['pdo_pgsql']['dbname'] = 'test';
$conf['vfs']['sql']['pdo_pgsql']['charset'] = 'utf-8';
$conf['vfs']['sqlfile']['mysql']['adapter'] = 'mysql';
$conf['vfs']['sqlfile']['mysql']['host'] = 'localhost';
$conf['vfs']['sqlfile']['mysql']['username'] = '';
$conf['vfs']['sqlfile']['mysql']['password'] = '';
$conf['vfs']['sqlfile']['mysql']['dbname'] = 'test';
$conf['vfs']['sqlfile']['mysql']['charset'] = 'utf-8';
$conf['vfs']['sqlfile']['mysqli']['adapter'] = 'mysqli';
$conf['vfs']['sqlfile']['mysqli']['host'] = 'localhost';
$conf['vfs']['sqlfile']['mysqli']['username'] = '';
$conf['vfs']['sqlfile']['mysqli']['password'] = '';
$conf['vfs']['sqlfile']['mysqli']['dbname'] = 'test';
$conf['vfs']['sqlfile']['mysqli']['charset'] = 'utf-8';
$conf['vfs']['sqlfile']['pdo_mysql']['adapter'] = 'pdo_mysql';
$conf['vfs']['sqlfile']['pdo_mysql']['host'] = 'localhost';
$conf['vfs']['sqlfile']['pdo_mysql']['username'] = '';
$conf['vfs']['sqlfile']['pdo_mysql']['password'] = '';
$conf['vfs']['sqlfile']['pdo_mysql']['dbname'] = 'test';
$conf['vfs']['sqlfile']['pdo_mysql']['charset'] = 'utf-8';
$conf['vfs']['sqlfile']['pdo_pgsql']['adapter'] = 'pdo_pgsql';
$conf['vfs']['sqlfile']['pdo_pgsql']['username'] = '';
$conf['vfs']['sqlfile']['pdo_pgsql']['password'] = '';
$conf['vfs']['sqlfile']['pdo_pgsql']['dbname'] = 'test';
$conf['vfs']['sqlfile']['pdo_pgsql']['charset'] = 'utf-8';
$conf['vfs']['ftp']['hostspec'] = 'localhost';
$conf['vfs']['ftp']['username'] = '';
$conf['vfs']['ftp']['password'] = '';
$conf['vfs']['ftp']['vfsroot'] = '/tmp/vfsftptest';
$conf['vfs']['ssh2']['hostspec'] = 'localhost';
$conf['vfs']['ssh2']['username'] = '';
$conf['vfs']['ssh2']['password'] = '';
$conf['vfs']['ssh2']['vfsroot'] = '/tmp/vfsssh2test';
