a.kastalia_directory {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}

div.kastalia_filelist {
    margin-left: 0px;
}

img.kastalia_picture {
    border: 0px;
    margin-right: 2px;
}

li.kastalia_directory {
    list-style: none;
    display: block;
    padding-top: 5px;
    padding-left: 4px;
}

li.kastalia_file {
/*    list-style: none;*/
    list-style-image: url('graphics/file.gif');
    padding-left: 4px;
}

li.kastalia_file_enc {
/*    list-style: none;*/
    list-style-image: url('graphics/file_enc.gif');
    padding-left: 4px;
}

select.kastalia_upload {
    width: 300px;
}

ul.kastalia_root {
    list-style-position: inside;
    margin-left: 5px;
    padding-left: 10px;
    vertical-align: middle;
}