table.options, table.revlog, table.headerbar, table.browse, table.stats, table.annotate {
    width: 100%;
    margin-left: 0;
}
table.options td {
    font-size: 100%;
}
table.revlog th, table.browse th, table.stats th, table.annotate th {
    background: #cfc;
}
table.headerbar {
    background: #cfc;
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}
table.headerbar tr {
    background: transparent;
}
table.headerbar td {
    border: none;
}
table.headerbar td.text {
    border-bottom: 5px solid #cfc;
}

h3.checkout, #revlog tr.hover, #revlog tr:hover, div.checkout, table.hrdiff, table.history, p.history {
    margin-left: 0;
    margin-right: 0;
    border-color: #cfc;
}
h3.checkout {
    background: #cfc;
    color: #063;
    font-size: 100%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
}
