.deleted {
    background-color: #999999;
}
.important, .flagged {
    background-color: #ffcccc;
}
.unseen {
    background-color: #eeeeff;
}
.answered {
    background-color: #D9DCC2;
}
.quoted {
    color: #330066;
}
