/**
 * CSS corrections for IE 7.
 */

#sidebar li {
    overflow: hidden;
}
#sidebar .folderlist {
    overflow-y: auto;
}

#msgSplitPane {
    width: 99.7%;
}

#to, #cc, #bcc {
    overflow: auto;
}

.block-monthgrid table {
    border-width: 2px;
}

#sidebar li.folder a:hover, #sidebar li.custom a:hover, #sidebar li.servicelink a:hover {
    font-weight: bold;
    text-decoration: underline;
}

.dimpOptions span.iconImg {
    margin-right: 4px;
}

.htmlMsgData {
    width: 98%;
}

div.msgSubject span.treeImg {
    vertical-align: top;
}

/* Fixes broken inline-block. */
#upload_wait,
#noticerow .notices li,
.msgwrite span.loadingImg {
    zoom: 1;
    *display: inline;
}
