/* Images. */
.clipboardImg {
    background-image: url("graphics/clipboard.png");
}
.downloadImg {
    background-image: url("graphics/download.png");
}
.editImg {
    background-image: url("graphics/edit.png");
}
.folderImg {
    background-image: url("graphics/folder.png");
}
.foldercreateImg {
    background-image: url("graphics/folder_create.png");
}
.foldergotoImg {
    background-image: url("graphics/folder_goto.png");
}
.reloadImg {
    background-image: url("graphics/reload.png");
}
.symlinkImg {
    background-image: url("graphics/folder_symlink.png");
}
