.messageContainer {
    width: 100%;
    padding: 2px;
    background: #e9e9e9;
    margin-bottom: 8px;
}
.messageAuthor {
    width: 10%;
}
.messageBody {
    width: 90%;
    background: #fff;
    border: 1px solid #ccc;
}
.messageBody p {
    padding: 1em;
}

.msgThreadPlain {
    width: 50%;
}
.msgAuthorPlain {
    width: 25%;
}
.msgTimestampPlain {
    width: 24%;
}
