/**
 * DIMP print CSS.
 */

body {
    background: #fff;
}

a, a:visited {
    color: #000;
}

#pageContainer {
    margin-left: 20px;
    margin-right: 20px;
}

#dimpmain {
    position: relative;
    left: 0 !important;
    margin-left: 0;
    top: 0;
}

#previewPane {
    height: auto !important;
}

#msgHeaders, .dispaddrlist {
    display: block !important;
}

.msgfullread .msgBody {
    border-top: 1px solid silver;
}

.label {
    min-width: 60px;
    text-align: right;
    font-weight: bold;
}

#msgHeadersColl, .context, .address img, .noprint, .mimeStatusMessage, .largeaddrlist, #alertslog {
    display: none !important;
}
a.address {
    left: 0;
    padding: 0;
    text-decoration: none;
}
