/**
 * DIMP core CSS.
 */

/* Make sure we never scroll vertically. */
html {
    overflow-y: hidden;
}

/* global */
input {
    vertical-align: middle;
}
.nojserror {
    color: red;
}

/* Main container styles. */
#sidebar {
    background: #eee;
    bottom: 0;
    cursor: default;
    left: 0;
    padding: 5px 0 0 5px;
    position: absolute;
    top: 0;
}
#dimpmain {
    bottom: 0;
    margin-left: 5px;
    position: absolute;
    right: 3px;
    top: 2px;
}

/* ini header */
#quota {
    float: right;
    font-weight: normal;
    padding-bottom: 3px;
}
div#quota {
    margin: 3px;
    border-top-width: 0;
}
#quota .used {
    float: left;
    width: 100px;
    background: maroon url("../graphics/quotaback.jpg") repeat-y;
    text-align: right;
    border: 1px #000 solid;
    margin-right: 2px;
}
#quota .used img {
    display: inline;
    float: none;
    padding: 0;
    border-left: 1px #000 solid;
    height: 14px;
}
.tabset li#quota {
    border-top: 0;
}

#logo {
    display: none;
}
/* end header */

/* Portal styles. */
#dimpmain_portal h1.header a {
    cursor: pointer;
}

/* SpellChecker styles. */
#spellcheck {
    color: #000;
}
.spellcheckChecking, .spellcheckIncorrect {
    color: red;
}
.spellcheckCorrected {
    color: #090;
}
.spellcheckIncorrect, .spellcheckCorrected {
    text-decoration: underline;
    cursor: pointer;
}

/* Splitbar styles. */
#msgSplitPane {
    border-left: 1px silver solid;
    border-right: 1px silver solid;
    border-bottom: 1px silver solid;
}
.splitBarHoriz, .splitBarVert, .splitBarVertSidebar {
    background: #e9e9e9 no-repeat scroll;
    z-index: 10;
}
.splitBarHoriz {
    background-image: url("../graphics/dragHandle.png");
    background-position: center top;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    cursor: row-resize;
    height: 5px;
}
.splitBarVert, .splitBarVertSidebar {
    background-image: url("../graphics/dragHandleVert.png");
    background-position: center;
    border-right: 1px solid silver;
    border-left: 1px solid silver;
    cursor: col-resize;
    height: 300px;
    width: 5px;
}
.splitBarVertSidebar {
    position: absolute;
}

/* Message List */
.mboxheader {
    clear: left;
}
#msgLoading, #viewportLoading, #sendingImg {
    position: absolute;
    margin: 10px 0 0 10px;
}

/* Columns */
div.msgStatus {
    float: left;
    width: 8%;
    text-indent: 0 !important;
}
div.msgFrom {
    float: left;
    width: 20%;
}
div.msgSubject {
    float: left;
    width: 52%;
}
div.msgDate {
    float: left;
    width: 14%;
}
div.msgSize {
    float: left;
    width: 6%;
    margin-right: -4px;
}

/* Message List Header and Column Header */
#msglistHeader {
    font-weight: bold;
    overflow: hidden;
    border: 1px solid silver;
    border-top: 0;
    background: transparent url("../graphics/backhead_orderby.png") repeat-x;
}
#msglistHeader a {
    cursor: pointer;
}
#msglistHeader a.smallSort {
    font-size: 75%;
    font-weight: normal;
    padding-left: 4px !important;
}
#msglistHeader div {
    padding-top: 1px;
    height: 15px;
    text-indent: 2px;
}
#msglistHeader div.sortup, #msglistHeader div.sortdown {
    padding-left: 0;
    background-position: 2px;
}
#msglistHeader div.sortup a, #msglistHeader div.sortdown a {
    padding-left: 14px;
}
#msglistHeader div.sep {
    border-left: 1px solid #ddd;
}

/* Message ViewPort */
span.vpEmpty, span.vpError {
    display: block;
    padding: 2px 0 0 2px;
    font-weight: bold;
}

/* Rows */
div.vpRow, div.vpRow div {
    cursor: pointer;
    font-size: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    height: 16px;
    border-bottom: 1px;
}
div.vpRowSelected {
    background: #ffa !important;
}
div.vpRowHoriz div.sep {
    border-right: 1px solid #ddd;
}
div.vpRowHoriz, div.vpRowHoriz div {
    text-indent: 2px;
}

/* Rows: flags. */
div.flagLowpriority {
    font-weight: normal !important;
}
div.flagUnseen {
    font-weight: bold;
}
div.flagDeleted {
    text-decoration: line-through;
}

/* Checkbox images */
div.msCheck {
    background-image: url("../graphics/checkbox_off.png");
}
div.msCheck:hover {
    background-image: url("../graphics/checkbox_over.png") !important;
}
div.vpRowSelected div.msCheck {
    background-image: url("../graphics/checkbox_on.png");
}

/* Rows (vertical mode) */
div.vpRowVert {
    height: auto;
}
div.vpRowVert div {
    font-size: 100%;
}
div.vpRowVert div.msgStatus {
    height: 24px;
    margin-right: 2px;
    padding-top: 8px;
    width: 15%;
}
div.vpRowVert div.msgFrom {
    font-weight: bold;
    width: auto;
}
div.vpRowVert div.msgDate {
    float: right;
    padding-right: 2px;
    text-indent: 2px;
    width: auto;
}
div.vpRowVert div.msgSubject {
    float: none;
    font-style: italic;
    margin-right: 2px;
    width: auto;
}
div.vpRowVert div.msgSubject span.flagUser {
    font-style: normal;
}

div.vpRowVert.flagUnseen {
    font-weight: normal;
}

/* ViewPort - scroller */
.vpScroll {
    background: url("../graphics/scroller_back.png") repeat-y;
}
.vpScrollCursor {
    background: url("../graphics/scroller.png") repeat-y;
    border-left: 1px solid silver;
    width: 13px;
}
.vpScrollDown, .vpScrollUp {
    border-left: 1px solid silver;
    height: 16px;
    width: 13px;
}
.vpScrollUp {
    background-image: url("../graphics/sbcursor_top.png");
}
.vpScrollDown {
    background-image: url("../graphics/sbcursor_bottom.png");
}

/* IFRAMEs */
.iframe {
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

/* Sidebar */
#sidebar .sepfull {
    height: 1px !important;
    margin: 5px 0;
    background: silver;
}
#sidebar .count {
    color: silver;
}
#sidebar li {
    list-style: none;
    height: 16px;
    line-height: 16px;
    padding-top: 1px;
    white-space: nowrap;
}
#sidebar li a, #sidebar li.folder, #sidebar li.container, #sidebar li.custom, #sidebar li.servicelink {
    color: #000;
    font-size: 95%;
    text-decoration: none;
}
#sidebar li.servicelink a {
    font-weight: bold;
}
#sidebar li.custom {
    background: transparent none;
}
#sidebar li.custom img {
    float: left;
    padding: 1px 4px 0 0;
}
#sidebar li.on {
    background: #ffa;
}
#sidebar li.subfolders {
    height: auto;
    margin: 0;
}
#sidebar li.subfolders ul {
    padding-left: 10px;
}
span.iconImgSidebar {
    background-position: left center;
    background-repeat: no-repeat;
    display: inline;
    float: left;
    height: 100%;
    margin-right: 0;
    width: 20px;
}
#ctx_folder_sub span.iconImg, #ctx_folder_unsub span.iconImg, #ctx_folderopts_sub span.iconImg, #ctx_folderopts_unsub span.iconImg {
    background-image: url("../graphics/folders/folder.png");
}
#sidebar span.col, #ctx_folderopts_collapse span.iconImg, #ctx_container_collapse span.iconImg, #ctx_folder_collapse span.iconImg {
    background-image: url("../graphics/folders/minus.png");
}
#sidebar span.exp, #ctx_folderopts_expand span.iconImg, #ctx_container_expand span.iconImg, #ctx_folder_expand span.iconImg {
    background-image: url("../graphics/folders/plus.png");
}
#normalfolders li.unsubFolder {
    font-style: italic;
}
#sidebar .over a, #sidebar li.folder:hover, #sidebar li.custom:hover, #sidebar li.servicelink:hover {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}
#sidebar .container span.iconImgSidebar {
    cursor: pointer;
}

#logo, #dimpbarActions, #serviceActions, #foldersSidebar, #normalfolders {
    overflow-x: hidden;
    overflow-y: auto;
}

#folderopts a {
    display: inline !important;
    padding-right: 1px;
}
#folderopts:hover {
    font-weight: normal !important;
}

/* Message options. */
.dimpOptions {
    float: right;
}
.dimpOptions div {
    line-height: 16px;
    padding-bottom: 2px;
}
.dimpOptions span {
    cursor: pointer;
}
.dimpOptions .iconImg {
    margin-right: 0;
}
.dimpOptions a, .dimpOptions a:visited {
    text-decoration: none;
    color: #000;
}
.dimpOptions a:hover {
    text-decoration: underline;
}

#encrypt_label, #priority_label {
    cursor: default;
    font-weight: bold;
}

/* Actions */
.dimpActions {
    background: #efefef;
    padding: 4px 2px;
    border: 1px silver solid;
    background: transparent url("../graphics/backhead_s2.png") repeat-x;
    height: 16px;
}
.dimpActions div {
    cursor: pointer;
    float: left;
    padding-right: 6px;
}
.dimpActions a, .dimpActions a:visited, .dimpActions label {
    color: #000;
    font-size: 90%;
    font-weight: bold;
    white-space: nowrap;
    padding: 2px 4px 4px 4px;
}
.dimpActions a img {
    margin-right: 4px;
    vertical-align: top;
}
.dimpActions .iconImg {
    vertical-align: top;
}
.dimpActions a:hover {
    background-color: #e3e3e3;
    text-decoration: none;
}
.dimpActions span.popdown, .dimpActions span.spellcheckPopdownImg, span.popdownImg {
    filter: alpha(opacity=50);
    -moz-opacity: .5;
    opacity: .5;
}
.dimpActions span.popdown:hover, .dimpActions span.spellcheckPopdownImg:hover, span.popdownImg:hover {
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
}
.dimpActions span.spellcheckPopdownImg:hover, span.popdownImg {
    border: 0;
    margin: 0;
}
.dimpActions .disabled a:hover {
    background-color: transparent;
}
.dimpactions .disabled, .dimpActions .disabled a, .dimpActions .disabled a:visited, .dimpActions .disabled a:active, .dimpActions .disabled a:hover {
    color: silver !important;
    cursor: default;
    text-decoration: none;
}
.dimpActions .disabled span.iconImg, .dimpActions .disabled span.spellcheckPopdownImg, .dimpActions .disabled img {
    filter: alpha(opacity=25);
    -moz-opacity: .25;
    opacity: .25;
}
.dimpActions .disabled span.popdown:hover, .dimpActions .disabled span.spellcheckPopdownImg {
    border: 0;
    cursor: default;
    margin: 0;
}

#button_compose, #button_checkmail {
    display: none;
}

div.dimpActionsCompose, div.dimpActionsMsg {
    border-bottom: 1px solid #999;
}

/* Preview pane styles. */
#previewPane {
    overflow: auto;
}
#previewInfo {
    background: transparent url("../graphics/ico_message_off.png") no-repeat scroll 10px 15px;
    color: #a0a0a0;
    line-height: 18px;
    padding: 15px 80px 10px 35px;
}

/* Headers styles. */
.msgHeaders {
    background: transparent url("../graphics/backhead_r.png") repeat-x;
    border-bottom: 1px #b9b9b3 solid;
    padding: 2px 0 1px;
    font-size: 90%;
    overflow: hidden;
}
.msgfullread .msgHeaders {
    cursor: default;
}

.msgHeaders .dimpOptions {
    padding: 3px 10px 5px 5px;
}

.msgHeaders table {
    margin-top: -2px;
}
.msgHeaders table thead td {
    padding: 0 0 1px 0;
}
.msgHeaders table thead tr {
    vertical-align: top;
}
.msgHeaders table thead td.label {
    font-weight: bold;
    padding-right: 4px;
    text-align: right;
    white-space: nowrap;
}
.msgfullread .msgHeaders table thead td.label {
    padding-left: 3px;
}
.msgHeaders table thead td.subject {
    font-weight: bold;
}

#msgAtc td {
    padding-bottom: 0;
    padding-top: 1px;
}
.atcLabel, .msgLogLabel {
    font-weight: bold;
}
.atcLabel {
    padding-right: 5px;
}

#partlist table {
    margin-top: 3px;
}
#partlist td {
    padding-bottom: 2px;
    padding-right: 3px;
}

#partlist_toggle span.attachmentImg {
    margin-right: 0;
}

#msgloglist ul {
    list-style-type: none;
}
#msgloglist li {
    line-height: 18px;
}

#msgloglist_toggle, #partlist_toggle {
    cursor: pointer;
}

#msgHeadersContent {
    overflow: hidden;
}

/* ini msg small header */
#toggleHeaders {
    float: left;
}
#msgHeadersColl {
    margin: 0 6px;
    white-space: nowrap;
}
#msgHeadersColl span.date {
    float: right;
    text-align: right;
}
#msgHeadersColl span.subject, #msgHeadersColl span.from {
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
#msgHeadersColl span.subject {
    float: left;
    font-weight: bold;
    max-width: 50%;
    padding-left: 2px;
}
#msgHeadersColl span.fromcontainer {
    padding-left: 5px;
}
#msgHeadersColl span.from {
    max-width: 40%;
}
/* end msg small header */

/* Message body formatting. */
.messageBody {
    background: #fff url("../graphics/backhead_shadow.png") top repeat-x;
    border: 0;
    padding: 7px 5px 5px;
}
.msgfullread div.messageBody {
    overflow: auto;
}

/* Message Composition. */
.composeAddrbook, #togglebcc, #togglecc {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}
#togglebcc, #togglecc {
    padding-right: 5px;
}
.composeAddrbook:hover {
    font-weight: bold;
}
#togglebcc:hover, #togglecc:hover {
    color: red;
}

#writemsg input.checkbox {
    margin-right: 2px;
}

#priority_label, #encrypt_label {
    margin-left: 2px;
}

.msgwrite {
    background: #e2e2e2 url("../graphics/backhead_r.png") repeat-x;
    border: 1px #b9b9b3 solid;
    cursor: default;
    padding: 2px 0;
}
.msgwrite .dimpOptions {
    padding: 8px 8px 0 0;
    font-size: 90%;
}
.msgwrite .dimpOptions div {
    padding-bottom: 0;
}
.msgwrite .dimpOptions label, #replyallnotice, #replylistnotice {
    cursor: pointer;
}
#noticerow li span.closeImg {
    float: right;
    margin: -1px 0 0;
    padding-left: 3px;
}
.msgwrite tr {
    vertical-align: top;
}
.msgwrite td {
    font-size: 90%;
}
.msgwrite td.label {
    white-space: nowrap;
    text-align: right;
    padding: 4px 4px 0 4px;
}
.msgwrite span.loadingImg {
    display: -moz-inline-stack;
    display: inline-block;
    padding: 1px;
    position: relative;
    right: 28px;
    filter: alpha(opacity=75);
    -moz-opacity: .75;
    opacity: .75;
}

#noticerow .notices li {
    display: -moz-inline-stack;
    display: inline-block;
}

#composeMessageParent {
    background: #fff url("../graphics/backhead_shadow.png") top repeat-x;
    border-left: 1px silver solid;
    border-right: 1px silver solid;
    border-bottom: 1px silver solid;
    padding: 10px 5px 5px;
}
#composeMessage {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#rteloading {
    position: absolute;
    z-index: 100;
    background-color: #000;
    filter: alpha(opacity=35);
    -moz-opacity: .35;
    opacity: .35;
}
#rteloadingtxt {
    position: absolute;
    background-color: #fff;
    z-index: 101;
}

/* Attachment file list */
#attach_list {
    padding-left: 15px;
}
#attach_list li {
    padding-top: 5px;
}
#attach_list span.remove {
    border: 1px solid #ccc;
    font-weight: bold;
    padding: 1px;
}
#attach_list span.attachName, #attach_list span.remove:hover {
    cursor: pointer;
    text-decoration: underline;
}
#attach_list span.attachName {
    color: blue;
}
#attach_list span.attachName:hover, #attach_list span.remove:hover {
    color: red;
}

#upload_wait {
    display: -moz-inline-stack;
    display: inline-block;
    font-weight: bold;
    padding-top: 2px;
}

span.attachmentImg {
    background-image: url("../graphics/attachment.png");
}

/* Context Menus */
.context div.contactAddr, .context div.folderName {
    font-style: italic;
    text-align: center;
}

/* Email Addresses. */
a.address {
    cursor: pointer;
    position: static;
    text-decoration: underline;
    white-space: nowrap;
}
a.address img {
    display: none;
    vertical-align: top;
}
a.address:hover {
    background: #fff;
    border: 1px silver solid;
    margin: -2px;
    padding: 1px;
    text-decoration: none;
}
a.address:hover img {
    display: inline;
    padding-left: 4px;
}

/* Drag and drop styles. */
.drag, .dragdrop, .folderdrag, .msgdrag {
    background: #eee;
    border: 1px solid #ccc;
    font-size: 12px;
    overflow: hidden;
    z-index: 999;
}
.dragdrop {
    color: red;
}
.dragdrop, .folderdrag, .msgdrag {
    padding: 2px;
}

/* Search-related styles */
#qsearch {
    background-color: #f3f3f3;
    border: 1px solid #999;
    cursor: default;
    float: right;
    margin-top: -2px;
    padding-left: 1px;
    padding-right: 1px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
#qsearch form {
    display: inline;
}
#qsearch_icon {
    background: #f3f3f3 url("../graphics/search.png") center no-repeat;
    cursor: pointer;
    margin-right: 0;
    padding-top: 2px;
}
#qsearch_input {
    border: none;
    color: #a0a0a0;
    padding: 0 2px 0 0;
    width: 150px;
}
.qsearchFocus, .qsearchFocus #qsearch_icon, .qsearchFocus #qsearch_input {
    background-color: #fff !important;
}
.qsearchFocus #qsearch_input {
    color: #000 !important;
}
.qsearchMatch {
    font-weight: bold;
    text-decoration: underline;
}

#searchbar {
    background-color: #ffa;
    border: 1px solid gray;
    padding: 3px 2px;
}
#search_close, #search_edit, #search_refresh {
    cursor: pointer;
    float: right;
    margin-top: -1px;
}
#searchbar #search_label {
    font-size: 90%;
    font-weight: bold;
}

/* Redbox styles. */
.RBForm {
    width: 20em;
    padding: 6px;
    border: 1px solid #ccc;
}
.RBForm input {
    margin: .2em;
}

/* Popup message styling. */
.headercloseimg {
    float: right !important;
    cursor: pointer;
}
#compose_close {
    margin-top: 1px;
}

/* Keyboard key style */
.kbd {
    background: #eee;
    color: #000;
    white-space: nowrap;
    padding: 1px 2px;
    border: 1px solid #888;
    font-size: 90%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

/* Images */
span.iconImg, span.spellcheckPopdownImg {
    margin-right: 4px;
}

/* Sidebar images. */
span.infoIcon {
    background-image: url("../graphics/info_icon.png");
}
span.filtersIcon {
    background-image: url("../graphics/filters.png");
}
span.prefsIcon {
    background-image: url("../graphics/prefs.png");
}
span.logoutIcon {
    background-image: url("../graphics/logout.png");
}

/* Dimp action images. */
span.dimpactionReply {
    background-image: url("../graphics/reply.png");
}
span.dimpactionForward {
    background-image: url("../graphics/forward.png");
}
span.dimpactionSpam {
    background-image: url("../graphics/spam.png");
}
span.dimpactionHam {
    background-image: url("../graphics/ham.png");
}
span.dimpactionCompose {
    background-image: url("../graphics/compose.png");
}
span.dimpactionCheckmail {
    background-image: url("../graphics/checkmail.png");
}
span.dimpactionRefresh {
    background-image: url("../graphics/reload.png");
}
span.dimpactionDelete {
    background-image: url("../graphics/delete.png");
}
span.dimpactionOther {
    background-image: url("../graphics/plus.png");
}
span.dimpactionSpellcheck {
    background-image: url("../graphics/spellcheck.png");
}
span.dimpactionDrafts {
    background-image: url("../graphics/drafts.png");
}
span.dimpactionEditsearch {
    background-image: url("../graphics/edit.png");
}
span.dimpactionResume {
    background-image: url("../graphics/mail_draft.png");
}

/* Context menu images */
#ctx_message_reply span.iconImg {
    background-image: url("../graphics/reply.png");
}
#ctx_reply_reply span.iconImg, #ctx_reply_reply_all span.iconImg, #ctx_reply_reply_list span.iconImg {
    background-image: url("../graphics/replyall.png");
}
#ctx_message_forward span.iconImg, #ctx_forward_attach span.iconImg, #ctx_forward_body span.iconImg, #ctx_forward_both span.iconImg, #ctx_forward_redirect span.iconImg {
    background-image: url("../graphics/forward.png");
}
#ctx_folder_empty span.iconImg, #ctx_message_deleted span.iconImg, #oa_purge_deleted span.iconImg {
    background-image: url("../graphics/delete.png");
}
#ctx_message_undeleted span.iconImg, #oa_undeleted span.iconImg {
    background-image: url("../graphics/undelete.png");
}
#ctx_folder_seen span.iconImg {
    background-image: url("../graphics/mail_seen.png");
}
#ctx_folder_unseen span.iconImg, #ctx_folder_poll span.iconImg, #ctx_folder_nopoll span.iconImg {
    background-image: url("../graphics/mail_unseen.png");
}
#ctx_message_setflag span.iconImg, #oa_setflag span.iconImg, #ctx_folder_setflag span.iconImg {
    background-image: url("../graphics/mail_flagged.png");
}
#ctx_message_unsetflag span.iconImg, #oa_unsetflag span.iconImg {
    background-image: url("../graphics/mail_clearflag.png");
}
#ctx_message_source span.iconImg, #msg_view_source span.iconImg {
    background-image: url("../graphics/message_source.png");
}
#ctx_message_resume span.iconImg, #msg_resume_draft span.iconImg {
    background-image: url("../graphics/mail_draft.png");
}
#oa_preview_hide span.iconImg, #oa_preview_show span.iconImg {
    background-image: url("../graphics/preview.png");
}
#oa_layout_horiz span.iconImg {
    background-image: url("../graphics/application_tile_vertical.png");
}
#oa_layout_vert span.iconImg {
    background-image: url("../graphics/application_tile_horizontal.png");
}
#oa_help span.iconImg {
    background-image: url("../graphics/help.png");
}
#ctx_folder_create span.iconImg, #ctx_container_create span.iconImg, #ctx_folderopts_new span.iconImg {
    background-image: url("../graphics/folders/create.png");
}
#ctx_folder_rename span.iconImg, #ctx_container_rename span.iconImg, #ctx_vcontainer_edit span.iconImg, #ctx_vfolder_edit span.iconImg {
    background-image: url("../graphics/folders/edit.png");
}
#ctx_folder_search span.iconImg, #ctx_folder_searchsub span.iconImg, #ctx_container_search span.iconImg, #ctx_container_searchsub span.iconImg {
    background-image: url("../graphics/search.png");
}
#ctx_folder_delete span.iconImg, #ctx_vfolder_delete span.iconImg {
    background-image: url("../graphics/folders/delete.png");
}
#ctx_message_spam span.iconImg {
    background-image: url("../graphics/spam.png");
}
#ctx_message_ham span.iconImg {
    background-image: url("../graphics/ham.png");
}
#ctx_message_blacklist span.iconImg, #oa_blacklist span.iconImg {
    background-image: url("../graphics/blacklist.png");
}
#ctx_message_whitelist span.iconImg, #oa_whitelist span.iconImg {
    background-image: url("../graphics/whitelist.png");
}
#ctx_contacts_new span.iconImg {
    background-image: url("../graphics/compose.png");
}
#ctx_contacts_add span.iconImg {
    background-image: url("../graphics/add_contact.png");
}
#ctx_folderopts_reload span.iconImg {
    background-image: url("../graphics/reload.png");
}
#ctx_flag span.iconImg.flagUser, #ctx_flag_search span.iconImg.flagUser {
    border: 1px black solid;
    height: 15px;
    width: 15px;
}
div.vpRow div.msgSubject span.flagUser {
    font-size: 90%;
    font-weight: normal;
    margin-right: 3px;
}

/* Thread images */
div.msgSubject span.treeImg {
    margin-top: -4px;
    margin-right: 1px;
}

/* Other images */
#msg_newwin span.iconImg, #msg_newwin_options span.iconImg {
    background-image: url("../graphics/newwin.png");
}
#msg_newwin span.iconImg {
    cursor: pointer;
    float: right;
    margin-left: 4px;
    margin-right: 0;
}
#th_expand span.iconImg, #partlist_col, #msgloglist_col {
    background-image: url("../graphics/arrow_collapsed.png");
    cursor: pointer;
    margin-right: 0;
}
#th_collapse span.iconImg, #partlist_exp, #msgloglist_exp {
    background-image: url("../graphics/arrow_expanded.png");
    cursor: pointer;
    margin-right: 0;
}

span.popdownImg, span.spellcheckPopdownImg {
    background-image: url("../graphics/popdown.png");
    margin-right: 0;
    margin-left: 0;
}
span.keyupImg {
    background-image: url("../graphics/key_up.png");
}
span.keydownImg {
    background-image: url("../graphics/key_down.png");
}
span.readonlyImg {
    background-image: url("../graphics/locked.png");
    vertical-align: sub;
}

/* Growler notification styles. */
#Growler div.imp-reply, span.imp-reply {
    background-image: url("../graphics/mail_answered.png");
}
#Growler div.imp-reply_all, span.imp-reply_all {
    background-image: url("../graphics/replyall.png");
}
#Growler div.imp-forward, div.imp-redirect, span.imp-forward, span.imp-redirect {
    background-image: url("../graphics/mail_forwarded.png");
}

/* Help screen */
#helptext {
    bottom: 0;
    left: 0;
    line-height: 18px;
    position: fixed;
    width: 100%;
    z-index: 10001;
}
#helptext div {
    background: lightgrey;
    border: 1px solid grey;
    line-height: 18px;
    padding: 10px 30px 15px;
}
#helptext_close {
    cursor: pointer;
    float: right;
}
