body {
    background: #224;
}

.headerbox {
    border-color: #669;
    background: #fff;
}
.header {
    color: #cce;
    background: #446;
    clear: both;
}
.header a:hover, a.header:hover {
    color: #fff;
}
.header a {
    color: #cce;
}
a.header:hover {
    color: #fff;
}
a {
    color: #339;
}
a:hover {
    color: blue;
}
.selected {
    background-color: #bbcbff;
}
.selected-over {
    background-color: #cef;
}

.widget {
    color: #224;
}
a.widget:hover {
    color: blue;
    background: #bbcbff;
}

.notice {
    font-weight: bold;
    background-color: #ffc;
    border: 1px solid #aaa;
    padding: 1px;
    padding-left: 5px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.light {
    color: #fff;
    font-family: Geneva,Arial,"Bistream Vera Sans",Helvetica,sans-serif;
}
.smallheader {
    color: #cce;
    background-color: #446;
}
.smallheader a:hover, a.smallheader:hover {
    color: #fff;
}
.smallheader a {
    color: #cce;
}
.control {
    color: #000;
    background-color: #ccc;
    border-bottom: 1px solid #999;
}
.item {
    color: #000;
    background-color: #eee;
}
.text {
    color: #000;
    background-color: #fff;
}

/* Form styles. */
.button {
    color: #fff;
    background-color: #669;
    border-bottom: 1px solid #224;
    border-right: 1px solid #224;
    border-top: 1px solid #99c;
    border-left: 1px solid #99c;
    font-family: Verdana,Helvetica,sans-serif;
}
a:hover.button {
    color: #fff;
}

/* Menu styles. */
#menu {
    color: #fff;
    background-color: #446;
}
#menu a {
    color: #eef;
}
#menu a:hover {
    color: yellow;
    border-bottom: 1px solid #66a;
    border-right: 1px solid #66a;
    border-top: 1px solid #224;
    border-left: 1px solid #224;
    padding: 2px;
}
#menu a.current {
    background-color: #668;
    border-bottom: 1px solid #99c;
    border-right: 1px solid #99c;
    border-top: 1px solid #224;
    border-left: 1px solid #224;
    padding: 2px;
}
#menu h1 {
    font-family: Verdana,Helvetica,sans-serif;
    line-height: 50px;
}

/* Sidebar styles. */
#sidebarPanel {
    background-color: #eee;
}
#sidebarPanel a:hover {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #000;
}

/* Tab styles. */
.tabset li.activeTab a, .tabset li.activeTab a:hover {
    border-bottom-color: #446;
    background-color: #446;
    color: #cce;
}

/* Preferences overview. */
.prefsOverview h2 {
    color: #fff;
}
