<?php
/**
 * This file will allow you to set headers to append to outgoing mail messages.
 *
 * To add a new header item, simply add a new entry to the $_header array.
 * KEY:   Header name (must be in US-ASCII charset))
 * VALUE: Header data (must be in US-ASCII charset)
 *
 * $Id$
 */

$_header = array(

    // Add information on organization to which the sender belongs.
    // Not standardized for use in e-mail, but generally recognized.
    // See RFC 2076 [3.7]; RFC 1036 [2.2.8]
    //'Organization' => 'Example Corp.',

    // Add the IP of the remote browser
    //'X-Originating-IP' => $_SERVER['REMOTE_ADDR'],

    // Add the Browser information of the remote browser
    //'X-Remote-Browser' => $_SERVER['HTTP_USER_AGENT'],

);
