<?php
/**
 * This file contains any "Message Of The Day" Type information.
 * It will be included below the login form on the login page.
 *
 * $Id$
 */

/**
 * Example code for switching between HTTP and HTTPS.
 * Contributed by: James <james@james-web.net>
 * To use, uncomment and modify these variables:
 *
 * $SERVER_SSL_PORT - Port on which your SSL server listens (Usually 443)
 * $SERVER_HTTP_PORT - Port on which your HTTP server listens (Usually 80)
 * $SERVER_SSL_URL - Full URL to your HTTPS server and Horde directory
 * $SERVER_HTTP_URL - Full URL to your HTTP server and Horde directory
 */

// $SERVER_SSL_PORT = 443;
// $SERVER_HTTP_PORT = 80;
// $SERVER_SSL_URL = 'https://www.example.com';
// $SERVER_HTTP_URL = 'http://www.example.com';
//
// $port = $_SERVER['SERVER_PORT'];
//
// echo '<br /><div align="center" class="light">';
//
// switch ($port) {
// case $SERVER_SSL_PORT:
//     echo _("You are currently using Secure HTTPS<br />");
//     break;
//
// case $SERVER_HTTP_PORT:
//     echo _("You are currently using Standard HTTP<br />");
//     break;
// }
//
// echo '<a class="small" href="' . $SERVER_HTTP_URL . '" target="_parent">' . _("Click here for Standard HTTP") . '</a> - <a class="small" href="' . $SERVER_SSL_URL . '" target="_parent">' . _("Click here for Secure HTTPS") . '</a></div>';

?>
<br />
<table width="100%"><tr><td align="center"><?php echo Horde::img('horde-power1.png', _("Powered by Horde"), '', $registry->getImageDir('horde')) ?></td></tr></table>
