<?php
/**
 * This file defines a custom list of words that will be added to the spell
 * checker dictionary.
 *
 * $Id$
 */

/* Default list (English). */
$ignore_list = array(
    'jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct',
    'nov', 'dec', 'fwd', 'http', 'https', 'html', 'email', 'bcc', 'jpg', 'gif'
);
