<tag:menu_string />
<form action="<tag:login_url />" method="get" name="gollemmenu">
<tag:forminput />
<loop:hidden>
<input type="hidden" name="<tag:hidden.key />" value="<tag:hidden.value />" />
</loop:hidden>

<if:be_select>
 <span class="rightFloat">
  <label for="backend_key" accesskey="<tag:accesskey />">
   <select id="backend_key" name="backend_key" onchange="serverSubmit()">
    <tag:be_select />
   </select>
  </label>
 </span>
 <div class="rightFloat">
  <tag:slink />
 </div>
</if:be_select>
 <br class="clear" />
</form>

<script type="text/javascript">
<!--
var loading;
function serverSubmit(clear)
{
    if (document.gollemmenu.backend_key[document.gollemmenu.backend_key.selectedIndex].value != '') {
        if ((loading == null) || (clear != null)) {
            loading = true;
            document.gollemmenu.submit();
        }
    }
}
// -->
</script>
