body {
    background: #505050;
}
a {
    color: #505050;
}
a:hover {
    color: #505050;
}
a.widget:hover {
    color: #505050;
    background-color: #ebebd7;
}
.header {
    color: #505050;
    background: #bba;
}
.smallheader {
    color: #505050;
    background: #bba;
}
.light {
    color: #fff;
}
.control {
    background: #dedebb;
}
.item {
    background-color: #ebebd7;
}
.button {
    font-weight: bold;
    background: #ebe6db url("graphics/button.gif") top left repeat-x;
    color: #3f3f3f;
    border: solid 1px #a19c92;
    padding: 0.1em 0.2em 0.1em 0.2em;
    cursor: pointer;
}
.item1 {
    background-color: #e6e6de;
}
.selected {
    background-color: #cdcdcd;
}

/* Menu styles. */
#menu {
    color: #000;
    background: #bba;
    border-bottom: 1px solid #000;
}
#menu a.current {
    background: #bfbfaa;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    padding: 2px;
}

/* Sidebar styles. */
#sidebarPanel {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    background: #bba;
}
#expandButton {
    margin-right: 1px;
}

/* Tab styles. */
.tabset li.activeTab a, .tabset li.activeTab a:hover {
    color: #505050;
    border-bottom-color: #bba;
    background-color: #bba;
}
