<?php
/**
 * Autogenerate template
 *
 * Copyright 2006-2007 Duck <duck@obala.net>
 *
 * NOTE: Template is an multidimensional array.
 *       The first level key define record types
 *       For each type you can specify the replacement behavior and how
 *       autogenerate will treat old records.  'all' deletes all records
 *       of the same type, 'match' deletes those which have the same hostname,
 *       and 'none' simply adds more records leaving everything existing in
 *       place.
 *       The 'records' element is an array of arrays of Beatnick::getRecFields()
 *       key => value pairs.
 *
 * EXAMPLE:
 *
 *      $template['cname'][] = array('hostname' => 'www',
 *                                   'pointer' => 'server1',
 *                                   'ttl' => 3600);
 *      $template['mx'][] = array('pointer' => 'server2',
 *                                'pref' => 10);
 *
 * See the enclosed file COPYING for license information (GPL). If you
 * did not receive this file, see http://www.horde.org/licenses/gpl.
 *
 * @author Duck <duck@obala.net>
 * @package Beatnik
 */
$templates['example'] = array(
    'description' => _("Example Template"),
    'types' => array(

        // Example 'NS' records
        'ns' => array(
            'replace' => 'all', // Set to 'all' to remove all pre-existing
                               // NS records

            'records' => array(      // Array of records to be created
                array('hostname' => 'ns1', 'pointer' => '10.0.0.1' ),
                array('hostname' => 'ns2', 'pointer' => '10.0.0.2' ),
            ),
        ),

        // Example 'MX' record
        'mx' => array(
            'replace' => 'none', // Set to 'none' to leave all existing
                                // MX records alone
            'records' => array(
                array('pointer' => 'mail', 'pref' => 10 ),
            ),
        ),


        // Example 'A' record
        'a' => array(
            'replace' => 'match', // Set to 'match' to remove all records
                                 // which share the same hostname
                                 // (ie. 'www')

            'records' => array(
                // Notice the trailing '.' on the A record for the
                // domain itself.  For all other records, use the short
                // hostname and do not append a '.'
                array('hostname' =>
                          $_SESSION['beatnik']['curdomain']['zonename'] . '.',
                      'ipaddr'    => '10.0.0.3',
                ),

                array('hostname' => 'www', 'ipaddr'   => '10.0.0.3' ),
            ),
        ),
    ),
);

