<form method="post" action="<tag:action />">
<input type="hidden" name="search_basic_mbox" value="<tag:mbox />" />

<h1 class="header">
 <strong><tag:search_title /></strong>
</h1>

<table class="item">
 <tr>
  <td class="searchUILabel"><gettext>Search Criteria:</gettext></td>
  <td>
   <select name="search_criteria">
    <option value=""><gettext>None</gettext></option>
    <option value="" disabled="disabled">- - - - - - - - - -</option>
<loop:s_fields>
    <option value="<tag:s_fields.val />"><tag:s_fields.label /></option>
</loop:s_fields>
   </select>
   <span<if:hide_criteria> style="display:none"</if:hide_criteria>>
    <input type="text" name="search_criteria_text" size="30" />
    <input type="checkbox" class="checkbox" name="search_criteria_not" />
    <label for="search_criteria_not"><gettext>Do NOT Match</gettext></label>
   </span>
  </td>
 </tr>
 <tr>
  <td class="searchUILabel"><gettext>Search Flags:</gettext></td>
  <td>
   <select name="search_flags">
    <option value=""><gettext>None</gettext></option>
    <option value="" disabled="disabled">- - - - - - - - - -</option>
<loop:f_fields>
    <option value="<tag:f_fields.val />"><tag:f_fields.label /></option>
</loop:f_fields>
   </select>
  </td>
 </tr>
<if:advsearch>
<tr>
  <td colspan="2"><tag:advsearch /><gettext>Go to Advanced Search Page...</gettext></td>
 </tr>
</if:advsearch>
</table>

<div>
 <input type="submit" class="button basicSearchSubmit" value="<gettext>Submit</gettext>" />
 <input type="reset" class="button basicSearchReset" value="<gettext>Reset</gettext>" />
</div>
</form>
