<form id="search_form" action="<tag:action />" method="post">
 <input class="hidden" name="criteria_form" id="criteria_form" value="" />

 <h1 class="header">
  <strong><if:edit_query_vfolder><gettext>Edit Virtual Folder</gettext><else:edit_query_vfolder><gettext>Search</gettext></else:edit_query_vfolder></if:edit_query_vfolder></strong>
 </h1>

 <div id="recent_searches_div" class="smallheader leftAlign" style="display:none">
  <span class="searchuiImg arrowExpanded" style="display:none"></span>
  <span class="searchuiImg arrowCollapsed"></span>
  <gettext>Recent Searches</gettext>
 </div>

 <div class="item" style="display:none">
  <label for="recent_searches" class="hidden"><gettext>Recent Searches:</gettext></label>
  <select id="recent_searches">
   <option value=""><gettext>Recent Searches:</gettext></option>
  </select>
 </div>

 <div class="smallheader leftAlign">
  <span class="searchuiImg arrowExpanded"></span>
  <span class="searchuiImg arrowCollapsed" style="display:none"></span>
 <gettext>Search Criteria</gettext>
 </div>

 <div class="item">
  <table id="search_criteria_table"></table>
  <div>
   <select id="search_criteria">
    <option value=""><gettext>Add search criteria:</gettext></option>
    <option value="" disabled="disabled">- - - - - - - - -</option>
    <option value="or" style="display:none"><gettext>Add OR clause</gettext></option>
    <option value="" disabled="disabled" style="display:none">- - - - - - - - -</option>
<loop:s_fields>
    <option value="<tag:s_fields.val />"><tag:s_fields.label /></option>
</loop:s_fields>
    <option value="" disabled="disabled">- - - - - - - - -</option>
<loop:f_fields>
    <option value="<tag:f_fields.val />"><tag:f_fields.label /></option>
</loop:f_fields>
   </select>
  </div>
 </div>

 <div class="smallheader leftAlign" id="search_folders_hdr">
  <span class="searchuiImg arrowExpanded" style="display:none"></span>
  <span class="searchuiImg arrowCollapsed"></span>
  <gettext>Search Folders</gettext>
  <span class="searchuiFoldersActions" style="display:none">
   <a id="link_sel_all" href="#"><gettext>Select all</gettext></a> |
   <a id="link_sel_none" href="#"><gettext>Select none</gettext></a>
  </span>
 </div>

 <div class="item" id="search_folders_tree" style="display:none">
  <tag:tree />
 </div>

<if:virtualfolder>
 <div class="smallheader leftAlign">
  <span class="searchuiImg arrowExpanded" style="display:none"></span>
  <span class="searchuiImg arrowCollapsed"></span>
  <gettext>Saved Searches</gettext>
 </div>

 <div style="display:none">
<if:edit_query_vfolder>
  <input type="hidden" name="edit_query_vfolder" value="" />
<else:edit_query_vfolder>
  <div class="item">
   <input type="checkbox" class="checkbox" id="search_save" name="search_save" /> <label for="search_save"><gettext>Save search?</gettext></label>
  </div>
  <div class="item">
   <label for="search_type"><gettext>Type:</gettext></label>
   <select id="search_type" name="search_type">
    <option value="vfolder"><gettext>Virtual Folder</gettext></option>
   </select>
  </div>
</else:edit_query_vfolder></if:edit_query_vfolder>
  <div class="item">
   <label for="search_label"><gettext>Label:</gettext></label> <input type="text" name="search_label" id="search_label" />
  </div>
 </div>
</if:virtualfolder>

 <div class="searchuiButtons">
  <input type="button" id="search_submit" class="button" value="<if:edit_query_vfolder><gettext>Save</gettext><else:edit_query_vfolder><gettext>Submit</gettext></else:edit_query_vfolder></if:edit_query_vfolder>" />
  <input type="button" id="search_reset" class="button" value="<gettext>Reset</gettext>" />
<if:return_mailbox_val>
  <input type="button" id="search_dimp_return" class="button" value="<tag:return_mailbox_val />" />
</if:return_mailbox_val>
 </div>
</form>

<div id="folder_row" style="display:none">
 <input type="checkbox" class="checkbox" name="search_folders_form[]" />
</div>

<select id="within_criteria" style="display:none">
 <option value="d"><gettext>Days</gettext></option>
 <option value="m"><gettext>Months</gettext></option>
 <option value="y"><gettext>Years</gettext></option>
</select>
