html, body {
    height: 100%;
}
body.hermesAjax {
}

/* Main views */
#hermesBody {
    position: absolute;
    top: 30px;
    left: 8px;
    right: 0;
    bottom: 0;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Sidebar */
.hermesSeparator {
    padding-left: 7px;
    color: #808080;
    text-indent: -10000px;
}

/* Loading spinner */
.hermesLoading {
    position: absolute;
    z-index: 1;
    background: transparent url("../graphics/loading.gif") no-repeat 4px 3px;
    width: 22px;
    height: 22px;
    opacity: 0.5;
}
#hermesLoadingTime {
    left: 0;
}

/* Main area */
#hermesMain {
    clear: both;
    height: 100%;
}

/* Timelist fields */
.hermesTimeListSelect {
    float: left;
    width: 18px;
    white-space: pre-wrap;
}

.hermesTimeListSelect:hover {
    background: url("../graphics/checkbox_over.png") no-repeat center;
}

/* Header */
#hermesTimeListHeader {
    width: 100%;
    display: inline-block;
    background-color: #ddd;
    border-color: -moz-use-text-color silver silver;
    border-right: 1px solid silver;
    border-style: none solid solid;
    border-width: 0 1px 1px;
}
#hermesTimeListHeader div {
    height: 14px;
    text-indent: 2px;
    font-weight: bold;
    padding-top: 1px;
    padding-bottom: 1px;
}
#hermesTimeListBody div {
    text-indent: 2px;
}
#hermesTimeListHeader div.sortup, #hermesTimeListHeader div.sortdown {
  background-position: 2px 50%;
  padding-left: 0;
}
#hermesTimeListHeader div.sortup a, #hermesTimeListHeader div.sortdown a {
    padding-left: 14px;
}

/* Body of timelist */
#hermesTimeListBody {
/*  overflow-x: hidden;
  overflow-y: auto;*/
  width: 100%;
}
/* Each entry */
.hermesTimeListRow {
    font-size: 100%;
    line-height: 26px;
    overflow: hidden;
    border-bottom: 1px solid #eee;
}
.hermesBorderLeft {
    border-left: 1px solid #eee;
}

.rounded.sliceEdit {
  background: -moz-linear-gradient(-90deg, #eaeaea, #d7d7d7);
  background: -webkit-gradient(linear, left bottom, left top, #eaeaea, #d7d7d7);
  background-color: #eaeaea;
  color: #444444;
}
.rounded.sliceEdit:hover {
  background: -moz-linear-gradient(-90deg, #d7d7d7, #eaeaea);
  background: -webkit-gradient(linear, left bottom, left top, #d7d7d7, #eaeaea);
  background-color: #d7d7d7;
  border: 1px solid #BAB5B5;
  color: #333333;
}
.rounded.sliceDelete {
  background: -moz-linear-gradient(-90deg, #f5b5b5, #ed8080) repeat scroll 0 0 transparent;
  background-color: #f5b5b5;
  border: 1px solid #ED8080;
  color: #8A1111;
}
.rounded.sliceDelete:hover {
  background: -moz-linear-gradient(-90deg, #ed8080, #f5b5b5) repeat scroll 0 0 transparent;
  background-color: #ed8080;
  border: 1px solid #D47272;
  color: #8A1111;
}
a.rounded {
    text-decoration: none;
}
#hermesTimeListBody .hermesTimeListRow .hermesTimeSliceOptions .rounded {
    visibility: hidden;
}
#hermesTimeListBody .hermesTimeListRow:hover .hermesTimeSliceOptions .rounded {
    visibility: visible;
}
#hermesTimeListBody .hermesTimeListRow:hover {
   /* background-color: #f0f0f0; */
}
.hermesUnselectedSlice {
    background: url("../graphics/checkbox_off.png") no-repeat center;
}
.hermesSelectedSlice {
    background: url("../graphics/checkbox_on.png") no-repeat center;
}
.hermesSelectedRow {
    background: #eeeeee;
    font-weight: bold;
}

.hermesStopTimer:hover, .hermesPauseTimer:hover {
    cursor: pointer;
}
.hermesTimerControls {
    display: block;
    float: right;
    cursor: pointer;
}

/* Time Entry Form */
#hermesTimeFormInputs {
    margin-left: 7px;
    margin-right: 7px;
}
#hermesTimeFormInputs label {
    font-weight: bold;
    white-space: nowrap;
}
#hermesTimeFormInputs .input {
  margin: 7px 7px 0 0;
  padding: 6px 5px 4px;
}
#hermesTimeFormInputs .hermesLongField {
  margin: 0  7px 0;
  padding: 6px 5px 4px;
  width: 98%;

}
.hermesTimeFormDetails {
    padding-top: 7px;
}
#hermesTimeFormHours {
    width: 20px;
}
#hermesTimeFormClient {
    width: 180px;
}
#hermesTimeFormCostobject {
    width: 180px;
}
div.hermesTimeListDate, div.hermesTimeListHours, div.hermesTimeListDesc,
div.hermesTimeListClient, div.hermesTimeListCostObject, div.hermesTimeListType,
div.hermesTimeSliceOptions, div.hermesTimeListSelect, div.hermesTimeListBill,
div.hermesTimeListEmployee {
    float: left;
    white-space: pre-wrap;
    overflow: hidden;
}
div.hermesTimeListSelect, div.hermesTimeListBill {
    width: 3%;
}
div.hermesTimeListHours {
    width: 5%;
}
div.hermesTimeListDate, div.hermesTimeListType, div.hermesTimeListClient {
    width: 10%;
}
div.hermesTimeListCostObject, div.hermesTimeListDesc {
    width: 22%;
}
div.hermesTimeSliceOptions {
    width: 10%;
    text-align: right;
}

/* Timelist submission controls */
.hermesTimeListControls {
    padding: 7px;
}

.horde-splitbar-horiz {
    cursor: default;
}
/* Search Form */
#hermesSearchFormInputs {
    margin-left: 7px;
    margin-right: 7px;
}
#hermesSearchFormInputs label {
    font-weight: bold;
    white-space: nowrap;
}
#hermesSearchFormInputs .input {
  border: medium none;
  margin: 7px 7px 0 0;
  padding: 6px 5px 4px;
}
#hermesSearchFormInputs .hermesLongField {
  border: medium none;
  margin: 0  7px 0;
  padding: 6px 5px 4px;
  width: 98%;

}
.hermesLongField {
    width: 98%;
}
#hermesSearchFormClient {
    width: 180px;
}
#hermesSearchFormCostobject {
    width: 180px;
}
#hermesSearchEntry {
  background: none repeat scroll 0 0 #dbdbdb;
  padding: 10px;
}
#hermesSearchListBody {
/*  overflow-x: hidden;
  overflow-y: auto;*/
  width: 100%;
}
#hermesSearchList {
    margin: 0 25px 0 25px;
}
/* Header */
#hermesSearchListHeader {
    width: 100%;
    display: inline-block;
    background-color: #ddd;
    border-color: -moz-use-text-color silver silver;
    border-right: 1px solid silver;
    border-style: none solid solid;
    border-width: 0 1px 1px;
}
#hermesSerachListHeader div {
    height: 14px;
    text-indent: 2px;
    font-weight: bold;
    padding-top: 1px;
    padding-bottom: 1px;
}
#hermesSearchListBody div {
    text-indent: 2px;
}
#hermesSearchListHeader div.sortup, #hermesSearchListHeader div.sortdown {
  background-position: 2px 50%;
  padding-left: 0;
}
#hermesSearchListHeader div.sortup a, #hermesSearchListHeader div.sortdown a {
    padding-left: 14px;
}
#hermesSearchListEmpty {
    text-align: center;
    font-style: italic;
    font-size: 125%;
}

/* Left menu column */
#hermesMenu {
    position: absolute;
    top: 8px;
    bottom: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 2px;
}

/* Time summary */
.hermesViewTimeContainer h2 {
    float: left;
}
.hermesMenuItem .rounded {
    margin-top: 7px;
}
.hermesMenuItem h4 {
    font-size: 125%;
}
.hermesSummaryItem {
    margin-left: 7px;
}
.hermesHours {
    font-weight: bold;
}

.hermesTimerTime {
    margin-left: 7px;
    font-style: italic;
}
#hermesTimerDialog {
    position: absolute;
    z-index: 110;
    left: 163px;
    top: 370px;
    width: 350px;
    height: auto;
    background: transparent url("../graphics/back_quick.png") no-repeat left top;
}
#hermesTimerDialog form {
    padding: 10px;
    margin-left: 10px;
    background-color: #999;
}
.hermesTimer {
    min-height: 24px;
}
.hermesTimerLabel {
    padding: 2px 2px 2px 2px;
}
#hermesTimeListEmpty {
    text-align: center;
    font-style: italic;
    font-size: 125%;
}
.QuickFinderNoMatch {
    display: none;
}

/* Dialogs */
.hermesDialog {
    width: 700px;
    padding: 10px 20px;
    background: #efefef;
    border: 1px #999 solid;
}
.hermesDialog div {
    margin-bottom: 5px;
}
.hermesDialog td {
    padding-right: 10px;
    vertical-align: top;
}
.hermesDialog label {
    font-weight: bold;
}
.hermesDialog .tabset {
    float: none;
    width: auto;
    background: none;
    margin: 15px 0;
}
.hermesDialog .tabset ul {
    float: left;
    padding-left: 0;
    margin: 0;
}
.hermesDialog .tabset .hermesSeparator {
    float: left;
}
.hermesDialog hr {
   margin: 5px 0;
   height: 0;
   line-height: 0;
   border-width: 1px 0;
   border-color: #ccc transparent #fff;
   border-style: solid none;
}
.hermesDialogInfo {
    background: transparent url('../graphics/alerts/message.png') 0 0 no-repeat;
    padding-left: 20px;
    font-style: italic;
}

#hermesTimeFormCollapse {
    float: right;
    padding-right:15px;
}
.hermesTimeFormShown {
   background: url("../graphics/minus.png") no-repeat scroll left  transparent;
}
.hermesTimeFormHidden {
    background: url("../graphics/plus.png") no-repeat scroll left transparent;
}
