html, body {
    height: 100%;
}

/* Main views */
#hermesBody {
    position: absolute;
    top: 0;
    left: 8px;
    right: 0;
    bottom: 0;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Sidebar */
.hermesSeparator {
    padding-left: 7px;
    color: #808080;
    text-indent: -10000px;
}
#horde-sidebar div.horde-resources {
    background-color: #dddddd;
}
.horde-resource-none {
      cursor: default;
      display: block;
}

/* Main links */
#hermesNavTime, #hermesNavSearch, #hermesNavAdminjobs,
#hermesNavAdmindeliverables {
    cursor: pointer;
}
#hermesNavTime a.icon {
    background-image: url("../graphics/time.png");
}
#hermesNavSearch a.icon {
    background-image: url("../graphics/search.png");
}
#hermesNavAdminjobs a.icon {
    background-image: url("../graphics/admin.png");
}
#hermesNavAdmindeliverables a.icon {
    background-image: url("../graphics/deliverable.png");
}

/* Time summary */
.hermesTimeStats div {
  margin-left: 20px;
}
.hermesViewTimeContainer h2 {
    float: left;
}
.hermesMenuItem .rounded {
    margin-top: 7px;
}
.hermesMenuItem h4 {
    font-size: 125%;
}
.hermesSummaryItem {
    margin-left: 7px;
}
.hermesHours {
    font-weight: bold;
}

.hermesTimerTime {
    margin-left: 7px;
    font-style: italic;
}


/* Timers */
#horde-sidebar div.horde-resources .timerControls {
    float: right;
    display: block;
    margin: 2px 5px 0 0;
    width: 17px;
    height: 17px;
    text-indent: -10000px;
    overflow: hidden;
    cursor: pointer;
}
.timer-paused {
    background-image: url("../graphics/play.png")
}
.timer-running {
    background-image: url("../graphics/pause.png");
}
.timer-saveable {
    background-image: url("../graphics/stop.png");
}
#hermesMenuTimers .active-timer {
  background-color: #7EAA42;
  font-weight: bold;
}
#hermesMenuTimers .inactive-timer {
  background-color: #dddddd;
  font-style: italic;
}

/* Loading spinner */
.hermesLoading {
    position: absolute;
    z-index: 1;
    background: transparent url("../graphics/loading.gif") no-repeat 4px 3px;
    width: 22px;
    height: 22px;
    opacity: 0.5;
}
#hermesLoadingTime {
    left: 0;
}

/* Main area */
#hermesMain {
    clear: both;
    height: 100%;
}

/* Timelist */
.hermesTimeListSelect {
    float: left;
    white-space: pre-wrap;
}
.hermesTimeListSelect:hover {
    background: url("../graphics/checkbox_over.png") no-repeat center;
}
.hermesTimeListUnselectable {
    float: left;
    white-space: pre-wrap;
}
#hermesTimeListHeader, #hermesSearchListHeader,
#hermesJobTypeListHeader, #hermesDeliverablesListHeader {
    width: 100%;
    display: inline-block;
    background-color: #ddd;
}
#hermesTimeListHeader div, #hermesSearchListHeader div,
#hermesJobTypeListHeader div, #hermesDeliverablesListHeader div {
    height: 14px;
    text-indent: 2px;
    font-weight: bold;
    padding-top: 1px;
    padding-bottom: 1px;
}
#hermesTimeListBody div, #hermesSearchListBody div,
#hermesJobTypeListBody div, #hermesDeliverablesListBody div {
    text-indent: 2px;
}
#hermesTimeListHeader div.sortup, #hermesTimeListHeader div.sortdown,
#hermesSearchListHeader div.sortup, #hermesSearchListHeader div.sortdown {
  background-position: 2px 50%;
  padding-left: 0;
}
#hermesTimeListHeader div.sortup a, #hermesTimeListHeader div.sortdown a,
#hermesSearchListHeader div.sortup a, #hermesSearchListHeader div.sortdown a {
    padding-left: 18px;
}

/* Body of timelist */
#hermesTimeListBody {
  width: 100%;
}

.hermesTimeListRow, .hermesJobListRow, .hermesDeliverablesRow {
    font-size: 100%;
    line-height: 26px;
    overflow: hidden;
    border-bottom: 1px solid #eee;
}

.hermesBorderLeft {
    border-left: 1px solid #eee;
}

.sliceControl {
  width: 17px;
  display:block;
  float:right;
  margin: 2px 10px 0 0;
}
.sliceEdit, .jobTypeEdit, .deliverableEdit {
  background:  url('../graphics/edit.png') no-repeat scroll 0 0 transparent;
}
.sliceDelete, .jobTypeDelete, .deliverableDelete {
  background:  url('../graphics/delete.png') no-repeat scroll 0 0 transparent;
}
.deliverableDetail {
  background: url('../graphics/deliverable.png') no-repeat scroll 0 0 transparent;
}
.hermesTimeListRow .hermesTimeSliceOptions, .hermesJobTypeListOptions,
.hermesDeliverablesOptions {
    visibility: hidden;
}
.hermesTimeListRow:hover .hermesTimeSliceOptions,
.hermesJobListRow:hover .hermesJobTypeListOptions,
.hermesDeliverablesRow:hover .hermesDeliverablesOptions {
    visibility: visible;
}
.hermesUnselectedSlice {
    background: url("../graphics/checkbox_off.png") no-repeat center;
}
.hermesSelectedSlice {
    background: url("../graphics/checkbox_on.png") no-repeat center;
}
.hermesSelectedRow {
    background: #eeeeee;
    font-weight: bold;
}

/* Time Entry Form */
#hermesTimeFormInputs, #hermesJobFormInputs, #hermesDeliverablesFormInputs {
    margin-left: 7px;
    margin-right: 7px;
}
#hermesTimeFormInputs label, #hermesJobFormInputs label,
#hermesDeliverablesFormInputs label {
    font-weight: bold;
    white-space: nowrap;
}
#hermesTimeFormInputs .input, #hermesJobForm .input {
  margin: 7px 7px 0 0;
  padding: 6px 5px 4px;
}

#hermesTimeFormInputs .hermesLongField,
#hermesDeliverablesFormInputs .hermesLongField {
  margin: 0  7px 0;
  padding: 6px 5px 4px;
  width: 98%;
}

.hermesTimeFormDetails {
    padding-top: 7px;
}
#hermesTimeFormHours {
    width: 25px;
}
#hermesTimeFormClient {
    width: 180px;
}
#hermesTimeFormCostobject {
    width: 180px;
}
div.hermesTimeListDate, div.hermesTimeListHours, div.hermesTimeListDesc,
div.hermesTimeListClient, div.hermesTimeListCostObject, div.hermesTimeListType,
div.hermesTimeSliceOptions, div.hermesTimeListSelect, div.hermesTimeListBill,
div.hermesTimeListEmployee, div.hermesTimeListSum, div.hermesTimeListSumLabel {
    float: left;
    white-space: pre-wrap;
    overflow: hidden;
}
div.hermesTimeListSelect, div.hermesTimeListBill, div.hermesTimeListUnselectable {
    width: 3%;
}
div.hermesTimeListHours, div.hermesTimeListSum {
    width: 5%;
}
div.hermesTimeListDate, div.hermesTimeListType, div.hermesTimeListClient,
div.hermesTimeListEmployee {
    width: 10%;
}
div.hermesTimeListCostObject, div.hermesTimeListDesc {
    width: 19%;
}
div.hermesTimeListSum, div.hermesTimeListSumLabel {
  font-weight: bold;
}
div.hermesTimeListSumLabel {
  width: 85%;
}
div.hermesTimeSliceOptions {
    width: 8%;
    text-align: right;
    float:right;
}
#hermesTimeListControls {
  height: 25px;
}
#hermesTimeListControls input[disabled] {
  cursor: default;
}

.hermesDatePicker {
  cursor: pointer;
}

.horde-splitbar-horiz {
    cursor: default;
}

/* Job and Deliverables pages */
div.hermesJobTypeListName, div.hermesJobTypeListBillable, div.hermesJobTypeListEnabled,
div.hermesJobTypeListRate, div.hermesJobTypeListOptions, div.hermesDeliverablesName,
div.hermesDeliverablesActive, div.hermesDeliverablesEstimate, div.hermesDeliverablesDesc,
div.hermesDeliverablesOptions {
    float: left;
    white-space: pre-wrap;
    overflow: hidden;
}

div.hermesJobTypeListName {
    width: 30%;
}
div.hermesJobTypeListBillable, div.hermesJobTypeListEnabled {
  width: 8%;
}
div.hermesJobTypeListRate, div.hermesJobTypeListOptions, div.hermesDeliverablesOptions {
  width: 10%;
}

div.hermesDeliverablesName {
  width: 20%;
}
div.hermesDeliverablesEstimate {
  width: 10%;
}
div.hermesDeliverablesActive {
  width: 5%;
}
div.hermesDeliverablesDesc {
  width: 30%;
}

/* Search Form */
#hermesSearchForm {

}
#hermesSearchForm fieldset {
  margin: 20px 0px 20px 0px;
  border: 0px;
  position: relative;
  display: block;
  padding: 0 10px 10px 10px;
}
#hermesSearchForm fieldset label {
  font-weight: bold;
}
#hermesSearchForm label {
  display: block;
  float: left;
  text-align: right;
  margin:0px 5px 0px 0px;
  width: 300px;
  font-weightt: bold;
}

#hermesSearchForm input,
#hermesSearchForm select {
  vertical-align: middle;
}

#hermesSearchFormBottomSet label {
  text-align: left;
}

.hermesLongField {
    width: 98%;
}
#hermesSearchFormClient {
    width: 180px;
}
#hermesSearchFormCostobject {
    width: 180px;
}
#hermesSearchEntry {
  background: none repeat scroll 0 0 #dbdbdb;
  padding: 10px;
}
#hermesSearchListBody {
/*  overflow-x: hidden;
  overflow-y: auto;*/
  width: 100%;
}

#hermesSearchListBody div {
    text-indent: 2px;
}

#hermesSearchListEmpty {
    text-align: center;
    font-style: italic;
    font-size: 125%;
}

#RB_window {
    top: 50px !important;
}
#hermesTimerDialog {
}
.hermesTimer {
    min-height: 24px;
}
.hermesTimerLabel {
    padding: 2px 2px 2px 2px;
}
#hermesTimeListEmpty {
    text-align: center;
    font-style: italic;
    font-size: 125%;
}
.QuickFinderNoMatch {
    display: none;
}

/* Dialogs */
.hermesDialog {
    width: 700px;
    min-height: 45px;
    padding: 10px 20px;
    background: #efefef;
    border: 1px #999 solid;
}
.hermesDialog div {
    margin-bottom: 5px;
}
.hermesDialog td {
    padding-right: 10px;
    vertical-align: top;
}
.hermesDialog label {
    font-weight: bold;
}
.hermesDialog hr {
   margin: 5px 0;
   height: 0;
   line-height: 0;
   border-width: 1px 0;
   border-color: #ccc transparent #fff;
   border-style: solid none;
}
#hermesDeliverableBillable, #hermesDeliverableType {
  width: 45%;
  float: left;
  min-height: 175px;
  padding: 1px;
}
#hermesDeliverableType {
  float: right;
}

.hermesBudget {
  padding: 2px 10px 10px 10px;
  clear: both;
}
#hermesDeliverableStats {
  width: 300px;
  min-height: 60px;
  padding: 1px;
  float: right;
}
#hermesStatText {
  width: 200px;
  float: left;
}
#hermesStatText table td, #hermesStatText table th {
  padding: 5px 30px 0 0;
}
#hermesStatText table th {
  font-weight: normal;
}
#hermesStatText table td {
  font-weight: bold;
  font-size: 150%;
}
.hermesBox {
  border: 1px solid #000;
  padding-bottom: 45px;
}
.hermesTimeFormShown {
   background: url("../graphics/minus.png") no-repeat scroll left  transparent;
}
.hermesTimeFormHidden {
    background: url("../graphics/plus.png") no-repeat scroll left transparent;
}
div.hermesFormActions {
    margin: 5px 0;
}
/* Charts */
.flotr-mouse-value {
  display: none;
}
