<table style="width:100%;border-collapse:collapse">
 <tr class="control">
  <td>
<if:javascript>
   <div class="leftFloat">
    <label for="checkAll<tag:id />" class="hidden"><gettext>Check All/None</gettext></label>
    &nbsp;<input type="checkbox" class="checkbox" id="checkAll<tag:id />" name="checkAll" <tag:check_ak /> />
   </div>
</if:javascript>
   <div class="leftFloat" style="padding-left:5px">
    <label for="action_choose<tag:id />" class="hidden"><gettext>Choose Action</gettext></label>
    <select id="action_choose<tag:id />">
     <option selected="selected"><gettext>Choose Action</gettext></option>
     <option value="">--------------------</option>
<if:create_folder>
     <option value="create_folder"><gettext>Create</gettext></option>
</if:create_folder>
     <option value="rename_folder"><gettext>Rename</gettext></option>
     <option value="delete_folder_confirm"><gettext>Delete</gettext></option>
     <option value="folders_empty_mailbox_confirm"><gettext>Empty</gettext></option>
<if:notrash>
     <option value="expunge_folder"><gettext>Purge</gettext></option>
</if:notrash>
<if:subscribe>
     <option value="subscribe_folder"><gettext>Subscribe</gettext></option>
     <option value="unsubscribe_folder"><gettext>Unsubscribe</gettext></option>
</if:subscribe>
<if:nav_poll>
     <option value="poll_folder"><gettext>Check for New Mail</gettext></option>
     <option value="nopoll_folder"><gettext>Do Not Check for New Mail</gettext></option>
</if:nav_poll>
     <option value="mark_folder_seen"><gettext>Mark All Messages as Seen</gettext></option>
     <option value="mark_folder_unseen"><gettext>Mark All Messages as Unseen</gettext></option>
     <option value="download_folder"><gettext>Download</gettext></option>
     <option value="download_folder_zip"><gettext>Download [.zip format]</gettext></option>
<if:file_upload>
     <option value="import_mbox"><gettext>Import Messages</gettext></option>
</if:file_upload>
     <option value="mbox_size"><gettext>Show Size</gettext></option>
     <option value="rebuild_tree"><gettext>Rebuild Folder Tree</gettext></option>
    </select>
<if:javascript><else:javascript>
    <input name="btn_action" type="submit" class="button" value="<tag:go />" />
</else:javascript></if:javascript>
   </div>
   <div class="leftFloat" style="padding-left:15px">
    <ul class="msgactions">
<if:subscribe>
     <li><tag:toggle_subscribe /></li>
</if:subscribe>
     <li><tag:expand_all /></li>
     <li class="lastnavbar"><tag:collapse_all /></li>
    </ul>
   </div>
   <div class="rightFloat">
    <tag:help />
   </div>
  </td>
 </tr>
</table>
