<h1 class="header">
 <gettext>Folder Navigator</gettext>&nbsp;<tag:refresh />
</h1>
<div class="headerbox folders">
 <form id="fmanager" name="fmanager" method="post" action="<tag:folders_url />">
 <input type="hidden" id="actionID" name="actionID" value="" />
 <input type="hidden" id="folders_token" name="folders_token" value="<tag:folders_token />" />
 <input type="hidden" id="new_mailbox" name="new_mailbox" value="" />
 <input type="hidden" id="new_names" name="new_names" value="" />
 <input type="hidden" id="old_names" name="old_names" value="" />
 <input type="hidden" name="view_subscribed" value="" />
