/**
 * This theme has been written by Roel Gloudemans <roel@gloudemans.info>
 *
 * The theme is the basis for the website of the Sales Manager Club
 * (http://www.clubsmc.nl)
 */

body {
    background: #d6e2e3;
    color: #000;
}
a {
    color: #004149;
}

a:hover {
    color: #000;
}

.prefsOverview h2 {
    font-size: 150%;
    font-weight: bold;
    color: #004149;
}
.prefsOverview dt a {
    border: none;
    background: #004149;
    color: #d6e2e3;
    background-image: url("graphics/header.png");
    background-repeat: repeat-y;
    background-position: left;
}
.prefsOverview dt a:hover {
    color: #ffc974;
}
.prefsOverview dd {
    color: #000;
    background: #bcc4c2;
    border: none;
    background-image: url("graphics/headerbox.png");
    background-repeat: repeat-y;
    background-position: left;
}


.header {
    color: #fff;
    background: #004149;
    background-image: url("graphics/header.png");
    background-repeat: repeat-y;
    background-position: left;
}

.smallheader, a.smallheader {
    color: #fff;
    background: transparent;
}

.header a {
    color: #d6e2e3;
}

.header a:hover {
    color: #ffc974;
    text-decoration: none;
}

.item {
    background: transparent;
}

.light {
    color: #004149;
}

.headerbox {
    border: none;
    background: #bcc4c2;
    background-image: url("graphics/headerbox.png");
    background-repeat: repeat-y;
    background-position: left;
}

.control {
    background-color: #7fa0a4;
    border-bottom: none;
    background-image: url("graphics/control.png");
    background-repeat: repeat-y;
    background-position: left;
}

#messageBody {
    background-color: #fff;
    background-image: url("graphics/message.png");
    background-repeat: repeat-y;
    background-position: left;
}

.linedRow, tr.linedRow td, table.linedRow td, ul.linedRow li {
    background-color: transparent;
    border-bottom: none;
}

.linedRow tr:hover {
    background-color: #7fa0a4;
}

.text {
    background-color: transparent;
}

tr.text:hover {
    background-color: #d6e2e3;
}

.button {
    color: #fff;
    background: #7fa0a4;
    border-bottom: 1px solid #605959;
    border-right: 1px solid #605959;
    border-top: 1px solid #cecece;
    border-left: 1px solid #fff;
}

.button:hover {
    background-color: #004149;
}

/* Menu styles. */
#menu {
    color: #004149;
    background: #fff;
    border-bottom: 4px solid #004149;
}

#menu a {
    color: #004149;
}

#menu li:hover {
    background-color: #bcc4c2;
    background-image: url("graphics/menuhover.png");
    background-repeat: repeat-y;
    background-position: left;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

#menu a.current {
    background: #004149;
    color: #fff;
    background-image: url("graphics/menucurrent.png");
    background-repeat: repeat-y;
    background-position: left;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

/* Sidebar styles. */
.sidebar {
    background: #004149;
    background-image: url("graphics/sidebar.png");
    background-position: right;
    background-repeat: repeat-y;
}

#menu h1 {
    line-height: 46px;
}

#sidebarPanel {
    background: transparent;
}
#sidebarPanel span, #sidebarPanel a {
    color: #d6e2e3;
}
#sidebarPanel a:hover {
    color: #000;
    background-color: #ffc974;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background-image: url("graphics/sidebarhover.png");
    background-repeat: repeat-y;
    background-position: right;
}

/* Tab styles. */
.tabset li a {
    color: #000;
    background-color: #bcc4c2;
    border: 1px solid #000;
    border-bottom-color: #004149;
}
.tabset li a:hover {
    background-color: #ffc974;
}
.tabset li.activeTab a {
    border-bottom-color: #004149;
    background-color: #004149;
}

.rowEven, .item0 {
    background: #d6e2e3;
}
.rowOdd, .item1 {
    background: #bcc4c2;
    background-image: url("graphics/headerbox.png");
    background-repeat: repeat-y;
    background-position: left;
}
.selected {
    background-color: #bcc4c2;
}

.notice {
    font-weight: bold;
    color: #000;
    background: #ffc974;
    background-image: url("graphics/notice.png");
    background-repeat: repeat-y;
    background-position: left;
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.box {
    border: none;
    background-color: #bcc4c2;
    background-image: url("graphics/headerbox.png");
    background-repeat: repeat-y;
    background-position: left;
}
.solidbox {
    border: none;
    background-color: #7fa0a4;
    background-image: url("graphics/control.png");
    background-repeat: repeat-y;
    background-position: left;
}
.greybox {
    border: none;
    background-color: #bcc4c2;
    background-image: url("graphics/headerbox.png");
    background-repeat: repeat-y;
    background-position: left;
    color: #7fa0a4;
}
