div.horde_nicetitle {
    color: #000;
    background: #ffc;
    border: 1px solid #000;
    padding: 5px;
    z-index: 1001;
    position: absolute;
    overflow: hidden;
    opacity: .90;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
div.horde_nicetitle pre {
    text-align: left;
    font-size: 75%;
    font-family: Consolas,"Lucida Console",'DejaVu Sans Mono,monospace;
}
