/**
 * CSS corrections for IE5/Mac.
 */

#menu li {
    width: 40px;
}
.tabset {
    white-space: nowrap;
}
.tabset li a {
    float: left;
}
#sidebarPanel {
    padding-bottom: 30px;
}
.header {
    clear: none;
}
.header ul {
    width: 1%;
    white-space: nowrap;
}
