/**
 * CSS corrections for IE 6 and below.
 */

.treeRow {
    overflow: visible;
    height: 20px;
}

#menu {
    overflow: visible;
    height: 50px;
}

.clear {
    clear: none;
}

/* Fixes broken inline-block. */
.mimeHeaders {
    zoom: 1;
    *display: inline;
}
