/**
 * CSS corrections for IE 6 and below.
 */

#sidebar-frame {
    overflow-x: hidden;
}

.treeRow {
    overflow: visible;
    height: 20px;
}

#menu {
    overflow: visible;
    height: 50px;
}

.clear {
    clear: none;
}
