<table class="navbaractions">
 <tr>
  <td class="mboxcontrol <if:isbottom>topborder<else:isbottom>bottomborder</else:isbottom></if:isbottom>">
   <ul class="msgactions">
<if:delete>
    <li><tag:delete /></li>
</if:delete>
<if:reply>
    <li><tag:reply />
     <ul>
      <li><tag:reply_sender /></li>
<if:reply_list>
      <li><tag:reply_list /></li>
</if:reply_list>
<if:show_reply_all>
      <li><tag:show_reply_all /></li>
</if:show_reply_all>
     </ul>
    </li>
    <li><tag:forward />
<if:forward_attach>
     <ul>
      <li><tag:forward_attach /></li>
      <li><tag:forward_body /></li>
      <li><tag:forward_both /></li>
     </ul>
</if:forward_attach>
    </li>
    <li><tag:redirect /></li>
</if:reply>
<if:show_thread>
    <li><tag:show_thread /></li>
</if:show_thread>
<if:blacklist>
    <li><tag:blacklist /></li>
</if:blacklist>
<if:whitelist>
    <li><tag:whitelist /></li>
</if:whitelist>
<if:view_source>
    <li><tag:view_source /></li>
</if:view_source>
<if:resume>
    <li><tag:resume /></li>
</if:resume>
    <li><tag:save_as /></li>
<if:spam>
    <li><tag:spam /></li>
</if:spam>
<if:notspam>
    <li><tag:notspam /></li>
</if:notspam>
    <li<if:atc><else:atc> class="lastnavbar"</else:atc></if:atc>><tag:headers />
     <ul>
<if:common_headers>
      <li><tag:common_headers /></li>
</if:common_headers>
<if:all_headers>
      <li><tag:all_headers /></li>
</if:all_headers>
<if:list_headers>
      <li><tag:list_headers /></li>
</if:list_headers>
     </ul>
    </li>
<if:atc>
    <li class="lastnavbar"><tag:atc />
     <ul>
<if:show_parts_all>
      <li><tag:show_parts_all /></li>
</if:show_parts_all>
<if:download_all>
      <li><tag:download_all /></li>
</if:download_all>
<if:strip_all>
      <li><tag:strip_all /></li>
</if:strip_all>
     </ul>
    </li>
</if:atc>
   </ul>
  </td>
 </tr>
</table>
