<div class="horde-buttonbar">
  <ul class="rightFloat">
   <li class="horde-nobutton nowrap">
    <tag:back_to />
    <if:prev><tag:prev /></if:prev><span class="iconImg <tag:prev_img />"></span><if:prev></a></if:prev>
    <if:next><tag:next /></if:next><span class="iconImg <tag:next_img />"></span><if:next></a></if:next>
   </li>
  </ul>

<if:readonly><else:readonly>
  <ul>
<if:flaglist_set>
   <li>
    <input type="hidden" name="mailbox" value="<tag:mailbox />" />
    <label for="flag<tag:id />" class="hidden"><gettext>Mark Message</gettext></label>
    <select id="flag<tag:id />">
     <option value="" selected="selected"><gettext>Mark Message</gettext></option>
     <option value="" disabled="disabled">- - - - - - - -</option>
     <option class="actionsSelectSection" value=""><gettext>Mark as:</gettext></option>
<loop:flaglist_set>
     <option value="<tag:flaglist_set.f />">&nbsp;&nbsp;<tag:flaglist_set.l /></option>
</loop:flaglist_set>
     <option value="" disabled="disabled">- - - - - - - -</option>
     <option class="actionsSelectSection" value=""><gettext>Unmark as:</gettext></option>
<loop:flaglist_unset>
     <option value="<tag:flaglist_unset.f />">&nbsp;&nbsp;<tag:flaglist_unset.l /></option>
</loop:flaglist_unset>
    </select>
   </li>
</if:flaglist_set>
<if:move>
   <li>
    <tag:move /> | <tag:copy />
    <label for="target<tag:id />" class="hidden"><gettext>Target Mailbox</gettext></label>
    <select id="target<tag:id />" name="target<tag:id />">
     <tag:options />
    </select>
   </li>
</if:move>
  </ul>
</else:readonly></if:readonly>
</div>
<if:isbottom>
</form>
</if:isbottom>
