/* Scripts page. */
.scriptHeader {
    margin: 0;
    text-align: center;
    width: 100%;
}
.scriptHeader form {
    display: inline;
}

/* Filters page. */
.filtersRow {
    cursor: move;
    height: 30px;
    line-height: 30px;
}
.filtersRow div {
    display: inline-block;
}
.filtersEdit {
    width: 50px;
}
.filtersEnable {
    padding-left: 12px;
}
.filtersDisabled a {
    color: red;
}

/* Rules page. */
.ruleAction,
.ruleCondition {
    margin: 5px 0 0 30px;
}
.ruleCondition input {
    vertical-align: middle;
}
.ruleCondition span {
    margin-right: 20px;
}
.ruleMatch {
    margin: 10px 0 0 30px;
}
.ruleMatchRow {
    border: 1px solid lightgrey;
    display: table;
    padding: 10px;
}
.ruleMatchRowDelete {
    display: table-cell;
    padding-left: 12px;
    vertical-align: middle;
}
.ruleMatchRowRules {
    display: table-cell;
}
.ruleMatchRowRules > div {
    padding: 2px;
}
.ruleMatchCondition {
    font-weight: bold;
    margin: 10px 0;
}
.ruleMark ul {
    margin: 5px 0 0 30px;
    list-style: none;
}
.ruleMark li {
    padding-bottom: 8px;
}
.ruleMark input {
    min-height: auto;
    vertical-align: middle;
}
.ruleStopChecking input {
    margin-right: 5px;
    vertical-align: middle;
}
.ruleStopChecking label {
    vertical-align: middle;
}
.caseSensitive {
    margin-left: 5px;
    vertical-align: middle;
}
.ruleDiv {
    padding: 5px 5px 8px;
}

/* Blacklist page. */
.blacklistAction {
    list-style: none;
    margin: 5px 0 8px 15px;
}
.blacklistAction input {
    vertical-align: middle;
}
.blacklistAction label {
    padding-left: 3px;
}
.blacklistDiv {
    padding: 5px;
}

/* Whitelist page. */
.whitelistDiv {
    padding: 5px;
}

/* Icons. */
.ingo-rules {
    background-image: url('graphics/ingo.png');
}
.ingo-vacation {
    background-image: url('graphics/vacation.png');
}
.ingo-forward {
    background-image: url('graphics/forward.png');
}
.ingo-spam {
    background-image: url('graphics/spam.png');
}
.ingo-script {
    background-image: url('graphics/script.png');
}
.ingo-whitelist {
    background-image: url('graphics/whitelist.png');
}
.ingo-blacklist {
    background-image: url('graphics/blacklist.png');
}
