body {
    background: #c7d0d9;
}
a, a.fixed {
    color: #339;
}
a.widget {
    color: #000;
}
.header {
    background: #c7d0d9 url("graphics/header.png") repeat-x;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
a.header {
    background-image: none;
    background-color: transparent;
}
.light {
    color: #4E5D72;
}
.smallheader {
    color: #000;
    background-image: none;
    background-color: transparent;
}
.smallheader a {
    color: #000;
}
.control {
    background: #aebaca;
}
.item {
    background: #eceff4;
}
.button {
    color: #000;
    background: #adb6c6;
    border: 1px solid #000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.selected {
    background: #c6d3ff;
}

/* Menu styles. */
#menu {
    background: #c7d0d9 url("graphics/menu.png") repeat-x;
}
#menu h1 {
    color: #000;
}
#menu a {
    color: #000;
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
#menu a:hover {
    border: 1px solid #aebaca;
    padding: 2px;
}
#menu a.current {
    background: url("graphics/menu-active.png") repeat-x;
    border: 1px solid #aebaca;
    padding: 2px;
}
#menu a.current:hover {
    padding: 2px;
}

/* Sidebar styles. */
#sidebarPanel {
    background: #c7d0d9;
}

/* Tab styles. */
.tabset {
    background: none;
}
.tabset li a {
    border: 1px solid #ababab;
    border-bottom: 1px solid #e9e9e9;
}
.tabset li a:hover {
    color: #000;
}
.tabset li.activeTab a, .tabset li.activeTab a:hover {
    color: #fff;
    background: #aebaca;
    border-bottom: 1px solid #aebaca;
}
