<?php
/**
 * See horde/config/prefs.php for documentation on the structure of this file.
 */

$prefGroups['display'] = array(
    'column' => _("Display listings"),
    'label' => _("Display details"),
    'desc' => _("Set default display parameters."),
    'members' => array('addresses_perpage'));

// listing
$_prefs['addresses_perpage'] = array(
     'value' => 20,
     'locked' => false,
     'type' => 'number',
     'desc' => _("How many domain to display per page."));
