body {
    background: #006363;
}
a {
    color: #122eba;
}
a:hover {
    color: #122eba;
}
a.widget {
    color: #000;
}
a.widget:hover {
    color: #fff;
}
.header, .smallheader, a.smallheader {
    color: #fff;
    background: #63b5b5;
}
.light {
    color: #fff;
}
.button {
    color: #fff;
    background: #418e8e;
    border-bottom: 1px solid #605959;
    border-right: 1px solid #605959;
    border-top: 1px solid #cecece;
    border-left: 1px solid #fff;
}
.selected {
    background: #63b5b5;
}

/* Menu styles. */
#menu {
    color: #fff;
    background: #63b5b5;
}
#menu a {
    color: #fff;
}
#menu a.current {
    background: #418e8e;
    color: #fff;
}

/* Sidebar styles. */
#sidebarPanel {
    background: #63b5b5;
}
#sidebarPanel span, #sidebarPanel a {
    color: #fff;
}
#sidebarPanel a:hover {
    color: #fff;
}

/* Preferences overview. */
.prefsOverview h2 {
    color: #fff;
}

/* Tab styles. */
.tabset li.activeTab a, .tabset li.activeTab a:hover {
    border-bottom-color: #63b5b5;
    background-color: #63b5b5;
}
