<?php
$conf['smtp'] = array(
    'debug' => null,  // e.g. 'php://output'
    'host' => '',
    'localhost' => '',
    'pass' => '',
    'port' => '',
    'secure' => '',  // empty, 'ssl', or 'tls'
    'user' => '',
    // 'xoauth2_token' => ''
);
