.weekend {
    background: #b2cae4 none repeat scroll 0% 50%;
}

#view_title {
    margin: 0 .3em;
}

.monthgrid .today {
    background-color: #dde8c1;
    border: 2px solid #446;
}

.block-eventbox {
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    border: 0;
}
.day-eventbox {
    padding: 6px;
}

#kronolithNotifications {
    background-image: url("graphics/alerts/message.png");
}
#kronolithNotifications.horde-error {
    background-image: url("graphics/alerts/error.png")
}
#kronolithNotifications.horde-success {
    background-image: url("graphics/alerts/success.png")
}
#kronolithNotifications.horde-warning {
    background-image: url("graphics/alerts/warning.png")
}
#kronolithNotifications.kronolithClose {
    background-image: url("graphics/close.png")
}
.kronolithPrint span {
    background-image: url('graphics/print.png');
}
