/* Navbar action styling. */
.msgactions li ul a:hover, .msgactions li ul a:active {
    color: #000;
    background-color: #e8f1ff;
}
.mboxcontrol {
    color: #000;
    background: #aebaca;
}

/* Message body styling. */
#messageBody {
    padding: 2px;
}

/* Autocomplete styles. */
.autocomplete ul li {
    text-decoration: none;
}
.autocomplete ul .selected {
    color: #000;
    background-color: #e8f1ff;
    text-decoration: underline;
}
