/* Navbar action styling. */
.msgactions li ul a:hover, .msgactions li ul a:active {
    color: #000;
    background-color: #e8f1ff;
}
.mboxcontrol {
    color: #000;
    background: #aebaca;
}

/* Message body styling. */
.messageBody {
    padding: 2px;
}
