/**
 * This theme as been written by AIDE Florent <faide@alphacent.com> and
 * Mélanie Gareau <melanie.gareau@ville-gennevilliers.fr>
 *
 * The theme idea was to incorporate smoothly in the Intranet.
 * This theme is published under the same license as the horde package.
 *
 * The name comes from the city of Gennevilliers in France
 */

.unseen {
    background-color: #eef;
}
.deleted {
    background-color: #999;
}
.important, .flagged {
    background-color: #fcc;
}
.answered {
    background-color: #d6ffff;
}
.quotawarn {
    font-family: Verdana,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 130%;
    color: #ea5d1c;
    background-color: #f4ee7a;
}
.quotaalert {
    font-family: Verdana,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 140%;
    color: #f4ee7a;
    background-color: #ea5d1c;
}
