body {
    background: #5d5d60;
}
a {
    color: #595959;
}
.widget {
    color: #333;
    font-weight: bold;
}
a.widget:hover {
    color: #000;
    background: #ddd;
    text-decoration: none;
}
.header {
    color: #ddd;
    background: #545456;
}
.header a {
    color: #ddd;
}
.light, a.light:hover {
    color: #fff;
}
.smallheader {
    color: #9f9fa0;
    background: #545456;
}
.button {
    color: #fff;
    background: #515163;
    border-bottom: 1px solid #5d5d60;
    border-right: 1px solid #5d5d60;
    border-top: 1px solid #777789;
    border-left: 1px solid #777789;
}
.item {
    color: #000;
    background: #eee;
}
.selected {
    background: #ddd;
}

/* Menu styles. */
#menu {
    color: #fff;
    background: #545456;
}
#menu a {
    color: #fff;
}
#menu a.current {
    background: #666;
}

/* Sidebar styles. */
#sidebarPanel {
    background: #666;
}
#sidebarPanel span, #sidebarPanel a {
    color: #fff;
}
#sidebarPanel a:hover {
    color: yellow;
}

/* Tab styles. */
.tabset {
    border-bottom: 1px solid #545456;
}
.tabset li a {
    border-bottom: 1px solid #000;
    background: #e9e9e9;
}
.tabset li.activeTab a {
    color: #ddd;
    background: #545456;
    border-bottom: 1px solid #545456;
}
.tabset li.activeTab a:hover {
    color: #fff;
    background: #545456;
}

/* Preferences overview. */
.prefsOverview h2 {
    color: #fff;
}
