/**
 * This theme as been written by Roel Gloudemans <roel@gloudemans.info>
 *
 * The theme is the basis for the website of the Sales Manager Club
 * (http://www.clubsmc.nl)
 *
 * $Horde: imp/themes/fadetogreen/screen.css,v 1.3 2007/02/18 00:41:19 selsky Exp $
 */

/* Message list table styles. */
.messageList {
    table-layout: fixed;
    width: 100%;
    border: none;
    background-color: #d6e2e3;
}

.unseen {
    font-weight: bold;
    background: #bcc4c2;
}
tr.unseen:hover, tr.unseen-over {
    font-weight: bold;
    background: #7fa0a4;
}
.quotawarn {
    color: #000;
    background: ffc974;
}
