.lighthint {
    color: #ffffff;
    font-size: 10px;
}

.darkhint {
    color: #770000;
    font-size: 10px;
}

.contexttree {
    float: left;
    width: 50px;
}

.extensiondetail {
    float: right;
}