#gollem-attributes table.horde-table th {
    text-align: center;
}

.gollem-selectall {
    font-weight: bold;
    margin-left: 22px;
}

#gollem-edit {
    width: 99%;
}

.header a:hover {
    text-decoration: underline;
}

/* Images. */
.gollem-home {
    background-image: url("graphics/folder_home.png");
}
.gollem-quota {
    background-image: url("graphics/quota.png");
}
.gollem-clipboard {
    background-image: url("graphics/clipboard.png");
}
.gollem-download {
    background-image: url("graphics/download.png");
}
.gollem-edit {
    background-image: url("graphics/edit.png");
}
.gollem-folder {
    background-image: url("graphics/folder.png");
}
.gollem-sharefolder {
    background-image: url("graphics/perms.png");
}
.gollem-sharefolder-disabled {
    background-image: url("graphics/perms_disabled.png");
}
#gollem-changefolder {
    background-image: url("graphics/folder_goto.png");
}
#gollem-refresh {
    background-image: url("graphics/reload.png");
}
.gollem-symlink {
    background-image: url("graphics/folder_symlink.png");
}
