/**
 * CSS corrections for IE 6 and below.
 */

#pageContainer {
    height: auto;
}

#sidebarPanel .sepfull, #splitBar, .context div.sep {
    overflow: hidden;
}

#sidebarPanel li {
    width: 100%;
}

#normalfolders {
    /* IE 6 does not support max-height. To auto-size folder list display, set
     * height to 0px. */
    height: 0px;
    overflow: auto;
}

.context {
    width: 180px;
}

#to, #cc, #bcc {
    overflow: auto;
}

.block-monthgrid table {
    border-width: 2px;
}

#msglistHeader {
    height: 16px;
}
#msglistHeader div {
    margin-right: -1px;
}
#msglistHeader div.msgStatus {
    margin-right: 0;
}

.dimpOptions span.iconImg {
    margin-right: 4px;
}

/* IE 6 doesn't support DOM.class1.class2 - treats this as DOM.class2. So
 * flag icons will appear as background for row. This works around this. */
div.vpRow {
    background: none;
}

/* Fixes broken inline-block. */
div.msgStatus div, #msgHeadersContent .subject span, span.iconImg, span.contextImg, span.spellcheckPopdownImg, #quicksearch span {
    zoom: 1;
    *display: inline;
}
