/**
 * CSS corrections for IE 6 and below.
 */

#pageContainer {
    height: auto;
}

#sidebarPanel, #normalfolders {
    width: 150px;
}
#normalfolders {
    /* IE 6 does not support max-height. To auto-size folder list display, set
     * height to 0px. */
    height: 0px;
    overflow: auto;
}

#sidebarPanel li {
    width: 100%;
}
.context {
    width: 180px;
}

div.msgSubject {
    width: 50%;
}

div.msgmiddle {
    margin-bottom: -4px;
}

.splitBar {
    background-attachment: fixed;
    font-size: 0px;
}

form#compose {
    margin-top: -13px;
}
#to, #cc, #bcc {
    overflow: auto;
}
#messageParent {
    width: 96% !important;
}

.block-monthgrid table {
    border-width: 2px;
}

#msglistHeader {
    height: 15px;
}
#mlistHeaderClear {
    display: none;
}

/* IE 6 doesn't support DOM.class1.class2 - treats this as DOM.class2. So
 * flag icons will appear as background for row. This works around this. */
div.vpRow {
    background: none;
}

/* Fixes broken inline-block. */
div.msgStatus div, #msgHeadersContent .subject span, span.iconImg, span.contextImg, span.spellcheckPopdownImg, #quicksearch span {
    zoom: 1;
    *display: inline;
}
