/**
 * CSS corrections for IE 7.
 */

#sidebarPanel li {
    overflow: hidden;
    max-width: 133px;
    text-overflow: ellipsis;
}
#sidebarPanel .folderlist {
    overflow-y: auto;
}

#msgSplitPane {
    margin-top: -4px;
    width: 99.7%;
}

div.msgSize {
    width: auto;
    overflow: hidden;
}

form#compose {
    margin-top: -13px;
}
#to, #cc, #bcc {
    overflow: auto;
}

.block-monthgrid table {
    border-width: 2px;
}

#sidebarPanel li.custom img, #sidebarPanel li.servicelink img {
    padding-top: 1px;
}

#sidebarPanel li.folder a:hover, #sidebarPanel li.custom a:hover, #sidebarPanel li.servicelink a:hover {
    font-weight: bold;
    text-decoration: underline;
}

.dimpOptions div {
    height: 17px;
}
.dimpOptions div a:hover {
    text-decoration: underline;
}

/* Fixes broken inline-block. */
div.msgStatus div, #msgHeadersContent .subject span, span.iconImg, span.contextImg, span.spellcheckPopdownImg, #quicksearch span  {
    zoom: 1;
    *display: inline;
}
