/**
 * CSS corrections for IE 7.
 */

#sidebarPanel li {
    overflow: hidden;
}
#sidebarPanel .folderlist {
    overflow-y: auto;
}

.msgSplitPane {
    width: 99.7%;
}

#to, #cc, #bcc {
    overflow: auto;
}

.block-monthgrid table {
    border-width: 2px;
}

#sidebarPanel li.folder a:hover, #sidebarPanel li.custom a:hover, #sidebarPanel li.servicelink a:hover {
    font-weight: bold;
    text-decoration: underline;
}

.dimpOptions span.iconImg {
    margin-right: 4px;
}

.htmlMsgData {
    width: 98%;
}

/* Fixes broken inline-block. */
div.msgStatus div, #msgHeadersContent .subject span, span.iconImg, span.contextImg, span.spellcheckPopdownImg, span.popdownImg, #qsearch_icon, #qsearch_close, #upload_wait {
    zoom: 1;
    *display: inline;
}
