/* Mailbox page styling. */
.mboxheader {
    font-size: 110%;
    text-align: left;
}
.mboxheader .pageCount {
    padding-right: 10px;
}

table.mboxactions {
    border-collapse: collapse;
    width: 100%;
}

#checkheader {
    width: 8%;
}
#checkheader input {
    float: left;
}

#mboxdate {
    width: 14%;
}

#mboxto, #mboxfrom {
    width: 20%;
}

#mboxthread, #mboxsubject {
    width: 52%;
}

#mboxsize {
    width: 6%;
}

/* Message list table styles. */
.searchfolder a.smallheader {
    display: block;
}
.messageList {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
.messageList tr {
    height: 20px;
}
.messageList th {
    border-top: 1px solid #999;
    border-left: 1px solid #ddd;
    cursor: pointer;
    overflow: hidden;
    padding: 0 0 1px 2px;
    text-align: left;
    white-space: nowrap;
}
.messageList th .toggleSort {
    font-size: 90%;
}
.messageList td {
    padding-top: 0;
    padding-bottom: 0;
    text-indent: 1px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid #ddd;
    vertical-align: middle;
}
.messageList td label input {
    vertical-align: middle;
}
.messageList td span.flagUser {
    font-size: 80%;
    margin-right: 3px;
}

#messages h1.header {
    font-size: 110%;
    vertical-align: bottom;
}
#messages h1.header span.flagUser {
    font-size: 80%;
    margin-left: 3px;
}

/* Newmail alerts. */
#newmail {
    padding: 1em;
    background: #ffc;
    border: 2px solid #ccc;
}
#newmail ul {
    list-style: none;
    margin-bottom: 1em;
}

/* Navbar action styling. */
table.navbaractions {
    border-collapse: collapse;
    width: 100%;
}
ul.msgactions, ul.msgactions ul {
    list-style: none;
}
.msgactions li {
    float: left;
    padding: 1px 3px;
    border-right: 1px solid #888;
    position: relative;
}
.msgactions li.lastnavbar {
    border-right: 0;
}
.msgactions a.hasmenu {
    padding-right: 15px;
    margin-right: -3px;
    background: url("graphics/popdown.png") no-repeat center right;
}
.msgactions li a {
    font-size: 90%;
    white-space: nowrap;
}
.folders .msgactions li a {
    font-size: 100%;
}
.msgactions li ul {
    background: #f4f4f4;
    border: 1px solid #d4d4d4;
    display: none;
    padding: 1px;
    position: absolute;
    z-index: 99;
}
.bottomborder .msgactions li ul {
    top: 1.25em;
}
.topborder .msgactions li ul {
    bottom: 1.25em;
}
.msgactions li ul a:hover, .msgactions li ul a:active {
    background: gray;
    color: #fff;
}
.msgactions li:hover ul, .msgactions li.hover ul {
    display: block;
}
.msgactions li ul li {
    float: none;
    padding: 0;
    border: none;
    display: inline;
}
.msgactions li ul li a {
    display: block;
    padding: 2px;
}
.mboxcontrol {
    color: #000;
    background: #ccc;
}
.bottomborder {
    border-bottom: 1px solid #999;
    padding-bottom: 0;
    padding-top: 0;
}
.topborder {
    border-top: 1px solid #999;
}

table.msgActionTable, #fmanager table {
    width: 100%;
    border-collapse: collapse;
}
div.msgActions, #fmanager div.folderActions {
    padding-left: 15px;
}

/* Message headers styling. */
#msgheaders table {
    border-collapse: collapse;
}

/* Message body styling. */
.messageBody {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #fff;
    padding: 8px;
}
.messageBody div.mimePartData {
    margin-bottom: 8px;
}

/* Search page styling. */
#search_form div.item {
    padding: 1px 0 1px 0;
}
#search_form em.join {
    font-style: normal;
    font-weight: bold;
}
#search_folders_tree input.checkbox {
    vertical-align: middle;
}

.searchuiCalendar {
    background-image: url("graphics/calendar.png");
}
.searchuiFoldersActions {
    margin-left: 20px;
    font-size: 90%;
}
.searchuiButtons {
    padding-top: 5px;
}
.signedinvalid td .signature {
    color: #999;
}

/* Folder view. */
#checkAll0, #checkAll1, #fmanager input.checkbox {
    vertical-align: middle;
}

#fmanager div.folderChoose {
    padding-left: 5px;
}

span.folderImg {
    background-image: url("graphics/folders/folder.png");
}
span.folderopenImg {
    background-image: url("graphics/folders/open.png");
}
span.draftsImg {
    background-image: url("graphics/folders/drafts.png");
}
span.inboxImg {
    background-image: url("graphics/folders/inbox.png");
}
span.sentImg {
    background-image: url("graphics/folders/sent.png");
}
span.spamImg {
    background-image: url("graphics/folders/spam.png");
}
span.trashImg {
    background-image: url("graphics/folders/trash.png");
}

.folderunsub {
    background: #bbb;
    font-style: italic;
}

/* Style for div that fixes KHTML browsers. */
.ohide {
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

/* Style for HTML data iframe. */
.htmlMsgData {
    margin: 2px 0;
    width: 100%;
}

/* Compose view */
.composebody {
    padding: 2px;
}
#text_identity, #to, #cc, #bcc, #subject {
    width: 550px;
}
.spellcheck {
    white-space: pre;
    white-space: -moz-pre-wrap;
    white-space: -hp-pre-wrap;
    white-space: -o-pre-wrap;
    white-space: -pre-wrap;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word;
}

.folders {
    font-size: 100%;
}
.folderselect {
    padding-top: 5px;
}
.seen {
    background: #fff;
}

.addressTr {
    width: 580px;
}
.addressTr span {
    vertical-align: top;
}

.attachList {
    width: 100%;
    border-collapse: collapse;
}

/* Message flags definitions.
 * For background color, see config/prefs.php [msgflags preference]. */
div.msgflags {
    display: -moz-inline-stack;
    display: inline-block;
    padding-right: 2px;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.mboxheader div.msgflags {
    vertical-align: sub;
}

div.msgflags.flagPersonal {
    background-image: url("graphics/mail_personal.png");
}
div.msgflags.flagHighpriority {
    background-image: url("graphics/mail_priority_high.png");
}
tr.flagLowpriority {
    font-weight: normal !important;
}
div.msgflags.flagLowpriority {
    background-image: url("graphics/mail_priority_low.png");
}
div.msgflags.flagSignedmsg {
    background-image: url("graphics/signed.png");
}
div.msgflags.flagEncryptmsg {
    background-image: url("graphics/encrypted.png");
}
div.msgflags.flagAttachmsg {
    background-image: url("graphics/attachment.png");
}
tr.flagUnseen {
    font-weight: bold;
}
div.msgflags.flagUnseen, span.contextImg.flagUnseen {
    background-image: url("graphics/mail_unseen.png");
}
div.msgflags.flagAnswered, span.contextImg.flagAnswered {
    background-image: url("graphics/mail_answered.png");
}
div.msgflags.flagDraft, span.contextImg.flagDraft {
    background-image: url("graphics/mail_draft.png");
}
div.msgflags.flagForwarded, span.contextImg.flagForwarded {
    background-image: url("graphics/mail_forwarded.png");
}
div.msgflags.flagFlagged, span.contextImg.flagFlagged {
    background-image: url("graphics/mail_flagged.png");
}
tr.flagDeleted * {
    text-decoration: line-through;
}
div.msgflags.flagDeleted, span.contextImg.flagDeleted {
    background-image: url("graphics/mail_deleted.png");
}

/* Prefs management styles. */
table.accountsmanagement, table.flagmanagement, table.searchesmanagement {
    padding-bottom: 10px;
}
table.accountsmanagement td, table.flagmanagement td, table.searchesmanagement td {
    padding-right: 12px;
}
table.accountsmanagement thead td, table.flagmanagement thead td, table.searchesmanagement thead td {
    font-weight: bold;
    text-decoration: underline;
}

table.accountsmanagement td.required, .accountsNotSecure {
    color: red;
}
table.accountsmanagement td.noneconfigured {
    font-style: italic;
}
.accountsSecure {
    color: green;
}

table.flagmanagement div.flagUser {
    border: 1px solid gray;
    margin-right: 2px;
}
table.flagmanagement tbody td.flagicon {
    text-align: center;
}

table.searchesmanagement td.vfolderdescription {
    background-color: #ffa;
    width: 500px;
}
table.searchesmanagement .vfolderenabled {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

/* Prefs styles. */
.prefsPgpContainer, .prefsSmimeContainer {
    border: 1px solid black;
    margin: 5px 0;
    padding: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.prefsPgpHeader, .prefsSmimeHeader {
    margin-bottom: 5px;
}
.prefsPgpWarning, .prefsSmimeWarning {
    color: red;
    padding: 5px 10px;
}

/* Quota styles. */
.quotawarn {
    color: #000;
    background: yellow;
}
.quotaalert {
    color: #fff;
    background: #f00;
}

/* Pad the addressbook icon in header compose links. */
td.msgheader {
    width: 100%;
}
.msgheader img {
    padding: 0 1px 0 2px;
    vertical-align: bottom;
}

/* Contacts styles. */
#contactstable #search {
    width: 150px;
}
#contactstable #search_results, #contactstable #selected_addresses {
    width: 200px;
}
.contactsButtons {
    text-align: center;
}
.contactsButtons input {
    width: 60px;
}

/* Popdown styles. */
span.spellcheckPopdownImg {
    cursor: pointer;
    background: url("graphics/popdown.png") no-repeat center center;
    display: -moz-inline-stack;
    display: inline-block;
    height: 16px;
    width: 16px;
    vertical-align: top;
    margin-left: 3px;
}
span.spellcheckPopdownImg:hover {
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    margin: -1px -1px -1px 2px;
}

/* Large addresslist display. */
.largeaddrlist {
    cursor: pointer;
    background: #aaa;
    margin-right: 5px;
}
.largeaddrlist:hover {
    text-decoration: underline;
}

/* Thread page */
.threadSummary {
    margin: 5px 3px;
}
.threadSummary div {
    height: 16px;
}
.threadBox {
    margin: 3px;
}
.threadBox div.item0 {
    padding: 1px 2px;
}
.threadBox span.threadlink {
    float: right;
}
.threadBox .messageBody {
    border-bottom: 0;
}

/* Expand/Collapse graphic. */
span.arrowCollapsed {
    background-image: url("graphics/arrow_collapsed.png");
    cursor: pointer;
}
span.arrowExpanded {
    background-image: url("graphics/arrow_expanded.png");
    cursor: pointer;
}

/* Loading graphic */
span.loadingImg {
    z-index: 1000;
    border: 1px #e0e0e0 solid;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #fff url("graphics/loading.gif") no-repeat center;
    padding: 3px;
    width: 16px;
    height: 16px;
}
td.addressTr span.loadingImg {
    padding: 0 0 0 16px;
}

/* Inline display (Horde_Mime_Viewer) styles. */
.mimeStatusMessageTable {
    margin-bottom: 3px;
    font-size: 90%;
}
.mimeStatusMessageTable {
    background: #ffc;
    border: 1px solid #fff760;
    color: #000;
    display: -moz-inline-stack;
    display: inline-block;
    margin-bottom: 3px;
    padding: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.mimeStatusIcon {
    width: 22px;
}
div.mimeStatusMessage, div.mimePartInfo {
    margin-bottom: 5px;
}
.mimePartInfo div {
    background: #efefef;
    border: 1px solid #ccc;
    font-size: 90%;
    margin: 0;
    padding: 5px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    /* For FF2 */
    display: table-cell;
    display: inline-block;
}
.mimePartInfo div img {
    vertical-align: bottom;
}
.mimePartInfoAtc div {
    border: 1px dashed;
    background-image: url("graphics/attachment.png");
    background-position: 2px 50%;
    background-repeat: no-repeat;
    padding-left: 25px;
}

.mimeStatusMessageTable td {
    padding: 0;
}
.mimeStatusMessageTable td table td {
    padding-right: 2px;
    white-space: nowrap;
}

.mimePartWrap, .mimePartWrapValid, .mimePartWrapInvalid {
    border: 2px solid #666;
    margin: 2px 0;
    padding: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.mimePartWrapValid {
    border-color: #cfc;
}
.mimePartWrapInvalid {
    border-color: #ffd0af;
}

.mimeHeadersPrint {
    /* Must be pixel size to properly work with Mozilla on print page. */
    font-size: 12px;
}

/* Other images. */
.downloadAtc, .downloadZipAtc, .saveImgAtc, .printAtc, .closeImg, .deleteImg, .folderImg, .foldersImg, .searchuiImg, .reloadImg, .editImg {
    display: -moz-inline-stack;
    display: inline-block;
    height: 16px;
    width: 16px;
    background-color: transparent;
    background-position: center right;
    background-repeat: no-repeat;
    vertical-align: bottom;
}
.downloadAtc, .downloadZipAtc, .saveImgAtc {
    margin-left: 1px;
}
.downloadAtc, .saveAsImg {
    background-image: url("graphics/download.png");
}
.downloadZipAtc {
    background-image: url("graphics/mime/compressed.png");
}
.printAtc {
    background-image: url("graphics/print.png");
}
.saveImgAtc {
    background-image: url("graphics/gallery.png");
}
.deleteImg {
    background-image: url("graphics/delete.png");
}
.closeImg, .searchuiDelete {
    background-image: url("graphics/close.png");
}
.reloadImg {
    background-image: url("graphics/reload.png");
}
.editImg {
    background-image: url("graphics/edit.png");
}

/* iTip styles. */
#itipconflicts {
    border-spacing: 0;
}
#itipconflicts tr.itipcollision {
    background-color: #f00;
    color: #fff;
}

#itipconflicts tr.itipnearcollision {
    background-color: #ee0;
}

/* Quota syles. */
#quota {
    border-collapse: collapse;
    width: 100%;
}
#quota td {
    padding: 3px;
    vertical-align: middle;
}
