/**
 * DIMP core CSS.
 */

/* ini header. */
#quota {
    float: right;
    font-weight: normal;
}
#quota .used {
    float: left;
    width: 100px;
    background: maroon url('graphics/quotaback.jpg') repeat-y;
    text-align: right;
    border: 1px #000 solid;
    margin-right: 2px;
}
/* TODO? */
#quota .used img {
    display: inline;
    float: none;
    padding: 0;
    border-left: 1px #000 solid;
    height: 14px;
}
div#quota {
    padding-bottom: 3px;
}

#logo {
    display: none;
}
/* end header */

#sidebarPanel {
    position: absolute;
    cursor: default;
    top: 0;
    left: 0;
    padding: 7px 0 0 7px;
    width: 150px;
    bottom: 0;
    z-index: 1;
    white-space: normal;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom: 0;
}
#dimpmain {
    position: absolute;
    margin-left: 13px;
    left: 150px;
    top: 4px;
    bottom: 0;
    right: 4px;
}
#dimpmain_portal h1.header a {
    cursor: pointer;
}

/* SpellChecker styles. */
.Checking {
    color: red;
}
.incorrect {
    text-decoration: underline;
    cursor: pointer;
    color: red;
}
.corrected {
    text-decoration: underline;
    cursor: pointer;
    color: #090;
}

/* SplitPane styles. */
#msgSplitPane {
    background-color: #fff;
    border-left: 1px silver solid;
    border-right: 1px silver solid;
    border-bottom: 1px silver solid;
}
.splitBar {
    background: #e9e9e9 url("graphics/dragHandle.png") no-repeat scroll center top;
    border: 1px solid;
    border-color: ThreeDHighlight ThreeDShadow ThreeDShadow ThreeDHighlight;
    cursor: n-resize;
    height: 5px;
    clear: left;
    z-index: 10;
}

/* Message List */
span.loadingImg {
    z-index: 1000;
    border: 1px #e0e0e0 solid;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #fff url("graphics/loading.gif") no-repeat center;
    padding: 3px;
    width: 16px;
    height: 16px;
}

/* Columns */
div.msgStatus, div.msgFrom, div.msgSubject, div.msgDate, div.msgSize {
    float: left;
    overflow: hidden;
}
div.msgStatus {
    width: 8%;
}
div.msgStatus div, #msgHeadersContent .subject span {
    display: inline-block;
    padding-right: 2px;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    vertical-align: inherit;
}
div.msgFrom {
    width: 20%;
}
div.msgSubject {
    width: 52%;
}
div.msgDate {
    width: 14%;
}
div.msgSize {
    width: 6%;
}

/* Message List Header and Column Header */
#msglistHeader {
    font-weight: bold;
    overflow: hidden;
    border: 1px solid silver;
    background: transparent url("graphics/backhead_orderby.png") repeat-x;
}
#msglistHeader a {
    cursor: pointer;
    display: block;
}
#msglistHeader div {
    padding-top: 1px;
    height: 15px;
}
#msglistHeader div.sortup {
    padding-left: 0;
    background-position: 2px;
}
#msglistHeader div.sortup a {
    padding-left: 14px;
}
#msglistHeader div.sortdown {
    padding-left: 0;
    background-position: 2px;
}
#msglistHeader div.sortdown a {
    padding-left: 14px;
}
#msglistHeader a small {
    padding-left: 2px;
    font-weight: normal;
}

/* Message ViewPort */
.msglist {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px silver solid;
    float: left;
}
.msglist em {
    font-weight: bold;
}
.msglistNoPreview {
    border-bottom: 0;
}

/* Rows */
.msglist div.msgRow, .msglist div div {
    cursor: pointer;
    font-size: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 16px;
    margin-bottom: 1px;
}
/* Flags */
.msglist div.unseen {
    font-weight: bold;
}
.msglist div.important {
    background: #fcc;
}
.msglist div.answered {
    background: #cfc;
}
.msglist div.forwarded {
    background: #add;
}
.msglist div.flagged {
    background: #fcc;
}
.msglist div.unimportant {
    font-weight: normal;
}
.msglist div.deletedmsg {
    background: #999;
}
.msglist div.deletedmsg div.msgFrom, .msglist div.deletedmsg div.msgSubject, .msglist div.deletedmsg div.msgDate, .msglist div.deletedmsg div.msgSize {
    text-decoration: line-through;
}
.msglist div.selectedRow {
    background: #ffc;
}

/* Checkbox images */
.msglist div.msCheck {
    background-image: url("graphics/checkbox_off.png");
}
.msglist div.msCheck:hover {
    background-image: url("graphics/checkbox_over.png");
}
.msglist div.selectedRow div.msCheck {
    background-image: url("graphics/checkbox_on.png");
}

/* Status images and flags selectors */
.msglist div.statusUnseen {
    background-image: url("graphics/mail_unseen.png");
}
.msglist div.statusFlagged {
    background-image: url("graphics/mail_flagged.png");
}
.msglist div.statusDeleted {
    background-image: url("graphics/mail_deleted.png");
}
.msglist div.statusLowPriority, #msgHeadersContent span.statusLowPriority {
    background-image: url("graphics/mail_priority_low.png");
}
.msglist div.statusHighPriority, #msgHeadersContent span.statusHighPriority {
    background-image: url("graphics/mail_priority_high.png");
}
.msglist div.statusAnswered {
    background-image: url("graphics/mail_answered.png");
}
.msglist div.statusForwarded {
    background-image: url("graphics/mail_forwarded.png");
}
.msglist div.statusDraft {
    background-image: url("graphics/mail_draft.png");
}
.msglist div.statusAttachment {
    background-image: url("graphics/attachment.png");
}
.msglist div.statusEncrypted {
    background-image: url("graphics/encrypted.png");
}
.msglist div.statusSigned {
    background-image: url("graphics/signed.png");
}

/* Scroller */
.sbdiv {
    position: relative;
    right: 0;
    width: 14px;
    overflow: auto;
    background-image: url("graphics/scroller_back.png");
    background-repeat: repeat-y;
}
.sbcursor {
    width: 13px;
    border-left: 1px solid silver;
    background-image: url("graphics/scroller.png");
    background-repeat: repeat-y;
}
.sbup {
    width: 13px;
    height: 16px;
    border-left: 1px solid silver;
    background-image: url("graphics/sbcursor_top.png");
}
.sbdown {
    width: 13px;
    height: 17px;
    border-left: 1px solid silver;
    background-image: url("graphics/sbcursor_bottom.png");
}

/* IFRAMEs */
.iframe {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border: none;
    width: 100%;
    height: 100%;
}

/* Sidebar */
#sidebarPanel span {
    white-space: normal;
}
#sidebarPanel a {
    cursor: pointer;
    padding: 0;
}
#sidebarPanel a:hover {
    background: transparent;
}
#sidebarPanel p {
    margin: 0 0 5px;
}
#sidebarPanel p a {
    text-decoration: none;
    font-weight: bold;
}
#sidebarPanel p a img {
    padding-right: 3px;
}
#sidebarPanel .sepfull {
    font-size: 1px !important;
    line-height: 1px !important;
    height: 1px !important;
    margin: 5px 0;
    overflow: hidden;
    width: 150px;
    background: silver;
}
#sidebarPanel .count, #sidebarPanel a:hover .count {
    color: silver;
}
#sidebarPanel li {
    list-style: none;
    width: 100%;
    height: 17px;
    line-height: 17px;
    margin: 1px 0 0;
    white-space: nowrap;
}
#sidebarPanel li.folder, #sidebarPanel li.custom, #sidebarPanel li.servicelink {
    float: none;
    width: 100%;
    text-decoration: none;
    padding: 0;
}
#sidebarPanel li.custom, #sidebarPanel li.servicelink {
    display: block;
}
#sidebarPanel li a {
    padding-top: 1px;
    width: 130px;
    text-decoration: none;
}
#sidebarPanel li.custom a, #sidebarPanel li.servicelink a {
    padding-top: 0;
}
#sidebarPanel li.servicelink a {
    font-weight: bold;
}
#sidebarPanel li.custom {
    background: transparent none;
}
#sidebarPanel li.custom img, #sidebarPanel li.servicelink img {
    float: left;
    padding: 1px 4px 0 0;
}
#sidebarPanel li.folder a {
    display: inline;
}
#sidebarPanel .base, #sidebarPanel .col, #sidebarPanel .exp, #sidebarPanel .create, #sidebarPanel .drafts, #sidebarPanel .inbox, #sidebarPanel .sent, #sidebarPanel .spam, #sidebarPanel .trash, #sidebarPanel .customimg {
    display: inline;
    float: left;
    width: 20px;
    height: 100%;
    background-repeat: no-repeat;
}
#sidebarPanel .base {
    background-image: url("graphics/folder.png");
}
#sidebarPanel .col {
    background-image: url("graphics/folder_minus.png");
}
#sidebarPanel .exp {
    background-image: url("graphics/folder_plus.png");
}
#sidebarPanel .create {
    background-image: url("graphics/folder_create.png");
}
#sidebarPanel .drafts {
    background-image: url("graphics/folder_drafts.png");
}
#sidebarPanel .inbox {
    background-image: url("graphics/folder_inbox.png");
}
#sidebarPanel .sent {
    background-image: url("graphics/folder_sent.png");
}
#sidebarPanel .spam {
    background-image: url("graphics/folder_spam.png");
}
#sidebarPanel .trash {
    background-image: url("graphics/folder_trash.png");
}
#sidebarPanel #normalfolders {
    overflow-x: hidden;
}
#sidebarPanel #myfolders {
    display: none;
}
#foldersSidebar {
    overflow: hidden;
}
#sidebarPanel .folderlist li a {
    width: auto;
    overflow: hidden;
    display: block;
    float: none;
}
#sidebarPanel li div {
    cursor: pointer;
}
#sidebarPanel li.subfolders {
    height: auto;
    margin: 0;
}
#sidebarPanel li.subfolders ul {
    padding-left: 10px;
}
#sidebarPanel li.subfolders li a {
    width: auto;
}
#sidebarPanel li.on {
    background: #ffc;
}
#sidebarPanel .over a, #sidebarPanel li.folder:hover, #sidebarPanel li.custom:hover, #sidebarPanel li.servicelink:hover {
    font-weight: bold;
    text-decoration: underline;
}
#sidebarPanel li a.drop {
    border: 1px solid orange;
    padding: 1px 1px 1px 19px;
}

/* Options */
.dimpOptions {
    float: right;
}
.dimpOptions div {
    cursor: pointer;
    line-height: 17px;
}
.dimpOptions div a, .dimpOptions div a:visited {
    text-decoration: none;
    color: #000;
}
.dimpOptions div:hover {
    text-decoration: underline;
}
.dimpOptions div img {
    float: left;
    padding: 1px 4px 0 0;
}

/* Actions */
.dimpActions {
    background: #efefef;
    padding: 4px 4px 4px 2px;
    border: 1px silver solid;
    border-bottom: 0;
    background: transparent url("graphics/backhead_s2.png") repeat-x;
}
.dimpActions span {
    cursor: pointer;
}
.dimpActions a, .dimpActions a:visited, .dimpActions label {
    color: #000;
    font-size: 90%;
    font-weight: bold;
    white-space: nowrap;
    padding: 2px 4px 4px 4px;
}
.dimpActions a img {
    vertical-align: top;
    padding-right: 3px;
}
.dimpActions a:hover {
    text-decoration: none;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 1px 3px 3px 3px;
    cursor: pointer;
}
.dimpActions form {
    float: right;
    padding: 0;
}
.dimpActions .disabled a, .dimpActions .disabled a:visited, .dimpActions .disabled a:active, .dimpActions .disabled a:hover {
    cursor: default;
    text-decoration: none;
    color: silver;
}
.dimpActions .disabled a:hover {
    border: 0;
    padding-left: 4px;
    padding-right: 4px;
}
.dimpActions .disabled span.iconImg, .dimpActions .disabled span.spellcheckPopdownImg {
    filter: alpha(opacity=25);
    -moz-opacity: .25;
    opacity: .25;
}
.dimpActions span.popdown:hover, .dimpActions span.spellcheckPopdownImg:hover {
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    margin: -1px;
}
.dimpActions .disabled span.popdown:hover, .dimpActions .disabled span.spellcheckPopdownImg {
    border: 0;
    cursor: default;
    padding-left: 2px;
    padding-right: 2px;
}
#button_compose, #button_checkmail {
    display: none;
}

div.dimpActionsCompose, div.dimpActionsMsg {
    border-bottom: 1px solid #999;
}

#previewPane {
    overflow: auto;
    height: 250px;
    border: none;
    border-top: 1px silver solid;
    background: #fff;
}

.msgHeaders {
    background: transparent url("graphics/backhead_r.png") repeat-x;
    border-bottom: 1px #b9b9b3 solid;
    padding: 2px 0;
    font-size: 90%;
    overflow: hidden;
}
.msgfullread .msgHeaders {
    border: 1px #b9b9b3 solid;
    cursor: default;
}

.msgHeaders .dimpOptions {
    padding: 0 10px 10px;
    margin-top: 3px;
}

.msgHeaders table {
    margin: 0;
}
.msgHeaders table thead tr {
    vertical-align: top;
}
.msgHeaders table thead td {
    padding: 0 3px 3px 0;
}
.msgHeaders table thead td img {
    vertical-align: middle;
}
.msgHeaders table thead td.label {
    font-weight: bold;
    white-space: nowrap;
    text-align: right;
    padding-left: 3px;
}
.msgHeaders table thead td.subject {
    font-weight: bold;
}
#msgAtc td {
    padding-bottom: 0;
}
.atcLabel {
    font-weight: bold;
    padding-right: 5px;
}
#partlist table {
    margin-top: 3px;
    margin-bottom: 1px;
}
#partlist td {
    padding-bottom: 2px;
}

#msgHeadersContent {
    overflow: hidden;
}

/* ini msg small header */
#toggleHeaders {
    float: left;
}
#msgHeadersColl {
    margin: 0 6px;
    white-space: nowrap;
}
#msgHeadersColl span.date {
    float: right;
    text-align: right;
}
#msgHeadersColl span.subject {
    float: left;
    font-weight: bold;
    overflow: hidden;
    padding-left: 2px;
    max-width: 40%;
}
#msgHeadersColl span.fromcontainer {
    padding-left: 5px;
}
#msgHeadersColl span.from {
    max-width: 50%;
    overflow: hidden;
}
#msgHeadersColl span.from a:hover {
    border: none;
    background: none;
    padding: 2px;
    text-decoration: underline;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
#msgHeadersColl span.from a:hover img {
    display: none;
}
/* end msg small header */

.msgBody {
    background: #fff url("graphics/backhead_shadow.png") top repeat-x;
    padding: 7px 5px 5px;
}
.msgBody table td {
    padding: 0;
}
.msgfullread .msgBody {
    border-left: 1px silver solid;
    border-right: 1px silver solid;
    border-bottom: 1px silver solid;
    min-height: 420px;
}

/* Message Composition. */
.composeAddrbook {
    cursor: pointer;
    text-decoration: underline;
}
.composeAddrbook:hover {
    font-weight: bold;
}

.msgwrite {
    cursor: default;
    background: #e2e2e2 url("graphics/backhead_r.png") repeat-x;
    border: 1px #b9b9b3 solid;
    padding: 2px 0;
}
.msgwrite .dimpOptions {
    padding: 10px;
    font-size: 90%;
}
.msgwrite .dimpOptions label {
    display: block;
    cursor: pointer;
}
.msgwrite thead tr {
    vertical-align: top;
}
.msgwrite thead td {
    padding: 3px 5px 1px 0;
    font-size: 90%;
}
.msgwrite thead td.label {
    height: 15px;
    white-space: nowrap;
    text-align: right;
    width: 65px;
    padding-top: 4px;
    padding-left: 2px;
}
.msgwrite thead td.subject {
    font-weight: bold;
}
.msgwrite .atcrow {
    line-height: 130%;
}

#messageParent {
    background: #fff url("graphics/backhead_shadow.png") top repeat-x;
    border-left: 1px silver solid;
    border-right: 1px silver solid;
    border-bottom: 1px silver solid;
    padding: 1%;
}
#messageParent .htmlarea {
    width: 98% !important;
    border: none;
}
#message {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#previewInfo {
    background: transparent url(graphics/ico_message_off.png) no-repeat scroll 10px 15px;
    line-height: 18px;
    text-align: left;
    padding: 15px 80px 10px 35px;
    color: #a0a0a0;
}

.htmledit {
    display: none;
    padding: 4px;
}

#subject {
    width: 40em;
}

#composeloading, #rteloading {
    position: absolute;
    z-index: 100;
    background-color: #000;
    filter: alpha(opacity=50);
    -moz-opacity: .5;
    opacity: .5;
}
#rteloadingtxt {
    position: absolute;
    background-color: #fff;
    z-index: 101;
}
#composeloading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* attachment file list */
#attach_list {
    padding-top: 5px;
}
#attach_list input {
    background: none;
    border: 1px solid #ccc;
    font-weight: bold;
}
#attach_list div, span.attachmentImg {
    background-image: url("graphics/attachment.png");
}
#attach_list div {
    background: transparent left 2px no-repeat;
    height: 20px;
    padding-left: 20px;
}

span.attachName {
    text-decoration: underline;
    cursor: pointer;
}
span.attachName:hover {
    color: red;
}

/* Context Menus */
.context {
    min-width: 180px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    border: 1px #d4d4d4 solid;
    padding: 1px;
    background: #f4f4f4;
    color: #000;
    font-size: 90%;
}
.context a, .context a:visited {
    white-space: nowrap;
    display: block;
    padding: 4px 4px 3px 2px;
    text-decoration: none;
    color: #000;
}
.context a:hover {
    background: gray;
    color: #fff;
    cursor: pointer;
}
.context a span.contextExpand {
    float: right;
    width: 16px;
    height: 16px;
    margin-top: -1px;
    background: url("graphics/popright.png") no-repeat;
}
.context div.sep {
    border-bottom: 1px #d4d4d4 solid;
}

/* Email Addresses. */
a.address {
    left: -2px;
    position: static;
    padding: 2px;
    text-decoration: underline;
    white-space: nowrap;
}
a.address img {
    display: none;
    vertical-align: top;
}
a.address:hover {
    text-decoration: none;
    padding: 2px 1px;
    border: 1px silver solid;
    background: #fff;
}
a.address:hover img {
    display: inline;
    padding-left: 4px;
}

#hordeAlerts div.dimp-sticky {
    background-color: #ebe20c;
    background-image: url("graphics/warning.png");
    border-color: #807b00;
    color: #000;
}
#hordeAlerts div.imp-reply {
    background-image: url("graphics/mail_answered.png");
}
#hordeAlerts div.imp-forward, #hordeAlerts div.imp-redirect {
    background-image: url("graphics/mail_forwarded.png");
}

/* Drag and drop styles. */
.drag, .dragdrop {
    position: absolute;
    background: #eee;
    border: 1px solid #ccc;
    font: 12px Geneva,Arial,Helvetica,sans-serif;
    padding: 2px;
    overflow: hidden;
    z-index: 999;
}
.dragdrop {
    color: red;
}

/* Message Search Filter bar */
#qoptions {
    background: gray;
    color: #fff;
    font-size: 90%;
    padding: 5px 5px 5px 10px;
}
#qoptions a, #qoptions a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    margin: 0 5px;
    padding: 2px 5px;
}
#qoptions a.qselected, #qoptions a.qselected:visited, #qoptions a:hover {
    background: #fafafa;
    color: #000;
    font-weight: bold;
    border-top: 1px silver solid;
    border-left: 1px silver solid;
    border-bottom: 1px #e0e0e0 solid;
    border-right: 1px #e0e0e0 solid;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 1px 4px;
}
#qclose a, #qclose a:visited {
    float: right;
    margin-top: -2px;
    width: 10px;
    background: #efefef;
    color: #000;
    font-weight: bold;
    border-top: 1px silver solid;
    border-left: 1px silver solid;
    border-bottom: 1px #e0e0e0 solid;
    border-right: 1px #e0e0e0 solid;
    text-align: center;
    vertical-align: middle;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 0 2px 2px 4px;
    text-decoration: none;
}
#qclose a:hover {
    background: #fff;
    padding: 0 2px 2px 4px;
}
#qoptions .qlabel {
    font-weight: bold;
}

.msgFilterDefault {
    color: #a0a0a0;
}

.searchMatch {
    font-weight: bold;
    text-decoration: underline;
}

/* Redbox styles. */
#RB_folder {
    width: 20em;
    padding: 6px;
    border: 1px solid #ccc;
}
#RB_folder input {
    margin: .2em;
}

/* Popup message styling. */
.headercloseimg {
    float: right;
    padding-right: 2px;
    cursor: pointer;
}
.headertitle {
    border-bottom: none;
}

/* Keyboard key style */
.kbd {
    background: #eee;
    color: #000;
    white-space: nowrap;
    padding: 1px 2px;
    border: 1px solid #888;
    font-size: 90%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

/* Images */
span.iconImg, span.contextImg, span.spellcheckPopdownImg {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 4px;
    vertical-align: top;
}

span.dimpactionReply {
    background-image: url("graphics/reply_menu.png");
}
span.dimpactionForward {
    background-image: url("graphics/forward_menu.png");
}
span.dimpactionSpam {
    background-image: url("graphics/spam_menu.png");
}
span.dimpactionHam {
    background-image: url("graphics/ham_menu.png");
}
span.dimpactionCompose {
    background-image: url("graphics/compose_menu.png");
}
span.dimpactionCheckmail {
    background-image: url("graphics/checkmail_menu.png");
}
span.dimpactionDelete {
    background-image: url("graphics/delete_menu.png");
}
span.dimpactionOther {
    background-image: url("graphics/plus_menu.png");
}
span.dimpactionSpellcheck {
    background-image: url("graphics/spellcheck_menu.png");
}
span.dimpactionDrafts {
    background-image: url("graphics/drafts_menu.png");
}

/* Context menu images */
#ctx_message_reply span.contextImg {
    background-image: url("graphics/reply.png");
}
#ctx_reply_reply span.contextImg, #ctx_reply_reply_all span.contextImg, #ctx_reply_reply_list span.contextImg {
    background-image: url("graphics/replyall.png");
}
#ctx_message_forward span.contextImg, #ctx_forward_forward_all span.contextImg, #ctx_forward_forward_body span.contextImg, #ctx_forward_forward_attachments span.contextImg {
    background-image: url("graphics/forward.png");
}
#ctx_folder_empty span.contextImg, #ctx_message_deleted span.contextImg, #ctx_draft_deleted span.contextImg, #oa_purge_deleted span.contextImg {
    background-image: url("graphics/delete.png");
}
#ctx_message_undeleted span.contextImg, #ctx_draft_undeleted span.contextImg, #oa_undeleted span.contextImg {
    background-image: url("graphics/undelete.png");
}
#flag_seen span.contextImg, #ctx_folder_seen span.contextImg {
    background-image: url("graphics/mail_seen.png");
}
#flag_unseen span.contextImg, #ctx_folder_unseen span.contextImg, #ctx_folder_poll span.contextImg, #ctx_folder_nopoll span.contextImg {
    background-image: url("graphics/mail_unseen.png");
}
#ctx_message_setflag span.contextImg, #ctx_draft_setflag span.contextImg, #oa_setflag span.contextImg, #flag_flagged span.contextImg {
    background-image: url("graphics/mail_flagged.png");
}
#flag_clear span.contextImg {
    background-image: url("graphics/mail_clearflag.png");
}
#flag_answered span.contextImg {
    background-image: url("graphics/mail_answered.png");
}
#flag_unanswered span.contextImg {
    background-image: url("graphics/mail_notanswered.png");
}
#flag_draft span.contextImg, #ctx_draft_resume span.contextImg {
    background-image: url("graphics/mail_draft.png");
}
#flag_notdraft span.contextImg {
    background-image: url("graphics/mail_notdraft.png");
}
#previewtoggle span.contextImg {
    background-image: url("graphics/preview.png");
}
#oa_selectall span.contextImg {
    background-image: url("graphics/tick.png");
}
#ctx_folder_create span.contextImg, #ctx_container_create span.contextImg {
    background-image: url("graphics/folders/folder_create.png");
}
#ctx_folder_rename span.contextImg, #ctx_container_rename span.contextImg {
    background-image: url("graphics/folders/folder_edit.png");
}
#ctx_folder_delete span.contextImg {
    background-image: url("graphics/folders/folder_delete.png");
}
#ctx_message_spam span.contextImg {
    background-image: url("graphics/spam.png");
}
#ctx_message_ham span.contextImg {
    background-image: url("graphics/ham.png");
}
#ctx_message_blacklist span.contextImg, #oa_blacklist span.contextImg {
    background-image: url("graphics/blacklist.png");
}
#ctx_message_whitelist span.contextImg, #oa_whitelist span.contextImg {
    background-image: url("graphics/whitelist.png");
}
#ctx_contacts_new span.contextImg {
    background-image: url("graphics/compose.png");
}
#ctx_contacts_add span.contextImg {
    background-image: url("graphics/add_contact.png");
}

/* Thread images */
span.threadImg {
    margin-top: -4px;
    margin-right: 0;
}

/* Other images */
#msg_newwin span.iconImg, #msg_newwin_options span.iconImg {
    background-image: url("graphics/newwin.png");
}
#msg_newwin span.iconImg {
    float: right;
    margin-left: 4px;
    margin-right: 0;
}
#quota span.iconImg {
    background-image: url("graphics/quotauncover.gif");
    width: 0;
    margin-right: 0;
}
#th_expand span.iconImg, #partlist_col {
    background-image: url("graphics/arrow_collapsed.png");
}
#th_collapse span.iconImg, #partlist_exp {
    background-image: url("graphics/arrow_expanded.png");
}
#msg_view_source span.iconImg {
    background-image: url("graphics/message_source.png");
}

span.popdownImg, span.spellcheckPopdownImg {
    background-image: url("graphics/popdown.png");
    margin-right: 0;
    margin-left: 0;
}
span.keyupImg {
    background-image: url("graphics/key_up.png");
}
span.keydownImg {
    background-image: url("graphics/key_down.png");
}
