/**
 * DIMP core CSS.
 */

/* Make sure we never scroll vertically. */
html {
    overflow-y: hidden;
}

/* global */
input {
    vertical-align: middle;
}
.nojserror {
    color: red;
}

/* Main container styles. */
#sidebarPanel {
    bottom: 0;
    border-bottom: 0;
    cursor: default;
    left: 0;
    position: absolute;
    top: 0;
    padding: 5px 0 0 5px;
    white-space: normal;
    z-index: 1;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
}
#dimpmain {
    bottom: 0;
    margin-left: 5px;
    position: absolute;
    right: 4px;
    top: 4px;
}

/* ini header */
#quota {
    float: right;
    font-weight: normal;
    padding-bottom: 3px;
}
#quota .used {
    float: left;
    width: 100px;
    background: maroon url('graphics/quotaback.jpg') repeat-y;
    text-align: right;
    border: 1px #000 solid;
    margin-right: 2px;
}
/* TODO? */
#quota .used img {
    display: inline;
    float: none;
    padding: 0;
    border-left: 1px #000 solid;
    height: 14px;
}

#logo {
    display: none;
}
/* end header */

/* Portal styles. */
#dimpmain_portal h1.header a {
    cursor: pointer;
}

/* SpellChecker styles. */
#spellcheck {
    color: #000;
}
.spellcheckChecking, .spellcheckIncorrect {
    color: red;
}
.spellcheckCorrected {
    color: #090;
}
.spellcheckIncorrect, .spellcheckCorrected {
    text-decoration: underline;
    cursor: pointer;
}

/* SplitPane styles. */
#msgSplitPane {
    border-left: 1px silver solid;
    border-right: 1px silver solid;
    border-bottom: 1px silver solid;
}
#msgSplitPane div.drag {
    padding: 0;
}
#splitBar {
    background: #e9e9e9 url("graphics/dragHandle.png") no-repeat scroll center top !important;
    border: 1px solid;
    border-color: ThreeDHighlight ThreeDShadow ThreeDShadow ThreeDHighlight;
    cursor: n-resize;
    height: 5px;
    clear: both;
    z-index: 10;
}

/* Message List */
.mboxheader {
    clear: left;
}
#msgLoading, #viewportLoading {
    position: absolute;
    margin: 10px 0 0 10px;
}
#msgLoading {
    /* Positioned relative to .splitBar, which is 7px high by default. */
    margin-top: 17px;
}

/* Columns */
div.msgStatus {
    float: left;
    width: 8%;
    text-indent: 0 !important;
}
div.msgStatus div, #msgHeadersContent .subject span {
    padding-right: 2px;
    background-repeat: no-repeat;
    vertical-align: inherit;
}
div.msgFrom {
    float: left;
    width: 20%;
}
div.msgSubject {
    float: left;
    width: 52%;
}
div.msgDate {
    float: left;
    width: 14%;
}
div.msgSize {
    float: left;
    width: 6%;
    margin-right: -4px;
}

/* Message List Header and Column Header */
#msglistHeader {
    font-weight: bold;
    overflow: hidden;
    border: 1px solid silver;
    background: transparent url("graphics/backhead_orderby.png") repeat-x;
}
#msglistHeader a {
    cursor: pointer;
}
#msglistHeader div {
    padding-top: 1px;
    height: 15px;
    text-indent: 2px;
}
#msglistHeader div.sortup, #msglistHeader div.sortdown {
    padding-left: 0;
    background-position: 2px;
}
#msglistHeader div.sortup a, #msglistHeader div.sortdown a {
    padding-left: 14px;
}
#msglistHeader div.sep {
    border-left: 1px solid #ddd;
}
#msglistHeader a small {
    padding-left: 2px;
    font-weight: normal;
}

/* Message ViewPort */
.msglist {
    border-bottom: 1px silver solid;
    float: left;
    overflow: hidden;
    width: 100%;
}
.msglist span.vpEmpty, .msglist span.vpError {
    font-weight: bold;
}
.msglistNoPreview {
    border-bottom: 0;
}

/* Rows */
.msglist div.vpRow, .msglist div.vpRow div {
    cursor: pointer;
    font-size: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    height: 16px;
    border-bottom: 1px;
    text-indent: 2px;
}
.msglist div.vpRowSelected {
    background: #ffa !important;
}
.msglist div.vpRow div.sep {
    border-right: 1px solid #ddd;
}

/* Rows: flags. */
div.vpRow.flagLowpriority {
    font-weight: normal !important;
}
div.vpRow.flagUnseen {
    font-weight: bold;
}
div.vpRow.flagDeleted {
    text-decoration: line-through;
}

/* Checkbox images */
.msglist div.msCheck {
    background-image: url("graphics/checkbox_off.png");
}
.msglist div.msCheck:hover {
    background-image: url("graphics/checkbox_over.png");
}
.msglist div.vpRowSelected div.msCheck {
    background-image: url("graphics/checkbox_on.png");
}

/* Scroller */
.sbdiv {
    position: relative;
    right: 0;
    width: 14px;
    overflow: hidden;
    background: url("graphics/scroller_back.png") repeat-y;
}
.sbcursor {
    width: 13px;
    border-left: 1px solid silver;
    background: url("graphics/scroller.png") repeat-y;
}
.sbup, .sbdown {
    width: 13px;
    height: 16px;
    border-left: 1px solid silver;
}
.sbup {
    background-image: url("graphics/sbcursor_top.png");
}
.sbdown {
    border-bottom: 1px solid silver;
    background-image: url("graphics/sbcursor_bottom.png");
}

/* IFRAMEs */
.iframe {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border: none;
    width: 100%;
    height: 100%;
}

/* Sidebar */
#sidebarPanel a {
    cursor: pointer;
}
#sidebarPanel .sepfull {
    height: 1px !important;
    margin: 5px 0;
    background: silver;
}
#sidebarPanel .count {
    color: silver;
}
#sidebarPanel li {
    list-style: none;
    height: 16px;
    line-height: 16px;
    padding-top: 1px;
    white-space: nowrap;
}
#sidebarPanel li a, #sidebarPanel li.folder, #sidebarPanel li.container, #sidebarPanel li.custom, #sidebarPanel li.servicelink {
    text-decoration: none;
}
#sidebarPanel li.servicelink a {
    font-weight: bold;
}
#sidebarPanel li.custom {
    background: transparent none;
}
#sidebarPanel li.custom img {
    float: left;
    padding: 1px 4px 0 0;
    margin-bottom: -1px;
}
#sidebarPanel li.on {
    background: #ffa;
}
#sidebarPanel li span {
    cursor: pointer;
}
#sidebarPanel li.subfolders {
    height: auto;
    margin: 0;
}
#sidebarPanel li.subfolders ul {
    padding-left: 10px;
}
#sidebarPanel span.iconSpan {
    display: inline;
    float: left;
    width: 20px;
    height: 100%;
    background-repeat: no-repeat;
}
#ctx_folder_sub span.contextImg, #ctx_folder_unsub span.contextImg, #ctx_folderopts_sub span.contextImg, #ctx_folderopts_unsub span.contextImg {
    background-image: url("graphics/folders/folder.png");
}
#sidebarPanel span.col, #ctx_folderopts_collapse span.contextImg, #ctx_container_collapse span.contextImg, #ctx_folder_collapse span.contextImg {
    background-image: url("graphics/folders/minus.png");
}
#sidebarPanel span.exp, #ctx_folderopts_expand span.contextImg, #ctx_container_expand span.contextImg, #ctx_folder_expand span.contextImg {
    background-image: url("graphics/folders/plus.png");
}
#normalfolders {
    overflow-x: hidden;
}
#normalfolders li.unsubFolder {
    font-style: italic;
}
#sidebarPanel .over a, #sidebarPanel li.folder:hover, #sidebarPanel li.custom:hover, #sidebarPanel li.servicelink:hover {
    font-weight: bold;
    text-decoration: underline;
}

#folderopts a {
    display: inline !important;
    padding-right: 1px;
}

/* Message options. */
.dimpOptions {
    float: right;
}
.dimpOptions div {
    line-height: 16px;
    padding-bottom: 2px;
}
.dimpOptions span {
    cursor: pointer;
}
.dimpOptions .iconImg {
    margin-right: 0;
}
.dimpOptions a, .dimpOptions a:visited {
    text-decoration: none;
    color: #000;
}
.dimpOptions a:hover {
    text-decoration: underline;
}

/* Actions */
.dimpActions {
    background: #efefef;
    padding: 4px 2px;
    border: 1px silver solid;
    border-bottom: 0;
    background: transparent url("graphics/backhead_s2.png") repeat-x;
    height: 16px;
}
.dimpActions div {
    cursor: pointer;
    float: left;
    padding-right: 6px;
}
.dimpActions a, .dimpActions a:visited, .dimpActions label {
    color: #000;
    font-size: 90%;
    font-weight: bold;
    white-space: nowrap;
    padding: 2px 4px 4px 4px;
}
.dimpActions a img {
    margin-right: 4px;
    vertical-align: top;
}
.dimpActions a:hover, .dimpActions span.popdown:hover, .dimpActions span.spellcheckPopdownImg:hover, span.popdownImg:hover {
    background-color: #e3e3e3;
    text-decoration: none;
}
.dimpActions span.spellcheckPopdownImg:hover, span.popdownImg {
    border: 0;
    margin: 0;
}
.dimpActions .disabled a:hover {
    background-color: transparent;
}
.dimpactions .disabled, .dimpActions .disabled a, .dimpActions .disabled a:visited, .dimpActions .disabled a:active, .dimpActions .disabled a:hover {
    cursor: default;
    text-decoration: none;
    color: silver;
}
.dimpActions .disabled span.iconImg, .dimpActions .disabled span.spellcheckPopdownImg {
    filter: alpha(opacity=25);
    -moz-opacity: .25;
    opacity: .25;
}
.dimpActions .disabled span.popdown:hover, .dimpActions .disabled span.spellcheckPopdownImg {
    border: 0;
    cursor: default;
    margin: 0;
}
#button_compose, #button_checkmail {
    display: none;
}

div.dimpActionsCompose, div.dimpActionsMsg {
    border-bottom: 1px solid #999;
}

/* Preview pane styles. */
#previewPane {
    overflow: auto;
}
#previewInfo {
    background: transparent url("graphics/ico_message_off.png") no-repeat scroll 10px 15px;
    color: #a0a0a0;
    line-height: 18px;
    padding: 15px 80px 10px 35px;
}

/* Headers styles. */
.msgHeaders {
    background: transparent url("graphics/backhead_r.png") repeat-x;
    border-bottom: 1px #b9b9b3 solid;
    padding: 2px 0 1px;
    font-size: 90%;
    overflow: hidden;
}
.msgfullread .msgHeaders {
    cursor: default;
}

.msgHeaders .dimpOptions {
    padding: 3px 10px 5px 5px;
}

.msgHeaders table {
    margin-top: -2px;
}
.msgHeaders table thead td {
    padding: 0 0 1px 0;
}
.msgHeaders table thead tr {
    vertical-align: top;
}
.msgHeaders table thead td.label {
    font-weight: bold;
    padding-right: 4px;
    text-align: right;
    white-space: nowrap;
}
.msgfullread .msgHeaders table thead td.label {
    padding-left: 3px;
}
.msgHeaders table thead td.subject {
    font-weight: bold;
}

#msgAtc td {
    padding-bottom: 0;
    padding-top: 1px;
}
.atcLabel, .msgLogLabel {
    font-weight: bold;
}
.atcLabel {
    padding-right: 5px;
}

#partlist table {
    margin-top: 3px;
}
#partlist td {
    padding-bottom: 2px;
    padding-right: 3px;
}

#msgloglist {
    padding-top: 4px;
}
#msgloglist ul {
    list-style-type: none;
}

#msgHeadersContent {
    overflow: hidden;
}

/* ini msg small header */
#toggleHeaders {
    float: left;
}
#msgHeadersColl {
    margin: 0 6px;
    white-space: nowrap;
}
#msgHeadersColl span.date {
    float: right;
    text-align: right;
}
#msgHeadersColl span.subject {
    float: left;
    font-weight: bold;
    max-width: 50%;
    overflow: hidden;
    padding-left: 2px;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}
#msgHeadersColl span.fromcontainer {
    padding-left: 5px;
}
#msgHeadersColl span.from {
    max-width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}
/* end msg small header */

/* Message body formatting. */
.msgBody {
    background: #fff url("graphics/backhead_shadow.png") top repeat-x;
    padding: 7px 5px 5px;
}
.msgfullread div.msgBody {
    overflow: auto;
}

#msgBodyCover {
    position: absolute;
    z-index: 1000;
}

/* Message Composition. */
.composeAddrbook {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}
.composeAddrbook:hover {
    font-weight: bold;
}

.msgwrite {
    background: #e2e2e2 url("graphics/backhead_r.png") repeat-x;
    border: 1px #b9b9b3 solid;
    cursor: default;
    padding: 2px 0;
}
.msgwrite .dimpOptions {
    padding: 8px 8px 0 0;
    font-size: 90%;
}
.msgwrite .dimpOptions div {
    padding-bottom: 0;
}
.msgwrite .dimpOptions label {
    cursor: pointer;
}
.msgwrite tr {
    vertical-align: top;
}
.msgwrite td {
    font-size: 90%;
}
.msgwrite td.label {
    white-space: nowrap;
    text-align: right;
    padding: 4px 4px 0 4px;
}
.msgwrite span.loadingImg {
    display: block;
}

#to, #cc, #bcc, #subject {
    width: 100%;
}

#composeMessageParent {
    background: #fff url("graphics/backhead_shadow.png") top repeat-x;
    border-left: 1px silver solid;
    border-right: 1px silver solid;
    border-bottom: 1px silver solid;
    padding: 10px 5px 5px;
}
#composeMessage {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#rteloading {
    position: absolute;
    z-index: 100;
    background-color: #000;
    filter: alpha(opacity=50);
    -moz-opacity: .5;
    opacity: .5;
}
#rteloadingtxt {
    position: absolute;
    background-color: #fff;
    z-index: 101;
}

#compose_flist_popdown {
    margin-top: -1px;
}

/* attachment file list */
#attach_list {
    padding-left: 15px;
}
#attach_list li {
    padding-top: 5px;
}
#attach_list span.remove {
    border: 1px solid #ccc;
    font-weight: bold;
    padding: 1px;
}
#attach_list span.remove:hover {
    color: red;
    text-decoration: underline;
}
#attach_list span.attachName {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}
#attach_list span.attachName:hover {
    color: red;
}

span.attachmentImg {
    background-image: url("graphics/attachment.png");
}

/* Context Menus */
.context {
    min-width: 180px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    border: 1px #d4d4d4 solid;
    padding: 1px;
    background: #f4f4f4;
    color: #000;
    font-size: 90%;
}
.context a, .context a:visited {
    white-space: nowrap;
    display: block;
    padding: 4px 4px 3px 2px;
    text-decoration: none;
    color: #000;
}
.context a:hover, .context a.contextSubmenu.contextHover {
    background: gray;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
.context div.sep {
    background: silver;
    height: 1px !important;
    margin: 1px 0;
    padding: 0;
}
.contextSubmenu {
    background: url("graphics/popright.png") 100% 50% no-repeat;
    padding-left: 16px;
}
.contextSelected {
    background: #ffa;
}

/* Email Addresses. */
a.address {
    cursor: pointer;
    left: -2px;
    padding: 2px;
    position: static;
    text-decoration: underline;
    white-space: nowrap;
}
a.address img {
    display: none;
    vertical-align: top;
}
a.address:hover {
    background: #fff;
    border: 1px silver solid;
    padding: 2px 1px;
    text-decoration: none;
}
a.address:hover img {
    display: inline;
    padding-left: 4px;
}

/* Drag and drop styles. */
.drag, .dragdrop {
    background: #eee;
    border: 1px solid #ccc;
    font-size: 12px;
    padding: 2px;
    overflow: hidden;
    z-index: 999;
}
.dragdrop {
    color: red;
}

/* Search-related styles */
#qsearch {
    background-color: #f3f3f3;
    border: 1px solid #999;
    cursor: default;
    float: right;
    margin-top: -2px;
    padding-left: 1px;
    padding-right: 1px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
#qsearch form {
    display: inline;
}
#qsearch_icon, #qsearch_close {
    cursor: pointer;
    padding: 2px 0 0;
}
#qsearch_icon {
    background: #f3f3f3 url("graphics/search.png") center no-repeat;
    padding-top: 2px;
}
#qsearch_input {
    border: none;
    color: #a0a0a0;
    margin-bottom: 1px;
    padding: 0;
}
#qsearch_close_filter {
    cursor: pointer;
    padding-right: 3px;
    vertical-align: middle;
}
.qsearchFocus, .qsearchFocus #qsearch_icon, .qsearchFocus #qsearch_input {
    background-color: #fff !important;
}
.qsearchFocus #qsearch_input {
    color: #000 !important;
}
.qsearchMatch {
    font-weight: bold;
    text-decoration: underline;
}

/* Redbox styles. */
.RBForm {
    width: 20em;
    padding: 6px;
    border: 1px solid #ccc;
}
.RBForm input {
    margin: .2em;
}

/* Popup message styling. */
.headercloseimg {
    float: right !important;
    cursor: pointer;
}
#compose_close {
    margin-top: 1px;
}

/* Keyboard key style */
.kbd {
    background: #eee;
    color: #000;
    white-space: nowrap;
    padding: 1px 2px;
    border: 1px solid #888;
    font-size: 90%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

/* Images */
div.msgStatus div, #msgHeadersContent .subject span, span.iconImg, span.contextImg, span.spellcheckPopdownImg, span.popdownImg, #qsearch_icon, #qsearch_close {
    display: -moz-inline-stack;
    display: inline-block;
    height: 16px;
    width: 16px;
    vertical-align: top;
}

span.iconImg, span.contextImg, span.spellcheckPopdownImg {
    margin-right: 4px;
}

/* Sidebar images. */
span.infoIcon {
    background-image: url("graphics/info_icon.png");
}
span.filtersIcon {
    background-image: url("graphics/filters.png");
}
span.hordeIcon {
    background-image: url("graphics/horde.png");
}
span.prefsIcon {
    background-image: url("graphics/prefs.png");
}
span.logoutIcon {
    background-image: url("graphics/logout.png");
}

/* Dimp action images. */
span.dimpactionReply {
    background-image: url("graphics/reply.png");
}
span.dimpactionForward {
    background-image: url("graphics/forward.png");
}
span.dimpactionSpam {
    background-image: url("graphics/spam.png");
}
span.dimpactionHam {
    background-image: url("graphics/ham.png");
}
span.dimpactionCompose {
    background-image: url("graphics/compose.png");
}
span.dimpactionCheckmail {
    background-image: url("graphics/checkmail.png");
}
span.dimpactionDelete {
    background-image: url("graphics/delete.png");
}
span.dimpactionOther {
    background-image: url("graphics/plus.png");
}
span.dimpactionSpellcheck {
    background-image: url("graphics/spellcheck.png");
}
span.dimpactionDrafts {
    background-image: url("graphics/drafts.png");
}

/* Context menu images */
#ctx_message_reply span.contextImg {
    background-image: url("graphics/reply.png");
}
#ctx_reply_reply span.contextImg, #ctx_reply_reply_all span.contextImg, #ctx_reply_reply_list span.contextImg {
    background-image: url("graphics/replyall.png");
}
#ctx_message_forward span.contextImg {
    background-image: url("graphics/forward.png");
}
#ctx_folder_empty span.contextImg, #ctx_message_deleted span.contextImg, #ctx_draft_deleted span.contextImg, #oa_purge_deleted span.contextImg {
    background-image: url("graphics/delete.png");
}
#ctx_message_undeleted span.contextImg, #ctx_draft_undeleted span.contextImg, #oa_undeleted span.contextImg {
    background-image: url("graphics/undelete.png");
}
#ctx_folder_seen span.contextImg {
    background-image: url("graphics/mail_seen.png");
}
#ctx_folder_unseen span.contextImg, #ctx_folder_poll span.contextImg, #ctx_folder_nopoll span.contextImg {
    background-image: url("graphics/mail_unseen.png");
}
#ctx_message_setflag span.contextImg, #ctx_draft_setflag span.contextImg, #oa_setflag span.contextImg {
    background-image: url("graphics/mail_flagged.png");
}
#ctx_message_unsetflag span.contextImg, #ctx_draft_unsetflag span.contextImg, #oa_unsetflag span.contextImg {
    background-image: url("graphics/mail_clearflag.png");
}
#ctx_draft_resume span.contextImg {
    background-image: url("graphics/mail_draft.png");
}
#previewtoggle span.contextImg {
    background-image: url("graphics/preview.png");
}
#oa_selectall span.contextImg {
    background-image: url("graphics/tick.png");
}
#ctx_folder_create span.contextImg, #ctx_container_create span.contextImg, #ctx_folderopts_new span.contextImg {
    background-image: url("graphics/folders/create.png");
}
#ctx_folder_rename span.contextImg, #ctx_container_rename span.contextImg, #ctx_vfolder_edit span.contextImg {
    background-image: url("graphics/folders/edit.png");
}
#ctx_folder_delete span.contextImg, #ctx_vfolder_delete span.contextImg {
    background-image: url("graphics/folders/delete.png");
}
#ctx_message_spam span.contextImg {
    background-image: url("graphics/spam.png");
}
#ctx_message_ham span.contextImg {
    background-image: url("graphics/ham.png");
}
#ctx_message_blacklist span.contextImg, #oa_blacklist span.contextImg {
    background-image: url("graphics/blacklist.png");
}
#ctx_message_whitelist span.contextImg, #oa_whitelist span.contextImg {
    background-image: url("graphics/whitelist.png");
}
#ctx_contacts_new span.contextImg {
    background-image: url("graphics/compose.png");
}
#ctx_contacts_add span.contextImg {
    background-image: url("graphics/add_contact.png");
}
#ctx_folderopts_reload span.contextImg {
    background-image: url("graphics/reload.png");
}
#ctx_flag span.contextImg.flagUser {
    border: 1px black solid;
    height: 15px;
    width: 15px;
}
div.vpRow div.msgSubject span.flagUser {
    font-size: 90%;
    font-weight: normal;
    margin-right: 3px;
}

/* Thread images */
div.msgSubject span.treeImg {
    margin-top: -4px;
    margin-right: 1px;
}

/* Other images */
#msg_newwin span.iconImg, #msg_newwin_options span.iconImg {
    background-image: url("graphics/newwin.png");
}
#msg_newwin span.iconImg {
    cursor: pointer;
    float: right;
    margin-left: 4px;
    margin-right: 0;
}
#msg_print span.iconImg {
    background-image: url("graphics/print.png");
}
#quota span.iconImg {
    background-image: url("graphics/quotauncover.gif");
    width: 0;
    margin-right: 0;
}
#th_expand span.iconImg, #partlist_col, #msgloglist_col {
    background-image: url("graphics/arrow_collapsed.png");
    cursor: pointer;
}
#th_collapse span.iconImg, #partlist_exp, #msgloglist_exp {
    background-image: url("graphics/arrow_expanded.png");
    cursor: pointer;
}
#msg_view_source span.iconImg {
    background-image: url("graphics/message_source.png");
}

span.popdownImg, span.spellcheckPopdownImg {
    background-image: url("graphics/popdown.png");
    margin-right: 0;
    margin-left: 0;
}
span.keyupImg {
    background-image: url("graphics/key_up.png");
}
span.keydownImg {
    background-image: url("graphics/key_down.png");
}
span.readonlyImg {
    background-image: url("graphics/locked.png");
    vertical-align: sub;
}

/* Growler notification styles. */
#Growler div.imp-reply, span.imp-reply {
    background-image: url("graphics/mail_answered.png");
}
#Growler div.imp-forward, div.imp-redirect, span.imp-forward, span.imp-redirect {
    background-image: url("graphics/mail_forwarded.png");
}
