<?php
// Horde_Db configuration.
$conf['alarm']['test']['horde']['adapter'] = 'pdo_mysql';
$conf['alarm']['test']['horde']['host'] = 'localhost';
$conf['alarm']['test']['horde']['username'] = '';
$conf['alarm']['test']['horde']['password'] = '';
$conf['alarm']['test']['horde']['dbname'] = 'horde';
$conf['alarm']['test']['horde']['charset'] = 'utf-8';
