<?php
// Horde_Db configuration.
$conf['alarm']['sql']['mysql']['host'] = 'localhost';
$conf['alarm']['sql']['mysql']['username'] = '';
$conf['alarm']['sql']['mysql']['password'] = '';
$conf['alarm']['sql']['mysql']['dbname'] = 'test';
$conf['alarm']['sql']['mysql']['charset'] = 'utf-8';
$conf['alarm']['sql']['mysqli']['host'] = 'localhost';
$conf['alarm']['sql']['mysqli']['username'] = '';
$conf['alarm']['sql']['mysqli']['password'] = '';
$conf['alarm']['sql']['mysqli']['dbname'] = 'test';
$conf['alarm']['sql']['mysqli']['charset'] = 'utf-8';
$conf['alarm']['sql']['oci8']['host'] = 'localhost';
$conf['alarm']['sql']['oci8']['username'] = '';
$conf['alarm']['sql']['oci8']['password'] = '';
$conf['alarm']['sql']['oci8']['charset'] = 'utf-8';
$conf['alarm']['sql']['pdo_mysql']['host'] = 'localhost';
$conf['alarm']['sql']['pdo_mysql']['username'] = '';
$conf['alarm']['sql']['pdo_mysql']['password'] = '';
$conf['alarm']['sql']['pdo_mysql']['dbname'] = 'test';
$conf['alarm']['sql']['pdo_mysql']['charset'] = 'utf-8';
$conf['alarm']['sql']['pdo_pgsql']['username'] = '';
$conf['alarm']['sql']['pdo_pgsql']['password'] = '';
$conf['alarm']['sql']['pdo_pgsql']['dbname'] = 'test';
$conf['alarm']['sql']['pdo_pgsql']['charset'] = 'utf-8';
