div.composebody {
    border: 1px solid #999;
}

#quota .control {
    border-bottom-width: 0;
}
.headerbox #quota {
    border-top-width: 0;
}
.headerbox #quota .control {
    border-bottom-width: 1px;
}

.smallheader.searchmbox {
    border-bottom-width: 0;
}
