<div class="header mboxheader">
 <div <if:page>style="width:40%" </if:page>class="leftFloat">
  <span dir="ltr"><tag:pagetitle /></span>
  <if:readonly><tag:readonly /></if:readonly>
  <tag:refresh /><span class="reloadImg"></span></a>
  <if:filter><tag:filter /></if:filter>
  <if:search><tag:search /></if:search>
  <if:searchclose><tag:searchclose /><span class="closeImg"></span></a></if:searchclose>
  <if:empty><tag:empty /></if:empty>
  <if:delete_vfolder><tag:delete_vfolder /></if:delete_vfolder>
 </div>
<if:page>
 <div style="width:20%" class="leftFloat">
  <tag:page />
 </div>
 <div style="width:40%" class="rightFloat rightAlign">
<else:page>
 <div class="rightFloat rightAlign">
</else:page></if:page>
  <tag:msgcount />
 </div>
 <div class="clear"></div>
</div>
