body {
    background: #eee url("graphics/background.png");
}
a {
    color: #3c7ae9;
}
a:hover {
    color: #1b57c2;
}
a.widget {
    color: #000;
}
.header {
    color: #fff;
    background: #7390b9;
}
.header a {
    color: #fff;
}
.light {
    color: #4e5d72;
}
.smallheader {
    color: #fff;
    background: #7390b9;
}
.item {
    background-color: #eceff4;
}
.button {
    color: #3c7ae9;
    background-color: #ddd;
    border: 1px solid #000;
    padding: 0 2px;
}
.button:hover {
    color: #fff;
    background-color: #999;
}
select {
    background-color: #78A4F1;
    color: #eee;
}

/* Menu styles. */
#menu {
    color: #fff;
    background: #7390b9;
}
#menu a {
    color: #fff;
}
#menu a.current {
    background: #58a2dc;
}
#menu a:hover {
    background: #58a2dc;
}

/* Sidebar styles. */
#sidebarPanel {
    background-color: #eee;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
}
#expandButton {
    margin-right: 1px;
}

/* Tab styles. */
.tabset li.activeTab a, .tabset li.activeTab a:hover {
    border-bottom-color: #7390b9;
    background-color: #7390b9;
}
