<h1 class="header">
 <tag:pageName />: <a href="<tag:referrerLink />"><tag:referrer /></a> <tag:refreshIcon />
</h1>

<table class="linedRow" style="width:100%" cellspacing="0">
 <tr class="item">
  <th align="left" width="25%"><gettext>Attachment Name</gettext></th>
  <th align="left" width="1%">&nbsp;</th>
  <th align="left" width="4%"><gettext>Version</gettext></th>
  <th align="left" width="10%"><gettext>Author</gettext></th>
  <th align="left" width="20%"><gettext>Date</gettext></th>
  <th align="left" width="35%"><gettext>Change Log</gettext></th>
  <th align="left" width="5%" class="nowrap"><gettext>Downloads</gettext></th>
 </tr>
 <loop:attachments>
 <tr>
  <td><a href="<tag:attachments.url />"><tag:attachments.attachment_name /></a></td>
  <td>
   <if:attachments.delete_form>
    <form method="post" action="<tag:formAction />">
     <input type="hidden" name="cmd" value="delete" />
     <input type="hidden" name="actionID" value="special" />
     <input type="hidden" name="referrer" value="<tag:referrer />" />
     <input type="hidden" name="filename" value="<tag:attachments.attachment_name />" />
     <input type="hidden" name="version" value="<tag:attachments.attachment_version />" />
     <input type="image" class="img" src="<tag:deleteButton />" />
    </form>
    <else:attachments.delete_form>
     &nbsp;
    </else:attachments.delete_form>
   </if:attachments.delete_form>
  </td>
  <td><tag:attachments.attachment_version /></td>
  <td><tag:attachments.change_author /></td>
  <td><tag:attachments.date /></td>
  <td><tag:attachments.change_log /></td>
  <td><tag:attachments.attachment_hits /></td>
 </tr>
 </loop:attachments>
</table>

<if:canAttach>
<form method="post" action="<tag:formAction />" enctype="multipart/form-data" name="AttachedFiles">
<tag:formInput />
<input type="hidden" name="page" value="AttachedFiles" />
<input type="hidden" name="referrer" value="<tag:referrer />" />
<input type="hidden" name="actionID" value="special" />
<input type="hidden" name="is_update" value="0" />
<br class="spacer" />

<h1 class="header">
 <gettext>Attach a New File</gettext>
</h1>
<table class="striped" style="width:100%" cellspacing="0">
 <tr>
  <td width="20%" align="right">
   <span class="form-error"><tag:requiredMarker /></span>
   <gettext>Select file to attach:</gettext>
  </td>
  <td width="80%">
   <input type="file" size="30" name="attachment_file" />
  </td>
 </tr>
 <tr>
  <td width="20%" align="right">
   <span class="form-error"></span>
   <gettext>Enter a name for this file (if blank, will use the file's current name)</gettext>
  </td>
  <td width="80%">
   <input type="text" size="30" name="filename" />
  </td>
 </tr>
 <tr>
  <td width="20%" align="right">
   <span class="form-error">
   <if:requireChangelog>
    <tag:requiredMarker />
   </if:requireChangelog>
   </span>
   <gettext>Change log entry</gettext>
  </td>
  <td width="80%">
   <input type="text" size="50" name="change_log" />
  </td>
 </tr>
 <tr>
  <td colspan="2">
   <input class="button" type="submit" name="submit" value="<gettext>Attach File</gettext>" />
  </td>
 </tr>
</table>
</form>
</if:canAttach>

<if:canUpdate>
<br class="spacer" />
<form method="post" action="<tag:formAction />" enctype="multipart/form-data" name="AttachedFiles">
<tag:formInput />
<input type="hidden" name="page" value="AttachedFiles" />
<input type="hidden" name="referrer" value="<tag:referrer />" />
<input type="hidden" name="actionID" value="special" />
<input type="hidden" name="is_update" value="1" />
<h1 class="header">
 <gettext>Update an Attachment</gettext>
</h1>
   <table class="striped" style="width:100%" cellspacing="0">
     <tr>
      <td width="20%" align="right">
       <span class="form-error"><tag:requiredMarker /></span>
       <gettext>Select file to attach:</gettext>
      </td>
      <td width="80%">
        <input type="file" size="30" name="attachment_file" />
      </td>
     </tr>
     <tr>
      <td width="20%" align="right">
       <span class="form-error"><tag:requiredMarker /></span>
       <gettext>Select the file to update</gettext>
      </td>
      <td width="80%">
        <select name="filename">
          <option value="">-- select --</option>
          <loop:files>
           <option value="<tag:files />"><tag:files /></option>
          </loop:files>
        </select>
      </td>
     </tr>
     <tr>
      <td width="20%" align="right">
       <span class="form-error">
       <if:requireChangelog>
        <tag:requiredMarker />
       </if:requireChangelog>
       </span>
       <gettext>Change log entry</gettext>
      </td>
      <td width="80%">
        <input type="text" size="50" name="change_log" />
      </td>
     </tr>
     <tr>
      <td colspan="2">
       <input class="button" type="submit" name="submit" value="<gettext>Update File</gettext>" />
      </td>
     </tr>
</table>

</form>
</if:canUpdate>
