<br />
<table class="horde-table" width="100%">
 <loop:changes>
 <thead>
  <tr>
   <th colspan="4"><tag:changes.date /></th>
  </tr>
 </thead>
 <tbody>
  <loop:changes.pages>
  <tr>
   <td class="nowrap" width="20%"><a href="<tag:changes.pages.url />"><tag:changes.pages.name /></a></td>
   <td class="nowrap" width="5%"><a href="<tag:changes.pages.version_url />" title="<tag:changes.pages.version_alt />"><tag:changes.pages.version /></a> <a href="<tag:changes.pages.diff_url />" title="<tag:changes.pages.diff_alt />"><tag:changes.pages.diff_img /></a></td>
   <td class="nowrap" width="15%"><tag:changes.pages.author /></td>
   <td width="58%"><tag:changes.pages.change_log /></td>
  </tr>
  </loop:changes.pages>
 </tbody>
 </loop:changes>
</table>
