form#search div.smallheader {
    font-family: Verdana,Helvetica,sans-serif;
}

.answered {
    background: #aca;
}
.important, .flagged {
    background: #fcc;
}
tr.important:hover, tr.important-over, tr.flagged:hover, tr.flagged-over {
    background: #faa;
}
.deleted {
    background: #999;
}
.deleted:hover, .deleted-over {
    background: #777;
}
.deleted * {
    text-decoration: line-through;
}
