/**
 * $Horde: kronolith/themes/print/screen.css,v 1.8 2008/02/25 19:18:19 chuck Exp $
 */

.rowEven td, .rowOdd td {
    background: #fff;
    color: #000;
    border-bottom: thin solid #000;
}
.rowEven td td, .rowOdd td td {
    border: none;
}
.selected-control {
    background: #fff;
    border-bottom: thin solid #000;
}

.iconAlarm, .iconDelete, .iconEdit, .iconRecur, .iconAdd, a.newEvent, .iconNav {
    display: none;
}

.day, .othermonth, .weekend {
    background-color: #fff;
    color: #000;
}
.day {
    border-right: thin solid #000;
    border-bottom: thin solid #000;
}
.year-event {
    background: #fff;
}
table.monthgrid {
    border-top: thin solid #000;
    border-left: thin solid #000;
}
table.monthgrid th, table.monthgrid td {
    border-right: thin solid #000;
    border-bottom: thin solid #000;
    padding: 2px;
}
table.monthgrid td.today {
    border-top: none;
    border-left: none;
    border-right: thin solid #000;
    border-bottom: thin solid #000;
}
.month-eventbox {
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-bottom: thin solid #000;
}

body.rightPanel #page {
    margin: 0;
}

#hordeAlertslog {
    display: none !important;
}
