<?php
/**
 * Gollem Credentials File
 *
 * This file contains the credentials that Gollem understands and
 * might have to pass to a VFS backend. It may be safely edited by
 * hand. Use credentials.php.dist as a reference.
 *
 * General configuration is in 'conf.php'.
 * File stores are defined in 'backends.php'.
 * Default user preferences are defined in 'prefs.php'.
 *
 * $Id$
 */

$credentials['username'] = array(
    'type' => 'text',
    'desc' => _("Username")
);

$credentials['password'] = array(
    'type' => 'password',
    'desc' => _("Password")
);

$credentials['email'] = array(
    'type' => 'email',
    'desc' => _("Email")
);
