<?php
/**
 * MIME Viewer configuration for Gollem.
 *
 * Settings in this file override settings in horde/config/mime_drivers.php.
 * All drivers configured in that file, but not configured here, will also
 * be used to display MIME content.
 *
 * $Id$
 */

$mime_drivers = array(
    /* Image viewing. Gollem can display images inline. */
    'images' => array(
        'inline' => true,
        'handles' => array(
            'image/*'
        )
    )
);
