/* Navigation bar */
.horde-buttonbar a.kronolithNext,
.horde-buttonbar a.kronolithPrev {
    color: transparent;
    padding-right: 18px;
    text-indent: -10000px;
}
.horde-buttonbar a.kronolithNext {
    background-image: url("graphics/right.png");
}
.horde-buttonbar a.kronolithPrev {
    background-image: url("graphics/left.png");
}
#kronolithNavTasks {
    background-image: url("graphics/tasks.png");
}
#kronolithNavAgenda {
    /*
    background-image: url("graphics/agenda.png");
    */
}
#kronolithNavDay {
    background-image: url("graphics/dayview.png");
}
#kronolithNavWeek {
    background-image: url("graphics/weekview.png");
}
#kronolithNavWorkweek {
    background-image: url("graphics/workweekview.png");
}
#kronolithNavMonth {
    background-image: url("graphics/monthview.png");
}
#kronolithNavYear {
    background-image: url("graphics/yearview.png");
}

/* Autocomplete styles. */
.autocomplete {
    background: #f4f4f4;
    border: 1px solid #d4d4d4;
    position: absolute;
    padding: 2px 2px 2px 2px;
}
.autocomplete ul {
    margin: 1px;
    padding: 1px;
    list-style-type: none;
}
.autocomplete ul li {
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
    text-decoration: underline;
    font-size: 90%;
    color: #000;
}
.autocomplete ul .selected {
    background: gray;
    color: #fff;
}

/* Calendar styles. */
.hour {
    font-size: 90%;
    font-weight: bold;
}
.halfhour {
    font-size: 60%;
    font-weight: bold;
    vertical-align: super;
}
.kronolithEventTentative {
    font-style: italic;
}
.kronolithEventCancelled {
    text-decoration: line-through;
}
.event-time, .event-location {
    font-size: 85%;
}
table.monthgrid {
    width: 100%;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
}
table.monthgrid th, table.monthgrid td {
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
}
.monthgrid .today {
    border: 2px solid #446;
    background: #cfc;
}
.othermonth {
    background: #e7eeec;
}
.weekend {
    background: #ffc;
}
.description {
    padding: .5em;
}

#footer {
    margin-top: 8px;
}

/* Event form. */
#eventform textarea {
    padding: 2px;
    width: 98%;
}
#eventform .toggle {
    cursor: pointer;
}
#eventform .extra {
    color: #666;
}
#eventform .warning, #deleteform .warning {
    background: #ffc;
    border: 1px solid #fff760;
    padding: 8px;
}
#eventform #start_img, #eventform #end_img, #eventform #recur_end_img {
    cursor: pointer;
}

/* Block-specific styles. */
.block-monthgrid {
    background: #fff;
}
.block-monthgrid .today {
    border: 1px solid #446;
}
.block-upcomingday td {
    border-top: 1px solid #ddd;
}

/* background-color will always be overridden for the
 * *-eventbox classes */
.block-eventbox, table.nopadding td.block-eventbox {
    padding: 0 4px;
}
.month-eventbox {
    padding: 2px;
    margin: 1px;
}
.week-eventbox, .workweek-eventbox {
    padding: 3px;
    font-size: 90%;
}
.day-eventbox {
    padding: 3px;
}

.selected-control {
    background: #bbcbff;
    border-bottom: 1px solid #999;
}

.day {
    display: block;
    float: left;
    width: 14px;
    height: 14px;
    padding: 1px;
    background: #ddd;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    font-size: 80%;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
.day:hover {
    text-decoration: none;
    background: #e9e9e9;
}
.week, .workweek {
    float: left;
    font-size: 90%;
    padding-left: 2px;
}
a.newEvent {
    display: block;
    float: left;
    height: 12px;
    width: 12px;
    padding: 4px 0 0;
    font-size: 50%;
    text-align: center;
    background: #ddd;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
}
a.newEvent:hover {
    background: #e9e9e9;
}
a.newEvent img {
    vertical-align: top;
}

.year-event {
    background: #fff760;
}

.kronolithFBLegend {
    font-size: 90%;
    padding-right: 10px;
}
.kronolithFBBusy {
    position: relative;
    background: #f00;
}
.kronolithFBUnknown {
    background: #d4d0c8 url("graphics/unknown-background.png") repeat left top;
}
.kronolithFBFree {
    position: relative;
    background: #28b22b;
    color: #fff;
}
#kronolithAjax .kronolithFBFree {
    /*position: static;*/
    position: relative;
}
#kronolithAjax .kronolithFBBusy {
    /*position: static;*/
    position: absolute;
}
div.fbgrid {
    background-color: #fff;
    overflow: auto;
    padding: 0 1ex 0 1ex;
}
.fbgrid table {
    width: 100%;
    border-collapse: collapse;
}
.fbgrid table td, .fbgrid table th {
    border: 1px solid #000;
}
.fbgrid table .label {
    border: none;
    padding-right: 1ex;
}

#pageLoading {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    font-size: 10em;
    background: #fff;
    color: #666;
    filter: alpha(opacity=0);
    -moz-opacity: 0.0;
    opacity: 0.0;
}

body.rightPanel #page {
    margin-right: 13.5em;
}
body #pageControlsInner {
    display: none;
}
body #sbarShow, body #sbarHide {
    padding-left: 18px;
    white-space: nowrap;
    font-weight: bold;
}

body #sbarShow {
    display: block;
    background: transparent url("graphics/plus.png") center left no-repeat;
}
body #sbarHide {
    display: none;
    background: transparent url("graphics/minus.png") center left no-repeat;
}

body #sbarClose {
	white-space: nowrap;
	padding-left: 18px;
}

body.rightPanel #pageControlsInner {
    display: block;
}
body.rightPanel #sbarShow {
    display: none;
}
body.rightPanel #sbarHide {
    display: block;
}
body.rightPanel ul {
    list-style-type: none;
}

#pageControls {
    position: absolute;
    top: 0;
    right: 0;
    background: #eee;
    border: 1px solid #ccc;
    padding: 4px;
}
#pageControls #calendarSearch {
    background-image: url("graphics/search.png");
    background-repeat: no-repeat;
    background-position: 2px center;
    border: 1px solid #ccc;
    padding: 2px 0 2px 20px;
}
#pageControls h3 {
    font-size: 100%;
    margin-top: 1em;
}
#pageControls h4 {
    font-size: 90%;
    margin-top: .5em;
}

.QuickFinderNoMatch {
    display: none;
}

#externalcalendars .category {
    margin-top: 2px;
    margin-left: 1em;
    font-size: 95%;
    font-weight: normal;
    font-style: italic;
}

/* Tables. */
table#calendar-list {
    width: 99%;
    margin: 0 0 8px 5px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
table#calendar-list th {
    padding: 3px;
    background: #e9e9e9;
    border-right: 1px solid #ccc;
    text-align: left;
}
table#calendar-list td {
    padding: 3px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#calendar-list-buttons {
    padding: 1em;
}
#calendar-list-buttons form {
    display: inline;
}
.calendar-info {
    cursor: pointer;
}
.calendar-info-url {
    background-color: #fff;
    color: #000;
    overflow: auto;
    padding: 2px;
    font-size: 90%;
    word-wrap: break-word;
}
.calendar-list-icon {
    width: 1%;
}

/* Icons. */
.kronolith-today {
    background-image: url('graphics/today.png');
}
.kronolith-goto {
    background-image: url('graphics/goto.png');
}
.kronolith-search {
    background-image: url('graphics/search.png');
}

/* Tags */
.panel-tags {
    margin-left: 10px;
}
.panel-tags ul {
    margin: 1px;
    padding: 1px;
    list-style-type: none;
}
li.panel-tags {
    float: left;
    padding: 2px;
}
.panel-tags li:hover {
    text-decoration: underline;
}

#color-picker {
    z-index: 103;
}

#calendarPrint {
    display: none;
}

/* Prefs */
.fburl {
    border: 1px solid black;
    padding: 5px 0 10px 15px;
}
.fburl .fixed {
    padding-top: 3px;
}

@media print {
    .rowEven td, .rowOdd td {
        background: #fff;
        color: #000;
        border-bottom: thin solid #000;
    }
    .rowEven td td, .rowOdd td td {
        border: none;
    }
    .selected-control {
        background: #fff;
        border-bottom: thin solid #000;
    }

    .iconAlarm, .iconDelete, .iconEdit, .iconRecur, .iconAdd, .iconNav,
    a.newEvent, .tabset {
        display: none;
    }

    #calendarPrint {
        display: block;
    }

    .day, .othermonth, .weekend {
        background-color: #fff;
        color: #000;
    }
    .day {
        border-right: thin solid #000;
        border-bottom: thin solid #000;
    }
    .year-event {
        background: #fff;
    }
    table.monthgrid {
        border-top: thin solid #000;
        border-left: thin solid #000;
    }
    table.monthgrid th, table.monthgrid td {
        border-right: thin solid #000;
        border-bottom: thin solid #000;
        padding: 2px;
    }
    table.monthgrid td.today {
        border-top: none;
        border-left: none;
        border-right: thin solid #000;
        border-bottom: thin solid #000;
    }
    .month-eventbox {
        border: none;
        border-bottom: thin solid #000;
    }
    body.rightPanel #page {
        margin: 0;
    }
}
