a.earliest:link, a.earliest:visited, a.earliest:hover, a.earliest:active {
    color: #eee;
}

.headerbox table.linedRow td
{
    background-color: #a8c4e1;
    color: #fff;
}

.headerbox table.linedRow td a {
    color: #fff;
}

form {
    background-color: #5d7cba;
}

#tagSelector {
    background-color: #a8c4e1;
}

#tagSelector form {
    background-color: #a8c4e1;
}

