<tag:menu />
<tag:notify />

<div class="header">
 <tag:header /> <tag:refresh />
</div>

<if:stories>
<table width="100%" cellspacing="0" class="linedRow nowrap">
 <tr class="item">
  <th width="1%">&nbsp;</th>
  <loop:listheaders>
  <th class="leftAlign">
   <tag:listheaders />
  </th>
  </loop:listheaders>
  <if:read>
  <th class="leftAlign">
   <gettext>Read</gettext>
  </th>
  </if:read>
  <if:comments>
  <th class="leftAlign">
   <gettext>Comments</gettext>
  </th>
  </if:comments>
 </tr>

 <loop:stories>
 <tr>
  <td>
   <tag:stories.pdf_link />
   <tag:stories.edit_link />
   <tag:stories.delete_link />
  </td>
  <td>
   <tag:stories.view_link />
  </td>
  <td>
   <tag:stories.story_published_date />
  </td>
  <if:read>
  <td>
   <tag:stories.story_read />
  </td>
  </if:read>
  <if:comments>
  <td>
   <tag:stories.comments />
  </td>
  </if:comments>
 </tr>
 </loop:stories>
</table>
</if:stories>
