/* Special handling for non-printed timesheets. */
#approval {
    display: none;
}

/* Time list tables */
table.time {
    width: 100%;
    margin-bottom: 8px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
table.time th {
    padding: 3px;
    background: #e9e9e9;
    border-right: 1px solid #ccc;
    text-align: left;
}
table.time td {
    padding: 3px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
table.time th.sortup {
    background: #bbcbff url("graphics/za.png") center left no-repeat;
    padding-left: 10px;
}
table.time th.sortdown {
    background: #bbcbff url("graphics/az.png") center left no-repeat;
    padding-left: 10px;
}
table.time tfoot td {
    background: #ddd;
    font-weight: bold;
    padding: 1px;
}
