/* Special handling for non-printed timesheets. */
#approval {
    display: none;
}

/* Time list tables */
table.time {
    width: 100%;
    margin-bottom: 8px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
table.time th {
    padding: 3px;
    background: #e9e9e9;
    border-right: 1px solid #ccc;
    text-align: left;
}
table.time td {
    padding: 3px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
table.time th.sortup {
    background: #bbcbff url("graphics/za.png") center left no-repeat;
    padding-left: 10px;
}
table.time th.sortdown {
    background: #bbcbff url("graphics/az.png") center left no-repeat;
    padding-left: 10px;
}
table.time tfoot td {
    background: #ddd;
    font-weight: bold;
    padding: 1px;
}

/** AJAX View **/
html, body {
    height: 100%;
}
body.hermesAjax {
    /*font-family: "American Typewriter","Constantia","Verdana",monospace;*/
    overflow: hidden;
}
/* Main views */
#hermesBody {
    position: absolute;
    top: 46px;
    left: 175px;
    right: 10px;
    bottom: 10px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    width: auto;
}

.hermesSeparator {
    padding-left: 2px;
    padding-right: 2px;
    color: #808080;
}
.hermesDatePicker {
    cursor: pointer;
}

/* Logo */
#hermesLogo {
    display: none;
}

/* Loading spinner */
.hermesLoading {
    position: absolute;
    left: 0;
}
#hermesLoading {
    float: right;
    background: transparent url("graphics/loading.gif") no-repeat center;
    padding: 2px;
    width: 16px;
    height: 16px;
    border: 1px #999 solid;
}
/* User data and options */
#hermesApplications {
    display: inline;
    position: relative;
    z-index: 99;
    float: left;
    height: 25px;
    line-height: 23px;
    margin-right: 10px;
    overflow: hidden;
}
#hermesApplications:hover {
    overflow: visible;
}
#hermesApplications ul {
    list-style: none;
}
#hermesApplications li {
    margin-bottom: 1px;
    text-align: left;
}
#hermesApplications a {
    display: block;
    padding: 0 4px;
    overflow: hidden;
    background-color: #f0f0f0;
    border: 1px solid #999;
    color: #202020;
    font-weight: bold;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#hermesApplications:hover a {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
#hermesApplications:hover li:first-child a {
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-radius: 5px 5px 0 0;
}
#hermesApplications:hover li:last-child a {
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-radius: 0 0 5px 5px;
}
#hermesApplications a:hover {
    text-decoration: none;
    background-color: #d9d9d9;
}
#hermesApplications li.hermesApplicationSelected a {
    background-color: #d9d9d9;
}
#hermesApplications .hermesSeparator {
    display: none;
}

#hermesServices {
    position: absolute;
    top: 10px;
    right: 10px;
    white-space: nowrap;
}
#hermesServices div {
    float: left;
}
.hermesNotifications {
    background-color: #d9d9d9
}
#hermesNotifications {
    float: left;
    width: 23px;
    height: 23px;
    line-height: 23px;
    border: 1px solid #999;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #d9d9d9 url("graphics/alerts/message.png") no-repeat center center;
}
#hermesNotifications.horde-error {
    background-image: url("graphics/alerts/error.png")
}
#hermesNotifications.horde-success {
    background-image: url("graphics/alerts/success.png")
}
#hermesNotifications.horde-warning {
    background-image: url("graphics/alerts/warning.png")
}
#hermesNotifications.hermesClose {
    background-image: url("graphics/close.png")
}

/* Main area */
#hermesMain {
    clear: both;
    padding-top: 5px;
    height: 100%;
}

/* Navigation bar */
#hermesBar {
    position: absolute;
    left: 175px;
    top: 10px;
}
#hermesBar form {
    float: left;
    margin: 0;
}
#hermesBar .hermesDateChoice div {
    padding: 0 10px;
    height: 23px;
    line-height: 23px;
}

#hermesNav {
    float: left;
    margin-left: 5px;
    height: 23px;
    line-height: 23px;
}
#hermesNav ul {
    float: left;
    list-style: none;
}
#hermesNav li {
    float: left;
}
#hermesNav a {
    display: block;
    float: left;
    margin: 0 1px 0 0;
    padding: 0 5px 0 25px;
    background-color: #f0f0f0;
    background-position: 5px center;
    background-repeat: no-repeat;
    font-weight: bold;
    text-decoration: none;
    color: #202020;
    cursor: pointer;
    border: 1px solid #999;
}
#hermesNav li:first-child a {
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-radius: 5px 0 0 5px;
}
#hermesNav li:last-child a {
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-radius: 0 5px 5px 0;
}
#hermesNav a:hover, #hermesNav a.on {
    background-color: #d9d9d9;
}

#hermesNavTime {
    background: url("graphics/hermes.png");
}

#hermesNavCostObjects {
    background: url("graphics/hermes.png");
}

#hermesNavClients {
    background: url("graphics/hermes.png");
}

#hermesNavTypes {
    background: url("graphics/hermes.png");
}
#hermesNavSearch {
    background: url("graphics/search.png");
}

/* Main view time */
#hermesViewTimeContainer {
    position: relative;
    top: 1px;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid black;
}

/* Full timelist container */
#hermesTimeList {
    margin: 0 25px 0 25px;
}
#hermesBody h2 {
margin: 6px;
font-weight: normal;
font-family: "American Typewriter","Constantia","Verdana",monospace;
}

#hermesBody h1 {
    font-family: "American Typewriter","Constantia","Verdana",monospace;
    font-weight: normal;
}

/* Timelist fields */
.hermesTimeListSelect {
    float: left;
    width: 18px;
    white-space: pre-wrap;
}
.hermesTimeListSelect:hover {
    background: url("graphics/checkbox_over.png") no-repeat center;
}

/* Header */
#hermesTimeListHeader {
    width: 100%;
    display: inline-block;
    background-color: #ddd;
    border-color: -moz-use-text-color silver silver;
    border-right: 1px solid silver;
    border-style: none solid solid;
    border-width: 0 1px 1px;
}
#hermesTimeListHeader div {
    height: 14px;
    text-indent: 2px;
    font-weight: bold;
    padding-top: 1px;
    padding-bottom: 1px;
}
#hermesTimeListBody div {
    text-indent: 2px;
}
#hermesTimeListHeader div.sortup, #hermesTimeListHeader div.sortdown {
  background-position: 2px 50%;
  padding-left: 0;
}
#hermesTimeListHeader div.sortup a, #hermesTimeListHeader div.sortdown a {
    padding-left: 14px;
}
div.hermesTimeListDate, div.hermesTimeListHours, div.hermesTimeListDesc,
div.hermesTimeListClient, div.hermesTimeListCostObject, div.hermesTimeListType,
div.hermesTimeSliceOptions, div.hermesTimeListSelect, div.hermesTimeListBill {
    float: left;
    white-space: pre-wrap;
    overflow: hidden;
}
div.hermesTimeListSelect, div.hermesTimeListBill {
    width: 3%;
}
div.hermesTimeListHours {
    width: 5%;
}
div.hermesTimeListDate, div.hermesTimeListType, div.hermesTimeListClient {
    width: 10%;
}
div.hermesTimeListCostObject, div.hermesTimeListDesc {
    width: 22%;
}
div.hermesTimeSliceOptions {
    width: 10%;
    text-align: right;
}
/* Body of timelist */
#hermesTimeListBody {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}
/* Each entry */
.hermesTimeListRow {
    font-size: 100%;
    line-height: 26px;
    overflow: hidden;
    border-bottom: 1px solid #eee;
}
.hermesBorderLeft {
    border-left: 1px solid #eee;
}
.rounded {
  -moz-border-radius: 7px 7px 7px 7px;
  border: 1px solid #DBDBDB;
  font-size: 11px;
  line-height: 1.2;
  padding: 2px 7px;
  text-decoration: none;
}
.bold {
    font-weight: bold;
}

.rounded.sliceEdit {
  background: -moz-linear-gradient(-90deg, #F0F0F0, #DBDBDB);
  background: -webkit-gradient(linear, left bottom, left top, #f0f0f0, #dbdbdb);
  color: #444444;
}
.rounded.sliceEdit:hover {
  background: -moz-linear-gradient(-90deg, #E0E0E0, #BAB5B5);
  background: -webkit-gradient(linear, left bottom, left top, #e0e0e0, #bab5b5);
  border: 1px solid #BAB5B5;
  color: #333333;
}
.rounded.sliceDelete {
  background: -moz-linear-gradient(-90deg, #F5B5B5, #ED8080) repeat scroll 0 0 transparent;
  border: 1px solid #ED8080;
  color: #8A1111;
}
.rounded.sliceDelete:hover {
  background: -moz-linear-gradient(-90deg, #DCA0A0, #D47272) repeat scroll 0 0 transparent;
  border: 1px solid #D47272;
  color: #8A1111;
}
a.rounded {
    text-decoration: none;
}
#hermesTimeListBody .hermesTimeListRow .hermesTimeSliceOptions .rounded {
    visibility: hidden;
}
#hermesTimeListBody .hermesTimeListRow:hover .hermesTimeSliceOptions .rounded {
    visibility: visible;
}
#hermesTimeListBody .hermesTimeListRow:hover {
   /* background-color: #f0f0f0; */
}
.hermesUnselectedSlice {
    background: url("graphics/checkbox_off.png") no-repeat center;
}
.hermesSelectedSlice {
    background: url("graphics/checkbox_on.png") no-repeat center;
}
.hermesSelectedRow {
    background: #eeeeee;
    font-weight: bold;
}

/* Timelist submission controls */
.hermesTimeListControls {
    padding: 7px;
}
/* Time Entry Form */
#hermesTimeEntry {
  background: none repeat scroll 0 0 #dbdbdb;
  padding: 10px;
}
#hermesTimeFormInputs {
    margin-left: 7px;
    margin-right: 7px;
}
#hermesTimeFormInputs label {
    font-weight: bold;
    white-space: nowrap;
}
#hermesTimeFormInputs .input {
  border: medium none;
  margin: 7px 7px 0 0;
  padding: 6px 5px 4px;
}
#hermesTimeFormInputs .hermesLongField {
  border: medium none;
  margin: 0  7px 0;
  padding: 6px 5px 4px;
  width: 98%;

}
.hermesTimeFormDetails {
    padding-top: 7px;
}
#hermesTimeFormHours {
    width: 20px;
}
#hermesTimeFormClient {
    width: 180px;
}
#hermesTimeFormCostobject {
    width: 180px;
}
.hermesFormActions {
    padding-top: 6px;
}

/* Left menu column */
#hermesMenu {
    position: absolute;
    top: 1px;
    bottom: 10px;
    left: 10px;
    width: 153px;
}
#hermesMenu .hermesMenuItem {
    margin: 0 0 4px 4px;
    background: -moz-linear-gradient(-90deg, #F0F0F0, #DBDBDB);
    background: -webkit-gradient(linear, left bottom, left top, #f0f0f0, #dbdbdb);
    color: #444444;
}
/* Time summary */
#hermesViewTimeContainer h2 {
    float: left;
}
.hermesMenuItem .rounded {
    margin-top: 7px;
}
.hermesMenuItem h4 {
    font-size: 125%;
}
.hermesSummaryItem {
    margin-left: 7px;
}
.hermesHours {
    font-weight: bold;
}
#hermesMenu a.hermesAdd {
  background: url("graphics/plus.png") no-repeat scroll right center transparent;
  cursor: pointer;
  padding-right: 8px;
  position: absolute;
  right: 0;
  text-indent: -10000px;
  width: 16px;
}
#hermesMenuBlocks {
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 46px;
  width: 100%;
}
.hermesTimerOn {
}
.hermesMenuRecent {
    margin-bottom: 7px;
}
.hermesTimerTime {
    margin-left: 7px;
    font-style: italic;
}
.hermesTimerStop {
    float: right;
    line-height: 16px;
}
#hermesMenu h3 {
  border-bottom: 1px dotted #999999;
  cursor: default;
  font-size: 100%;
  font-weight: bold;
  margin: 4px 0 2px 0;
  position: relative;
}
#hermesViewIframe iframe {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border: none;
    width: 100%;
    height: 100%;
}

#hermesTimeListEmpty {
    text-align: center;
    font-style: italic;
    font-size: 125%;
}
.QuickFinderNoMatch {
    display: none;
}
.QuickFinderWrapper {
    margin: 6px;
    float: left;
}
 /* Mini calendar */
.hermesMinical {
    position: relative;
}
#hermesMinical {
/*    top: 15px;*/
}
.hermesMinical table {
    width: 100%;
    border-spacing: 1px;
}
.hermesMinical caption, #hermesBody .hermesMinical caption {
    position: relative;
    margin: 0 1px 1px 1px;
    height: 20px;
    line-height: 20px;
    font-weight: bold;
    font-size: 100%;
    border-bottom: 1px #999 dotted;
    text-align: left;
}
.hermesMinical caption span {
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}
#hermesMinicalPrev, #hermesMinicalNext {
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    text-indent: -10000px;
    cursor: pointer;
    background: transparent url("graphics/right.png") no-repeat right center;
}
#hermesMinicalPrev {
    background-image: url("graphics/left.png");
    right: 15px;
}

.hermesMinical th, .hermesMinical td {
    font-size: 90%;
}
.hermesMinical th, .hermesMinical td.hermesMinicalWeek {
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    background-color: #d6d6d6;
    color: #202020;
    border: 1px #999 solid !important;
}
.hermesMinical tbody td {
    width: 16px;
    height: 16px;
    line-height: 16px;
    border: 1px #999 solid;
    text-align: center;
    color: #808080;
    empty-cells: show;
    cursor: pointer;
}
.hermesMinical .hermesMinicalEmpty {
    background: none;
    border-color: #e2e2e2;
    color: silver;
}
.hermesMinical .hermesSelected {
    background-color: #ffc;
}
