.appService {
    width: 20%;
    border: 1px solid #eeeeee;
    float: left;
    padding: 5px;
    margin: 5px;
}

.appService: hover {
    background-color: #eeeeee;
}

.online {
    color: green;
    font-weight: bold;
}

.offline {
    color: red;
}

.userMiniIcon {
    margin: 2px;
    width: 33px;
    height: 33px;
}

/* Actions */
.folksActions {
    margin-left: 0;
    background: #e9e9e9;
    padding: 4px;
    border: 1px #cccccc solid;
}

.folksActions a, .folksActions a:visited, .folksActions label {
    text-decoration: none;
    color: #000;
    font-size: 90%;
    line-height: 90%;
    padding: 4px;
}

.folksActions a img {
    vertical-align: middle;
    padding-left: 2px;
    padding-right: 2px;
}

.folksActions a:hover {
    text-decoration: none;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 3px;
}
