<?php
$conf['kolab']['storage']['test']['host'] = 'localhost';
$conf['kolab']['storage']['test']['user'] = '';
$conf['kolab']['storage']['test']['pass'] = '';
$conf['kolab']['storage']['test']['debug'] = '';
