body, input {
    font-family: Verdana, Geneva, "DejaVu Sans", Arial, sans-serif;
}

body {
    background: #fff;
}
a {
    color: #03C;
}
a, a.fixed {
    color: #339;
}
a.widget {
    color: #000;
}
input {
    background: #f7f7ee;
    border: 1px solid #666;
}
textarea {
    color: #333;
    background: #f7f7ee;
    border: 1px solid #666;
}
select,option {
    color: #333333;
    background: #f7f7ee;
}
.header {
    color: #03c;
    border-bottom: 1px solid #03c;
}
.headerbox {
    border-color: #03c;
}
.headerbox .header {
    margin-left: -1px;
    margin-right: -1px;
    border-left: none;
    border-right: none;
}
a.header:hover {
    color: #06f;
}
a.smallheader:hover {
    color: #06f;
}
a.header {
    border-bottom: none;
    background: transparent;
}
.light {
    color: #333;
}
.smallheader {
    color: #000;
    background: transparent;
}
.smallheader {
    color: #000;
    font-family: Verdana,sans-serif;
    font-size: 90%;
    font-weight: normal;
}
.control {
    background: #D8D8C1;
}
.item {
    background: #eeeee6;
}
/* Alternating styles. item0, item1 are deprecated. */
.rowEven, .item0 {
    background: #f9f9f9;
}
.rowOdd, .item1 {
    background: #e9e9e9;
}
.button {
    color: #333;
    background: #f9f9f8;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #C4C4B8;
    border-top: 1px solid #C4C4B8;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.selected {
    background: #C6D3ff;
}
.inProgress {
    background: #0033cc;
}

/* Menu styles. */
#menu {
    color: #fff;
    background: #e6e6dc;
    border-bottom: 2px solid #80807A;
}
#menu h1 {
    color: #000;
}
#menu a {
    color: #000;
    border: none;
}
#menu a.current {
    color: #fff;
    background: #c0c0b8;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    padding: 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

/* Sidebar styles. */
body.sidebar {
    background: #f9f9f3;
}
#sidebarPanel {
    border-right: 1px solid #80807a;
    border-bottom: 1px solid #80807a;
    background: #e6e6dc;
}
#sidebarPanel a {
    border: 1px solid #e6e6dc;
    padding-left: 1px;
    padding-bottom: 2px;
}
#sidebarPanel a:hover {
    background: #e6e6dc;
    border: 1px solid #03c;
    text-decoration: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
#expandButton {
    margin-right: 1px;
}
