<div class="modal-form">

<form method="post" action="<tag:logintasks_url />" id="logintasks_confirm" name="logintasks_confirm">

<div class="form">
<div class="form-header"><tag:header /></div>

<input type="hidden" name="logintasks_page" value="1" />
<tag:maint_postdata />

<loop:tasks>
<div class="logintasks-item">
<if:confirm>
   <input type="checkbox" class="checkbox" name="logintasks_confirm_<tag:tasks.key />" id="logintasks_confirm_<tag:tasks.key />"<if:tasks.checked> checked="checked"</if:tasks.checked> />
</if:confirm>
   <if:confirm><label for="logintasks_confirm_<tag:tasks.key />"></if:confirm><tag:tasks.descrip /><if:confirm></label></if:confirm>
</div>
</loop:tasks>

<div>
<if:confirm>
   <input name="ok" type="submit" class="horde-default submit-button" value="<gettext>Perform Login Tasks</gettext>" />
   <input id="logintasks_skip" style="display:none" type="button" class="submit-button" value="<gettext>Skip Login Tasks</gettext>" />
</if:confirm>
<if:agree>
   <input name="ok" type="submit" name="agree" class="horde-default submit-button" value="<gettext>Yes, I Agree</gettext>" />
   <input type="submit" name="not_agree" class="submit-button" value="<gettext>NO, I Do NOT Agree</gettext>" />
</if:agree>
<if:notice>
   <input name="ok" type="submit" class="submit-button" value="<gettext>Click to Continue</gettext>" />
</if:notice>
</div>

</div>

</form>

</div>
