<div id="menu"><h1><tag:header /></h1></div>

<form method="post" action="<tag:logintasks_url />" id="logintasks_confirm" name="logintasks_confirm">
<input type="hidden" name="logintasks_page" value="1" />
<tag:maint_postdata />

<table width="100%" cellspacing="2">
 <tr>
  <td><tag:notify /></td>
 </tr>

<loop:tasks>
 <tr>
  <td class="light">
<if:confirm>
   <input type="checkbox" class="checkbox" name="logintasks_confirm_<tag:tasks.key />"<if:tasks.checked> checked="checked"</if:tasks.checked> />
</if:confirm>
   <if:confirm><label for="logintasks_confirm_<tag:tasks.key />"></if:confirm><tag:tasks.descrip /><if:confirm></label></if:confirm>
  </td>
 </tr>
</loop:tasks>

 <tr>
  <td></td>
 </tr>

 <tr>
  <td>
<if:confirm>
   <input name="ok" type="submit" class="button" value="<gettext>Perform Login Tasks</gettext>" />
   <input id="logintasks_skip" style="display:none" type="button" class="button" value="<gettext>Skip Login Tasks</gettext>" />
</if:confirm>
<if:agree>
   <input name="ok" type="submit" name="agree" class="button" value="<gettext>Yes, I Agree</gettext>" />
   <input type="submit" name="not_agree" class="button" value="<gettext>NO, I Do NOT Agree</gettext>" />
</if:agree>
<if:notice>
   <input name="ok" type="submit" class="button" value="<gettext>Click to Continue</gettext>" />
</if:notice>
  </td>
 </tr>
</table>

</form>
