/* Facebook Box Styles */
.fbinfobox
{
    background-color: #fff9d7;
    border: 1px solid #e2c822;
    color: #333333;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
}
/* Content Divider on White Background */
.fbcontentdivider
{
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 4px;
    margin-left: 4px;
    height: 1px;
    background-color: #d8dfea;
}

/* Stream CSS */
.fbattachment {
    margin: 6px 6px 0 0;
    overflow: hidden;
    padding: 4px;
}
.fbattachmenttitle {
    font-weight: bold;
}
.fbattachmentcaption, .fbattachmentcopy{
    color: gray;
    padding-top: 3px;
}
.fbmedia {
    float: left;
    overflow: hidden;
}
.fbmediaitem {
    float: left;
}
.fbmediaitem img {
    display: block;
    vertical-align: middle;
    max-height: 200px;
    max-width: 130px;
}
.fbmediaitemsingle {
    padding-right:5px;
}
