/* Global default styles. */
body {
    direction: rtl;
}

.headerbox {
    text-align: right;
}
.header {
    text-align: right;
}

/* Table styles. */
td, th {
    text-align: right;
}

.sortup, .sortdown {
    background-position: right center;
}

/* Form styles. */
form[action^="https://"] input[type="submit"] {
    background-position: 5% center, right top;
    padding-right: 13px;
    padding-left: 33px;
}

/* Styles for email-like messages. */
.citation {
    padding-left: 0;
    border-left-width: 0;
    padding-right: 1em;
    border-right-width: 1px;
    border-right-style: solid;
}

/* Various popup and status layers. */
.notices {
    text-align: right;
}
.notices img, .notice img {
    margin-right: 0;
    margin-left: .5em;
}

/* Tree styles. */
span.horde-tree-image-1 {
    background-image: url("graphics/tree/rev-line.png");
}
span.horde-tree-image-2 {
    background-image: url("graphics/tree/rev-join.png");
}
span.horde-tree-image-3 {
    background-image: url("graphics/tree/rev-joinbottom-down.png");
}
span.horde-tree-image-4 {
    background-image: url("graphics/tree/rev-joinbottom.png");
}
span.horde-tree-image-5 {
    background-image: url("graphics/tree/rev-minustop.png");
}
span.horde-tree-image-6 {
    background-image: url("graphics/tree/rev-minus.png");
}
span.horde-tree-image-7 {
    background-image: url("graphics/tree/rev-minusbottom.png");
}
span.horde-tree-image-8 {
    background-image: url("graphics/tree/rev-minusonly.png");
}
span.horde-tree-image-9 {
    background-image: url("graphics/tree/rev-plustop.png");
}
span.horde-tree-image-10 {
    background-image: url("graphics/tree/rev-plus.png");
}
span.horde-tree-image-11 {
    background-image: url("graphics/tree/rev-plusbottom.png");
}
span.horde-tree-image-12 {
    background-image: url("graphics/tree/rev-plusonly.png");
}
span.horde-tree-image-13 {
    background-image: url("graphics/tree/rev-nullonly.png");
}
span.horde-tree-image-16 {
    background-image: url("graphics/tree/rev-leaf.png");
}

/* Tab styles. */
.tabset {
    float: right;
}
.tabset li {
    float: right;
    margin-right: 0;
    margin-left: 3px;
}
.tabset img {
    float: right;
    padding-right: 0;
    padding-left: 2px;
}

/* Preferences. */
#services_prefs .header ul {
    float: left;
    text-align: left;
}
.prefsOverview div {
    float: right;
}
.prefsOverview div div {
    padding-left: 0;
    padding-right: 10px;
}

/* Calendar Popup. */
.hordeCalendarPopup tbody {
    text-align: left;
}

/* Redbox styles. */
#RB_window {
    text-align: right;
}

/* Color picker styles. */
#color-picker .north div {
    float: left;
}
#color-picker .south {
    margin-right: 10px;
    margin-left: 0;
}
#color-picker .south img {
    left: 0;
    right: -1px;
}
#color-picker #color-picker-cursor img {
    left: 0;
    right: -1px;
}
#color-picker #color-picker-hex {
    padding-right: 7px;
    padding-left: 0;
    float: right;
}
#color-picker #color-picker-resize {
    float: left;
    left: 0;
    right: 7px;
    cursor: sw-resize;
}

.leftAlign {
    text-align: right;
}
.rightAlign {
    text-align: left;
}
.leftFloat {
    float: right;
}
.rightFloat {
    float: left;
}

/* Nav images. */
.navfirstgreyImg {
    background-image: url("graphics/nav/last-grey.png");
}
.navfirstImg {
    background-image: url("graphics/nav/last.png");
}
.navlastgreyImg {
    background-image: url("graphics/nav/first-grey.png");
}
.navlastImg {
    background-image: url("graphics/nav/first.png");
}
.navleftgreyImg {
    background-image: url("graphics/nav/right-grey.png");
}
.navleftImg {
    background-image: url("graphics/nav/right.png");
}
.navrightgreyImg {
    background-image: url("graphics/nav/left-grey.png");
}
.navrightImg {
    background-image: url("graphics/nav/left.png");
}

/* Mainpage */
#horde-page {
    padding-right: 8px;
}
