/* Global default styles. */
body {
    direction: rtl;
    font-family: Tahoma,Koodak,Homa,Nazli,Verdana,Geneva,"DejaVu Sans",Arial,sans-serif;
}

.header {
    text-align: right;
}
.header ul {
    float: left;
    text-align: left;
}
.headerbox {
    text-align: right;
}

/* Table styles. */
td, th {
    text-align: right;
}

.sortup, .sortdown {
    padding-left: 1px;
    background-position: center right;
    padding-right: 10px;
}

/* Form styles. */
form[action^="https://"] input[type="submit"] {
    background-position: 5% center;
    padding-right: 6px;
    padding-left: 10%;
}
option {
    padding: 0 3px 0 5px;
}

/* Styles for email-like messages. */
.citation {
    padding-left: 0;
    border-left-width: 0;
    padding-right: 1em;
    border-right-width: 1px;
    border-right-style: solid;
}

/* Various popup and status layers. */
.notices {
    text-align: right;
}
.notices li, .notice {
    padding: 1px 5px 1px 1px;
 }
.notices img, .notice img {
    margin-right: 0;
    margin-left: .5em;
}

/* Menu styles. */
#menu {
    padding-right: 0;
    padding-left: 8px;
}
#menu li {
    float: right;
}
#menu li.rightFloat {
    float: left;
}
#menuBottom {
    float: left;
    text-align: left;
}

/* Sidebar styles. */
.sidebar {
    float: right;
}
#sidebarPanel {
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 15px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 15px;
}
#expandedSidebar #expandButton {
    float: left;
}

/* Tab styles. */
.tabset {
    float: right;
}
.tabset ul {
    padding-left: 0;
    padding-right: 8px;
}
.tabset li {
    float: right;
    margin: -3px 0 0 2px;
}
.tabset img {
    float: right;
    padding-right: 0;
    padding-left: 2px;
}

/* Preferences. */
#services_prefs .header ul {
    float: left;
    text-align: left;
}
.prefsOverview div {
    float: right;
}
.prefsOverview div div {
    padding-left: 0;
    padding-right: 10px;
}

/* MIME styles. */
.download {
    padding: 2px 0 2px 20px;
    background-position: center left;
}

/* Calendar Popup. */
.hordeCalendarPopup tbody {
    text-align: left;
}

/* Redbox styles. */
#RB_window {
    text-align: right;
}

/* Tree styles. */
span.treeImg1 {
    background-image: url("graphics/tree/rev-line.png");
}
span.treeImg2 {
    background-image: url("graphics/tree/rev-join.png");
}
span.treeImg3 {
    background-image: url("graphics/tree/rev-joinbottom-down.png");
}
span.treeImg4 {
    background-image: url("graphics/tree/rev-joinbottom.png");
}
span.treeImg5 {
    background-image: url("graphics/tree/rev-minustop.png");
}
span.treeImg6 {
    background-image: url("graphics/tree/rev-minus.png");
}
span.treeImg7 {
    background-image: url("graphics/tree/rev-minusbottom.png");
}
span.treeImg8 {
    background-image: url("graphics/tree/rev-minusonly.png");
}
span.treeImg9 {
    background-image: url("graphics/tree/rev-plustop.png");
}
span.treeImg10 {
    background-image: url("graphics/tree/rev-plus.png");
}
span.treeImg11 {
    background-image: url("graphics/tree/rev-plusbottom.png");
}
span.treeImg12 {
    background-image: url("graphics/tree/rev-plusonly.png");
}
span.treeImg13 {
    background-image: url("graphics/tree/rev-nullonly.png");
}
span.treeImg16 {
    background-image: url("graphics/tree/rev-leaf.png");
}

/* Color picker styles. */
#color-picker .north div {
    float: left;
}
#color-picker .south {
    margin: 32px 0 0 10px;
    margin: 32px 10px 0 0;
}
#color-picker .south img {
    left: 0;
    right: -1px;
}
#color-picker #color-picker-cursor img {
    left: 0;
    right: -1px;
}
#color-picker #color-picker-hex {
    padding: 5px 7px 4px 0;
    float: right;
}
#color-picker #color-picker-resize {
    float: left;
    left: 0;
    right: 7px;
    cursor: sw-resize;
}

.leftAlign {
    text-align: right;
}
.rightAlign {
    text-align: left;
}
.leftFloat {
    float: right;
}
.rightFloat {
    float: left;
}
