/* Global default styles. */
* {
    /* Zero out all padding and margins to start with for better
     * cross-browser control. */
    padding: 0;
    margin: 0;
}

body, input, select, textarea, .inProgress {
    font-family: Arial,"DejuVu Sans",sans-serif;
}
body {
    font-size: 75%;
    background: #fff;
    color: #000;
}

p {
    margin-bottom: 10px;
}

img, .img, .img:active, .img:hover, .img:visited, .image {
    border: none;
    vertical-align: middle;
    background: transparent;
}
/* This must be declared seperately or IE will ignore all of the selectors. */
input[type=image] {
    border: none;
    vertical-align: middle;
    background: transparent;
    padding: 0;
}

.iconImg {
    background-color: transparent;
    background-position: center top;
    background-repeat: no-repeat;
    display: -moz-inline-stack;
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    width: 20px;
}

span.hordeIcon {
    background-image: url("graphics/horde.png");
}

ins {
    background: #cfc;
}
del {
    background: #fcc;
}

br.spacer {
    line-height: 8px;
}

.box {
    padding: 3px;
    border: 1px dashed #999;
    background: #fff;
}
.solidbox {
    border: 1px solid #000;
}
.greybox {
    border: 1px solid #000;
    background: #e9e9e9;
}
.headerbox {
    border: 1px solid #a6b0b1;
    border-top-width: 0;
    background: #fff;
    vertical-align: top;
}
.headerbox form {
    padding: 2px;
}
.header {
    background: url("graphics/tabset.png") repeat-x;
    text-align: left;
    font-weight: bold;
    font-size: 140%;
    padding: 3px 5px;
    min-height: 21px;
}
.header a:hover, a.header:hover {
    color: #333;
}
.header img {
    vertical-align: bottom;
}
.header input, .header select {
    font-size: 80%;
}
.header .smallheader input, .header .smallheader select {
    font-size: 89%;
}
.header .button, .header .smallheader .button {
    font-size: 72%;
}

.nowrap {
    white-space: nowrap;
}
.clear {
    clear: both;
    line-height: 0;
    height: 0;
}

a {
    color: #36525d;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.horde-block-links a, a.horde-block-links {
    display: block;
}

.selected {
    background: #bbcbff;
}
.selected-over {
    background: #cef;
}

/* Table styles. */
table {
    border: none;
}
td, th {
    padding: 1px;
}
ul.linedRow {
    list-style-type: none;
}
.linedRow, tr.linedRow td, table.linedRow td, ul.linedRow li {
    color: #000;
    background: #fff;
    border-bottom: 1px solid #ddd;
}
table.linedRow, ul.linedRow {
    border-bottom: none;
}
.linedRowSelectedCol, td.linedRowSelectedCol, table.linedRow td.linedRowSelectedCol {
    color: #000;
    background: #f3f3f3;
    border-bottom: 1px solid #ddd;
}
.selectedRow, tr.selectedRow td, .selectedRow a {
    background-color: #36525d;
    color: #fff;
}
table.nopadding td, table.nopadding th {
    padding: 0;
}
table.nopadding table td, table.nopadding table th {
    padding: 1px;
}
table.nopadding .headerbox td, table.nopadding .headerbox th {
    padding: 1px 5px;
}
.sortup {
    background: url("graphics/za.png") center left no-repeat;
    text-indent: 15px;
}
.sortdown {
    background: url("graphics/az.png") center left no-repeat;
    text-indent: 15px;
}
.sortdown a, .sortup a {
    font-weight: bold;
}

/* Horde UI standard tables */
table.horde-table {
    width: 99%;
    margin-bottom: 8px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-spacing: 0;
}
table.horde-table th {
    padding: 3px;
    background: #e9e9e9;
    border-right: 1px solid #ccc;
    text-align: left;
}
table.horde-table th.rightAlign {
    text-align: right;
}
table.horde-table td {
    padding: 3px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
table.horde-table th.sortup {
    background: #bbcbff url("graphics/za.png") center left no-repeat;
    padding-left: 10px;
}
table.horde-table th.sortdown {
    background: #bbcbff url("graphics/az.png") center left no-repeat;
    padding-left: 10px;
}

/* Alternating styles. */
.striped, .rowEven {
    background-color: #eee;
}
.rowOdd {
    background-color: #ddd;
}
.striped.hover .rowEven:hover, .striped.hover .rowOdd:hover {
    background: #bbcbff;
}

.smallheader {
    font-size: 100%;
    font-weight: bold;
    padding: 2px;
}
.header .smallheader {
    font-size: 80%;
}
.header .smallheader a.smallheader {
    font-size: 100%;
}
small, .small {
    font-size: 80%;
}
.control {
    color: #000;
    background: #ebeff0;
    padding: 5px;
}
.accessKey {
    text-decoration: underline;
}
.text {
    color: #000;
    background: #fff;
}

/* Form styles. */
.horde-form table {
    width: 100%;
    padding: 2px;
    border-collapse: collapse;
    border-spacing: 0;
}
.horde-form td {
    padding-bottom: 5px;
}
.htmlarea .statusBar .statusBarTree a {
    font: inherit;
}
.htmlarea table {
    width: auto;
}
.horde-form-header {
    margin-bottom: 1em;
    border-bottom: thin dashed #ccc;
}
.horde-form-buttons {
    padding: 10px;
    margin: 10px 0;
    background-color: #ebeff0;
}
.horde-form .horde-form-buttons {
    padding-left: 15%;
}
.horde-form td.horde-form-label {
    padding: 5px 9px 0 0;
    text-align: right;
}
.horde-form-error {
    color: #f00;
}
.horde-form-field-description {
    color: #666;
    font-size: 70%;
}
input, select, textarea {
    font-size: 100%;
    font-weight: normal;
    background-color: #ebeff0;
    border: 1px solid #d0d0d0;
}
input, select {
    min-height: 20px;
}
input, option {
    padding: 1px 5px;
}
select {
    padding: 2px 0 0 2px;
}
input:focus, textarea:focus, select:focus {
    background-color: #fff;
    border-color: #000;
}
input[type="submit"], input[type="button"], input[type="reset"],
a.horde-button, a.horde-default, a.horde-delete {
    background-image: url("graphics/button.png");
    background-repeat: repeat-x;
    border: 1px solid #d0d0d0;
    padding: 4px 13px;
    color: #000;
    cursor: pointer;
}
a.horde-button, a.horde-default, a.horde-delete, a.horde-cancel {
    display: inline-block;
    padding: 4px 13px;
    font-weight: normal;
    text-decoration: none;
    color: #000;
}
input.horde-default, a.horde-default {
    background-image: url("graphics/button-default.png");
    border-color: #2a2a2a;
    color: #fff;
}
input.horde-create, a.horde-create {
    background-image: url("graphics/sidebar-new-bg.png");
    border-color: #70973B;
    color: #fff;
}
input.horde-delete, a.horde-delete {
    background-image: url("graphics/button-delete.png");
    border-color: #d38847;
}
input.horde-cancel {
    background: transparent;
    border-style: none;
    color: #496f7e;
    padding: 3px;
    text-decoration: underline;
}
a.horde-cancel {
    color: #496f7e;
    padding: 4px 3px;
    text-decoration: underline;
}
input.horde-cancel:hover, a.horde-cancel:hover {
    text-decoration: none;
}
form[action^="https://"] input[type="submit"].horde-default {
    background-image: url("graphics/locked-inv.png"), url("graphics/button-default.png");
    background-position: 95% center, left top;
    background-repeat: no-repeat, repeat-x;
    padding-right: 33px;
}
input[disabled], input[disabled]:hover, textarea[disabled], option[disabled] {
    background-color: #e9e9e9;
    color: #a8a8a8;
}
.checkbox, .radio {
    border: 0;
    height: 14px;
    width: 14px;
    background: transparent;
}

pre, code, .fixed, table.lineNumbered * {
    font-family: Menlo,Consolas,"Lucida Console","DejaVu Sans Mono",monospace;
}

/* Styles for email-like messages. */
.signature {
    color: #ccc;
}
.signature .fixed {
    color: #ccc;
}
.citation {
    margin: 1em 0;
    padding-left: 1em;
    border-left-width: 1px;
    border-left-style: solid;
    min-height: 12px;
}
.quoted1 {
    color: #606;
    border-color: #606;
    background-color: #eee;
}
.quoted2 {
    color: #077;
    border-color: #077;
}
.quoted3 {
    color: #900;
    border-color: #900;
}
.quoted4 {
    color: #009;
    border-color: #009;
}
.quoted5 {
    color: #b60;
    border-color: #b60;
}

/* Various popup and status layers. */
.notices {
    text-align: left;
    list-style-type: none;
}
.notices li, .notice {
    font-weight: bold;
    color: #000;
    background: #ffc;
    border-bottom: 1px solid #d0d0d0;
    padding: 7px 15px;
}
.notices img, .notice img {
    margin-right: .5em;
}
.tooltip, div.nicetitle {
    color: #000;
    padding: 5px;
    z-index: 1001;
    background: #eceff0;
    border: 1px solid #919293;
    -moz-box-shadow: 3px 3px 3px #888;
    -webkit-box-shadow: 3px 3px 3px #888;
    box-shadow: 3px 3px 3px #888;
}
div.nicetitle {
    position: absolute;
    overflow: hidden;
}
.inProgress {
    font-size: 80%;
    padding: 2px;
    color: #fff;
    background: #f00;
}

/* Tree styles. */
.horde-tree-icon {
    padding-right: 5px;
}
.horde-tree-row {
    min-height: 20px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.horde-tree-toggle {
    cursor: pointer;
}
.horde-tree-spacer {
    width: 50%;
}

span.horde-tree-image {
    height: 20px;
    width: 20px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
}
span.horde-tree-image-1 {
    background-image: url("graphics/tree/line.png");
}
span.horde-tree-image-2 {
    background-image: url("graphics/tree/join.png");
}
span.horde-tree-image-3 {
    background-image: url("graphics/tree/joinbottom-down.png");
}
span.horde-tree-image-4 {
    background-image: url("graphics/tree/joinbottom.png");
}
span.horde-tree-image-5 {
    background-image: url("graphics/tree/minustop.png");
}
span.horde-tree-image-6 {
    background-image: url("graphics/tree/minus.png");
}
span.horde-tree-image-7 {
    background-image: url("graphics/tree/minusbottom.png");
}
span.horde-tree-image-8 {
    background-image: url("graphics/tree/minusonly.png");
}
span.horde-tree-image-9 {
    background-image: url("graphics/tree/plustop.png");
}
span.horde-tree-image-10 {
    background-image: url("graphics/tree/plus.png");
}
span.horde-tree-image-11 {
    background-image: url("graphics/tree/plusbottom.png");
}
span.horde-tree-image-12 {
    background-image: url("graphics/tree/plusonly.png");
}
span.horde-tree-image-13 {
    background-image: url("graphics/tree/nullonly.png");
}
span.horde-tree-image-14 {
    background-image: url("graphics/tree/folder.png");
}
span.horde-tree-image-15 {
    background-image: url("graphics/tree/folderopen.png");
}
span.horde-tree-image-16 {
    background-image: url("graphics/tree/leaf.png");
}

/* Modal forms */
body.modal-form {
    background-color: #e9e9e9;
}
div.modal-form {
    font-size: 150%;
    width: 20em;
    margin: 5em auto;

    background-color: #fff;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

    -moz-box-shadow: 0 0 2em #ccc;
    -webkit-box-shadow: 0 0 2em #ccc;
    box-shadow: 0 0 2em #ccc;
}
div.modal-form .notices {
    padding-top: 1em;
    font-size: 75%;
}
div.modal-form .notices li:first-child {
    border-top: 1px solid #d0d0d0;
}
div.modal-form a {
    color: #00f;
}
div.modal-form form {
    padding: 1em;
}
div.modal-form label {
    font-weight: bold;
}
div.modal-form input, div.modal-form select {
    -webkit-transition-property: -webkit-box-shadow, background;
    -webkit-transition-duration: 0.25s;

    width: 18em;
    margin-bottom: .5em;
}
div.modal-form input {
    padding-left: 0.25em;
    padding-right: 0.25em;
    width: 17.5em;
}
div.modal-form .submit-button {
    display: block;
    margin: .5em auto;
    width: auto;
}
div.modal-form .extras {
    font-size: 75%;
    border-top: thin dashed #ccc;
    margin: .5em 0;
}

/* Login tasks */
div.logintasks-item {
    margin-bottom: 1em;
}
div.logintasks-item label {
    font-weight: normal;
    font-size: 90%;
}
div.logintasks-item input {
    width: auto;
    margin-bottom: 0;
}

/* Main body. */
.horde-ajax {
    overflow: hidden;
}
#horde-body {
    border-bottom: 1px solid #cfcfcf;
    float: left;
    position: relative;
    width: 100%;
}
.horde-ajax #horde-body {
    position: absolute;
    top: 56px;
    bottom: 0;
    border-bottom-width: 0;
}
#horde-contentwrapper {
    float: left;
    width: 100%;
}
#horde-content {
    padding-left: 8px;
}
.horde-no-sidebar #horde-content {
    padding-left: 0;
}
.horde-content {
    padding: 5px 5px 0;
}

/* Pager. */
.pager {
    text-align: center;
}

/* Tab styles. */
.tabset {
    background: url("graphics/tabset.png");
    float: left;
    min-height: 32px;
    width: 100%;
    margin-bottom: 25px;
}
.tabset ul {
    list-style: none;
}
.tabset li {
    background: url("graphics/tab.png") repeat-x;
    float: left;
    height: 22px;
    line-height: 22px;
    margin: 10px 3px 0 0;
    padding: 0 10px;
    white-space: nowrap;
}
.tabset li a {
    color: #9ca1a4;
    display: block;
    font-weight: bold;
    text-decoration: none;
}
.tabset li.horde-active {
    background: #fff;
}
.tabset li.horde-active a {
    color: #000;
}
.tabset img {
    display: block;
    float: left;
    padding: 1px 2px 0 0;
}

/* Preferences. */
#services_prefs .header ul {
    float: right;
    text-align: right;
    font-size: 80%;
}
#services_prefs .header li {
    list-style: none;
    display: inline;
}
#services_prefs .header img {
    vertical-align: middle;
}
.prefsOverview div {
    float: left;
}
.prefsOverview div div {
    padding-left: 10px;
    width: 95%;
}
.prefsOverview h2 {
    font-size: 140%;
    font-weight: bold;
    margin-bottom: 8px;
}
.prefsOverview dt a {
    display: block;
    padding: 2px 2px 2px 0;
    font-weight: bold;
}
.prefsOverview dd {
    padding: 2px 2px 2px 0;
    margin-bottom: 10px;
}
div.prefsContainer {
    padding: 1em;
}
div.prefsContainer > div {
    padding-bottom: 3px;
}
div.prefsContainer p {
    padding-top: 1em;
}
div.prefsContainer input.checkbox {
    vertical-align: middle;
}
img.prefsLinkImg {
    padding-right: 1px;
}
span.prefsAdvanced {
    padding: 6px 10px 0 0;
    font-size: 71%;
    font-weight: normal;
}

div.prefsErrorDiv {
    border: 1px solid red;
    display: inline-block;
    padding: 2px;
}

div.prefsError {
    color: red;
}

/* Block styles. */
.currentBlock {
    border: 2px solid red;
}
.blockIcons {
    padding-top: 5px;
    display:none;
}
.blockHeader:hover .blockIcons {
    display: block;
}
#googlesearch {
    padding: .3em;
}
table.horde-block-weather {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid transparent;
}
table.horde-block-weather td {
    border: 1px solid #ddd;
    text-align:center;
}

/* Help styles. */
body.help_about, body.help_entry {
    margin: 0.5em;
}
.helplink {
    cursor: help;
}
.help {
    background: #fff;
    color: #000;
}
.help h1 {
    font-size: 125%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.help h2 {
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-size: 110%;
}
.help p {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}
.help em {
    display: block;
    padding: 5px;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}
.help em.helpTip {
    color: #090;
    background: #e0f0e0;
}
.help em.helpWarn {
    color: #900;
    background: #f0e0e0;
}

/* Source markup styles. */
table.lineNumbered * {
    line-height: 16px;
}
.lineNumbered th {
    background: #e9e9e9;
    border-right: 1px solid #e0e0e0;
    border-bottom: none;
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
}
.lineNumbered td {
    vertical-align: top;
    width: 100%;
    white-space: pre;
    background: #fff;
    padding-left: 10px;
}
.parentheses {
    color: #2a6;
    font-weight: bold;
}
.comment {
    color: #aac;
}
.htag {
    color: #569;
    background: #d5d6da;
    font-weight: bold;
}
.metac {
    color: #0ff;
    background: #d5d6da;
}
.id {
    color: #e82;
    background: #e4e4e0;
}
.attr {
    color: #6af;
}
.value {
    color: #d46;
}
.color {
    color: #f57;
}
.eol {
    color: #26e;
}
.url {
    color: #962;
}
.file {
    color: #444;
    background: #fe4;
}
.class {
    font-style: italic;
}

/* Sound selection. */
ul.sound-list {
    list-style: none;
}
.sound-list li {
    height: 24px;
}
.sound-list embed {
    vertical-align: middle;
    height: 24px;
}

/* Calendar Popup. */
.hordeCalendarPopup {
    border: 1px solid #ccc;
    background: #fff;
    width: 12em;
}
.hordeCalendarPopup thead {
    font-weight: bold;
}
.hordeCalendarPopup th {
    border-bottom: 1px solid #ccc;
}
.hordeCalendarPopup tbody {
    text-align: right;
}
.hordeCalendarPopup a {
    color: #000;
    display: block;
    padding: 2px;
}
.hordeCalendarPopup tbody a:hover {
    background: #ffc;
}
.hordeCalendarPopup .hordeCalendarCurrent {
    font-weight: bold;
    background: #eef;
}
.hordeCalendarPopup .hordeCalendarToday {
    font-weight: bold;
}
.hordeCalendarPopup .hordeCalendarWeek {
    background: #bbb;
    font-size: 90%;
    font-style: italic;
}

.hidden {
    display: none;
}

/* Redbox styles. */
#RB_overlay {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100%;
    background-color: #000;
    filter: alpha(opacity=60);
    -moz-opacity: .6;
    opacity: .6;
}
#RB_loading {
    z-index: 101;
    width: 66px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    padding-bottom: 66px;
    text-align: center;
    background: url("graphics/redbox_spinner.gif") no-repeat bottom center;
}
#RB_window {
    z-index: 102;
    background-color: #fff;
    display: block;
    text-align: left;
    margin: 20px auto 0 auto;
    position: absolute;
}
#RB_window p, #RB_window ul {
    margin-bottom: 3px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.RB_confirm {
    background: #ffc;
    border: 1px solid #ccc;
    padding: 1em;
}
.RB_confirm input {
    margin: .2em;
}
.RB_confirm ul {
    margin-left: .5em;
}
#RB_info {
    width: 30em;
    padding: 1em;
    border: 1px solid #ccc;
    background: #ccf;
}
#RB_info input {
    margin: .2em;
}

/* Color picker styles. */
#color-picker {
    color: #999;
    background: #000;
    padding-bottom: 8px;
    border: 1px solid #111;
    width: 148px;
    height: 155px;
    z-index: 100;
}
#color-picker .north {
    background: #111;
    border-bottom: 1px solid #171717;
    font-size: 90%;
}
#color-picker .north div {
    color: #999;
    float: right;
    padding: 5px 7px;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
#color-picker .north div:hover {
    color: #fff;
}
#color-picker .south {
    margin: 32px 0 0 10px;
    cursor: crosshair;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
#color-picker .south img {
    height: 100%;
    width: 100%;
    position: relative;
    top: -8px;
    left: -1px;
}
#color-picker #color-picker-cursor {
    background: url("graphics/color-picker-cursor.gif") no-repeat;
    position: absolute;
    height: 9px;
    width: 9px;
    z-index: 101;
}
#color-picker #color-picker-cursor img {
    height: 100%;
    width: 100%;
    position: relative;
    top: -8px;
    left: -1px;
}
#color-picker #color-picker-hex {
    padding: 5px 0 4px 7px;
    cursor: text;
    float: left;
}
#color-picker #color-picker-hex:hover {
    color: #fff;
}
#color-picker #color-picker-hex-edit {
    float: left;
}
#color-picker #color-picker-resize {
    float: right;
    top: -14px;
    left: 7px;
    height: 14px;
    width: 14px;
    cursor: se-resize;
}
#color-picker #color-picker-sphere {
    height: 128px;
    width: 128px;
}
.color-picker-palette-src {
    background-image: url("graphics/color-picker-palette.png");
}
.color-picker-resize-src {
    background-image: url("graphics/color-picker-resize.gif");
}

.leftAlign {
    text-align: left;
}
.rightAlign {
    text-align: right;
}
.leftFloat {
    float: left;
}
.rightFloat {
    float: right;
}

/* Activesync styles. */
.activesyncHdr1 {
    width: 30%;
}
.activesyncHdr2 {
    width: 22%;
}
.activesyncHdr3 {
    width: 6%;
}
.activesyncHdr4 {
    width: 10%;
}
.activesyncHdr5 {
    width: 12%;
}
.activesyncHdr6 {
    width: 10%;
}

/* Toggle quote styles. */
.toggleQuoteHide, .toggleQuoteShow {
    cursor: pointer;
    background: #ddd;
}
.toggleQuoteHide:hover, .toggleQuoteShow:hover {
    text-decoration: underline;
}
.toggleQuoteParent {
    margin-bottom: 8px;
}

/* SpellChecker styles. */
.spellcheckChecking, .spellcheckIncorrect {
    color: #f00;
}
.spellcheckIncorrect, .spellcheckCorrected {
    text-decoration: underline;
    cursor: pointer;
}
.spellcheckCorrected {
    color: #090;
}

/* Permissions. */
.permsAdd, .permsDelete, .permsEdit {
    padding-left: 3px;
}

/* KeyNavList styling. */
.KeyNavList {
    background: #eceff0;
    border: 1px solid #919293;
    border-bottom-width: 0;
    -moz-box-shadow: 3px 3px 3px #888;
    -webkit-box-shadow: 3px 3px 3px #888;
    box-shadow: 3px 3px 3px #888;
    overflow-x: hidden;
    overflow-y: auto;
    /*padding: 2px;*/
    position: absolute;
    z-index: 10000;
}
.KeyNavList ul {
    list-style-type: none;
}
.KeyNavList ul li {
    cursor: pointer;
    height: 19px;
    border-bottom: 1px solid #919293;
    padding: 5px 10px 0 10px;
    color: #000;
    white-space: nowrap;
}
.KeyNavList ul li.selected {
    background: #c2ccd0;
}
.KeyNavList ul li:hover, .KeyNavList ul li.selected:hover {
    background: #36525d;
    color: #fff;
}

/* Tag lists. */
ul.horde-tags {
    display: inline;
    list-style-type: none;
}
.hordeACListItem, ul.horde-tags li {
    display: inline-block;
    padding: 2px 4px;
    margin-right: 4px;
    background-color: #fff;
    color: #000;
    border: 1px #999 solid;
    font-size: 90%;
    font-weight: normal;
    line-height: normal;
}
.header ul.horde-tags li {
    font-size: 72%;
}
.hordeACListItem img, ul.horde-tags li img {
    vertical-align: middle;
}

/* Growler notice styling. */
#Growler {
    width: 340px;
}
#Growler div.GrowlerNotice {
    zoom: 1;
    padding: 10px 10px 10px 30px;
    margin: 5px auto;
    text-align: left;
    display: none;
    min-height: 20px;
    border-width: 1px;
    border-style: solid;
    background-position: 3px center;
    background-repeat: no-repeat;
    cursor: pointer;
}
#Growler div.GrowlerNoticeHead {
    font-weight: bold;
}
.GrowlerNoticeBody {
    margin-right: 30px;
    overflow-x: hidden;
}
#Growler div.horde-error, #GrowlerLog li.horde-error {
    background-image: url("graphics/alerts/error.png");
}
#Growler div.horde-error div.GrowlerNoticeBody {
    padding-right: 15px;
}
#Growler div.horde-message, #GrowlerLog li.horde-message {
    background-image: url("graphics/alerts/message.png");
}
#Growler div.horde-success, #GrowlerLog li.horde-success  {
    background-image: url("graphics/alerts/success.png");
}
#Growler div.horde-warning, #GrowlerLog li.horde-warning {
    background-image: url("graphics/alerts/warning.png");
}
#Growler div.horde-alarm, #GrowlerLog li.horde-alarm {
    background-image: url("graphics/alerts/alarm.png");
}
#GrowlerLog {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 200px;
    z-index: 10000;
    overflow-y: auto;
}
#GrowlerLog ul {
    overflow: auto;
}
#GrowlerLog ul li {
    color: #333;
    font-size: 100%;
    list-style-type: none;
    overflow: hidden;
    padding: 10px 30px;
    border-bottom: 1px dotted;
    background-position: 3px center;
    background-repeat: no-repeat;
}
#GrowlerLog ul li:last-child {
    border: 0;
}
#GrowlerLog li.GrowlerInfo {
    font-weight: bold;
    background: #999;
}
#GrowlerLog li.GrowlerNoAlerts {
    background: #999;
}
#GrowlerLog span.GrowlerAlertDate {
    font-size: 90%;
    font-style: italic;
    padding-left: 10px;
}
div.GrowlerNoticeExit {
    background: url("graphics/close.png") no-repeat;
    cursor: pointer;
    float: right;
    height: 20px;
    width: 20px;
    text-indent: -10000px;
    overflow: hidden;
}
.horde-success {
    border-color: #759f3d;
    background-color: #8fc34b;
}
.horde-error {
    background-color: #f03232;
    border-color: #cb2a2a;
}
.horde-warning {
    background-color: #ffdf4d;
    border-color: #e1c444;
}
.horde-message {
    background-color: #689fb4;
    border-color: #5c8c9f;
}
.horde-alarm {
    background-color: #f49e51;
    border-color: #d38847;
}
.horde-error {
    color: #fff;
}

/* Auto completer styles. See tags section too. */
.hordeACBox {
    background:white none repeat scroll 0 0;
    border: 1px solid #d0d0d0;
    cursor:default;
    /*overflow:hidden;*/
    text-align:left;
    min-height: 58px;
    padding: 4px;
}
.hordeACList {
    display:block;
    overflow:hidden;
    width:100%;
    cursor:default;
    list-style-type:none;
    margin:0;
    padding:0;
}
.hordeACList li {
    display:inline-block;
    font-size:90%;
    white-space:nowrap;
}
.hordeACTrigger, .hordeACTrigger:focus, .hordeACTrigger:disabled {
    background:transparent none repeat scroll 0 0;
    border:0 none;
    display:inline;
    position:static;
    width:80px;
}
/*.hordeACContainer {
    height:18px;
    margin:2px;
    padding:2px 2px 2px 0;
}*/
.hordeACItemRemove:hover {
    cursor:pointer;
}

/* Horde_Mime_Viewer styles. */
.mimeHeaders {
    border: 1px solid #ccc;
    background: #f9f9f9;
    display: -moz-inline-stack;
    display: inline-block;
    margin-bottom: 3px;
    padding: 5px;
}

/* Context Menus */
.context, .horde-buttonbar li div {
    min-width: 180px;
    position: absolute;
    z-index: 10000;
    background: #eceff0;
    border: 1px solid #919293;
    border-bottom-width: 0;
    -moz-box-shadow: 3px 3px 3px #888;
    -webkit-box-shadow: 3px 3px 3px #888;
    box-shadow: 3px 3px 3px #888;
}
.context {
    top: 0;
    left: 0;
}
.context a, .context a:visited, .horde-buttonbar li div li a {
    white-space: nowrap;
    display: block;
    height: 19px;
    border-bottom: 1px solid #919293;
    padding: 5px 10px 0 10px;
    text-decoration: none;
    color: #000;
}
.context a:hover, .context a.contextSubmenu.contextHover,
.horde-buttonbar li div li a:hover {
    background-color: #c2ccd0 !important;
    cursor: pointer;
    text-decoration: none;
}
.context div.sep {
    background: #919293;
    height: 1px !important;
    padding: 0;
    margin-top: 1px;
}
.contextSubmenu {
    background: url("graphics/popright.png") 100% 50% no-repeat;
    padding-left: 16px;
}
.contextSelected {
    background-color: #36525d !important;
    color: #fff !important;
}
a.contextSelected:hover {
    color: #000 !important;
}
.contextMenu .iconImg {
    vertical-align: top;
    margin: -2px 6px 0 0;
}

/* Form ghosting. */
.formGhost {
    color: #a0a0a0 !important;
    font-style: italic;
}

/* PHP Shell. */
.gutter {
    padding-right: 8px;
}

/* Social Media Related CSS */
.hordeSmStreamstory {
    margin-bottom: 7px;
    padding-top: 7px;
    position: relative;
}
.hordeSmStreambody {
    min-height: 70px;
}
.hordeSmStreamMessage {
    margin-top: 7px;
    margin-left: 78px;
    overflow: auto;
}
.hordeSmStreaminfo {
    color: #777777;
    padding: 2px 0 0;
    font-style: italic;
    font-size: 90%;
    margin-left: 78px;
}
.hordeSmGetmore {
    text-align: center;
}
.hordeSmCurrent {
    font-style: italic;
    color: gray;
}
.hordeSmAvatar {
    float: left;
    text-align: center;
    height: 73px;
    width: 73px;
    margin-right: 5px;
    padding-top: 5px;
}
.hordeSmNew {
    color: red;
}
.hordeSmPreview {
    text-align: center;
    position: absolute;
    z-index: 10000;
}
.hordeSmOverlay {
    position: absolute;
    opacity: 0.8;
    z-index: 9000;
    background-color: #000000;
}

/* Uploader */
.hordeUploaderHeaderContent {
    font-size: 18px;
    background: url("graphics/uploader/backgrounds.gif") no-repeat scroll 0 -317px transparent;
    min-height: 56px;
    padding-left: 60px;
    color: white;
}
.hordeUploaderHeader {
  background: url("graphics/uploader/backgrounds.gif") repeat-x scroll 0 0 #2A2C2E;
}
.hordeUploaderFilelistHeader {
    background: none repeat scroll 0 0 #DFDFDF;
    color: #42454A;
    padding: 8px;
    height: 20px;
}
.hordeUploaderSubHeader {
    font-size: 12px;
}
.hordeUploaderFooter {
  border-top: 1px solid #FFFFFF;
  height: 22px;
  line-height: 20px;
  vertical-align: middle;
  background: none repeat scroll 0 0 #DFDFDF;
  color: #42454A;
  padding: 8px;
}
.hordeUploaderAdd {
    background: url("graphics/plus.png") no-repeat !important;
    padding-left: 16px !important;
}
.hordeUploaderStart {
     background: url("graphics/uploader/up.png") no-repeat !important;
    padding-left: 16px !important;
}
.hordeUploaderFilelist {
    height: 350px;
    overflow: auto;
}
.hordeUploaderFilelistItem {
    background: url("graphics/uploader/backgrounds.gif") repeat-x scroll 0 -156px #F5F5F5;
    border-bottom: 1px solid #DDDDDD;
    padding: 10px 8px;
}
.hordeUploaderFilelistItemDone {
    color: #aaaaaa;
}
.hordeUploaderFilelistItemError {
    color: red;
    font-weight: bold;
}
.hordeUploaderFilename {
    float: left;
    width: 200px;
}
.hordeUploaderFilestatus,
.hordeUploaderFilesize,
.hordeUploaderFileaction
{
   float: right;
   text-align: right;
}
.hordeUploaderFilestatus,
.hordeUploaderFilesize
{
    width: 80px;
}
.hordeUploaderFileaction
{
    width: 16px;
}
.hordeUploaderSuccess
{
    background-image: url("graphics/alerts/success.png");
}
.hordeUploaderError
{
    background-image: url("graphics/alerts/error.png");
}
.hordeUploaderRemove
{
    background-image: url("graphics/delete.png");
}
/* For in place editing */
form.inplaceeditor-form {
    background: none;
}
.inplaceeditor-empty {
    font-style: italic;
    color: #999;
}

/* Nav images */
.navfirstgreyImg {
    background-image: url("graphics/nav/first-grey.png");
}
.navfirstImg {
    background-image: url("graphics/nav/first.png");
}
.navlastgreyImg {
    background-image: url("graphics/nav/last-grey.png");
}
.navlastImg {
    background-image: url("graphics/nav/last.png");
}
.navleftgreyImg {
    background-image: url("graphics/nav/left-grey.png");
}
.navleftImg {
    background-image: url("graphics/nav/left.png");
}
.navrightgreyImg {
    background-image: url("graphics/nav/right-grey.png");
}
.navrightImg {
    background-image: url("graphics/nav/right.png");
}

/* Loading image. */
span.loadingImg {
    background: #fff url("graphics/loading.gif") no-repeat center;
    border: 1px #e0e0e0 solid;
    height: 16px;
    margin: 10px 0 0 10px;
    padding: 3px;
    position: absolute;
    width: 16px;
    z-index: 1000;
}

a.icon {
    display:block;
    width:100%;
    height:100%;
}

/* Topbar. */
a.horde-mainnavi:link, a.horde-mainnavi:visited, a.horde-mainnavi:active {
    display: block;
    color: #fff;
}
.horde-point-center:hover, a.horde-mainnavi:hover,
a.horde-mainnavi-active:link, a.horde-mainnavi-active:visited,
a.horde-mainnavi-active:active {
    color: #7eaa42;
    text-decoration: none;
}

.horde-dropdown {
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 10;
}
.horde-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 10;
    background-color: #162329;
    border: 1px solid #090e11;
}
.horde-dropdown ul li {
    position: relative;
    border-bottom: 1px solid #919294;
    white-space: nowrap;
}
.horde-dropdown ul li:last-child {
    position: relative;
    border-bottom: 0px solid #919294;
}
.horde-dropdown ul li.arrow {
    background-image: url("graphics/navi-subnavi.png");
    background-repeat: no-repeat;
    background-position: center right;
}
.horde-dropdown ul li.arrow:hover {
    background-image: url("graphics/navi-subnavi-active.png");
    background-repeat: no-repeat;
    background-position: center right;
}
.horde-dropdown li ul {
    position: absolute;
    display: none;
    top: 34px;
    margin-left: -10px;
}
.horde-dropdown ul li ul {
    margin-top: -25px;
    margin-left: 100%;
    top: 24px;
}
.horde-dropdown li:hover ul, .horde-dropdown li.over ul {
    display: block;
}
.horde-dropdown li:hover ul ul, .horde-dropdown li.over ul ul {
    display: none;
}
.horde-dropdown ul li:hover ul, .horde-dropdown ul li.over ul {
    display: block;
}
.horde-drowdown-str {
    height: 19px;
    padding: 5px 15px 0px 0px;
    margin: 0 0 0 10px;
}
.horde-drowdown-str:hover a {
    color: #7eaa42;
}

#horde-head {
    width: 100%;
    height: 34px;
    background-color: #2e464f;
    background-image: url("graphics/head-bg.png");
    background-repeat: repeat-x;
    border-bottom: 2px solid #000;
}
#horde-logo {
    float: left;
    width: 88px;
    height: 34px;
    background-image: url("graphics/logo.png");
    background-repeat: no-repeat;
}
#horde-version {
    float: left;
    height: 16px;
    padding: 18px 10px 0px 0px;
    font-size: 90%;
    font-weight: bold;
    font-style: italic;
    color: #fff;
    text-shadow: 1px 1px 0px #000;
}
#horde-navigation {
    float: left;
    font-size: 110%;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px 0px #000;
    cursor: default;
}
.horde-navipoint {
    float: left;
}
.horde-navipoint:hover .horde-point-arrow {
    background-image: url("graphics/navi-arrow-active.png");
}
.horde-navipoint:hover .horde-point-center a {
    color: #7eaa42;
}
.horde-point-left {
    float: left;
    width: 10px;
    height: 34px;
}
.horde-point-center {
    float: left;
    height: 26px;
    padding: 8px 0px 0px 0px;
}
.horde-point-arrow, .horde-point-arrow-active {
    float: right;
    width: 13px;
    height: 8px;
    margin: 5px 2px 0 5px;
    background-image: url("graphics/navi-arrow-normal.png");
    background-repeat: no-repeat;
    text-indent: -10000px;
    overflow: hidden;
}
.horde-point-arrow-active {
    background-image: url("graphics/navi-arrow-active.png");
}
left.horde-point-right {
    float: left;
    width: 10px;
    height: 34px;
}
.horde-point-left-active {
    float: left;
    width: 10px;
    height: 34px;
    background-image: url("graphics/navi-left-active.png");
    background-repeat: no-repeat;
}
.horde-point-center-active {
    float: left;
    height: 26px;
    padding: 8px 0 0 0;
    background-image: url("graphics/navi-center-active.png");
    background-repeat: repeat-x;
}
.horde-point-right-active {
    float: left;
    width: 10px;
    height: 34px;
    background-image: url("graphics/navi-right-active.png");
    background-repeat: no-repeat;
}
.horde-settings {
    float: left;
    width: 22px;
    height: 27px;
    margin: 7px 0 0 0;
}
#horde-search {
    float: right;
    width: 230px;
    padding: 0 20px 0 0;
}
#horde-search form {
    display: inline;
}
#horde-search #horde-search-input, #horde-search .horde-fake-input {
    width: 200px;
    margin-top: 6px;
    background: #fff;
    height: 20px;
    font-size: 100%;
    border: 0;
    float: left;
}
#horde-search #horde-search-input {
    width: 190px;
    padding: 0 5px 0 5px;
}
#horde-search .horde-fake-input #horde-search-input {
    padding: 0 5px 0 0;
    width: 170px;
    margin: 0;
    float: none;
}
#horde-search span.popdownImg {
    cursor: pointer;
    height: 20px;
    width: 16px;
}
#horde-search-icon {
    float: left;
    margin: 7px 0 0 7px;
}
#horde-logout {
    float: right;
    width: 20px;
    height: 29px;
    margin: 6px 10px 0 0;
    background-image: url("graphics/logout.png");
    background-repeat: no-repeat;
}

.horde-icon-settings {
    background-image: url("graphics/settings.png");
    background-repeat: no-repeat;
}
.horde-icon-settings:hover {
    background-image: url("graphics/settings-active.png");
}

/* Sub bar. */
#horde-sub {
    width: 100%;
    height: 20px;
    background-color: #333333;
}
#horde-date {
    float: left;
    padding: 2px 0 0 10px;
    color: #fff;
}
#horde-info {
    float: right;
    padding: 2px 10px 0 0;
    color: #fff;
}
#horde-info a {
    color: #fff;
}

/* Mainpage */
#horde-page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-left: 8px;
}

/* Sidebar. */
#horde-sidebar {
    background-color: #bfc9cd;
    float: left;
    margin-left: -100%;
    padding-bottom: 10px;
}
.horde-ajax #horde-sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: 0;
}
#horde-sidebar a {
    color: #000;
}

.horde-new {
    height: 29px;
    background-image: url("graphics/sidebar-new-bg.png");
    background-repeat: repeat-x;
    border-bottom: 1px solid #787878;
    overflow: hidden;
    font-size: 140%;
    font-weight: bold;
    color: #fff;
    text-shadow: -1px -1px 0px #000;
}
.horde-portal-new {
    float: left;
    border-right: 1px solid #787878;
    margin-right: 10px;
}
#horde-sidebar .horde-new-link a, .horde-new-link a {
    padding-left: 28px;
    margin: 5px 10px 0 10px;
    background-image: url("graphics/sidebar-new.png");
    background-repeat: no-repeat;
    background-position: left 1px;
    color: #fff;
    display: block;
}
.horde-new-split {
    float: right;
    width: 2px;
    height: 29px;
    margin-left: 10px;
    background-image: url("graphics/sidebar-split.png");
    background-repeat: no-repeat;
}
.horde-new-extra {
    float: right;
    width: 20px;
    height: 24px;
    margin: 5px 6px 0 7px;
    background-image: url("graphics/sidebar-refresh.png");
    background-repeat: no-repeat;
}
.horde-new-extra a {
    display: block;
}
.horde-new-extra a:hover {
    text-decoration: none;
}

#horde-sidebar h3 {
    min-height: 12px;
    margin: 0 10px;
    font-size: 100%;
    font-weight: bold;
    cursor: default;
}
#horde-sidebar a.horde-add {
    float: right;
    margin-top: -2px;
    height: 17px;
    width: 16px;
    background: transparent url("graphics/plus-sidebar.png") no-repeat right center;
    text-indent: -10000px;
    overflow: hidden;
    cursor: pointer;
}
.horde-collapse,
.horde-expand {
    display: block;
    padding-left: 26px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.horde-collapse {
    background-image: url("graphics/collapse.png");
    background-position: left 2px;
}
.horde-expand {
    background-image: url("graphics/expand.png");
    background-position: left 1px;
}
#horde-sidebar div.horde-resources {
    margin-top: 10px;
}
#horde-sidebar div.horde-resources div {
    margin: 5px 0;
}
.horde-resource-link {
    overflow: hidden;
}
.horde-resource-on, .horde-resource-off, .horde-resource-none {
    display: inline-block;
    min-height: 15px;
    padding: 3px 0 3px 36px;
    cursor: pointer;
    background-position: 10px 2px;
    background-repeat: no-repeat;
}
.horde-resource-on:hover, .horde-resource-off:hover {
    text-decoration: underline;
}
.horde-resource-on, .horde-resource-off:hover {
    background-image: url("graphics/checkbox_on.png");
}
.horde-resource-off {
    background-image: url("graphics/checkbox_off.png");
}
.horde-resource-on.horde-radiobox, .horde-resource-off.horde-radiobox:hover {
    background-image: url("graphics/radiobox_on.png");
}
.horde-resource-off.horde-radiobox {
    background-image: url("graphics/radiobox_off.png");
}
#horde-sidebar div.horde-resources .horde-resource-edit-000,
#horde-sidebar div.horde-resources .horde-resource-edit-fff {
    float: right;
    display: block;
    background: url("graphics/edit-sidebar-000.png") no-repeat;
    margin: 2px 10px 0 0;
    width: 17px;
    height: 17px;
    text-indent: -10000px;
    overflow: hidden;
    cursor: pointer;
}
#horde-sidebar div.horde-resources .horde-resource-edit-fff {
    background-image: url("graphics/edit-sidebar-fff.png");
}
#horde-sidebar div.horde-resources div a {
    color: inherit;
}
#horde-sidebar .horde-info {
    font-style: italic;
    padding: 10px 0 0 36px;
}

.horde-sidebar-split {
    border-top: 1px solid #858889;
    height: 10px;
    margin: 10px 0 0;
}
.horde-subnavi {
    height: 20px;
    padding: 3px 0 1px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.horde-subnavi-active, .horde-subnavi:hover{
    height: 20px;
    background-image: url("graphics/sidebar-active-bg.png");
    background-repeat: repeat-x;
}
.horde-subnavi-icon {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center right;
    display: -moz-inline-stack;
    display: inline-block;
    height: 20px;
    margin: -1px 8px 0 10px;
    vertical-align: middle;
    width: 20px;
}
.horde-subnavi-point {
    display: inline;
}
.horde-popdown {
    background-image: url("graphics/popdown.png");
    background-repeat: no-repeat;
    background-position: top center;
    float: right;
    height: 24px;
    width: 24px;
    cursor: pointer;
}
.horde-subnavi-sub {
    padding-left: 9px;
}

/* Slider. */
#horde-slideleft {
    position: absolute;
    top: 0;
    bottom: 0;
}
.horde-splitbar-vert {
    width: 8px;
    background-image: url("graphics/slidevert-bg.png");
    background-repeat: repeat-y;
}
.horde-splitbar-vert.DragElt {
    cursor: col-resize;
}
.horde-splitbar-vert-handle {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 8px;
    background-image: url("graphics/slidevert.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.DragElt .horde-splitbar-vert-handle {
    display: block;
}
.horde-splitbar-horiz {
    height: 8px;
    background-image: url("graphics/slidehoriz-bg.png");
    background-repeat: repeat-x;
    cursor: row-resize;
}
.horde-splitbar-horiz-handle {
    position: absolute;
    left: 0;
    right: 0;
    height: 8px;
    background-image: url("graphics/slidehoriz.png");
    background-repeat: no-repeat;
    background-position: center center;
}

/* Buttonbar. */
.horde-buttonbar {
    min-height: 30px;
    background-image: url("graphics/buttonbar-bg.png");
    background-repeat: repeat;
    overflow: hidden;
}
.horde-button-icon {
    float: left;
    width: 20px;
    height: 24px;
    margin: 5px 5px 0 15px;
}
.horde-button-left, .horde-button-left-arrow {
    float: left;
    height: 22px;
    margin: 4px 15px 0 15px;
}
.horde-button-right, .horde-button-right-arrow {
    float: right;
    height: 22px;
    margin: 4px 5px 0 32px;
}
.horde-buttonbar .disabled {
    display: none;
}
.horde-buttonbar, .horde-buttonbar a, .horde-buttonbar a:link,
.horde-buttonbar a:visited, .horde-buttonbar a:active {
    color: #616161;
    font-weight: bold;
    text-decoration: none;
}
.horde-buttonbar .horde-icon {
    margin-top: 2px;
    padding-top: 6px;
    padding-left: 25px;
    background-position: left center, right center;
    background-repeat: no-repeat;
}
.horde-buttonbar .horde-popdown {
    position: relative;
    margin: -5px 10px 0 -12px;
    padding: 0;
    background-position: center center;
}
.horde-buttonbar .horde-nobutton .horde-popdown {
    margin-left: 0;
    margin-right: 0;
}
.horde-buttonbar select {
    margin-left: -4px;
    background-color: transparent;
    border-width: 0;
    color: #616161;
    font-weight: bold;
}
.horde-buttonbar ul {
    list-style: none;
}
.horde-buttonbar li {
    float: left;
    height: 22px;
    padding-top: 8px;
    background-image: url("graphics/button-split.png");
    background-repeat: no-repeat;
    background-position: right top;
}
.horde-buttonbar li.horde-icon {
    margin: 0;
    padding: 8px 0 0 0;
    background-position: right top;
}
.horde-buttonbar li a, .horde-buttonbar li span, .horde-buttonbar li select {
    background-repeat: no-repeat;
    background-position: 10px center;
    padding: 7px 12px 7px 10px;
}
.horde-buttonbar li span.accessKey {
    padding: 0;
}
.horde-buttonbar li select {
    margin-top: -7px;
    cursor: pointer;
    height: auto;
}
.horde-buttonbar li option {
    padding: 0;
}
.horde-buttonbar li.horde-icon a {
    padding-left: 35px;
}
.horde-buttonbar li span.iconImg, .horde-buttonbar li input {
    margin-top: -3px;
}
.horde-buttonbar li.horde-nobutton a {
    padding: 0;
}
.horde-buttonbar .rightFloat li {
    background-position: center left;
}
.horde-buttonbar li:hover, .horde-buttonbar li.horde-active {
    background-image: url("graphics/button-split.png"), url("graphics/button-active-bg.png");
    background-repeat: no-repeat, repeat-x;
}
.horde-buttonbar .rightFloat li:hover,
.horde-buttonbar .rightFloat li.horde-active {
    background-position: center left, center center;
}
.horde-buttonbar .horde-hasmenu {
    padding-right: 24px;
    background: url("graphics/popdown.png") no-repeat right center;
}
.horde-buttonbar li div {
    display: none;
}
.horde-buttonbar li:hover div {
    display: block;
}
.horde-buttonbar li ul li {
    float: none;
    background: transparent;
    height: auto;
    margin: 0;
    padding: 0;
}
.horde-buttonbar li ul li a, .horde-buttonbar li ul li a:link {
    font-weight: normal;
    color: #000;
}
.horde-buttonbar li.horde-nobutton {
    background-image: none;
    padding-left: 15px;
    margin-left: 0;
}
.horde-buttonbar .rightFloat li.horde-nobutton {
    margin-right: 5px;
}

/* Tables. */
.horde-table-header {
    height: 21px;
    background-image: url("graphics/tablehead-bg.png");
    background-repeat: repeat-x;
}
.horde-table-header a {
    color: #000;
}
.horde-table-header .horde-split-left,
.horde-table-header .horde-split-right {
    background-image: url("graphics/tablehead-split.png");
    background-repeat: no-repeat;
    padding: 0 5px;
}
.horde-table-header .horde-split-right {
    background-position: center right;
}
.horde-table-header .iconImg {
    vertical-align: middle;
}

/* Sidebar entries. */
.horde-admin-config {
    background-image: url("graphics/config.png");
}
.horde-admin-user {
    background-image: url("graphics/user.png");
}
.horde-admin-group {
    background-image: url("graphics/group.png");
}
.horde-admin-perms {
    background-image: url("graphics/perms.png");
}
.horde-admin-locked {
    background-image: url("graphics/locked.png");
}
.horde-admin-alarm {
    background-image: url("graphics/alerts/alarm.png");
}
.horde-admin-php {
    background-image: url("graphics/mime/php.png");
}
.horde-admin-sql {
    background-image: url("graphics/sql.png");
}
.horde-admin-shell {
    background-image: url("graphics/shell.png");
}
.horde-admin-mobile {
    background-image: url("graphics/mobile.png");
}
.horde-data {
    background-image: url("graphics/data.png");
}
.horde-perms {
    background-image: url("graphics/perms.png");
}

#portal {
    clear: left;
}

/* Print CSS. */
@media print {
    body, .header, .smallheader {
        background: #fff;
        color: #000;
    }

    a, .signature, .signature .fixed {
        color: #000;
    }

    #menu, .togglequotehide, .togglequoteshow {
        display: none;
    }

    .headerbox {
        border: none;
    }

    .control, .rowEven, .rowOdd {
        background-color: #fff;
        border-bottom: thin solid #000;
    }

    .selected {
        background: #ddd;
    }

    .quoted1, .quoted2, .quoted3, .quoted4, .quoted5 {
        color: #000;
        border-left-color: #000;
    }

    .download {
        padding: 2px 2px 2px 0;
        background-image: none;
    }

    #Growler, #GrowlerLog {
        display: none !important;
    }
}
