/**
 * CSS corrections for Webkit.
 */

.treeRow {
    overflow: visible;
    height: 20px;
}

.iconImg, .treeRow img {
    vertical-align: middle;
}

#menu {
    overflow: visible;
    height: 50px;
}
