<div class="horde-buttonbar">
 <ul class="rightFloat">
<loop:mboxactions>
  <li><tag:mboxactions.v /></li>
</loop:mboxactions>
 </ul>
 <ul>
<if:templateedit>
  <li><tag:templateedit /></li>
</if:templateedit>
<if:delete>
  <li><tag:delete /></li>
</if:delete>
<if:undelete>
  <li><tag:undelete /></li>
</if:undelete>
<if:blacklist>
  <li><tag:blacklist /></li>
</if:blacklist>
<if:whitelist>
  <li><tag:whitelist /></li>
</if:whitelist>
<if:forward>
  <li><tag:forward /></li>
</if:forward>
<if:redirect>
  <li><tag:redirect /></li>
</if:redirect>
<if:spam>
  <li><tag:spam /></li>
</if:spam>
<if:notspam>
  <li><tag:notspam /></li>
</if:notspam>
  <li><tag:view_messages /></li>
 </ul>
</div>
<div class="clear"></div>
