<div class="horde-buttonbar">
<loop:mboxactions>
  <div class="horde-button-right"><tag:mboxactions.v /></div>
</loop:mboxactions>
<if:templateedit>
  <div class="horde-button-left"><tag:templateedit /></div>
  <div class="horde-button-split"></div>
</if:templateedit>
<if:delete>
  <div class="horde-button-left"><tag:delete /></div>
  <div class="horde-button-split"></div>
</if:delete>
<if:undelete>
  <div class="horde-button-left"><tag:undelete /></div>
  <div class="horde-button-split"></div>
</if:undelete>
<if:blacklist>
  <div class="horde-button-left"><tag:blacklist /></div>
  <div class="horde-button-split"></div>
</if:blacklist>
<if:whitelist>
  <div class="horde-button-left"><tag:whitelist /></div>
  <div class="horde-button-split"></div>
</if:whitelist>
<if:forward>
  <div class="horde-button-left"><tag:forward /></div>
  <div class="horde-button-split"></div>
</if:forward>
<if:redirect>
  <div class="horde-button-left"><tag:redirect /></div>
  <div class="horde-button-split"></div>
</if:redirect>
<if:spam>
  <div class="horde-button-left"><tag:spam /></div>
  <div class="horde-button-split"></div>
</if:spam>
<if:notspam>
  <div class="horde-button-left"><tag:notspam /></div>
  <div class="horde-button-split"></div>
</if:notspam>
  <div class="horde-button-left"><tag:view_messages /></div>
</div>
