<loop:messages>
 <tr id="row<tag:messages.id />"<if:messages.class> class="<tag:messages.class />"</if:messages.class><if:messages.bg> style="background-color:<tag:messages.bg />"</if:messages.bg>>
  <td>
   <label>
    <input type="checkbox" class="checkbox" name="indices[]" value="<tag:messages.uid />" />
    <tag:messages.status />
   </label>
  </td>
  <td>
   <tag:messages.date />
  </td>
  <td>
   <tag:messages.from />
  </td>
  <td>
   <tag:messages.subject />
  </td>
  <td class="rightAlign">
   <tag:messages.size />
  </td>
 </tr>
</loop:messages>
</table>
