<table width="100%" cellspacing="0">
 <tr class="mboxcontrol">
  <td<if:isbottom> class="bottomborder"</if:isbottom>>
<if:readonly><else:readonly>
<if:use_pop><else:use_pop>
   <div class="leftFloat">
    <form class="navbarselect">
     <label for="flag<tag:id />" class="hidden"><gettext>Mark Messages</gettext></label>
     <select id="flag<tag:id />" name="flag">
      <option value="" selected="selected"><gettext>Mark Messages</gettext></option>
      <option value="" disabled="disabled">- - - - - - - -</option>
      <option value=""><gettext>Mark as:</gettext></option>
<loop:flaglist_set>
      <option value="<tag:flaglist_set.f />">&nbsp;&nbsp;<tag:flaglist_set.l /></option>
</loop:flaglist_set>
      <option value="" disabled="disabled">- - - - - - - -</option>
      <option value=""><gettext>Unmark as:</gettext></option>
<loop:flaglist_unset>
      <option value="<tag:flaglist_unset.f />">&nbsp;&nbsp;<tag:flaglist_unset.l /></option>
</loop:flaglist_unset>
     </select>
    </form>
   </div>
<if:filters>
   <div class="leftFloat">
    <form class="navbarselect">
     <label for="filter<tag:id />" class="hidden"><gettext>Filter Messages</gettext></label>
     <select id="filter<tag:id />" name="filter">
      <option value="" selected="selected"><gettext>Filter Messages</gettext></option>
      <option value="" disabled="disabled">- - - - - - - -</option>
<loop:filters>
      <option value="<tag:filters.v />"><tag:filters.l /></option>
</loop:filters>
     </select>
    </form>
   </div>
</if:filters>
</else:use_pop></if:use_pop>
<if:use_folders>
   <div class="leftFloat" style="padding-left:10px">
    <form method="post" action="<tag:mailbox_url />">
    <input type="hidden" name="mailbox" value="<tag:mailbox />" />
    <ul class="msgactions" style="display:inline">
     <li><tag:move /></li>
     <li class="lastnavbar"><tag:copy /></li>
    </ul>
    <label for="targetMailbox<tag:id />" class="hidden"><gettext>Target Mailbox:</gettext></label>
    <select id="targetMailbox<tag:id />" name="targetMailbox">
     <tag:folder_options />
    </select>
    </form>
   </div>
</if:use_folders>
</else:readonly></if:readonly>
   <div class="rightFloat">
<if:multiple_page>
    <form method="get" action="<tag:mailbox_url />">
    <input type="hidden" name="mailbox" value="<tag:mailbox />" />
    <tag:sessiontag />
    <tag:pages_first /> <tag:pages_prev />
    <label for="page<tag:id />" class="hidden"><gettext>Page:</gettext></label>
    <input type="text" id="page<tag:id />" name="page" value="<tag:page_val />" size="<tag:page_size />" />
    <tag:pages_next /> <tag:pages_last />
    </form>
</if:multiple_page>
   </div>
  </td>
 </tr>
</table>
