<div class="horde-buttonbar">
 <ul class="rightFloat">
  <li class="horde-nobutton">
<if:multiple_page>
    <form method="get" action="<tag:mailbox_url />">
    <input type="hidden" name="mailbox" value="<tag:mailbox />" />
    <tag:sessiontag />
<if:url_first>
    <a href="<tag:url_first />" title="<gettext>First Page</gettext>">
</if:url_first>
    <span class="iconImg <tag:pages_first />"></span>
<if:url_first>
    </a>
</if:url_first>
<if:url_prev>
    <a href="<tag:url_prev />" title="<gettext>Previous Page</gettext>">
</if:url_prev>
    <span class="iconImg <tag:pages_prev />"></span>
<if:url_prev>
    </a>
</if:url_prev>
    <label for="page<tag:id />" class="hidden"><gettext>Page:</gettext></label>
    <input type="text" id="page<tag:id />" name="page" value="<tag:page_val />" size="<tag:page_size />" />
<if:url_next>
    <a href="<tag:url_next />" title="<gettext>Next Page</gettext>">
</if:url_next>
    <span class="iconImg <tag:pages_next />"></span>
<if:url_next>
    </a>
</if:url_next>
<if:url_last>
    <a href="<tag:url_last />" title="<gettext>Last Page</gettext>">
</if:url_last>
    <span class="iconImg <tag:pages_last />"></span>
<if:url_last>
    </a>
</if:url_last>
    </form>
</if:multiple_page>
  </li>
 </ul>
<if:readonly><else:readonly>
 <ul>
<if:flaglist_set>
  <li>
    <form class="navbarselect">
     <label for="flag<tag:id />" class="hidden"><gettext>Mark Messages</gettext></label>
     <select id="flag<tag:id />" name="flag">
      <option value="" selected="selected"><gettext>Mark Messages</gettext></option>
      <option value="" disabled="disabled">- - - - - - - -</option>
      <option class="actionsSelectSection" value=""><gettext>Mark as:</gettext></option>
<loop:flaglist_set>
      <option value="<tag:flaglist_set.f />">&nbsp;&nbsp;<tag:flaglist_set.l /></option>
</loop:flaglist_set>
      <option value="" disabled="disabled">- - - - - - - -</option>
      <option class="actionsSelectSection" value=""><gettext>Unmark as:</gettext></option>
<loop:flaglist_unset>
      <option value="<tag:flaglist_unset.f />">&nbsp;&nbsp;<tag:flaglist_unset.l /></option>
</loop:flaglist_unset>
    </select>
   </form>
  </li>
</if:flaglist_set>
<if:filtermsg>
  <li>
    <form class="navbarselect">
     <label for="filter<tag:id />" class="hidden"><gettext>Filter Messages</gettext></label>
     <select id="filter<tag:id />" name="filter">
      <option value="" selected="selected"><gettext>Filter Messages</gettext></option>
<if:flag_filter>
      <option value="" disabled="disabled">- - - - - - - -</option>
      <option class="actionsSelectSection" value=""><gettext>Show Only:</gettext></option>
<loop:flaglist_set>
      <option value="<tag:flaglist_set.v />">&nbsp;&nbsp;<tag:flaglist_set.l /></option>
</loop:flaglist_set>
      <option value="" disabled="disabled">- - - - - - - -</option>
      <option class="actionsSelectSection" value=""><gettext>Don't Show:</gettext></option>
<loop:flaglist_unset>
      <option value="<tag:flaglist_unset.v />">&nbsp;&nbsp;<tag:flaglist_unset.l /></option>
</loop:flaglist_unset>
</if:flag_filter>
<if:filters>
      <option value="" disabled="disabled">- - - - - - - -</option>
<loop:filters>
      <option value="<tag:filters.v />"><tag:filters.l /></option>
</loop:filters>
</if:filters>
    </select>
   </form>
  </li>
</if:filtermsg>
<if:move>
  <li>
   <form method="post" action="<tag:mailbox_url />">
   <input type="hidden" name="mailbox" value="<tag:mailbox />" />
   <tag:move /> | <tag:copy />
   <label for="targetMailbox<tag:id />" class="hidden"><gettext>Target Mailbox:</gettext></label>
   <select id="targetMailbox<tag:id />" name="targetMailbox">
    <tag:folder_options />
   </select>
   </form>
  </li>
</if:move>
 </ul>
</else:readonly></if:readonly>
</div>
