body {
    background: #f0b060;
}
a {
    color: #c60;
}
a:hover {
    color: #c60;
}
.header {
    color: #fff;
    background: #c60;
}
.header a {
    color: #fff;
}

.smallheader {
    color: #fff;
    background: #c60;
}
.light {
    color: #fff;
}
.control {
    background: #f9ce8a;
    border-bottom: 1px solid #c60;
}
.button {
    color: #fff;
    background: #c60;
    border-bottom-color: #300;
    border-right-color: #300;
    border-top-color: #f0b060;
    border-left-color: #f0b060;
}
.selected {
    background: #df9f3f;
}
a.smallheader:hover {
    color: #fff;
}

/* Menu styles. */
#menu {
    color: #fff;
    background: #c60;
}
#menu a:hover {
    border-bottom: 1px solid #f0b060;
    border-right: 1px solid #f0b060;
    border-top: 1px solid #300;
    border-left: 1px solid #300;
    padding: 2px;
}
#menu a {
    color: #fff;
}
#menu a.current {
    color: #fff;
    background: #df9f3f;
    border-bottom: 1px solid #f0b060;
    border-right: 1px solid #f0b060;
    border-top: 1px solid #300;
    border-left: 1px solid #300;
    padding: 2px;
}

/* Sidebar styles. */
body.sidebar {
    background: #f0b060;
}
#sidebarPanel {
    border-right: 1px solid #f0b060;
    border-bottom: 1px solid #f0b060;
    background: #f0b060;
}
#sidebarPanel a {
    border: 1px solid #f0b060;
    padding-left: 1px;
    padding-bottom: 2px;
}
#sidebarPanel a:hover {
    color: #900;
    background: yellow;
    border: 1px solid #000;
    text-decoration: none;
}

/* Tab styles. */
.tabset li.activeTab a, .tabset li.activeTab a:hover {
    background: #c60;
    border-bottom-color: #c60;
}
