<table class="msgActionTable">
 <tr class="mboxcontrol">
  <td>
<if:usepop><else:usepop>
   <div class="leftFloat">
    <label for="flag<tag:id />" class="hidden"><gettext>Mark as:</gettext></label>
    <select id="flag<tag:id />" name="flag<tag:id />">
     <option value="" selected="selected"><gettext>Mark as:</gettext></option>
     <option value="0\seen"><gettext>Unseen</gettext></option>
     <option value="\flagged"><gettext>Flagged For Followup</gettext></option>
     <option value="0\flagged"><gettext>Not Flagged</gettext></option>
     <option value="\answered"><gettext>Answered</gettext></option>
     <option value="0\answered"><gettext>Unanswered</gettext></option>
     <option value="\draft"><gettext>Draft</gettext></option>
     <option value="0\draft"><gettext>Not Draft</gettext></option>
    </select>
   </div>
</else:usepop></if:usepop>
<if:move>
<if:readonly><else:readonly>
   <div class="leftFloat msgActions">
    <ul class="msgactions">
     <li><tag:move /></li>
     <li class="lastnavbar"><tag:copy /></li>
    </ul>
   </div>
   <div class="leftFloat">
    <label for="target<tag:id />" class="hidden"><gettext>Target Folder</gettext></label>
    <select id="target<tag:id />" name="target<tag:id />">
     <tag:options />
    </select>
   </div>
</else:readonly></if:readonly>
</if:move>
   <div class="rightFloat nowrap">
    <tag:back_to />&nbsp;
    <if:prev><tag:prev /></if:prev><tag:prev_img /><if:prev></a></if:prev>
    <if:next><tag:next /></if:next><tag:next_img /><if:next></a></if:next>
   </div>
  </td>
 </tr>
<if:isbottom>
 <tr>
  <td class="bottomborder" colspan="3"></td>
 </tr>
</if:isbottom>
</table>
<if:isbottom></form></if:isbottom>
