<form method="post" id="messages" name="messages" action="<tag:message_url />">
<tag:form_input />
<input type="hidden" id="targetMbox" name="targetMbox" value="" />
<input type="hidden" id="actionID" name="actionID" value="" />
<input type="hidden" id="message_token" name="message_token" value="<tag:message_token />" />
<input type="hidden" name="mailbox" value="<tag:mailbox />" />
<input type="hidden" name="thismailbox" value="<tag:thismailbox />" />
<input type="hidden" name="start" value="<tag:start />" />
<input type="hidden" name="index" value="<tag:index />" />
<input type="hidden" id="newMbox" name="newMbox" value="0" />
<h1 class="header">
 <tag:label /> <span style="unicode-bidi: embed"><tag:msg_count /></span> <tag:status />
</h1>
