.mboxcontrol form {
    background: #cccccc;
}

.text {
    color: #000;
    background: #fff;
}

.closeImg, .searchuiDelete {
    background-image: url("graphics/close.png");
}
.searchuiCalendar {
    background-image: url("graphics/calendar.png");
}
.reloadImg {
    background-image: url("graphics/reload.png");
}
