/**
 * $Horde: dimp/themes/tango-blue/screen.css,v 1.1 2007/09/29 02:58:29 chuck Exp $
 */

.mboxcontrol form {
    background: #ccc;
}

.text {
    color: #000;
    background: #fff;
}

#sidebarPanel a:hover {
    color: black;
}

#dimpmain_portal {
    background-color: #c9daed;
}
