.closeImg {
    background-image: url("graphics/close.png");
}
.calendarImg {
    background-image: url("graphics/calendar.png");
}
.reloadImg {
    background-image: url("graphics/reload.png");
}
.spellcheckImg {
    background-image: url("graphics/spellcheck.png");
}
.emptytrashImg {
    background-image: url("graphics/empty_trash.png");
}
