.pagebody {
    color: #797979;
}

.pagebody h1, .pagebody h2, .pagebody h3 {
    letter-spacing: -1px;
}
.pagebody h1, .pagebody h2 {
    font-size: 1.5em;
}
.pagebody h1 {
    border-color: #556aa1;
    color: #556aa1;
}
.pagebody h2 {
    border-bottom: 2px dotted #afafaf;
}

#toc h2 {
    border-bottom: 1px dotted #afafaf;
    letter-spacing: 0;
}
