<?php

if (!function_exists('_babel_hook_commit')) {
    function _babel_hook_commit($info)
    {
	$po   = $info[0];
	$lang = $info[1];
	$cmd = "svn commit $po -m \"- Update $lang translation.\"";
	Translate_Display::warning($cmd);
    }
}

if (!function_exists('_babel_hook_reset')) {
    function _babel_hook_reset($po)
    {

	$cmd = "rm -rf $po";
	exec("sudo $cmd");

	$cmd = "svn update $po";
	exec("sudo $cmd");

	if (!@file_exists($po)) {
	    Translate_Display::warning(_("File doesn't exist ... ") . $po);
	    Translate_Display::info();
	}
    }
}
