th {
    border-bottom: 1px solid #999;
}

.QuickFinderNoMatch {
    display: none;
}

form#repository-picker {
    display: inline;
}

/* Options boxes. */
div.options, div.browsefileoptions {
    margin: 0 0 8px 0;
}
div.options div, div.browsefileoptions div {
    display: -moz-inline-stack;
    display: inline-block;
    border: 1px solid #ddd;
    padding: 6px;
    background: #e9e9e9;
    vertical-align: top;
}
div.browsefileoptions div {
    width: 31.3%;
}
div.options em, div.browsefileoptions em {
    margin-top: 4px;
}
div.browsefileoptions form {
    margin-bottom: 4px;
}

/* Tables. */
table.revlog, table.headerbar, table.browse, table.stats {
    width: 100%;
    font-size: 100%;
    margin: 0 0 8px 0;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
table.headerbar {
    border-right: 1px solid #ddd;
}
table.revlog th, table.browse th, table.stats th, table.annotate th {
    padding: 3px;
    background: #e9e9e9;
    border-right: 1px solid #ddd;
    text-align: left;
}
table.stats th.rightAlign {
    text-align: right;
}
table.revlog td, table.headerbar td, table.browse td, table.stats td {
    padding: 3px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
table.headerbar tr {
    background: #e9e9e9;
}
table.headerbar td {
    border-right: none;
}

/* History View. */
table.history, p.history {
    margin: 0 0 8px 0;
    border: 1px solid #ddd;
}
table.history a {
    font-weight: bold;
    font-size: 120%;
}

/* Individual revision information. */
ul.revision {
    padding: 2px;
    float: right;
    width: 50%;
    list-style: none;
}
ul.revision li.tags {
    font-style: italic;
}

/* Labels. */
h3.file-view-header {
    background: #e9e9e9;
    display: inline;
    font-weight: bold;
    margin: 0;
    font-size: 90%;
    padding: 2px;
    border: 1px solid #ddd;
}

/* Revision logs. */
#revlog tr.hover, #revlog tr:hover {
    cursor: pointer;
    background: #bbcbff;
}
.revlog tr.selected *, .revlog tr.selected td.ago a  {
    background: #ffc;
}
.revlog td {
    vertical-align: top;
}
.revlog td.log {
    width: 60%;
}
.revlog td.ago a {
    color: #000;
    text-decoration: none;
}
.revlog .branchpoint {
    margin-bottom: 4px;
}
.revlog .branch {
    display: block;
    font-style: italic;
}
.revlog .message {
    margin-bottom: 0;
}
.revlog .tags {
    font-style: italic;
    margin-top: 4px;
    margin-bottom: 0;
}
.revlog .sdiff, .revlog .selection .selected .sdiff, .revlog .selection .pdiff {
    display: none;
}
.revlog .selection .sdiff, .revlog .selection .selected .pdiff {
    display: inline;
}
.revlog .difflines {
    display: block;
}

/* Patchset logs. */
#patchsets ul {
    list-style: none;
}
#patchsets td.pset {
    width: 1%;
}
#patchsets td.files, #patchsets td.log {
    width: 35%;
}

.commit-list h3 {
    font-size: 130%;
    font-weight: bold;
    margin-top: 1em;
}
.commit-summary {
    border: 1px solid #ddd;
    background: #eee;
    padding: .5em;
    font-size: 100%;
    margin: .2em 0;
}
.commit-message {
    font-size: 110%;
    font-family: Menlo,Consolas,"Lucida Console","DejaVu Sans Mono",monospace;
    margin-bottom: .5em;
}
.commit-info {
    width: 33%;
    float: right;
    border-left: 1px solid #ddd;
    padding: 0 1em 1em 1em;
    font-family: Menlo,Consolas,"Lucida Console","DejaVu Sans Mono",monospace;
    font-size: 90%;
}
.commit-info ul {
    list-style: none;
    margin-bottom: .5em;
}
.commit-author {
}

ul.commit-filelist {
    margin: 1em 0;
    border-top: thin solid #ddd;
    list-style: none;
}
ul.commit-filelist li {
    font-family: Menlo,Consolas,"Lucida Console","DejaVu Sans Mono",monospace;
    padding: .2em;
    border-bottom: thin solid #ddd;
}
ul.commit-filelist li:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

span.commit-file-added, span.commit-file-deleted, span.commit-file-modified {
    display: block;
    float: left;
    height: 1em;
    width: 1em;
    margin-right: .5em;
    text-indent: -9999px;
}
span.commit-file-added {
    background: #cfc;
}
span.commit-file-deleted {
    background: #fcc;
}
span.commit-file-modified {
    background: #def;
}

/* Diff stat information. */
.diffadd {
    color: green;
}
.diffdel {
    color: red;
}

/* Checkout, File view */
div.checkout, div.file-view-contents {
    padding: 3px;
    margin: 2px 0 8px 0;
    border: 1px solid #ddd;
}
div.file-view {
    margin-top: 2em;
}

.attic {
    background: #edd;
    font-style: italic;
}

/* Annotate styles. */
table.annotate {
    width: 99%;
    margin: 0 0 8px 0;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
table.annotate th.rightAlign {
    text-align: right;
}
table.annotate td {
    border-right: 1px solid #ddd;
}
table.annotate .author {
    background: #eef;
}
table.annotate .rev {
    background: #fee;
    padding-right: 2px;
    white-space: nowrap;
}
table.annotate .logentry {
    background: #cde;
}

/* Diff styles. */
div.diff {
    font-size: 100%;
    color: #111;
    border: 1px solid #ddd;
    margin: 1.5em 0;
}
div.diff-header {
    border-bottom: 1px solid #ddd;
    background: #eee;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee), color-stop(0.5, #eee));
    background: -moz-linear-gradient(top, #fff, #eee 50%);
    padding: .5em;
}
div.diff-header h4 {
    font-weight: normal;
    font-family: Menlo,Consolas,"Lucida Console","DejaVu Sans Mono",monospace;
    font-size: 110%;
}
div.diff-section {
    margin-top: 1em;
}
div.diff-container:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
div.diff-container h3 {
    font-weight: bold;
}

div.diff-left {
    float: left;
    width: 50%;
    overflow-y: auto;
}
div.diff-right {
    float: right;
    width: 50%;
    overflow-y: auto;
}

.diff-unmodified {
    background: #fff;
    color: #999;
}
.diff-added {
    background: #cfc;
}
.diff-added-empty {
    background: #efe;
    background: -webkit-gradient(linear, left top, right top, from(#fff), to(#cfc), color-stop(0.5, #cfc));
    background: -moz-linear-gradient(left, #fff, #cfc 50%);
}
.diff-modified {
    background: #def;
}
.diff-removed {
    background: #fcc;
}
.diff-removed-empty {
    background: #fee;
    background: -webkit-gradient(linear, right top, left top, from(#fff), to(#fcc), color-stop(0.5, #fcc));
    background: -moz-linear-gradient(right, #fff, #fcc 50%);
}

.diff-caption {
    text-align: left;
    margin-top: 1em;
    font-size: 90%;
    font-weight: bold;
    padding: 5px;
}
.diff-caption img {
    border: 1px solid #000;
    height: 10px;
    width: 10px;
    margin-left: 0.5em;
    vertical-align: baseline;
}

/* Browsefile definitions. */
td.browseLocation em {
    display: block;
}

img.chora-stats {
    border: 1px solid #000;
}

.historybg {
    background: #e9e9e9;
    text-align: center;
}
.historybg1 {
    background: #ccdeff;
}
.historybg2 {
    background: #ecf;
}
.historybg3 {
    background: #fec;
}
.historybg4 {
    background: #efc;
}
.historybg5 {
    background: #cfd;
}
.historybg6 {
    background: #dcdba0;
}
