<?php
/**
 ** commit-update-tickets.php configuration
 **/

// Path to svnlook
$svnlook = '/usr/bin/svnlook';

// XML-RPC endpoint
$rpc_endpoint = 'https://dev.horde.org/horde/rpc.php';

// XML-RPC method to call
$rpc_method = 'tickets.addComment';

// XML-RPC options, usually username and password
$rpc_options = array('user' => '',
                     'pass' => '');
