.horde-form table {
    width: auto;
}

.favicon {
    width: 16px;
    height: 16px;
}

.bl-title {
    text-overflow: ellipsis;
    overflow: hidden;
}
.bl-title a {
    font-weight: bold;
}
.bl-clicks {
    text-align: center;
}

.bl-actions form {
    display: inline;
}

#browser-instructions {
    margin: 10px;
    padding: 10px;
}

.trean-tags-related, .trean-tags-browsing {
    padding-bottom: 12px;
    padding-left: 5px;
}

.horde-tags li a img {
    padding-left: 5px;
}

.trean-browse {
    background-image: url("graphics/trean.png");
}

/* sidebar images. */
.tagImg {
    background-image: url("graphics/tag.png");
}

.treanACBox {
  background: #ebeff0;
  border: 1px solid #d0d0d0;
  cursor: default;
  text-align: left;
}
