<?php
/**
 * $Id$
 *
 * See horde/config/prefs.php for documentation on the structure of this file.
 */

$_prefs = array();

$_prefs['sync_data'] = array(
    'value' => 'a:0:{}',
    'locked' => false,
    'type' => 'implicit'
);
