<?php
/**
 * $Horde: wicked/config/prefs.php.dist,v 1.13 2008/08/17 19:41:24 chuck Exp $
 *
 * See horde/config/prefs.php for documentation on the structure of this file.
 */

$_prefs = array();

$_prefs['sync_data'] = array(
    'value' => 'a:0:{}',
    'locked' => false,
    'shared' => false,
    'type' => 'implicit'
);
