/* Menu bottom margin, added for BC. */
#menu {
    margin-bottom: 8px;
}

/* Added for BC. */
.hidden {
    display: none;
}

.QuickFinderNoMatch {
    display: none;
}
#QuickFinderEmpty {
    font-style: italic;
}

#quicksearch {
    display: inline;
}
#quicksearch input {
    background-image: url("graphics/search.png");
    background-repeat: no-repeat;
    background-position: 2px center;
    padding: 1px 0 1px 20px;
}
#quicksearch a {
    display: inline-block;
    padding: 2px 4px;
}

.turbaPager {
    text-align: center;
    padding: 3px;
    background: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#vbook-form {
    margin: 1em 0 0 0;
}


/* Tables. */
table#addressbook-list {
    width: 99%;
    margin: 0 0 8px 5px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
table#addressbook-list th {
    padding: 3px;
    background: #e9e9e9;
    border-right: 1px solid #ccc;
    text-align: left;
}
table#addressbook-list td {
    padding: 3px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
table#addressbook-list th.sortup {
    background: #bbcbff url("graphics/za.png") center left no-repeat;
    padding-left: 10px;
}
table#addressbook-list th.sortdown {
    background: #bbcbff url("graphics/az.png") center left no-repeat;
    padding-left: 10px;
}

#addressbook-list-buttons {
    padding: 1em;
}
#addressbook-list-buttons form {
    display: inline;
}
.addressbook-list-icon {
    width: 1%;
}

/* Preferences pages */
#turba-prefs-cols-list {
    float: left;
    width: 15em;
}
#turba-prefs-cols-list ul {
    list-style-type: none;
}
#turba-prefs-cols-list li {
    padding: 3px;
}
#turba-prefs-cols-list li a {
    display: block;
}
#turba-prefs-cols-list li.active {
    font-weight: bold;
    border: 1px solid #ccc;
    border-right: none;
}

#turba-prefs-cols-columns {
    float: left;
    padding: 3px;
    border: 1px solid #ccc;
}
#turba-prefs-cols-columns ol {
    list-style-type: none;
}
#turba-prefs-cols-columns li {
    padding: 2px;
    cursor: move;
}
#turba-prefs-cols-columns .checkbox {
    margin-right: 2px;
    cursor: default;
}

/* Redbox styles. */
#RB_overlay {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100%;
    background-color: #000;
    opacity: .6;
    filter: alpha(opacity=60);
}
#RB_loading {
    z-index: 101;
    width: 66;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    padding-bottom: 66px;
    text-align: center;
    background: url("graphics/redbox_spinner.gif") no-repeat bottom center;
}
#RB_window {
    z-index: 102;
    background-color: #fff;
    display: block;
    text-align: left;
    overflow: hidden;
    margin: 20px auto 0 auto;
    position: fixed;
    position: absolute;
}

#RB_confirm {
    width: 20em;
    padding: 1em;
    border: 1px solid #ccc;
    background: #ffc;
}
#RB_confirm input {
    margin: .2em;
}
