<?php
/**
 * $Horde: sesha/config/prefs.php.dist,v 1.8 2008/07/24 21:33:20 chuck Exp $
 *
 * See horde/config/prefs.php for documentation on the structure of this file.
 */

require_once dirname(__FILE__) . '/../lib/Sesha.php';
require_once dirname(__FILE__) . '/../lib/Driver.php';

$prefGroups['display'] = array(
    'column' => _("General Options"),
    'label' => _("Display Options"),
    'desc' => _("Change your inventory sorting and display options."),
    'members' => array('sortby', 'sortdir', 'list_properties')
);

// user preferred sorting column
$_prefs['sortby'] = array(
    'value' => SESHA_SORT_STOCKID,
    'locked' => false,
    'shared' => false,
    'type' => 'enum',
    'enum' => array(SESHA_SORT_STOCKID => _("Stock ID"),
                    SESHA_SORT_NAME => _("Item Name"),
                    SESHA_SORT_NOTE => _("Note")),
    'desc' => _("Default sorting criteria:")
);

// user preferred sorting direction
$_prefs['sortdir'] = array(
    'value' => SESHA_SORT_ASCEND,
    'locked' => false,
    'shared' => false,
    'type' => 'enum',
    'enum' => array(SESHA_SORT_ASCEND => _("Ascending"),
                    SESHA_SORT_DESCEND => _("Descending")),
    'desc' => _("Default sorting direction:")
);

// properties to show in lists
$_prefs['list_properties'] = array(
    'value' => array(),
    'locked' => false,
    'shared' => false,
    'type' => 'multienum',
    'enum' => array(),
    'desc' => _("Select properties that you would like to see in the list view (all other properties are only shown on individual item screens):")
);
$_backend = Sesha_Driver::factory();
foreach ($_backend->getProperties() as $property_id => $property) {
    $_prefs['list_properties']['enum'][$property_id] = $property['property'];
}
