body #sbarShow {
    background-image: url("graphics/plus.png");
}
body #sbarHide {
    background-image: url("graphics/minus.png");
}
#pageControls {
    top: -9px;
    background: #d7d7d7;
    border-color: #999;
    border-width: 0 0 1px 1px;
}
#pageControls #calendarSearch {
    background-image: url("graphics/search.png");
}
table.monthgrid {
    border-top: 0;
}
table.kronolithView td.button {
    border-color: #999;
}

/*****************
 * AJAX INTERFACE
 *****************/

/* Themed images. */
a#kronolithNotifications {
    background: url("graphics/alerts/message.png") no-repeat center center, url("graphics/menu.png") repeat-x;
}
#kronolithNotifications:hover {
    background-image: url("graphics/alerts/message.png"), url("graphics/menu-active.png");
}
#kronolithNotifications.horde-error {
    background-image: url("graphics/alerts/error.png"), url("graphics/menu.png")
}
#kronolithNotifications.horde-error:hover {
    background-image: url("graphics/alerts/error.png"), url("graphics/menu-active.png")
}
#kronolithNotifications.horde-success {
    background-image: url("graphics/alerts/success.png"), url("graphics/menu.png")
}
#kronolithNotifications.horde-success:hover {
    background-image: url("graphics/alerts/success.png"), url("graphics/menu-active.png")
}
#kronolithNotifications.horde-warning {
    background-image: url("graphics/alerts/warning.png"), url("graphics/menu.png")
}
#kronolithNotifications.horde-warning:hover {
    background-image: url("graphics/alerts/warning.png"), url("graphics/menu-active.png")
}
#kronolithNotifications.kronolithClose,
#kronolithNotifications.kronolithClose:hover {
    background-image: url("graphics/close.png"), url("graphics/menu-active.png")
}
#kronolithSearchButton {
    background-image: url('graphics/search.png');
}
#kronolithMenu a.kronolithAdd {
    background-image: url("graphics/plus.png");
}
.kronolithDialogInfo {
    background-image: url('graphics/alerts/message.png');
}
.kronolithDialogWarning {
    background-image: url('graphics/alerts/warning.png');
}
#kronolithEventTabAttendees td.kronolithAttendeeNone {
    background-image: url("graphics/attendee-none.png");
}
#kronolithEventTabAttendees td.kronolithAttendeeAccepted {
    background-image: url("graphics/attendee-accepted.png");
}
#kronolithEventTabAttendees td.kronolithAttendeeDeclined {
    background-image: url("graphics/attendee-declined.png");
    text-decoration: line-through;
}
#kronolithEventTabAttendees td.kronolithAttendeeTentative {
    background-image: url("graphics/attendee-tentative.png");
}
#kronolithMinicalNext, .kronolithNext {
    background-image: url("graphics/right.png");
}
#kronolithMinicalPrev, .kronolithPrev {
    background-image: url("graphics/left.png");
}
.kronolithPrint span {
    background-image: url('graphics/print.png');
}
.kronolithAddTask .kronolithAddTaskIcon {
    background-image: url('graphics/new_task.png');
}

/* Navigation bar. */
span#kronolithQuickEvent {
    background-image: url("graphics/new.png"), url("graphics/menu.png");
}
span#kronolithQuickEvent:hover {
    background-image: url("graphics/new.png"), url("graphics/menu-active.png");
}
span#kronolithQuickEvent, #kronolithHeader a {
    background-repeat: no-repeat, repeat-x;
    background-position: 3px center, left top;
}
#kronolithBar .kronolithDateChoice,
span#kronolithNewEvent,
#kronolithApplications a {
    background-image: url("graphics/menu.png");
    background-repeat: repeat-x;
    background-position: left top;
}
#kronolithBar .kronolithDateChoice:hover,
span#kronolithNewEvent:hover,
#kronolithApplications a:hover {
    background-image: url("graphics/menu-active.png");
}
#kronolithNavTasks {
    background-image: url("graphics/tasks.png"), url("graphics/menu.png");
}
#kronolithNavTasks:hover, #kronolithNavTasks.on {
    background-image: url("graphics/tasks.png"), url("graphics/menu-active.png");
}
#kronolithNavAgenda {
    background-image: url("graphics/agenda.png"), url("graphics/menu.png");
}
#kronolithNavAgenda:hover, #kronolithNavAgenda.on {
    background-image: url("graphics/agenda.png"), url("graphics/menu-active.png");
}
#kronolithNavDay {
    background-image: url("graphics/dayview.png"), url("graphics/menu.png");
}
#kronolithNavDay:hover, #kronolithNavDay.on {
    background-image: url("graphics/dayview.png"), url("graphics/menu-active.png");
}
#kronolithNavWeek {
    background-image: url("graphics/weekview.png"), url("graphics/menu.png");
}
#kronolithNavWeek:hover, #kronolithNavWeek.on {
    background-image: url("graphics/weekview.png"), url("graphics/menu-active.png");
}
#kronolithNavMonth {
    background-image: url("graphics/monthview.png"), url("graphics/menu.png");
}
#kronolithNavMonth:hover, #kronolithNavMonth.on {
    background-image: url("graphics/monthview.png"), url("graphics/menu-active.png");
}
#kronolithNavYear {
    background-image: url("graphics/yearview.png"), url("graphics/menu.png");
}
#kronolithNavYear:hover, #kronolithNavYear.on {
    background-image: url("graphics/yearview.png"), url("graphics/menu-active.png");
}
#kronolithOptions {
    background-image: url("graphics/prefs.png"), url("graphics/menu.png");
}
#kronolithOptions:hover {
    background-image: url("graphics/prefs.png"), url("graphics/menu-active.png");
}
#kronolithLogout {
    background-image: url("graphics/logout.png"), url("graphics/menu.png");
}
#kronolithLogout:hover {
    background-image: url("graphics/logout.png"), url("graphics/menu-active.png");
}
#kronolithServices a.helplink {
    background-image: url("graphics/help.png"), url("graphics/menu.png");
}
#kronolithServices a.helplink:hover {
    background-image: url("graphics/help.png"), url("graphics/menu-active.png");
}

/* Misc */
.kronolithMinical td, .kronolithFirstCol {
    background-color: #efefef;
}
.kronolithViewHead thead .kronolithFirstCol {
    background-color: transparent;
}

.kronolithWeekDay, .kronolithColHead {
    background: transparent url("graphics/menu.png") repeat-x;
}
.kronolithWeekDay:hover {
    background-image: url("graphics/menu-active.png");
}
