/**
 * $Horde: kronolith/themes/silver/screen.css,v 1.3 2008/03/27 16:44:06 jan Exp $
 */

body #sbarShow {
    background-image: url("graphics/plus.png");
}
body #sbarHide {
    background-image: url("graphics/minus.png");
}
#pageControls {
    top: 49px;
    background: #d7d7d7;
    border-color: #999;
    border-width: 0 0 1px 1px;
}
#pageControls #calendarSearch {
    background-image: url("graphics/search.png");
}
table.monthgrid {
    border-top: 0;
}
