/*
* Links
*/
a.imp-mailbutton:link, a.imp-mailbutton:visited, a.imp-mailbutton:active{
font-size: 12px;
color: #616161;
font-weight:bold;
text-decoration:none;
}
a.imp-mailbutton:hover{
}


/*
* Dropdown für den Tablehead (Links, Aply,...)
*/
.imp-thl-dropdown {
  list-style:none;
  padding:0;
  margin:-2px 0px 0px -5px;
  z-index:10;
  height:22px;
  width:22px;
}
.imp-thl-dropdown:hover {
  background-image:url('img/tablehead-dropdown-open.png');
  background-repeat:no-repeat;
}
.imp-thl-dropdown ul {
  list-style:none;
  padding:0;
  margin:0;
  z-index:10;
  background-color:#eceff0;
  border:1px solid #919293;
  border-bottom:0px;
}
.imp-thl-dropdown ul.imp-m13 {
  margin:0px 13px 0px 0px;
}
.imp-thl-dropdown ul.imp-m101 {
  margin:0px 101px 0px 0px;
}
.imp-thl-dropdown ul li {
  position:relative;
  width: 100%;
  border-bottom:1px solid #919293;
}
.imp-thl-dropdown ul li:hover {
  background-color:#c2ccd0;
}
.imp-thl-dropdown ul li.arrow {
  background-image:url('img/icon-subnavi.png');
  background-repeat:no-repeat;
  background-position:center right;
}
.imp-thl-dropdown li ul {
  position:absolute;
  display:none;
}
.imp-thl-dropdown ul li ul {
  margin-top:-25px;
  margin-left:100%;
  width:100%;
}
.imp-thl-dropdown li:hover ul, .imp-thl-dropdown li.over ul {
  display:block;
}
.imp-thl-dropdown li:hover ul ul, .imp-thl-dropdown li.over ul ul {
  display:none;
}
.imp-thl-dropdown ul li:hover ul, .imp-thl-dropdown ul li.over ul {
  display:block;
}
.imp-thl-drowdown-open{
width:22px;
height:22px;
}


/*
* Dropdown für den Tablehead (Rechts, Filters und Others)
*/
.imp-thr-dropdown {
  list-style:none;
  padding:0;
  margin:-2px 0px 0px -5px;
  z-index:10;
  height:22px;
  width:22px;
}
.imp-thr-dropdown:hover {
  background-image:url('img/tablehead-dropdown-open.png');
  background-repeat:no-repeat;
}
.imp-thr-dropdown ul {
  list-style:none;
  padding:0;
  margin:0;
  z-index:10;
  right:0;
  background-color:#eceff0;
  border:1px solid #919293;
  border-bottom:0px;
}
.imp-thr-dropdown ul.imp-m13 {
  margin:0px 13px 0px 0px;
}
.imp-thr-dropdown ul.imp-m101 {
  margin:0px 101px 0px 0px;
}
.imp-thr-dropdown ul li {
  position:relative;
  width: 100%;
  border-bottom:1px solid #919293;
}
.imp-thr-dropdown ul li:hover {
  background-color:#c2ccd0;
}
.imp-thr-dropdown ul li.arrow {
  background-image:url('img/icon-subnavi.png');
  background-repeat:no-repeat;
  background-position:center right;
}
.imp-thr-dropdown li ul {
  position:absolute;
  display:none;
}
.imp-thr-dropdown ul li ul {
  margin-top:-25px;
  margin-right:100%;
  width:100%;
}
.imp-thr-dropdown li:hover ul, .imp-thr-dropdown li.over ul {
  display:block;
}
.imp-thr-dropdown li:hover ul ul, .imp-thr-dropdown li.over ul ul {
  display:none;
}
.imp-thr-dropdown ul li:hover ul, .imp-thr-dropdown ul li.over ul {
  display:block;
}
.imp-thr-drowdown-open{
width:22px;
height:22px;
}


/*
* Dropdown für die Sidebar
*/
.imp-sb-dropdown {
  list-style:none;
  padding:0;
  margin:0;
  z-index:10;
  height:24px;
  width:24px;
}
.imp-sb-dropdown:hover {
  background-image:url('img/sidebar-dropdown-open.png');
  background-repeat:no-repeat;
}
.imp-sb-dropdown ul {
  list-style:none;
  padding:0;
  margin:0;
  z-index:10;
  background-color:#eceff0;
  border:1px solid #919293;
  border-bottom:0px;
}
.imp-sb-dropdown ul li {
  position:relative;
  width: 100%;
  border-bottom:1px solid #919293;
}
.imp-sb-dropdown ul li.arrow {
  background-image:url('img/icon-subnavi.png');
  background-repeat:no-repeat;
  background-position:center right;
}
.imp-sb-dropdown ul li:hover {
  background-color:#c2ccd0;
}
.imp-sb-dropdown li ul {
  position:absolute;
  display:none;
}
.imp-sb-dropdown ul li ul {
  margin-top:-25px;
  margin-left:100%;
  width:100%;
}
.imp-sb-dropdown li:hover ul, .imp-sb-dropdown li.over ul {
  display:block;
}
.imp-sb-dropdown li:hover ul ul, .imp-sb-dropdown li.over ul ul {
  display:none;
}
.imp-sb-dropdown ul li:hover ul, .imp-sb-dropdown ul li.over ul {
  display:block;
}
.imp-sb-drowdown-open{
width:24px;
height:24px;
}


/*
* Dropdown allgemein
*/
.imp-drowdown-str{
height:19px;
padding:5px 10px 0px 0px;
margin:0px 0px 0px 10px;
}
.imp-drowdown-icon-str{
height:19px;
padding:5px 10px 0px 30px;
margin:0px 0px 0px 10px;
background-image:url('img/icons/glyphicons_144_folder_open.png');
background-repeat:no-repeat;
}






/*
 * Sidebar -> New Mail Leiste
 */
.imp-newmail{
height:29px;
background-image:url('img/newmail-bg.png');
background-repeat:repeat-x;
border-bottom:1px solid #787878;
}
  .imp-newmail-plus{
  float:left;
  width:17px;
  height:23px;
  margin:6px 11px 0px 10px;
  background-image:url('img/newmail-plus.png');
  background-repeat:no-repeat;
  }
  .imp-newmail-str{
  float:left;
  height:23px;
  margin:5px 10px 0px 0px;
  }
  .imp-newmail-split{
  float:right;
  width:2px;
  height:29px;
  margin:0px 7px 0px 10px;
  background-image:url('img/newmail-split.png');
  background-repeat:no-repeat;
  }
  .imp-newmail-refresh{
  float:right;
  width:20px;
  height:24px;
  margin:5px 6px 0px 0px;
  background-image:url('img/newmail-refresh.png');
  background-repeat:no-repeat;
  }


/*
 * Sidebar -> Navigation (Icon, Link, Icon)
 */
.imp-subnavi-split{
height:5px;
margin:0px 0px 6px 0px;
border-bottom:1px solid #858889;
}
.imp-subnavi{
height:24px;
}
.imp-subnavi-active, .imp-subnavi:hover{
height:24px;
background-image:url('img/subnavi-active-bg.png');
background-repeat:repeat-x;
}
  .imp-subnavi-icon-1{
  float:left;
  width:24px;
  height:24px;
  margin:0px 5px 0px 9px;
  }
  .imp-subnavi-icon-2{
  float:left;
  width:24px;
  height:24px;
  margin:0px 5px 0px 18px;
  }
  .imp-subnavi-icon-3{
  float:left;
  width:24px;
  height:24px;
  margin:0px 5px 0px 27px;
  }
  .imp-subnavi-point{
  float:left;
  height:19px;
  margin:5px 0px 0px 0px;
  }
  .imp-subnavi-arrow{
  float:right;
  width:24px;
  height:24px;
  background-position:top center;
  }


/*
 * Obere Buttons -> Reply, All Reply, Forward, Delete, Filters, Others
 */
.imp-button{
height:29px;
min-width:660px;
padding:0px 18px 0px 0px;
background-image:url('img/button-bg.png');
background-repeat:repeat-x;
border-bottom:1px solid #d0d0d0;
}
  .imp-button-icon{
  float:left;
  width:20px;
  height:24px;
  margin:5px 5px 0px 15px;
  }
  .imp-button-str{
  float:left;
  height:22px;
  margin:7px 15px 0px 0px;
  }
  .imp-button-arrow{
  float:left;
  height:22px;
  margin:7px 15px 0px 0px;
  }
  .imp-button-split{
  float:left;
  width:2px;
  height:29px;
  background-image:url('img/button-split.png');
  background-repeat:no-repeat;
  }
  .imp-button-options-str{
  float:right;
  height:22px;
  margin:7px 5px 0px 32px;
  }
  .imp-button-options-arrow{
  float:right;
  width:12px;
  height:22px;
  margin:7px 0px 0px 0px;
  }


/*
 * Tabellenkopf
 */
.imp-tablehead{
height:21px;
min-width:600px;
padding:0px 20px 0px 0px;
background-image:url('img/tablehead-bg.png');
background-repeat:repeat-x;
}
  .imp-overview-split-left{
  float:left;
  width:2px;
  height:21px;
  margin:0px 10px 0px 10px;
  }
  .imp-overview-split-right{
  float:right;
  width:2px;
  height:21px;
  margin:0px 10px 0px 10px;
  }


/*
 * Tabellenzelle
 */
.imp-wrapper-tablecol{
height:195px;
min-width:600px;
overflow:auto;
}
  .imp-tablecol{
  height:21px;
  padding:0px 20px 0px 0px;
  background-color:#ffffff;
  border-bottom:1px solid #d0d0d0;
  }
  .imp-tablecol-active{
  height:21px;
  padding:0px 20px 0px 0px;
  background-color:#36525d;
  border-bottom:1px solid #d0d0d0;
  }
    .imp-overview-icons{
    float:left;
    width:74px;
    height:18px;
    padding:3px 0px 0px 0px;
    margin:0px 0px 0px 10px;
    }
      .imp-overview-checkbox{
      float:left;
      width:16px;
      height:18px;
      margin:0px 10px 0px 0px;
      background-image:url('img/checkbox.png');
      background-repeat:no-repeat;
      }
      .imp-overview-checkbox:hover{
      background-image:url('img/checkbox-active.png');
      background-repeat:no-repeat;
      }
      .imp-overview-checkbox-active{
      float:left;
      width:16px;
      height:18px;
      margin:0px 10px 0px 0px;
      background-image:url('img/checkbox-active.png');
      background-repeat:no-repeat;
      }
      .imp-overview-icon{
      float:left;
      width:14px;
      height:18px;
      padding:0px 0px 0px 10px;
      }
    .imp-overview-sender{
    float:left;
    width:147px;
    height:18px;
    padding:3px 0px 0px 0px;
    }
    .imp-overview-subject{
    float:left;
    height:18px;
    padding:3px 0px 0px 0px;
    }
    .imp-overview-date{
    float:right;
    width:127px;
    height:18px;
    padding:3px 0px 0px 0px;
    text-align:right;
    }
    .imp-overview-size{
    float:right;
    width:66px;
    height:18px;
    padding:3px 0px 0px 0px;
    text-align:right;
    }


/*
 * Vorschau
 */
#imp-preview{
position:absolute;
height:auto;
min-width:600px;
top:256px;
bottom:0;
overflow:auto;
}
  #imp-preview-head{
  min-height:90px;
  padding:18px;
  background-color:#eceff0;
  border-bottom:1px solid #d0d0d0;
  }
  #imp-preview-text{
  padding:18px;
  height:auto;
  }


/*
 * Icons
 */
.imp-icon-reply{
background-image:url('img/icon-reply.png');
background-repeat:no-repeat;
}
.imp-icon-reply-small{
background-image:url('img/icon-reply-small.png');
background-repeat:no-repeat;
}
.imp-icon-reply-active-small{
background-image:url('img/icon-reply-active-small.png');
background-repeat:no-repeat;
}
.imp-icon-allreply{
background-image:url('img/icon-allreply.png');
background-repeat:no-repeat;
}
.imp-icon-allreply-small{
background-image:url('img/icon-allreply-small.png');
background-repeat:no-repeat;
}
.imp-icon-allreply-active-small{
background-image:url('img/icon-allreply-active-small.png');
background-repeat:no-repeat;
}
.imp-icon-forward{
background-image:url('img/icon-forward.png');
background-repeat:no-repeat;
}
.imp-icon-forward-small{
background-image:url('img/icon-forward-small.png');
background-repeat:no-repeat;
}
.imp-icon-forward-active-small{
background-image:url('img/icon-forward-active-small.png');
background-repeat:no-repeat;
}
.imp-icon-attachment{
background-image:url('img/icon-attachment.png');
background-repeat:no-repeat;
}
.imp-icon-attachment-active{
background-image:url('img/icon-attachment-active.png');
background-repeat:no-repeat;
}
.imp-icon-delete{
background-image:url('img/icon-delete.png');
background-repeat:no-repeat;
}
.imp-icon-arrow{
background-image:url('img/icon-arrow.png');
background-repeat:no-repeat;
}
.imp-icon-overview-split{
background-image:url('img/overview-split.png');
background-repeat:no-repeat;
}
.imp-icon-arrow-subnavi{
background-image:url('img/icon-arrow-subnavi.png');
background-repeat:no-repeat;
}

.imp-icon-016{
background-image:url('img/icons/glyphicons_016_bin.png');
background-repeat:no-repeat;
}
.imp-icon-120{
background-image:url('img/icons/glyphicons_120_message_full.png');
background-repeat:no-repeat;
}
.imp-icon-134{
background-image:url('img/icons/glyphicons_134_inbox_in.png');
background-repeat:no-repeat;
}
.imp-icon-135{
background-image:url('img/icons/glyphicons_135_inbox_out.png');
background-repeat:no-repeat;
}
.imp-icon-144{
background-image:url('img/icons/glyphicons_144_folder_open.png');
background-repeat:no-repeat;
}
.imp-icon-145{
background-image:url('img/icons/glyphicons_145_folder_plus.png');
background-repeat:no-repeat;
}
.imp-icon-146{
background-image:url('img/icons/glyphicons_146_folder_minus.png');
background-repeat:no-repeat;
}