<div class="horde-buttonbar">
  <div class="horde-button-right">
     <tag:help />
  </div>
  <div class="horde-button-left">
    <input type="checkbox" class="checkbox" id="checkAll<tag:id />" name="checkAll" <tag:check_ak /> />&nbsp;
    <label for="checkAll<tag:id />"><gettext>Check All/None</gettext></label>
  </div>
  <div class="horde-button-split"></div>
  <div class="horde-button-left">
    <label for="action_choose<tag:id />" class="hidden"><gettext>Choose Action</gettext></label>
    <select id="action_choose<tag:id />">
     <option selected="selected"><gettext>Choose Action</gettext></option>
     <option value="" disabled="disabled">--------------------</option>
<if:create_mbox>
     <option value="create_mbox"><gettext>Create</gettext></option>
</if:create_mbox>
     <option value="rename_mbox"><gettext>Rename</gettext></option>
     <option value="delete_mbox_confirm"><gettext>Delete</gettext></option>
     <option value="empty_mbox_confirm"><gettext>Empty</gettext></option>
<if:notrash>
     <option value="expunge_mbox"><gettext>Expunge</gettext></option>
</if:notrash>
<if:subscribe>
     <option value="subscribe_mbox"><gettext>Subscribe</gettext></option>
     <option value="unsubscribe_mbox"><gettext>Unsubscribe</gettext></option>
</if:subscribe>
<if:nav_poll>
     <option value="poll_mbox"><gettext>Check for New Mail</gettext></option>
     <option value="nopoll_mbox"><gettext>Do Not Check for New Mail</gettext></option>
</if:nav_poll>
     <option value="mark_mbox_seen"><gettext>Mark All Messages as Seen</gettext></option>
     <option value="mark_mbox_unseen"><gettext>Mark All Messages as Unseen</gettext></option>
     <option value="download_mbox"><gettext>Download</gettext></option>
     <option value="download_mbox_zip"><gettext>Download (.zip format)</gettext></option>
<if:file_upload>
     <option value="import_mbox"><gettext>Import Messages</gettext></option>
</if:file_upload>
     <option value="mbox_size"><gettext>Show Size</gettext></option>
     <option value="search"><gettext>Search</gettext></option>
     <option value="" disabled="disabled">--------------------</option>
     <option value="rebuild_tree"><gettext>Rebuild Folder Tree</gettext></option>
    </select>
  </div>
  <div class="horde-button-split"></div>
  <div class="horde-button-left">
<if:subscribe>
    <tag:toggle_subscribe />
  </div>
</if:subscribe>
  <div class="horde-button-split"></div>
  <div class="horde-button-left">
    <tag:expand_all />
  </div>
  <div class="horde-button-split"></div>
  <div class="horde-button-left">
     <tag:collapse_all />
  </div>
  <div class="horde-button-split"></div>
</div>
