<div class="header leftAlign"><gettext>Mailbox Sizes</gettext></div>

<table class="striped sortable">
 <thead>
  <tr>
   <th class="leftAlign"><gettext>Mailbox</gettext></th>
   <th class="leftAlign"><gettext>Size</gettext></th>
  </tr>
 </thead>

 <tbody>
<loop:mboxes>
  <tr>
   <td class="leftAlign"><tag:mboxes.name /></td>
   <td class="rightAlign" sortval="<tag:mboxes.sort />"><tag:mboxes.size /></td>
  </tr>
</loop:mboxes>
 </tbody>

 <tfoot>
  <tr>
   <td class="leftAlign"><strong><gettext>Sum</gettext></strong></td>
   <td class="rightAlign"><strong><tag:mboxes /></strong></td>
  </tr>
 </tfoot>
</table>

<form name="returnform">
<div class="control leftAlign">
 <input id="btn_return" type="button" class="button" value="<gettext>Return to Folders View</gettext>" />
</div>
</form>
