#!/usr/bin/make -f

HORDENAME=horde
DESTDIR=$(CURDIR)/debian/php-horde

%:
	dh $@ --buildsystem=phppear --with phppear

binary: build
	dh binary --buildsystem=phppear --with phppear --until dh_install
	dh_installdirs etc/horde
	# config of "horde" app:
	mv $(DESTDIR)/usr/share/horde/config $(DESTDIR)/etc/horde/horde
	dh_link etc/horde/horde usr/share/horde/config
	# back to debhelper:
	dh binary --buildsystem=phppear --with phppear --after dh_install
