<?php
$conf['group']['sql']['mysql']['adapter'] = 'mysql';
$conf['group']['sql']['mysql']['host'] = 'localhost';
$conf['group']['sql']['mysql']['username'] = '';
$conf['group']['sql']['mysql']['password'] = '';
$conf['group']['sql']['mysql']['dbname'] = 'test';
$conf['group']['sql']['mysql']['charset'] = 'utf-8';
$conf['group']['sql']['mysqli']['adapter'] = 'mysqli';
$conf['group']['sql']['mysqli']['host'] = 'localhost';
$conf['group']['sql']['mysqli']['username'] = '';
$conf['group']['sql']['mysqli']['password'] = '';
$conf['group']['sql']['mysqli']['dbname'] = 'test';
$conf['group']['sql']['mysqli']['charset'] = 'utf-8';
$conf['group']['sql']['pdo_mysql']['adapter'] = 'pdo_mysql';
$conf['group']['sql']['pdo_mysql']['host'] = 'localhost';
$conf['group']['sql']['pdo_mysql']['username'] = '';
$conf['group']['sql']['pdo_mysql']['password'] = '';
$conf['group']['sql']['pdo_mysql']['dbname'] = 'test';
$conf['group']['sql']['pdo_mysql']['charset'] = 'utf-8';
$conf['group']['sql']['pdo_pgsql']['adapter'] = 'pdo_pgsql';
$conf['group']['sql']['pdo_pgsql']['username'] = '';
$conf['group']['sql']['pdo_pgsql']['password'] = '';
$conf['group']['sql']['pdo_pgsql']['dbname'] = 'test';
$conf['group']['sql']['pdo_pgsql']['charset'] = 'utf-8';
$conf['group']['sql']['pdo_sqlite']['adapter'] = 'pdo_sqlite';
$conf['group']['sql']['pdo_sqlite']['database'] = ':memory:';
$conf['group']['ldap']['basedn'] = 'ou=groups,dc=example,dc=com';
$conf['group']['ldap']['binddn'] = '';
$conf['group']['ldap']['bindpw'] = '';
$conf['group']['ldap']['writedn'] = 'cn=admin,dc=example,dc=com';
$conf['group']['ldap']['writepw'] = '';
$conf['group']['ldap']['gid'] = 'cn';
$conf['group']['ldap']['newgroup_objectclass'] = 'posixGroup';
