<?php

$mapper->connect('index', array('controller' => 'index'));
$mapper->connect('index.php', array('controller' => 'index'));

$mapper->connect('check/:action/:id', array('controller' => 'check', 'action' => 'show'));
$mapper->connect(':controller/:action/:id', array('controller' => 'object'));

// Local route overrides
if (file_exists(__DIR__ . '/routes.local.php')) {
    include __DIR__ . '/routes.local.php';
}
