<?php

$search = array(
    'fields' => array(
        'givenName' => array(
            'label' => _("First Name"),
            'type' => 'text',
            'params' => array('regex' => '', 'size' => 40, 'maxlength' => 255)
        ),
    )
);

if (file_exists(__DIR__ . '/search.local.php')) {
    require_once(__DIR__ . '/search.local.php');
}
