<if:list_count>
<if:perms_chmod>
<div id="attributes" style="display:none;">
<table class="horde-table">
 <tr>
  <th width="25%">&nbsp;</th>
  <th width="25%" align="center"><gettext>Owner</gettext></th>
  <th width="25%" align="center"><gettext>Group</gettext></th>
  <th width="25%" align="center"><gettext>All</gettext></th>
 </tr>
 <tr>
  <td><gettext>Read</gettext></td>
  <td align="center"><input name="owner[]" type="checkbox" value="4" <if:owner_read>disabled="disabled" </if:owner_read>/></td>
  <td align="center"><input name="group[]" type="checkbox" value="4" <if:group_read>disabled="disabled" </if:group_read>/></td>
  <td align="center"><input name="all[]" type="checkbox" value="4" <if:all_read>disabled="disabled" </if:all_read>/></td>
 </tr>
 <tr>
  <td><gettext>Write</gettext></td>
  <td align="center"><input name="owner[]" type="checkbox" value="2" <if:owner_write>disabled="disabled" </if:owner_write>/></td>
  <td align="center"><input name="group[]" type="checkbox" value="2" <if:group_write>disabled="disabled" </if:group_write>/></td>
  <td align="center"><input name="all[]" type="checkbox" value="2" <if:all_write>disabled="disabled" </if:all_write>/></td>
 </tr>
 <tr>
  <td><gettext>Execute</gettext></td>
  <td align="center"><input name="owner[]" type="checkbox" value="1" <if:owner_execute>disabled="disabled" </if:owner_execute>/></td>
  <td align="center"><input name="group[]" type="checkbox" value="1" <if:group_execute>disabled="disabled" </if:group_execute>/></td>
  <td align="center"><input name="all[]" type="checkbox" value="1" <if:all_execute>disabled="disabled" </if:all_execute>/></td>
 </tr>
</table>
</div>
</if:perms_chmod>
</if:list_count>

<form method="post" id="manager" name="manager" enctype="multipart/form-data" action="<tag:action />">
<tag:forminput />
<input type="hidden" id="actionID" name="actionID" value="" />
<input type="hidden" id="new_folder" name="new_folder" value="" />
<input type="hidden" id="new_names" name="new_names" value="" />
<input type="hidden" id="old_names" name="old_names" value="" />
<input type="hidden" id="renamefrm_oldname" name="oldname" value="" />
<input type="hidden" id="chmod" name="chmod" value="" />
<input type="hidden" id="dir" name="dir" value="<tag:dir />" />
<input type="hidden" name="targetFolder" value="" />

<div class="header">
 <strong style="float:right"><tag:itemcount /></strong>
 <tag:navlink />
 <tag:refresh /><span class="iconImg reloadImg"></span></a>
<if:clipboard>
 <tag:clipboard /><span class="iconImg clipboardImg"></span></a>
</if:clipboard>
<if:share_folder>
 <tag:share_folder /><span class="iconImg foldershareImg"></span></a>
</if:share_folder>
<if:create_folder>
 <tag:create_folder /><span class="iconImg foldercreateImg"></span></a>
</if:create_folder>
<if:change_folder>
 <tag:change_folder /><span class="iconImg foldergotoImg"></span></a>
</if:change_folder>
</div>

<if:list_count>
<table id="filelist_actions" cellspacing="0">
 <tr class="control">
  <td class="leftAlign">
<if:actions>
   <select id="action1" name="action1">
    <option selected="selected"><gettext>Actions:</gettext></option>
<if:perms_chmod>
    <option value="chmod_modify"><gettext>Change Permissions</gettext></option>
</if:perms_chmod>
<if:hasclipboard>
    <option value="copy_items"><gettext>Copy</gettext></option>
<if:perms_delete>
    <option value="cut_items"><gettext>Cut</gettext></option>
</if:perms_delete>
</if:hasclipboard>
<if:perms_delete>
    <option value="delete_items"><gettext>Delete</gettext></option>
</if:perms_delete>
<if:perms_edit>
    <option value="rename_items"><gettext>Rename</gettext></option>
</if:perms_edit>
   </select>
   <tag:actions_help />
</if:actions>
  </td>
  <td class="rightAlign">
   <strong><gettext>Filter:</gettext></strong><input id="filter" name="filter" type="text" size="25" value="<tag:filter_val />" />
   <input type="button" id="filterapply" class="button" value="<gettext>Filter</gettext>" />
<if:filter_val>
   <input type="button" id="filterclear" class="button" value="<gettext>Clear</gettext>" />
</if:filter_val>
  </td>
 </tr>
</table>
</if:list_count>

<if:empty_dir>
<p class="text">
 <em><gettext>There are no files in this folder.</gettext></em>
</p>
<else:empty_dir>
<table id="filelist" class="striped hover" cellspacing="0">
<thead>
 <tr>
  <th style="text-align:center" width="1%"><input type="checkbox" class="checkbox" id="checkall" name="checkAll" <tag:checkall /> /></th>
<loop:headers>
  <th<if:headers.id> id="<tag:headers.id />"</if:headers.id><if:headers.class> class="<tag:headers.class />"</if:headers.class> style="text-align:<tag:headers.align />" width="<tag:headers.width />"><tag:headers.sort /><tag:headers.label /></th>
</loop:headers>
 </tr>
</thead>
<tbody>
<loop:entry>
 <tr>
  <td style="text-align:center"><if:entry.on_clipboard>&nbsp;<else:entry.on_clipboard><input type="checkbox" class="checkbox" name="items[]" value="<tag:entry.name />" /></else:entry.on_clipboard></if:entry.on_clipboard></td>
<if:columns_type>
  <td class="rightAlign"><input type="hidden" name="itemTypes[]" value="<tag:entry.type />" /><tag:entry.graphic />&nbsp;</td>
</if:columns_type>
<if:columns_name>
  <td><tag:entry.link /></td>
</if:columns_name>
<if:columns_share>
  <td>
   <if:entry.share><tag:entry.share /><span class="iconImg <if:entry.share_disabled>foldershareDisabledImg<else:entry.share_disabled>foldershareImg</else:entry.share_disabled></if:entry.share_disabled>"></span></a></if:entry.share>
  </td>
</if:columns_share>
<if:columns_edit>
  <td>
   <if:entry.edit><tag:entry.edit /><span class="iconImg editImg"></span></a></if:entry.edit>
  </td>
</if:columns_edit>
<if:columns_download>
  <td>
   <if:entry.dl><tag:entry.dl /><span class="iconImg downloadImg"></span></a></if:entry.dl>
  </td>
</if:columns_download>
<if:columns_modified>
  <td><tag:entry.date /></td>
</if:columns_modified>
<if:columns_size>
  <td class="rightAlign"><tag:entry.size /></td>
</if:columns_size>
<if:columns_permission>
  <td class="rightAlign fixed">&nbsp;<tag:entry.perms />&nbsp;</td>
</if:columns_permission>
<if:columns_owner>
  <td class="rightAlign"><tag:entry.owner /></td>
</if:columns_owner>
<if:columns_group>
  <td class="rightAlign"><tag:entry.group /></td>
</if:columns_group>
 </tr>
</loop:entry>
</tbody>
</table>
</else:empty_dir></if:empty_dir>

<tag:page_caption />

<if:perms_edit>
<br />
<table id="filelist_upload">
 <tr>
  <td class="leftAlign">
   <div id="upload_row_1">
    <strong><gettext>File</gettext> 1:</strong>&nbsp;<input id="file_upload_1" name="file_upload_1" type="file" size="25" />
   </div>
  </td>
  <td class="leftAlign">
   <input type="button" class="button" id="uploadfile" value="<tag:upload_file />" /> <tag:upload_help />
  </td>
 </tr>
</table>
</if:perms_edit>
</form>
