#RB_overlay {
    opacity: 1;
}

/* Main Area */
#anselMain {
    clear: both;
    height: 100%;
}

/* Sidebar column */
#anselMenu {
    position: absolute;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 2px;
}

/* Sidebar tags */
.ansel-sidebar-tag {
    margin-left: 20px;
    padding-left: 20px;
    background: transparent url("../graphics/tag.png") no-repeat left center;
}

/* Main links */
#anselNavMe, #anselNavGroups, #anselNavSubscribed {
    cursor: pointer;
}

/* Top Menu Bar */
#anselMenuGalleries {
  background-image: url('../graphics/galleries.png');
}
#anselMenuImages {
  background-image: url('../graphics/photo.png');
}
#anselMenuTags {
  background-image: url('../graphics/tag.png');
}
#anselMenuMap {
  background-image: url('../graphics/map.png');
}
#anselMenuDate {
  background-image: url('../graphics/date.png');
}

/* Main content area */
#anselBody {
    position: absolute;
    top: 30px;
    left: 0px;
    right: 0;
    bottom: 0;
    padding-top: 8px;
    padding-left: 4px;
    margin-right: 4px;
    margin-left: 8px;
}
#anselViewImages {
    height: 100%;
    position: relative;
    float: left;
    overflow: auto;
    display: inline-block;
}

#anselViewGalleries {
    height: 100%;
    position: relative;
    float: left;
    display: inline-block;
    overflow: auto;
}

#anselSizer {
    display: none;
}

/* A row of photo containers */
.anselRow {
    border: none;
    padding-bottom: 4px;
    margin-bottom: 4px;
}

.ansel-tile-target {
    border-right: 8px solid white;
    position: relative;
    float: none;
    display: inline-block;
    cursor: pointer;
}

.ansel-tile-meta {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px 0 10px 8px;
    visibility: hidden;
}
.ansel-tile-gallery .ansel-tile-meta {
    visibility: visible;
}
.ansel-tile-target:hover .ansel-tile-meta {
    visibility: visible;
}

.ansel-tile-title {
    width: 100%;
    font-size: 110%;
    font-weight: bold;
}
.ansel-photo-wrapper {
    position: relative;
    display: inline-block;

}
/* Photo containers */
.ansel-photo {
    background-color: #dddddd;
    border: none;
}

#anselViewImage {
    position: fixed;
    z-index: 999;
    background-color: #000000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.ansel-imageview-main {
    height: 100%;
    margin-right: 320px;
}

.ansel-imageview-main img {
    margin-top: auto;
    margin-bottom: auto;
    max-width: 100%;
}
.ansel-imageview-bar {
    position: absolute;
    top: 0;
    right: 0;
    color: #ffffff;
    background-color: #333333;
    height: 100%;
    width: 300px;
}

.ansel-imageview-close {
    background: no-repeat url('../graphics/close.png');
    position: absolute;
    right: 25px;
    width: 28px;
    height: 28px;
}

.ansel-image-title {
    font-size: 18px;
    margin: 10px;
    line-height: 18px;
}

.ansel-image-desc, .ansel-image-date, .horde-tags {
    font-size: 14px;
    margin: 10px;
}
.ansel-image-desc {
    line-height: 18px;
}
