<div class="smallheader">
 <gettext>State Management</gettext>
</div>

<p>
 <gettext>Reset all device state. This will cause your devices to resyncronize all items.</gettext>
 <input class="button" type="submit" value="Reset" name="reset" />
</p>

<div class="smallheader">
 <gettext>Device Management</gettext>
</div>
<if:devices>
<input type="hidden" id="removedevice" name="removedevice" />
<input type="hidden" name="wipeid" id="wipeid" />
<input type="hidden" name="cancelwipe" id="cancelwipe" />
<table class="horde-table striped">
 <tr>
     <th></th>
     <th><gettext>Device</gettext></th>
     <th><gettext>Last Sync Time</gettext></th>
     <th><gettext>Status</gettext></th>
 </tr>
<loop:devices>
 <tr class="<tag:devices.class />">
  <td>
   <if:devices.device_policykey>
    <input class="button" type="button" value="<gettext>Wipe</gettext>" id="wipe_<tag:devices.key />" />
   </if:devices.device_policykey>
   <if:devices.ispending>
    <input class="button" type="button" value="<gettext>Cancel Wipe</gettext>" id="cancel_<tag:devices.key />" />
   </if:devices.ispending>
   <input class="button" type="button" value="<gettext>Remove</gettext>" id="remove_<tag:devices.key />" />
  </td>
  <td><tag:devices.device_type /></td>
  <td><tag:devices.ts /></td>
  <td><tag:devices.status /></td>
 </tr>
</loop:devices>
</table>
<else:devices>
<p>
 <em><gettext>None</gettext></em>
</p>
</else:devices></if:devices>

<p>
 <strong>NOTE: WIPING A DEVICE MAY RESET IT TO FACTORY DEFAULTS. PLEASE MAKE SURE YOU REALLY WANT TO DO THIS BEFORE REQUESTING A WIPE</strong>
</p>
