<div>
 <tag:desc />
 <tag:helplink />
</div>

<div>
 <select id="<tag:pref />" multiple="multiple" name="<tag:pref />[]">
<loop:select_list>
  <option<if:select_list.s> selected="selected"</if:select_list.s> value="<tag:select_list.v />"><tag:select_list.l /></option>
</loop:select_list>
 </select>
</div>

<loop:param_list>
<div id="<tag:param_list.method />Params">
<loop:param_list.param>
<if:param_list.param.text>
 <tag:param_list.param.label />
 <br />
 <input type="text" id="<tag:param_list.param.name />" name="<tag:param_list.param.name />" value="<tag:param_list.param.value />" />
 <br />
</if:param_list.param.text>
<if:param_list.param.bool>
 <input type="checkbox" id="<tag:param_list.param.name />" name="<tag:param_list.param.name />"<if:param_list.param.checked> checked="checked"</if:param_list.param.checked> />
 <br />
 <tag:param_list.param.label />
 <br />
</if:param_list.param.bool>
<if:param_list.param.sound>
 <ul class="sound-list">
  <li>
   <label><input type="radio" name="<tag:param_list.param.name />" value=""<if:param_list.param.checked> checked="checked"</if:param_list.param.checked> /><gettext>No Sound</gettext></label>
 </li>
<loop:sounds>
 <li>
  <label>
   <input type="radio" name="<tag:param_list.param.name />" value="<tag:param_list.param.val />"<if:param_list.param.c> checked="checked"</if:param_list.param.c> />
   <tag:param_list.param.val />
  </label>
  <embed autostart="false" src="<tag:param_list.param.uri />" />
 </li>
</loop:sounds>
</ul>
</if:param_list.param.sound>
</loop:param_list.param>
</div>
</loop:param_list>
