<form method="post" id="prefs" name="prefs" action="<tag:action />">
<tag:forminput />
<input type="hidden" id="actionID" name="actionID" value="update_prefs" />
<input type="hidden" name="group" value="<tag:group />" />
<input type="hidden" id="prefs_app" name="app" value="<tag:app />" />

<div class="header">
<if:prev>
 <ul>
  <li>
   <a href="<tag:prev />">&lt;&lt; <tag:prevlabel /></a>
   |
   <a href="<tag:next />"><tag:nextlabel /> &gt;&gt;</a>
  </li>
 </ul>
</if:prev>
 <tag:label />
 <br class="clear" />
</div>

<div class="prefsContainer item">
