<if:locked>
<input type="hidden" name="identity" value="<tag:default_identity />" />
<else:locked>
<div>
 <tag:label />
</div>
<div>
 <select name="identity" id="identity">
  <option value="-2" selected="selected"><gettext>None</gettext></option>
  <option value="-1"><gettext>Create New Identity</gettext></option>
<loop:entry>
  <option value="<tag:entry.i />"<if:entry.sel> selected="selected"</if:entry.sel>><tag:entry.label /></option>
</loop:entry>
 </select>
</div>

<div>
 <p>
  <input id="deleteidentity" type="button" class="button" value="<gettext>Delete</gettext>" />
 </p>
</div>
</else:locked></if:locked>
