<div class="smallheader">
 <gettext>Timestamps of successful synchronization sessions</gettext>
</div>

<if:devices>
<table class="striped">
 <tr>
     <th><gettext>Device</gettext></th>
     <th><gettext>Database</gettext></th>
     <th><gettext>Server Time</gettext></th>
     <th><gettext>Client Anchor</gettext></th>
     <th><gettext>Delete</gettext></th>
 </tr>
<loop:devices>
 <tr>
  <td><tag:devices.device /></td>
  <td><tag:devices.db /></td>
  <td><tag:devices.time /></td>
  <td><tag:devices.anchor /></td>
  <td>
   <a class="button" href="<tag:delete />"><gettext>Delete</gettext></a>
  </td>
 </tr>
</loop:devices>
</table>

<p>
 <input type="submit" class="button" name="deleteall" value="<gettext>Delete All SyncML Data</gettext>" />
</p>
<else:devices>
<p>
 <em><gettext>None</gettext></em>
</p>
</else:devices></if:devices>
