<input type="hidden" name="twitteractionID" id="twitteractionID" />
<if:haveSession>
    <div  style="float:left">
      <img src="<tag:profile_image_url />" alt="<tag:profile_screenname />" />
      <div><tag:profile_name /></div><div><tag:profile_location /></div>
    </div>
    <div class="clear">&nbsp;</div>
    <div>
      <gettext><tag:appname /> can interact with your Twitter account</gettext>.
      <div><input type="submit" class="button" value="<gettext>Disable</gettext>" onclick="document.prefs.twitteractionID.value='revokeInfinite'; return true" /></div>
    </div>
<else:haveSession>
    <div class="notice">
      <gettext>Could not find authorization for <tag:appname /> to interact with your Twitter account</gettext>
    </div>
    <script type="text/javascript">
      function openTwitterWindow() {
          <tag:popupjs />
      }
    </script>
    <gettext>Login to Twitter and authorize the <tag:appname /> application</gettext>: <tag:link />
</else:haveSession>
</if:haveSession>
