/* Alternating styles. item0, item1 are deprecated. */
.rowEven {
    background: #d6e2e3;
}
.rowOdd {
    background: #bcc4c2;
    background-image: url(graphics/headerbox.png);
    background-repeat: repeat-y;
    background-position: left;
}

.today {
    border: 2px solid #004149;
}

.monthgrid .text {
    background-color: #bcc4c2;
}


/* Block-specific styles. */
.block-monthgrid {
    background: #bcc4c2;
}
.block-monthgrid .today {
    border: 1px solid #004149;
}

.selected-control {
    background: #bcc4c2;
    border: none;
}
div.fbgrid {
    background-color: #d6e2e3;
    overflow: auto;
}

