/**
 * Ideas theme by Roel Gloudemans <r.gloudemans@i-to-i.nl>
 * Based on the Ideas to Interconnect BV website (http://www.i-to-i.nl)
 */

body {
    font-family: Verdana, Geneva, "DejaVu Sans", Arial, sans-serif;
    background-color: #c1dced;
    background-image: url("graphics/background.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.text {
    background-color: #cae8e8;
}

a {
    color: #2f5c97;
}

.header {
    color: #bad0e7;
    background-color: #3a95cc;
    border-bottom: 1px solid #005396;
    white-space: nowrap;
}
.header a {
    color: #bad0e7;
}
.header a:hover, a.header:hover {
    color: #2f5c97;
    text-decoration: none;
    background-color: #3a95cc;
}
a.header {
    border-bottom: 0;
    background-color: transparent;
}

.headerbox {
    border-left: 1px solid #00b1b0;
    border-right: 1px solid #00b1b0;
    border-bottom: 1px solid #00b1b0;
    background-color: #cae8e8;
}

.light {
    color: #333;
}
.smallheader {
    background-color: #3a95cc;
    color: #bad0e7;
    font-family: Verdana,sans-serif;
    font-size: 90%;
}
a.smallheader:hover {
    color: #2f5c97;
    background-color: #3a95cc;
    text-decoration: none;
}
.small {
    color: #000;
}
.control {
    background-color: #bad0e7;
    border: none;
}

.control a {
    color: #000;
}
.control a:hover {
    text-decoration: underline;
    background-color: transparent;
}

/* Form styles. */
input, select, textarea {
    color: #000;
    background-color: #f3f3f9;
    border: 1px solid #005396;
}
input:focus, textarea:focus {
    background-color: #fff;
    border: 1px solid #00b1b0;
}
.button, .button:focus {
    background-color: #3a95cc;
    color: #fff;
    border-bottom: 1px solid #005396;
    border-right: 1px solid #000;
    border-left: 1px solid #00b1b0;
    border-top: 1px solid #00b1b0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.button:hover {
    background-color: #2f5c97;
}

a.fixed {
    color: #339;
}

.signature, .signature a {
    color: #999;
}

/* Menu styles. */
#menu {
    background-color: #2f5c97;
    border-bottom: none;
    background-repeat: repeat-x;
    background-image: url(graphics/menu_top.png);
    background-position: bottom;
    padding: 0;
    color: #bad0e7;
}
#menu a {
    color: #bad0e7;
}
#menu a:hover {
    background-color: #3a95cc;
}
#menu a.current {
    background-color: #3a95cc;
    border-bottom: 1px solid #aac;
    border-right: 1px solid #aac;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
}

/* Sidebar styles. */
.sidebar {
    background-color: #c1dced;
    background-image: none;
    padding: 0;
    margin: 0;
}
.sidebar #menu {
    height: 71px;
    background-image: url(graphics/left_menu_top.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    margin-bottom: 0;
}
#sidebarPanel {
    background-color: #cae8e8;
    border: none;
    background-image: url(graphics/left_menu_bottom.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    padding-bottom: 20px;
    padding-top: 0;
}
#sidebarPanel a {
    color: #2f5c97;
    border: none;
    padding: 0 1px 2px 1px;
}
#sidebarPanel a:hover {
    background-color: #3a95cc;
    color: #bad0e7;
    text-decoration: none;
    border: none;
}
#expandButton {
    margin-right: 6px;
}

/* Tab styles. */
.tabset li a {
    border: 1px solid #005396;
    background-color: #c1dced;
}
.tabset li.activeTab a {
    color: #fff;
    background-color: #3a95cc;
    border-bottom-color: #3a95cc;
}
.tabset li a.activeTab:hover {
    color: #fff;
    background-color: #3a95cc;
}

/* Alternating styles. */
.rowEven, .item0 {
    background-color: #cae8e8;
}
.rowOdd, .item1 {
    background-color: transparent;
}
.selected {
    background-color: #bad0e7;
}

.item {
    background-color: transparent;
}

/* Preferences overview. */
.prefsOverview h2 {
    font-size: 120%;
    font-weight: bold;
}
.prefsOverview dt a {
    border: 1px solid #00b1b0;
    border-bottom: 1px solid #005396;
    background-color: #3a95cc;
    color: #bad0e7;
}

.prefsOverview dd {
    background-color: #cae8e8;
    border-left: 1px solid #00b1b0;
    border-right: 1px solid #00b1b0;
    border-bottom: 1px solid #00b1b0;
}

.prefsOverview dt a:hover {
    color: #2f5c97;
}

.box {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px dashed #00b1b0;
    background-color: #cae8e8;
}

td.linedRow, tr.linedRow td, table.linedRow td, table.linedRow .item, table.linedRow th {
    color: #000;
    background-color: #cae8e8;
    border-bottom: 1px solid #c1dced;
}
.linedRowSelectedCol, td.linedRowSelectedCol, table.linedRow td.linedRowSelectedCol {
    color: #000;
    background-color: #c1dced;
    border-bottom: 1px solid #cae8e8;
}

th {
    background-color: transparent;
}
span strong {
    color: #2f5c97;
}

